<style>
  #Broker-Family-dataTable_wrapper .row {
    width: 100% !important;
    table {
      width: 100% !important;
    }
  }
</style>
<%= render partial: 'benefit_sponsors/shared/profiles/broker_agency/menu', :locals => { broker_profile_id: @broker_agency_profile.id, :active_tab => "families-tab", families: true } %>
<div class="profile-content top-pd">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
      <%= render "families"%>
    </div>
  </div>
</div>
