<%= render partial: 'benefit_sponsors/shared/profiles/broker_agency/menu', :locals => { broker_profile_id: @broker_agency_profile.id, :active_tab => "home-tab" } %>

<div class="profile-content top-pd">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
     <%= render 'show' %>
    </div>
</div>
</div>
