<%= render 'benefit_sponsors/shared/profiles/broker_agency/menu', :active_tab => "home-tab" %>

<div class="profile-content top-pd">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
     <%= render 'show' %>
    </div>
</div>
</div>
