
<div class="container-fluid">
	<h3> Step 1 - Define employer contribution percentages</h3>
  <div>&nbsp;</div>

  <%= render partial: 'dental_benefit_sliders'%>

	<h3>Step 2 - Filter your plans / Selection criteria</h3>
	
	<%= render partial: 'dental_select_plans' %>
	<br>
</div>
