
<div class="container-fluid">
	<h3><%= l10n("broker_agencies.quotes.step_1")%></h3>
  <div>&nbsp;</div>

  <%= render partial: 'dental_benefit_sliders'%>

	<h3><%= l10n("broker_agencies.quotes.step_2")%></h3>
	
	<%= render partial: 'dental_select_plans' %>
	<br>
</div>
