<%if quote.aasm_state == "draft" %>
  <%= form_tag("/broker_agencies/broker_roles/#{@broker.id}/quotes/publish_quote", method: "post") do %>
    <%= hidden_field_tag(:id, quote.id) %>
    <%= submit_tag "Publish Quote", class: 'btn btn-primary', id: 'publish_quote' %>
    <!-- <div class = 'btn btn-primary' id = 'publish_quote'>Publish Quote</div> -->
  <% end %>
<% end %>

<!--
<script type="text/javascript">

	$('#publish_quote').on('click', function(){
		"<% if quote.may_publish? %>"
		$('form').submit()
		"<% else %>"
		alert("Please add all selected benefit groups, before you publish quote.")
		"<% end %>"
	})

</script> -->