<div class="module container broker_quote_tool">
  <div class="row">
    <div class="col-md-12">


      <h3>Your Quote</h3>

      <%= @quote.inspect %>


      <%= link_to "Back to Quotes", my_quotes_broker_agencies_broker_role_quotes_path(@broker), class: 'btn btn-primary', data: { no_turbolink: true } %>
		</div>
	</div>
</div>
