  <% props = {
    office_location_path: '/vue',
    office_location_save_path: '/vue/save',
    link: 'hbx'
    }.to_json
  %>
  <div id="hbx" data="<%= props %>">
    <v-app>
      <v-toolbar color="blue darken-2" dark fixed app>
        <v-spacer></v-spacer>
        <v-toolbar-items>

          <!-- <v-btn flat :to="{name:'employer-my'}">Employer Home</v-btn> -->
          <v-btn flat to="/employer-home/1234">Employer Home</v-btn>
          <!--<v-btn flat v-on:click="link = 'employer-home'">Employer Home</v-btn>-->
          <v-btn flat :to="{path: '/hbx'}">Plan Browser</v-btn>
          <v-btn flat :to="{path: 'plan-cost'}">Plan Cost Estimator</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <router-view></router-view>
          <!--<component v-bind:is="cmp"></component>-->
          <!--<hbx></hbx>-->
          <!--<plan-cost></plan-cost>-->
        </v-container>
      </v-content>
      <v-footer app></v-footer>
    </v-app>
  </div>
