<div class="container">
  <h1>View Sample</h1>

  <% props = {
    office_location_path: '/vue',
    office_location_save_path: '/vue/save'
    }.to_json
  %>
  <div id="app" data="<%= props %>">
    <office-locations></office-locations>
  </div>

</div>
