<table style="width: 100%">
	<tr>
		<td class= "notice-font"style="width: 15%"><strong>Broker:&nbsp;&nbsp;&nbsp;&nbsp;</strong></td>
    <td class= "notice-font" style="width: 85%"><%= broker.primary_fullname.titleize %></td>
	</tr>
	<tr>
		<td style="width: 15%"></td>
    <td class= "notice-font" style="width: 85%"><%= broker.organization.titleize %></td>
	</tr>
	<tr>
		<td style="width: 15%"></td>
    <td class= "notice-font" style="width: 85%"><%= broker.try(:phone) %></td>
	</tr>
	<tr>
		<td style="width: 15%"></td>
    <td class= "notice-font" style="width: 85%"><%= broker.try(:email) %></td>
	</tr>
	<tr>
		<td style="width: 15%"></td>
		<td style="width: 85%"></td>
	</tr>
	<tr>
		<td style="width: 15%"></td>
		<td style="width: 85%"></td>
	</tr>
	<tr>
		<td style="width: 10%"></td>
		<td style="width: 90%">_________________________________________________________________________</td>
	</tr>
</table>
