<table style='margin-right: 30px;' width='100%'>
  <tr>
    <td>
      <strong>Broker:</strong>
    </td>
    <td>
      [Broker/Assister First Name] [Broker/Assister Last Name]
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      Broker/Assister Organization
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      Broker/Assister Street Address 1
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      Broker/Assister Apt/Suite
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      [Broker/Assister City], [Broker/Assister State] [Broker/Assister Zip]
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      Broker/Assister Direct Phone #
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      Broker/Assister Email
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      Broker/Assister Web
    </td>
  </tr>
</table>
