<table class="total_table" style="page-break-inside: avoid;" border="0">
  <tbody>
    <tr style="margin-top: <%= top_margin if defined? top_margin %>;">
      <td>
        <ol class="custom1">
          <li class="customli"> <%= listing.html_safe %></li>
        </ol>
      </td>
    </tr>
  </tbody>
</table>