<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>
        <ul class="custom1">
          <li class="customli"> <%= listing.html_safe %></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>