<% if individual_market_is_enabled? %>
  <table class="total_table" border="0">
    <tbody>
    <tr>
      <td></br></br></td>
    </tr>
    <tr class="wid50">
      <td align="left"><%= notice.shop? ? TimeKeeper.date_of_record.strftime('%m/%d/%Y'): TimeKeeper.date_of_record.strftime("%B %d, %Y") %></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    </tbody>
  </table>
<% else %>
  <table class="total_table" border="0">
    <tbody>
    <tr>
      <td></br></br></td>
    </tr>
    <tr>
      <td class="wid50" align="left"><%= TimeKeeper.date_of_record.strftime('%m/%d/%Y') %></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    </tbody>
  </table>
<% end %>
