<% if email.present? %> 
  <table class="total_table" border="0">
    <tbody>
      <tr>
        <td style="padding-top: 10px"><strong>Email notification sent to:</strong> <%= email %></td>
      </tr>
    </tbody>
  </table>
<% end %>