
<div style="display:block; page-break-inside: avoid;">
  <table align="center" cellpadding="8" class="total_table thick_broder" style="margin-top: 10px; margin-bottom: 10px; width: <%= table_width if defined? table_width %>;">
    <tbody>
      <tr style="text-align: left">
        <th>
          <b>Enrolled Individual(s):</b>
        </th>
        <th>
          <b>Plan Information</b>
        </th>
      </tr>
      <tr valign="top">
        <td class="small" style="width: 25%;">
          [[ enrollment.dependents.each do |dependent| ]]
            <p>#{dependent.last_name}</p>
            <p style="margin-top: -3px; margin-bottom: 15px;">Age: #{dependent.last_name}</p>
          [[ end ]]
        </td>
        <td class="small">
          <p class="plan_info_margin"><b>Insurance Company: </b></p>
          <p class="plan_info_margin"><b>Phone: </b></p>
          <p class="plan_info_margin"><b>Plan Name: </b></p>
          <p class="plan_info_margin"><b>Your Monthly Premium Payment: </b></p>

            <p class="plan_info_margin"><b>Annual Deductible: </b></p>
          <p class="plan_info_margin" style="margin-bottom: 5px;"><b>Start Date: </b></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>