<html>
<body>
  <style type="text/css">
  .form-wrapper{
    color: #C3C3C3;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 0;
    }
  </style>

<footer class="form-wrapper" >
  <table>
    <tbody>
      <tr>
      <hr>
          Questions? Call <%= site_short_name %> at 1-877-MA-ENROLL or go online to <%= site_main_web_link %>/</a>
      </tr>
    </tbody>
  </table>
</footer>
</body>
</html>
