<div style="display:block; page-break-inside: avoid;">
  <table align="center" cellpadding="5" class="total_table thick_broder" style="margin-top: 10px; margin-bottom: 10px; width: <%= table_width if defined? table_width %>;" border="1">
    <tbody>
      <% rows.each do |row| %>
        <tr valign="top">
          <% row.size.times do |i| %>
            <td style="<%= col_styles[i] if defined? col_styles %>">
              <% if row[i].instance_of? Array %>
                <% row[i].size.times do |j| %>
                  <p><%= row[i][j] %></p>
                <%end%>
              <% else %>
                <%= row[i] %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>