<table class="total_table" border="0">
  <tbody>
  <tr><td></br></td></tr>
    <tr>
    <td align="left"><strong>Commonwealth Health Insurance</strong><br>
            PO Box 780833<br>
            Philadelphia, PA 19178-0833<br>
        </td>
      <td colspan="2" align="right">
        <a href= "https://enroll.mhc.hbxshop.org/" target="_blank">
          <%= image_tag "#{Rails.root}/app/assets/images/Health Connector.png", style: "height: auto; vertical-align: right;", width: "150"  %>
        </a>
      </td>
    </tr>
  </tbody>
</table>