<table class="total_table" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td colspan="2" align="right"><a href=
                                    "#{EnrollRegistry[:enroll_app].setting(:home_url).item}"
                                    target=
                                    "_blank" rel="noopener noreferrer">
                                    <%= image_tag "#{Rails.root}/app/assets/images/#{EnrollRegistry[:enroll_app].setting(:mailer_logo_file_name).item}", style: "height: auto; vertical-align: top;", width: "100"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>
