<div style="display:block; page-break-inside: avoid;">
  <table align="center" cellpadding="10" class="total_table thick_broder" style="margin-top: 10px; margin-bottom: 10px; width: <%= table_width if defined? table_width %>;">
    <tbody>
      <tr style="text-align: left">
        <th>
          <b>Date New Plan Selected</b>
        </th>
        <th>
          <b>Date New Plan Starts</b>
        </th>
      </tr>
      <tr valign="top">
        <td class="small" style="width: 50%;">
          November 1, 2017 - December 15, 2017
        </td>
        <td class="small">
          January 1, 2018
        </td>
      </tr>
      <tr valign="top">
        <td class="small">
          December 16, 2017 - January 15, 2018
        </td>
        <td class="small">
          February 1, 2018
        </td>
      </tr>
      <tr valign="top">
        <td class="small">
          January 16, 2018 - January 31, 2018
        </td>
        <td class="small">
          March 1, 2018
        </td>
      </tr>
    </tbody>
  </table>
</div>