<div style="display:block; page-break-inside: avoid;">
  <table class="total_table" border="0">
    <tbody>
      <tr class="fssizeuser" style="margin-top: <%= top_margin if defined? top_margin %>; margin-bottom: <%= bottom_margin if defined? bottom_margin %>;">
        <td>
          <%= content.html_safe %>
        </td>
      </tr>
    </tbody>
  </table>
</div>