<div style="display:block; page-break-inside: avoid;">
  <table class="total_table" border="0">
    <tbody>
      <tr>
        <td class="mar20 fssizeuser">
          <%= content.html_safe %>
        </td>
      </tr>   
    </tbody>
  </table>
</div>