<div style="display:block;">
  <table class="total_table" border="0">
    <tbody>
      <tr class="fssizeuser">
        <td>
          <%= sanitize_html(content) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>