<div style="display:block; page-break-inside: avoid;">
  <table class="total_table" border="0">
    <tbody>
    <tr class="mar20 fssizeuser">
      <td>
        <%= content.html_safe %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
