<br>
<table align="center" class="total_table" border="1">
  <tbody>
    <tr>
      <td>Aetna</td>
      <td>(855) 885-3289</td>
      <td>Delta Dental </td>
      <td>(800) 471-0236</td>
    </tr>
    <tr>
      <td>CareFirst </td>
      <td>(855) 444-3119</td>
      <td>Dominion Dental</td>
      <td>(888) 518-5338</td>
    </tr>
    <tr>
      <td>Kaiser</td>
      <td>(800) 777-7902</td>
      <td>MetLife Dental</td>
      <td>(855) 638-2221</td>
    </tr>
    <tr>
      <td>UnitedHealthcare</td>
      <td>(877) 856-2430</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
