<table class="total_table" border="0">
  <tbody>
  <tr><td></br></td></tr>
    <tr>
      <td colspan="2" align="center">
                                    <%= image_tag "#{Rails.root}/app/assets/images/sep.jpg", style: "height: auto;", width: "450"%></td>
    </tr>
  </tbody>
</table>