  <div style="display:block; page-break-inside: avoid;">
    <table align="center" cellpadding="5" class="total_table household_member_details column_one_bold thick_broder" style="width: <%= table_width if defined? table_width %>;">
      <tbody>
        <% rows.each do |row| %>
        <tr>
          <% row.size.times do |i| %>
            <td style="<%= col_styles[i] if defined? col_styles %>"><%= row[i] %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
