<h2>Application in progress</h2>

<table>
	<thead>
		<th>Applicant Name</th>
		<th></th>
	</thead>
<tbody>
	<% @application.applicants.each do |applicant| %>
		<tr>
			<td><%= applicant.family_member.person.full_name %></td>
			<td><%= link_to "Add Info", edit_financial_assistance_application_applicant_path(@application, applicant) %></td>
		</tr>
	<% end %>
</tbody
</table>