<div class="col-md-7">
  <div class="">
    <p class="alert alert-error hide"></p>
    <h1 class="darkblue">Eligibility Response Error</h1>
    <h4 class="darkblue"> We’re sorry, but we can’t determine your eligibility right now. Please call us DC Health Link at (855) 532-5465 or email info@dchealthlink.com to report this issue. Report the error code "<%= @application.determination_http_status_code %>" to help us fix the problem as soon as possible.</h4>
  </div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
  <%= render partial: 'financial_assistance/shared/right_nav', locals: {
    previous_url: financial_assistance_applications_path,
    next_url: find_sep_insured_families_path(consumer_role_id: @person.consumer_role.id)
  } %>
</div>
<%= render partial: 'insured/plan_shoppings/help_with_plan'  %>