<div class="profile-content top-pd">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
      <div class="container">
        <div id="families">
          <%= h render_datatable(@datatable,"lengthMenu": [[10, 25, 50], [10, 25, 50]], buttons: [
            'copy','csv','excel','print'
        ]) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
