<div class="row js-response">
  <div class="col-md-3">
    <%= f.select :operator, { "Before" => :before, "After" => :after, "Between" => :between}, {}, data: { action: "qle#changeDateOperator" } %>
  </div>
  <div class="col-md-3">
    <%= f.text_field :value, class: "form-control-custom-qle uidatepicker", autocomplete: :off %>
  </div>
  <div class="col-md-3 js-value-2 hidden">
    <%= f.text_field :value_2, class: " form-control-custom-qle uidatepicker", autocomplete: :off %>
  </div>
  <div class="col-md-3">
      <a data-action="qle#removeResponse" title="Remove Response">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
  </div>
</div>