    <div class="row js-new-multiple-choice-response create-question-form">
      <div class="col-md-4 create-question-form">
        <%= response_fields.text_field :name %>
      </div>
      <div class="col-md-3">
        <%= response_fields.select :result, { 'Proceed' => :proceed, 'Contact Call Center' => :contact_call_center, 'Follow Up Question' => :follow_up_question}, {}, data: { action: 'qle#changeMultipleChoiceResult' } %>
      </div>
      <div class="col-md-4">
        <span>
          <a data-action="qle#removeResponse" title="Remove Response">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>