<table class="page-break-before mar20" border="0">
  <tbody>
    <tr>
      <td></br>
        </br>
      </td>
    </tr>
    <tr>
      <td align="center"><h2 style="text-decoration:underline;">DC Health Link Appeal Rights</h2></td>
    </tr>
    <tr>
      <td>If you do not agree with our decision about your health insurance coverage or assistance, you have a right to appeal our decision and receive a Fair Hearing.   You can appeal a denial, termination, or change in your eligibility for Medicaid, premium tax credits, cost-sharing assistance, or for an enrollment period.  You can also appeal if you disagree with the amount of your premium tax credits or cost-sharing assistance.  Once you appeal, you can go before an Administrative Law Judge and explain why you do not agree with our decision.</td>
    </tr>
    <tr class="mar20">
      <td>You have 90 days following the postmark of the notice informing you of the eligibility decision, denial, termination, or change, to appeal the decision stated in the notice you received. If you do not appeal within 90 days, you may lose your appeal right.</td>
    </tr>
  </tbody>
</table>
<table border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">How to Request an Appeal</h3></td>
    </tr>
    <tr>
      <td style="font-size:14px;">You may appeal through any of the following methods: </td>
    </tr>
    <tr class="mar20">
      <td><ul>
          <li>Calling DC Health Link Customer Service toll  free at (855) 532-5465</li>
          <li>Completing a Request for Hearing form and fax it to (202) 724-2041, or e-mail to <a href="#">DC.OARA@DC.GOV</a></li>
          <li>Going to any Department of Human Services Service Center (locations found at <a href="www.dhs.dc.gov">www.dhs.dc.gov</a>) and filling out a Request for Hearing.</li>
          <li>Going to the Office of Administrative Hearings Resource Center, located at 441 4th Street NW, Suite 450-North, Washington, DC 20001 and filling out a Request for Hearing form.</li>
      </ul></td>
    </tr>
  </tbody>
</table>
<table border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Eligibility During Your Appeal</h3></td>
    </tr>
    <tr>
      <td><strong>Medicaid</strong> – If you get Medicaid<span style="text-decoration:underline;"> and file the appeal before your Medicaid ends</span> or within 15 days of the date of this notice – whichever is later - you will continue to be covered by Medicaid.  Even if you file the appeal after your Medicaid coverage has ended, but still within 90 days of the postmark of this eligibility notice, your appeal can still be heard but your coverage may not be re-started. </td>
    </tr>
    <tr class="mar20">
      <td><strong>Premium Tax Credits & Cost-Sharing Assistance</strong> – If you already get help paying for your health insurance through DC Health Link, you have a choice to remain enrolled in your selected plan.  You will continue to get the same level of assistance you were eligible for before the denial, termination, or change made in the notice.  However, if you lose the appeal, you may be responsible for any benefits that you received during the appeal process. </td>
    </tr>
  </tbody>
</table>
<table border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">What Happens When You Appeal</h3></td>
    </tr>
    <tr>
      <td><strong>Administrative Review</strong> – Once your appeal is received, you will be scheduled for an Administrative Review Conference at the Office of Administrative Review and Appeals (OARA).  This is a voluntary meeting with a Hearing Examiner from the District of Columbia Department of Human Services (DHS) to identify and discuss your concerns.  You can bring your own representative if you choose to have one.  Your representative may, but does not have to be, an attorney.  Your representative may not be an employee of DHS. </td>
    </tr>
    <tr class="mar20">
      <td>Please bring documents related to your case to the meeting.  This will help the DHS Hearing Examiner identify and understand your concerns.  After the meeting Conference, the DHS Hearing Examiner will review your case and try to resolve your issues.   You will receive a written decision from the DHS Hearing Examiner regarding the issues of your case, including a summary of facts.  If you agree with the written decision, you may withdraw your request for a Fair Hearing.  If you do not agree with the DHS Hearing Examiner's written decision, your appeal still continues to a Fair Hearing.</td>
    </tr>
    <tr class="mar20">
      <td><strong>Fair Hearing</strong> - If you decide not to attend the DHS Administrative Review, or if you disagree with DHS's decision regarding your case and you have not withdrawn your request for a Fair Hearing,
        your case will continue on to a Fair Hearing before an Administrative Law Judge who is not an employee of DHS.  The Fair Hearing will take place at the DC Office of Administrative Hearings (OAH) at 441 4th Street NW, Suite 450-North, Washington, DC 20001. OAH will contact you and tell you when and where your Fair Hearing will take place.  OAH will send you a scheduling notice.  That notice will tell you when your Fair Hearing will take place. </td>
    </tr>
    <tr class="mar20">
      <td>At the Fair Hearing, you can testify, have others testify for you, and submit documents.  At the hearing, DC agency representatives will also be able to ask questions of you or other people who testify.  The DC agency representatives will be permitted to present testimony and documents.  You will be able to ask questions of the DC agency representative if you want.  Finally, the Administrative Law Judge will make a decision in writing, after the completion of the Fair Hearing, and will send it to you.  That decision will also tell you what you can do if you do not agree with it.</td>
    </tr>
    <tr class="mar20">
      <td><strong>Any decisions by OARA and Appeals or OAH about your eligibility for benefits might also change the eligibility of other people in your household.</strong></td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Getting Representation</h3></td>
    </tr>
    <tr>
      <td>You have the right to represent yourself or have a lawyer, family member, or friend represent you at the Administrative Review and or at the Fair Hearing. </td>
    </tr>
    <tr class="mar20">
      <td>If you would like to talk to a lawyer who will represent you for free, you can call any of the following places to see if they can help you.  There is no guarantee that you will be able to get legal help.  Even if you do not get legal help, there will still be a Fair Hearing held and a decision made.</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr class="para">
      <td><p>Bread for the City Legal Clinic</p>
        <p>1525 Seventh Street, NW</p>
        <p>(202) 265-2400</p></td>
      <td><p>Bread for the City Legal Clinic</p>
        <p>1640 Good Hope Road, SE</p>
        <p>(202) 561-8587</p></td>
    </tr>
    <tr class="para">
      <td><p>Neighborhood Legal Services </p>
        <p>1213 Good Hope Road</p>
        <p>(202) 678-2000</p></td>
      <td><p>Legal Aid Society of the District of Columbia </p>
        <p>1331 H St. NW Suite 350</p>
        <p>(202) 628-1161</p></td>
    </tr>
    <tr class="para">
      <td><p>Legal Aid Society of the District of Columbia</p>
        <p>2041 Martin Luther King Jr. Ave. SE, Suite LL-1</p>
        <p>(202 628-1161</p></td>
      <td><p>Legal Aid Society of the District of Columbia Friendship Baptist Church,</p>
        <p>900 Delaware Ave., SW</p>
        <p>(202) 628-1161</p></td>
    </tr>
    <tr class="para">
      <td><p>Legal Counsel for the Elderly</p>
        <p>(for people age 60 and older)</p>
        <p>Building A, 4th Floor</p>
        <p>601 E St. NW </p>
        <p>(202) 434-2120</p></td>
      <td><p>Washington Legal Clinic for the Homeless </p>
        <p>1200 U Street, NW</p>
        <p>(202) 328-5500</p></td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Ending Your Appeal Early</h3></td>
    </tr>
    <tr>
      <td>You may withdraw your request for a Fair Hearing at any time before the Administrative Law Judge makes a final written decision.  You may withdraw through any of the methods available for requesting an appeal (described above).  If you withdraw your request for a Fair Hearing because of the meeting with the Office of Administrative Review and Appeals, or because the agency has promised to change its decision, we will make a new decision will be based on the changes agreed to by the agency. </td>
    </tr>
    <tr class="mar20">
      <td><strong>If you stop your appeal before the agency has changed its decision, the denial, termination, or change will be implemented as it is written in the notice you first received before you filed your appeal.</strong></td>
    </tr>
  </tbody>
</table>
