<html>
  <head>
    <title>DCHealthLink Confirmation</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="telephone=no" name="format-detection" />
    <style>

    .return-address-block {
      font-style: normal;
      font-size: 10pt;
    }
    .address-block{
      margin: 20px 0px 20px 20px;
      height: 220px;
    }

    p, body {
      font-family: "Times New Roman";
      font-size: 12pt;
      font-variant: normal;
      font-style: normal;
    }



    p.utf-8 {
      font-size: 7pt;
    }

    ul.languages {
      padding-left: 10px;
      line-height: 20px;
    }

    ul.languages.a{
      list-style-type: circle;
    }

    </style>
  </head>

  <body>

    <header> 
      <div class="return-address-block">
        DC Health Link<br/>
        1225 Eye Street NW <br/>
        Suite 400 <br/>
        Washington DC 20005    
      </div>
    </header>

    <div class="address-block">
       
    </div>


    <div class="content">
      <ul class="languages">
        <li>
          <p>If you need help understanding this notice, please call 1-855-532-5465. We will explain it to you in your preferred language. You can also Fax us at 202-671-4400.</p>
        </li>
        <li>
          <p style="font-size: 10pt;">ይህንን ማሳሰቢያ ለመረዳት እርዳታ የሚፈልጉ ከሆነ፣ እባኮን በ 1-855-532-5465 ይደውሉ። በሚመርጡት ቐንቐ እናብራራሎታለን :: በተጨማሪም፣ በ 202-671-4400 ፋክስ ሊያደርጉልን ይችላሉ።</p>
        </li>
        <li>
          <p>Si necesita ayuda para entender este aviso, por favor llamar al 1-855-532-5465. Le explicaremos en el idioma de su preferencia. También puede enviar un fax al 202-671-4400.</p>
        </li>
        <li>
          <p>Si vous avez des difficultés à comprendre cet avis, n’hésitez pas à appeler le 1-855-532-5465. Nous vous donnerons des explications dans votre langue préférée. Vous pouvez également nous atteindre par fax au 202-671-4400.</p>
        </li>
        <li class="font-size: 6pt;">
          <p>본 내용을 이해하는 데 도움이 필요하신 경우, 1-855-532-5465번으로 연락해 주십시오. 담 당직원이 원하시는 언어로 해당내용을 설명해드릴 것입니다. 202-671-4400번으로 팩스를 보내실 수도 있습니다.</p>
        </li>
        <li class="utf-8">
           <p>如果您需要帮助以理解本通知，请致电1-855-532-5465。我们将采用您的首选语言向您解 释本通知。您还可向我们发送传真：202-671-4400。</p>
        </li>
        <li class="utf-8">
           <p>如果您需要幫助以理解本通知，請致電 1-855-532-5465。我們將採用您的首選語言 向您解釋本通知。 您還可向我們發送傳真：202-671-4400。</p>
        </li>
        <li>
          <p>Nếu cần được giúp đỡ để hiểu rõ thông báo này, xin gọi số 1-855-532-5465. Chún tôi sẽ giải thích thông báo này cho quý vị bằng ngôn ngữ quý vị chọn. Quý vị cũng có thể gởi điện sao (fax) đến chúng tôi theo số 202-671-4400.</p>
        </li>
      </ul>
    </div>
  </body>
</html>