<table>
  <tr><td>
    Questions? Call DC Health Link Customer Service at (855) 532-5465/TTY (855) 532-5465 or go online to www.DCHealthLink.com. You may also contact DC Health Link Customer Service or go online to search for a broker or in-person assister to help you.
  </tr></td>
</table>