<fieldset class="pl-0" [formGroup]="phoneGroup">
    <h4>Phone</h4>
    <div class="row">
        <div class="col-md-2 mb-1{{errorClassFor(phoneGroup.controls.phone_area_code)}}">
            <label for="{{prefix}}_phone_area_code_field">Area Code *</label>
            <input id="{{prefix}}_phone_area_code_field" type="text" formControlName="phone_area_code" class="form-control" mask="000" [validation]="true" placeholder="508" required>
            <field-errors [errorControl]="phoneGroup.get('phone_area_code')"></field-errors>
        </div>
        <div class="col-md-2 mb-1{{errorClassFor(phoneGroup.controls.phone_number)}}">
            <label for="{{prefix}}_phone_area_number_field">Number *</label>
            <input id="{{prefix}}_phone_area_number_field" type="text" formControlName="phone_number" class="form-control" mask="000-0000" placeholder="555-5555" [validation]="true" required>
            <field-errors [errorControl]="phoneGroup.get('phone_number')"></field-errors>
        </div>
        <div class="col-md-2 mb-3{{errorClassFor(phoneGroup.controls.phone_extension)}}">
            <label for="{{prefix}}_phone_area_extension_field">Extension</label>
            <input id="{{prefix}}_phone_area_extension_field" type="text" formControlName="phone_extension" class="form-control">
            <field-errors [errorControl]="phoneGroup.get('phone_extension')"></field-errors>
        </div>
    </div>
</fieldset>