<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <h3> Plan Name: <%= @plan.name %></h3>
      <!-- <h4><b>Account Number:</b> 3209264</h4> -->
      <div class="coverage-table coverage-prevent-table">
        <h5 class="heading">Plan Summary</h5>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Coverages</th>
                <th>In-Network</th>
                <th>Out-of-Network</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <% @qhp_benefits.each do |benefit| %>
              <% deductible = benefit.find_deductible %>
                <% if deductible.present? %>
                  <tr>
                    <td><%= benefit.benefit_type_code %></td>
                    <td><%= deductible.copay_in_network_tier_1 %></td>
                    <td><%= deductible.copay_out_of_network %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>