<!DOCTYPE html>
<html>
<head>
  <title>BenefitMarkets</title>
  <%= stylesheet_link_tag    "benefit_markets/application", media: "all" %>
  <%= javascript_include_tag "benefit_markets/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
