[submodule "hugo/themes/fuji"]
	path = hugo/themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
[submodule "hugo/themes/docsy"]
	path = hugo/themes/docsy
	url = https://github.com/google/docsy.git
