# Client settings need to be approved by our
# Director of Application Development or Lead
# Business Analyst

Gemfile* @ideacrew/merge-shepherds
config/brakeman.ignore @ideacrew/merge-shepherds
.docker/ @ideacrew/cicd-mantainers
.github/ @ideacrew/cicd-mantainers