<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style>
body {
  width:100%!important;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  margin:0;
  padding:0;
  background:#fff;
  font-size:17px;
  color:rgb(0,0,0);
  font-family: "Times New Roman", Times, serif;
  max-width:750px;
  margin:15px auto;
  font-size:15px;
  line-height:100%;
}
table td {
  border-collapse:collapse;
  font-size:18px;
  font-family: "Times New Roman", Times, serif;
}
table {
  border-collapse: collapse;
}
table td {
  border-collapse: collapse;
}
h3, h4 {
  margin:15px 0;
}
img {
  outline:none;
  text-decoration:none;
  -ms-interpolation-mode:bicubic
}
a img {
  border:none
}
a {
  text-decoration:underline;
}
ul li {
  padding:3px 0;
}
.addrs td {
  display:block;
  margin-bottom:2px;
  font-size:17px;
}
.fssize {
  font-size:17px;
  float:left;
}
.fssizeuser {
  font-size:17px;
  float:left;
}
.fssizeuser td {
  padding-right:5px;
}
.fssize td {
  padding-right:20px;
}
.mar20 {
  margin-top:20px;
  display:block;
}
.fssize1 {
  font-size:15px;
}
.fssize1 td {
  display:block;
}
.total_table {
  width:100%;
}
.list1 {
  margin:20px 0;
  padding:0 15px;
  font-size:15px;
}
.list1 li {
  margin-bottom:27px;
  font-size:18px;
  
}
.wid50 {
  width:100%;
}
.wid50 td {
  width:50%;
  font-size:17px;
}
.wid100 td {
  width:100%;
}
h3 {
  font-size:23px;
  font-weight:bold;
}
.widn {
  width:100%;
  display:block;
  float:left;
  margin-top:20px;
}
.col-red {
  color:rgb(255,0,0);
}
.mar10 {
  margin-top:10px;
}
.tableformat {
  float:left;
  border:1px solid #000;
}
.tableNew tr td {
  padding:3px 10px;
}
.para td {
  width:40%;
  float:left;
  padding-bottom:20px;
  padding-right:4%;
}
.para td p {
  margin:0 0 2px 0;
  font-size:18px;
}
</style>
</head>
<body>
<table class="total_table" border="0" style="font-family:'Times New Roman', Times, serif;">
  <tbody>
 <tr>
      <td></br></td>
    </tr>
    <tr>
      <td>DC Health Link</td>
    </tr>
    <tr>
      <td>1225 Eye Street NW</td>
    </tr>
    <tr>
      <td>Suite 400</td>
    </tr>
    <tr>
      <td>Washington DC 20005</td>
    </tr>
      <td></br></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="mar20">
      <td><span>Primary First Name</span><span>&nbsp;</span> <span>Primary Last Name</span></td>
    </tr>
    <tr>
      <td>Primary Street Address 1</td>
    </tr>
    <tr>
      <td>Primary Apt/Suite</td>
    </tr>
    <tr class="fssize">
      <td>Primary City,</td>
      <td>Primary State</td>
      <td>Primary Zip</td>
    </tr>
    <tr>
      <td></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></td>
    </tr>

  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="wid100">
      <td colspan="2"><ul class="list1">
          <li>If you need help understanding this notice, please call 1-855-532-5465. We will explain it to you in your preferred language. You can also Fax us at 202-671-4400.</li>
          <li>ይህንንማሳሰቢያለመረዳትእርዳታየሚፈልጉከሆነ፣እባኮንበ 1-855-532-5465 ይደውሉ።በሚመርጡትቐንቐእናብራራሎታለን :: በተጨማሪም፣በ 202-671-4400 ፋክስሊያደርጉልንይችላሉ።</li>
          <li>Si necesitaayuda para entendereste aviso, por favor llamar al 1-855-532-5465. Le explicaremosen el idioma de supreferencia. Tambiénpuedeenviarun fax al 202-671-4400.</li>
          <li>Si vousavez des difficultés à comprendrecetavis, n'hésitez pas à appeler le 1-855-532-5465. Nous vousdonnerons des explications dansvotre langue préférée. Vouspouvezégalement nous atteindre par fax au 202-671-4400.</li>
          <li>본내용을이해하는데도움이필요하신경우, 1-855-532-5465번으로연락해주십시오. 담당직원이원하시는언어로해당내용을설명해드릴것입니다. 202-671-4400번으로팩스를보내실수도있습니다. </li>
          <li>如果您需要帮助以理解本通知，请致电1-855-532-5465。我们将采用您的首选语言向您解释本通知。您还可向我们发送传真：202-671-4400。</li>
          <li>如果您需要幫助以理解本通知，請致電 1-855-532-5465。我們將採用您的首選語言向您解釋本通知。您還可向我們發送傳真：202-671-4400。</li>
          <li>Nếucầnđượcgiúpđỡđểhiểurõthôngbáonày, xingọisố 1-855-532-5465. Chúntôisẽgiảithíchthôngbáonàychoquývịbằngngônngữquývịchọn. Quývịcũngcóthểgởiđiệnsao (fax) đếnchúngtôitheosố 202-671-4400. </li>
        </ul></td>
    </tr>
<tr>
      <td></br></br></br></br></br></br></br></br></br></br></br></br></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td colspan="2" align="center"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank"><img alt="DCHealthLink.com"
                                    class=
                                    "natural-width"
                                    data-embeded=
                                    "auto" src=
                                    "https://dchealthlink.com/sites/all/themes/dcas/logo.png"
                                    style=
                                    "height: auto; vertical-align: top;"
                                    width=
                                    "250" /></a></td>
    </tr>
<tr>
      <td></br></br></br></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="wid50">
      <td align="left">Date of Notice</td>
      <td  align="right">AccountID</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="fssize mar20">
      <td>Primary First Name</td>
      <td>Primary Last Name</td>
    </tr>
    <tr class="fssize1">
      <td>Primary Street Address 1</td>
    </tr>
    <tr class="fssize1">
      <td>Primary Apt/Suite</td>
    </tr>
    <tr class="fssize">
      <td colspan="1">Primary City</td>
      <td>Primary State</td>
      <td>Primary Zip</td>
    </tr>
<tr>
      <td></br></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject:  Eligibility for Health Insurance, Confirmation of Plan Selection</h3></td>
    </tr>
    <tr class="fssizeuser">
      <td>Dear</td>
      <td>Primary First Name</td>
      <td>Primary Last Name</td>
    </tr>
<tr>
      <td></br></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="widn">
      <td><strong>Congratulations!</strong> Based on the health insurance application you submitted and we processed on <i>applicationdate</i>, the following person(s) qualify for health coverage through DC Health Link.</td>
    </tr>
<tr>
      <td></br></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="fssizeuser mar20">
      <td>UnAssisted 1 First Name</td>
      <td>UnAssisted 1 Last Name</td>
    </tr>

  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="fssizeuser">
      <td class="col-red"><strong>[IF Person N field populated]</strong></td>
      <td>UnAssisted N First Name</td>
      <td>UnAssisted N Last Name</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
<tr>
      <td></br></br></br></td>
    </tr>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Health Plan Selection</h3></td>
    </tr>
    <tr>
      <td>On <span>date of plan selection</span>, the following individual(s) selected the <span>plan 1 name</span> health insurance plan. </td>
    </tr>
<tr>
      <td></br></td>
    </tr>
    <tr class="fssizeuser mar20" style="padding-left:5%;">
      <td><span>Plan 1 Enrollee First Name</span><span>Plan 1 Enrollee Last Name</span></td></tr>
<tr class="fssizeuser" style="padding-left:5%;">
<td>
<span style="color:rgb(255,0,0)"><strong>[IF More than One Enrollee in Plan 1]</strong></span><span>Plan 1 Enrollee 2 First Name</span><span>Plan 1 Enrollee 2 Last Name</span></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="fssize mar20">
      <td ><span style="color:rgb(255,0,0);">IF More than One Plan Selected</span> Additionally, the following individual(s) selected the <span>plan N name</span> health insurance plan.</td>
    </tr>
<tr>
      <td></br></td>
    </tr>
    <tr class="fssizeuser mar20" style="padding-left:5%;">
      <td><span>Plan N Enrollee First Name</span><span>Plan N Enrollee Last Name</span> </td></tr>
<tr class="fssizeuser" style="padding-left:5%;"><td><span style="color:rgb(255,0,0);"><strong>[IF More than One Enrollee in Plan N]</strong></span><span>Plan N Enrollee 2 First Name</span> <span>Plan N Enrollee 2 Last Name</span></td>
    </tr>
<tr>
      <td></br></br></br></br></br></br></br></br></br></td>
    </tr>
  </tbody>
</table>

<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:18px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call DC Health Link Customer Service at (855) 532-5465/TTY (855) 532-5465 or go online to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a>. You may also contact DC Health Link Customer Service or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
<table class="total_table" border="0">
  <tbody>
<tr><td></br></br></br></td>
</tr>
    <tr class="mar20">

      <td>You will get your new insurance ID card and other information about your benefit card shortly from your health plan(s) (if you have not received it already). For any questions about your health plan's covered services and providers, you need to contact:</td>
    </tr>
<tr><td></br></td>
</tr>
    <tr class="fssizeuser mar20" style="padding-left:5%;">
      <td><span>plan 1 name</span>at<span>plan 1 main phone number</span> <span style="color:rgb(255,0,0);"><strong>[IF More than One Plan Selected]</strong> </span><span>Plan N Enrollee 2 First Name</span> <span>Plan N Enrollee 2 Last Name</span></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="mar20">
      <td><h3 style="color:rgb(54,95,145);">What You Must Pay Each Month</h3></td>
    </tr>
    <tr class="mar10">
      <td><span style="color:rgb(255,0,0);"><strong>[Plan 1]</strong></span></td>
    </tr>
<tr><td></br></td>
</tr>
    <tr class="mar20">
      <td style="text-decoration:underline;">Plan 1 Name</td>
    </tr>
    <tr style="padding-left:5%" class="mar20">
      <td><ul>
          <li>Your Total Monthly Premium Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ <span>Plan 1 Consumer Monthly Premium</span></li>
        </ul></td>
    </tr>
    <tr class="mar10">
      <td><span style="color:rgb(255,0,0);"><strong>[IF More than One Plan Selected; Plan N] Plan 1</strong></span></td>
    </tr>
<tr><td></br></td>
</tr>
    <tr style="padding-left:5%" class="mar20">
      <td><ul>
          <li>Your Total Monthly Premium Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$ <span>Plan 1 Consumer Monthly Premium</span></li>
        </ul></td>
    </tr>
    <tr>
<tr><td></br></td>
</tr>
      <td><strong>If you do not make your monthly premium payments on time, you could lose your health insurance.</strong> 45 C.F.R. 155.430(b)(2)(ii). You will receive a separate invoice with instructions on how to make that payment.<strong>You must pay your premiums directly to the health plan or dental plan <span style="text-decoration:underline;">by the date indicated on that invoice.</span></strong> DC Health Link is not responsible for collecting your premiums.  Additionally, any auto-payments you may have previously established with your health insurance company prior to enrolling through DC Health Link will not carry-over; you must make new payment arrangements. </td>
    <tr class="mar20">
      <td>The fastest way to pay the premium is by calling the health plan or dental plan directly at the numbers listed below.  Call these numbers to ensure your premium is paid even if you have not received an invoice.</td>
    </tr>
    </tr>
  </tbody>
</table>
<tr><td></br></br></br></td>
</tr>
<table class="tableNew" border="1">
  <tbody>
    <tr style="padding:0 10px;">
      <td>CareFirst </td>
      <td>(855) 444-3119</td>
    </tr>
    <tr style="padding:0 10px;">
      <td>Kaiser </td>
      <td>(866) 475-3925</td>
    </tr>
    <tr style="padding:0 10px;">
      <td>Aetna </td>
      <td>(855) 586-6959</td>
    </tr>
    <tr style="padding:0 10px;">
      <td>Delta Dental </td>
      <td>(800) 471-0236</td>
    </tr>
    <tr style="padding:0 10px;">
      <td>Dentegra Dental</td>
      <td>(800) 471-0284</td>
    </tr>
    <tr style="padding:0 10px;">
      <td>Dominion Dental </td>
      <td>(888) 518-5338</td>
    </tr>

  </tbody>
</table>
<table>
<tr><td></br></br></br></br></br></br></br></br></br></br></br></br></br></td>
</tr>
</table>
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">

<tr>
<td style="padding:3px 13px; font-size:18px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call DC Health Link Customer Service at (855) 532-5465/TTY (855) 532-5465 or go online to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a>. You may also contact DC Health Link Customer Service or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>

<table class="mar20" border="0">
  <tbody>
<tr><td></br></br></br></td>
</tr>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">What You Must Pay When You Receive Health Services</h3></td>
    </tr>
    <tr>
      <td>You did not apply for cost-sharing reductions. 45 C.F.R. §155.305(g). Therefore, your deductible, out-of-pocket maximum, and co-payments are not reduced. A more detailed explanation of costs and benefits can be found in your plan's Summary of Benefits and Coverage, available on www.DCHealthLink.com.</td>
    </tr>
<tr><td></br></td>
</tr>
    <tr class="mar20">
      <td><h3 style="color:rgb(54,95,145);">Reporting Changes</h3></td>
    </tr>

    <tr>
      <td>You must report any changes that might affect you or your household member's health coverage such as if: </td>
    </tr>
<tr><td></br></td>
</tr>
    <tr>
      <td><ul>
          <li>You move;</li>
          <li>Your immigration status changes;</li>
          <li>You or a family member becomes incarcerated.</li>
        </ul></td>
    </tr>
    <tr class="mar20">
      <td>45 C.F.R. § 155.330(b)</td>
    </tr>
<tr><td></br></td>
</tr>
    <tr class="mar20">
      <td>To report changes, you can log in to your account on <a href="www.DCHealthLink.com<">www.DCHealthLink.com</a>or call DC Health Link Customer Service toll free at 1-855-532-5465.</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
<tr><td></br></td>
</tr>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Changing Plans</h3></td>
    </tr>
    <tr class="mar15">
      <td>You will be able to change plans during the annual open enrollment period at the end of each year.  45 C.F.R. §155.410(e). You can get the date of the next open enrollment period by going to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a> or calling DC Health Link Customer Service at 1-855-532-5465. If you have a change in circumstances during
        <coverage year>
        , you may also qualify for a special enrollment period during which you can change your plan.  Changes in circumstances include: </td>
    </tr>
<tr><td></br></td>
</tr>
    <tr>
      <td><ul>
          <li>Getting married</li>
          <li>Changes in your household size
            <ul>
              <li>New birth or adoption</li>
              <li>Death</li>
              <li>New tax dependents</li>
            </ul>
          </li>
          <li>A change in income for you or others in your household.</li>
          <li>A change in the immigration status of your household members</li>
          <li>A material violation of your health or dental plan contract by your plan sponsor</li>
          <li>Becoming eligible for Medicaid, employer-sponsored insurance, or other insurance outside of DC Health Link.</li>
        </ul></td>
    </tr>
<tr><td></br></td>
</tr>
    <tr>
      <td>45 C.F.R. §155.420</td>
    </tr>
<tr>
      <td>
</br></br></br></br></br></br></br></br>
</td></tr>
  </tbody>
</table>
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:18px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call DC Health Link Customer Service at (855) 532-5465/TTY (855) 532-5465 or go online to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a>. You may also contact DC Health Link Customer Service or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
<table class="mar20" border="0">
  <tbody>
<tr>
      <td>
</br></br></br></br>
</td></tr>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Ending Your Health Insurance Coverage</h3></td>
    </tr>
    <tr>
      <td>You have the right to terminate your health insurance coverage. You can terminate your coverage by logging into your account on <a href="www.DCHealthLink.com">www.DCHealthLink.com</a> or by calling DC Health Link Customer Service toll-free at 1-855-532-5465. You need to tell us at least fourteen (14) days before you want your coverage to end. </td>
    </tr>
    <tr class="mar20">
      <td>Your health insurance may also be terminated without your request if you don't pay your premiums or if our data indicates that the information you put on your application has changed and you are no longer eligible for coverage. If your health insurance is going to be terminated without your request because it has been determined that you are no longer eligible for coverage, you will receive a notice in advance telling you the basis for the decision and you will be provided with information about how to contest the decision.</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
<tr>
      <td>
</br>
</td></tr>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Secure User Account</h3></td>
    </tr>
    <tr>
      <td>Important information is stored in your account on the DC Health Link website.  If you don't have an account already, you can create one by going to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a>. You can get help with logging in or creating an account by calling DC Health Link Customer Service toll-free at 1-855-532-5465..</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
<tr>
      <td>
</br>
</td></tr>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Other Information</h3></td>
    </tr>
    <tr>
      <td><strong>Annual Renewal:</strong> DC Health Link will notify you during the fallof each year if additional information is needed from you to renew your health insurance.  You can respond with new information if you believe any of the information we used is wrong. You can also pick a new plan during this time period if you want.  45 C.F.R. §155.335.</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
<tr>
      <td>
</br>
</td></tr>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">If You Think We Made a Mistake</h3></td>
    </tr>
    <tr>
      <td>If you disagree with this determination, you have the right to appeal to an independent administrative law judge. You may request an appeal by phone, in person, online, and by mail. You must request an appeal<strong> by «Date of Notice+95 calendar days»</strong>.   DC Health Link will work to resolve your appeal as quickly as possible, but appeals can take between 30 and 90 days to resolve. <strong> See the insert for more information on your appeal rights.</strong>45 C.F.R. §155.520 </td>
    </tr>
<tr>
      <td>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</td></tr>
  </tbody>
</table>
<table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:20px;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:18px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call DC Health Link Customer Service at (855) 532-5465/TTY (855) 532-5465 or go online to <a href="www.DCHealthLink.com">www.DCHealthLink.com</a>. You may also contact DC Health Link Customer Service or go online to search for a broker or in-person assister to help you.</td>
</tr>
</table>
<table class="mar20" border="0">
  <tbody>
<tr>
      <td>
</br></br></br></br>
</td></tr>
    <tr>
      <td align="center"><h2 style="text-decoration:underline;">DC Health Link Appeal Rights</h2></td>
    </tr>
    <tr>
      <td>If you do not agree with our decision about your health insurance coverage or assistance, you have a right to appeal our decision and receive a Fair Hearing.   You can appeal a denial, termination, or change in your eligibility for Medicaid, premium tax credits, cost-sharing assistance, or for an enrollment period.  You can also appeal if you disagree with the amount of your premium tax credits or cost-sharing assistance.  Once you appeal, you can go before an Administrative Law Judge and explain why you do not agree with our decision.</td>
    </tr>
    <tr class="mar20">
      <td>You have 90 days following the postmark of the notice informing you of the eligibility decision, denial, termination, or change, to appeal the decision stated in the notice you received. If you do not appeal within 90 days, you may lose your appeal right.</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">How to Request an Appeal</h3></td>
    </tr>
    <tr>
      <td style="font-size:17px;">You may appeal through any of the following methods: </td>
    </tr>
    <tr class="mar20">
      <td><ul>
          <li>Calling DC Health Link Customer Service toll  free at 1-855-532-5465</li>
          <li>Completing a Request for Hearing form and fax it to (202) 724-2041, or e-mail to <a href="#">DC.OARA@DC.GOV</a></li>
          <li>Going to any Department of Human Services Service Center (locations found at <a href="www.dhs.dc.gov">www.dhs.dc.gov</a>) and filling out a Request for Hearing.</li>
          <li>Going to the Office of Administrative Hearings Resource Center, located at 441 4th Street NW, Suite 450-North, Washington, DC 20001 and filling out a Request for Hearing form.</li>
        </ul></td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Eligibility During Your Appeal</h3></td>
    </tr>
    <tr>
      <td><strong>Medicaid</strong> – If you get Medicaid<span style="text-decoration:underline;"> and file the appeal before your Medicaid ends</span> or within 15 days of the date of this notice – whichever is later - you will continue to be covered by Medicaid.  Even if you file the appeal after your Medicaid coverage has ended, but still within 90 days of the postmark of this eligibility notice, your appeal can still be heard but your coverage may not be re-started. </td>
    </tr>
    <tr class="mar20">
      <td><strong>Premium Tax Credits & Cost-Sharing Assistance</strong> – If you already get help paying for your health insurance through DC Health Link, you have a choice to remain enrolled in your selected plan.  You will continue to get the same level of assistance you were eligible for before the denial, termination, or change made in the notice.  However, if you lose the appeal, you may be responsible for any benefits that you received during the appeal process. </td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">What Happens When You Appeal</h3></td>
    </tr>
    <tr>
      <td><strong>Administrative Review</strong> – Once your appeal is received, you will be scheduled for an Administrative Review Conference at the Office of Administrative Review and Appeals (OARA).  This is a voluntary meeting with a Hearing Examiner from the District of Columbia Department of Human Services (DHS) to identify and discuss your concerns.  You can bring your own representative if you choose to have one.  Your representative may, but does not have to be, an attorney.  Your representative may not be an employee of DHS. </td>
    </tr>
    <tr class="mar20">
      <td>Please bring documents related to your case to the meeting.  This will help the DHS Hearing Examiner identify and understand your concerns.  After the meeting Conference, the DHS Hearing Examiner will review your case and try to resolve your issues.   You will receive a written decision from the DHS Hearing Examiner regarding the issues of your case, including a summary of facts.  If you agree with the written decision, you may withdraw your request for a Fair Hearing.  If you do not agree with the DHS Hearing Examiner's written decision, your appeal still continues to a Fair Hearing.</td>
    </tr>
    <tr class="mar20">
      <td><strong>Fair Hearing</strong> - If you decide not to attend the DHS Administrative Review, or if you disagree with DHS's decision regarding your case and you have not withdrawn your request for a Fair Hearing,</br></br></br></br></br></br></br></br></br></br> your case will continue on to a Fair Hearing before an Administrative Law Judge who is not an employee of DHS.  The Fair Hearing will take place at the DC Office of Administrative Hearings (OAH) at 441 4th Street NW, Suite 450-North, Washington, DC 20001. OAH will contact you and tell you when and where your Fair Hearing will take place.  OAH will send you a scheduling notice.  That notice will tell you when your Fair Hearing will take place. </td>
    </tr>
    <tr class="mar20">
      <td>At the Fair Hearing, you can testify, have others testify for you, and submit documents.  At the hearing, DC agency representatives will also be able to ask questions of you or other people who testify.  The DC agency representatives will be permitted to present testimony and documents.  You will be able to ask questions of the DC agency representative if you want.  Finally, the Administrative Law Judge will make a decision in writing, after the completion of the Fair Hearing, and will send it to you.  That decision will also tell you what you can do if you do not agree with it.</td>
    </tr>
    <tr class="mar20">
      <td><strong>Any decisions by OARA and Appeals or OAH about your eligibility for benefits might also change the eligibility of other people in your household.</strong></td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Getting Representation</h3></td>
    </tr>
    <tr>
      <td>You have the right to represent yourself or have a lawyer, family member, or friend represent you at the Administrative Review and or at the Fair Hearing. </td>
    </tr>
    <tr class="mar20">
      <td>If you would like to talk to a lawyer who will represent you for free, you can call any of the following places to see if they can help you.  There is no guarantee that you will be able to get legal help.  Even if you do not get legal help, there will still be a Fair Hearing held and a decision made.</td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr class="para">
      <td><p>Bread for the City Legal Clinic</p>
        <p>1525 Seventh Street, NW</p>
        <p>(202) 265-2400</p></td>
      <td><p>Bread for the City Legal Clinic</p>
        <p>1640 Good Hope Road, SE</p>
        <p>(202) 561-8587</p></td>
    </tr>
    <tr class="para">
      <td><p>Neighborhood Legal Services </p>
        <p>1213 Good Hope Road</p>
        <p>(202) 678-2000</p></td>
      <td><p>Legal Aid Society of the District of Columbia </p>
        <p>1331 H St. NW Suite 350</p>
        <p>(202) 628-1161</p></td>
    </tr>
    <tr class="para">
      <td><p>Legal Aid Society of the District of Columbia</p>
        <p>2041 Martin Luther King Jr. Ave. SE, Suite LL-1</p>
        <p>(202 628-1161</p></td>
      <td><p>Legal Aid Society of the District of Columbia Friendship Baptist Church,</p>
        <p>900 Delaware Ave., SW</p>
        <p>(202) 628-1161</p></td>
    </tr>
    <tr class="para">
      <td><p>Legal Counsel for the Elderly</p>
        <p>(for people age 60 and older)</p>
        <p>Building A, 4th Floor</p>
        <p>601 E St. NW </p>
        <p>(202) 434-2120</p></td>
      <td><p>Washington Legal Clinic for the Homeless </p>
        <p>1200 U Street, NW</p>
        <p>(202) 328-5500</p></td>
    </tr>
  </tbody>
</table>
<table class="mar20" border="0">
  <tbody>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Ending Your Appeal Early</h3></td>
    </tr>
    <tr>
      <td>You may withdraw your request for a Fair Hearing at any time before the Administrative Law Judge makes a final written decision.  You may withdraw through any of the methods available for requesting an appeal (described above).  If you withdraw your request for a Fair Hearing because of the meeting with the Office of Administrative Review and Appeals, or because the agency has promised to change its decision, we will make a new decision will be based on the changes agreed to by the agency. </td>
    </tr>
    <tr class="mar20">
      <td><strong>If you stop your appeal before the agency has changed its decision, the denial, termination, or change will be implemented as it is written in the notice you first received before you filed your appeal.</strong></td>
    </tr>
  </tbody>
</table>

</body>
</html>
