<html>
  <head>
    <title>DCHealthLink Confirmation</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="telephone=no" name="format-detection" />
    <style type="text/css">
      /*<![CDATA[*/
      /* RESET */ 
      #outlook a {
        padding:0
      }

      body {
        width:100%!important;
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        margin:0;
        padding:0;
        mso-line-height-rule:exactly
        font-size:14px;
  color:rgb(0,0,0);
  font-family: "Times New Roman", Times, serif;

      }

table td {
  border-collapse:collapse;
  font-size:14px;
  font-family: "Times New Roman", Times, serif;
}
table {
  border-collapse: collapse;
}
table td {
  border-collapse: collapse;
}
h3, h4 {
  margin:15px 0;
}
img {
  outline:none;
  text-decoration:none;
  -ms-interpolation-mode:bicubic
}
a img {
  border:none
}
a {
  text-decoration:underline;
}
ul li {
  padding:3px 0;
}
.addrs td {
  display:block;
  margin-bottom:2px;
  font-size:14px;
}
.fssize {
  font-size:14px;
  float:left;
}
.fssizeuser {
  font-size:15px;
  float:left;
}
.fssizeuser td {
  padding-right:5px;
}
.fssize td {
  padding-right:20px;
}
.mar20 {
  margin-top:10px;
  display:block;
}
.fssize1 {
  font-size:14px;
}
.fssize1 td {
  display:block;
}
.total_table {
  width:100%;
}
.list1 {
  margin:20px 0;
  padding:0 15px;
  font-size:15px;
}
.list1 li {
  margin-bottom:20px;
  font-size:14x;
}
.wid50 {
  width:100%;
}
.wid50 td {
  width:50%;
  font-size:14px;
}
.wid100 td {
  width:100%;
}
h3 {
  font-size:16px;
  font-weight:bold;
}
.widn {
  width:100%;
  display:block;
  float:left;
  margin-top:20px;
}
.col-red {
  color:rgb(255,0,0);
}
.mar10 {
  margin-top:10px;
}
.tableformat {
  float:left;
  border:1px solid #000;
}
.tableNew tr td {
  padding:3px 10px;
}
.para td {
  width:40%;
  float:left;
  padding-bottom:5px;
  padding-right:4%;
}
.para td p {
  margin:0 0 2px 0;
  font-size:12px;
}
.page_break { position: relative; height: 950px; margin: 0px 0;}
.footer { position: absolute; bottom: 0; width:100%;}
</style>
</head>
<body>
<div class="page_break">
<table class="total_table" border="0" style="font-family:'Times New Roman', Times, serif;">
  <tbody>
 <tr>
      <td></br></td>
    </tr>
    <tr>
      <td>DC Health Link</td>
    </tr>
    <tr>
      <td>1225 Eye Street NW</td>
    </tr>
    <tr>
      <td>Suite 400</td>
    </tr>
    <tr>
      <td>Washington DC 20005</td>
    </tr>
      <td></br></td>
    </tr>
  </tbody>
</table>
<table class="total_table address" border="0">
  <tbody>
    <tr class="mar20">
      <td></br></td>
    </tr>
    <tr>
      <td></br></td>
    </tr>
    <tr>
      <td></br></td>
    </tr>
    <tr class="fssize">
      <td></br></td>
      <td></br></td>
      <td></br></td>
    </tr>
   
    <tr>
      <td></br></br></br></br></br></td>
    </tr>

  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="wid100">
      <td colspan="2"><ul class="list1">
          <li>If you need help understanding this notice, please call 1-855-532-5465. We will explain it to you in your preferred language. You can also Fax us at 202-671-4400.</li>
          <li>ይህንንማሳሰቢያለመረዳትእርዳታየሚፈልጉከሆነ፣እባኮንበ 1-855-532-5465 ይደውሉ።በሚመርጡትቐንቐእናብራራሎታለን :: በተጨማሪም፣በ 202-671-4400 ፋክስሊያደርጉልንይችላሉ።</li>
          <li>Si necesitaayuda para entendereste aviso, por favor llamar al 1-855-532-5465. Le explicaremosen el idioma de supreferencia. Tambiénpuedeenviarun fax al 202-671-4400.</li>
          <li>Si vousavez des difficultés à comprendrecetavis, n'hésitez pas à appeler le 1-855-532-5465. Nous vousdonnerons des explications dansvotre langue préférée. Vouspouvezégalement nous atteindre par fax au 202-671-4400.</li>
          <li>본내용을이해하는데도움이필요하신경우, 1-855-532-5465번으로연락해주십시오. 담당직원이원하시는언어로해당내용을설명해드릴것입니다. 202-671-4400번으로팩스를보내실수도있습니다. </li>
          <li>如果您需要帮助以理解本通知，请致电1-855-532-5465。我们将采用您的首选语言向您解释本通知。您还可向我们发送传真：202-671-4400。</li>
          <li>如果您需要幫助以理解本通知，請致電 1-855-532-5465。我們將採用您的首選語言向您解釋本通知。您還可向我們發送傳真：202-671-4400。</li>
          <li>Nếucầnđượcgiúpđỡđểhiểurõthôngbáonày, xingọisố 1-855-532-5465. Chúntôisẽgiảithíchthôngbáonàychoquývịbằngngônngữquývịchọn. Quývịcũngcóthểgởiđiệnsao (fax) đếnchúngtôitheosố 202-671-4400.</li>
        </ul></td>
    </tr>
     <tr>
    <td>HBX Member ID: <span>HBX Member ID</span></td>
    </tr>
  </tbody>
</table>
</div>
<div class="page_break">
</div>
<div class="page_break">
<table class="total_table" border="0">
  <tbody>
  <tr><td></br></br></td></tr>
    <tr>
      <td colspan="2" align="center"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank"><img alt="DCHealthLink.com"
                                    class=
                                    "natural-width"
                                    data-embeded=
                                    "auto" src=
                                    "https://dchealthlink.com/sites/all/themes/dcas/logo.png"
                                    style=
                                    "height: auto; vertical-align: top;"
                                    width=
                                    "250" /></a></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
  <tr>
  <td></br></td>
  </tr>
    <tr class="wid50">
      <td align="left">Date of Notice: <span>Date of Notice</span></td>
    </tr>
  </tbody>
</table>
<table class="total_table address" border="0">
  <tbody>
    <tr class="fssize mar20">
      <td></br></td>
      <td></br></td>
    </tr>
    <tr class="fssize1">
      <td></br></td>
    </tr>
    <tr class="fssize1">
      <td></br></td>
      <td></br></td>
    </tr>
    <tr class="fssize">
      <td colspan="1"></td>
      <td></br></td>
      <td></br></td>
      <td></br></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject:  DC Health Link Plan Year 2016Open Enrollment &PreliminaryRenewal Notice</h3></td>
    </tr>
    <tr class="fssizeuser">
      <td>Dear</td>
      <td>Primary First Name</td>
      <td>Primary Last Name</td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
    <tr class="widn">
      <td>DC Health Link has started the process of renewing eligibility for the 2016 plan year, which begins on January 1, 2016.  This involves two steps.</td>
    </tr>
    <tr class="widn">
      <td>
      	<ol>
        	<li>
            	We need to make sure that the information we have about you is up to date. This notice tells you whether you and any other individuals in your household are eligible to purchase a DC Health Link plan in 2016.  If you disagree with any of the information we used to make this determination, you should update us using the process described below. 
            </li>
            <li>
            	You will have the opportunity to select a different health plan for 2016 once open enrollment for 2016 starts on November 1, 2015. This notice includes additional information about open enrollment.
            </li>
        </ol>
      </td>
    </tr>
    <tr>
      <td><h3 style="color:rgb(54,95,145);">Household Information Review</h3></td>
    </tr>
    <tr class="mar20">
      <td>This is the most up to date information we have for you or other members of your household:</td>
    </tr>
  </tbody>
</table>

<table class="border-table" style="margin-top:20px;">
  <tbody>
  	<tr class="" style="background: rgb(198,217,241);">
    	<td>Primary_First</td>
        <td>Primary_Last</td>
    </tr>
    <tr>
    	<td>State of Residency</td>
        <td>Residency_1</td>
    </tr>
    <tr>
    	<td>Citizenship/Lawful Presence</td>
        <td>Citizenship_1</td>
    </tr>
    <tr>
    	<td>Incarcerated</td>
        <td>Incarcerated_1</td>
    </tr>
  </tbody>
</table>
<div class="footer">
    <table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px; width:100%;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call DC Health Link Customer Service at (855) 532-5465/TTY (855) 532-5465. You may also contact an In-Person Assister by going online to <a href="www.DCHealthLink.com/find-expert">www.DCHealthLink.com/find-expert/.</a> </td>
</tr>
</table>
</div>
</div>
  
  <div class="page_break">
<table>
<tr><td></br></td></tr>

</table>
   <table class="total_table" border="0">
  <tbody>
  <tr>
      <td><h3 style="color:rgb(54,95,145);">Projected 2016 Health Plan Enrollment</h3></td>
    </tr>
<tr class="mar20 fssizeuser">
      <td>You can change your plan selectionduring the open enrollment season.  For plan year 2016, open enrollment season beings November 1, 2015and endsJanuary 31, 2016.    Plan selections made by December 15, 2015 will become effective on January 1, 2016.   After that date, plan selections made by the 15th of each month during the open enrollment season will be made effective on the 1st of the following month.</td>
    </tr>
    <tr class="mar20 fssizeuser">
    <td><strong>If you do nothing, you will be enrolled in the following plan(s), effective January 1, 2016, and your premiums each month will be as follows: </strong></td>
    </tr>
        
    <tr>
      <td><h4>Health Plan:	<span>«M_2016_Health_Plan»</span></h4></td>
    </tr>
    <tr>
      <td style="float:left; margin-right:5%; vertical-align:top;"><ul><li style="list-style:none;">Total Monthly Premium Cost: </li></ul></td>
      <td style="float:left; vertical-align:top;"><ul><li style="list-style:none;">$&nbsp; <span>«M_2016_Health_Plan_Premium»</span></li></ul></td>
    </tr>
  </tbody>
</table>
<table class="total_table" border="0">
  <tbody>
       <tr>
      <td><h4>Dental Plan:	<span>«M_2016_Dental_Plan»</span></h4></td>
    </tr>
    <tr>
      <td style="float:left; margin-right:5%; vertical-align:top;"><ul><li style="list-style:none;">Total Monthly Premium Cost: </li></ul></td>
      <td style="float:left; vertical-align:top;"><ul><li style="list-style:none;">$ &nbsp;<span>«M_2016_Dental_Plan_Premium»</span></li></ul></td>
    </tr>
  </tbody>
</table>


<table class="total_table" border="0">
  <tbody>
  <tr class="mar20 fssizeuser">
      <td>IF YOU ARE SATISFIED WITH YOUR PROJECTED ENROLLMENT (as listed above), YOU DO NOT HAVE TO DO ANYTHING OTHER THAN <span style="text-decoration:underline;">CONTINUE TO PAY YOUR PREMIUMS</span> AS LISTED ON THE INVOICES SENT TO YOU BY YOUR PLAN(S).<span style="color:rgb(255,0,0);"><strong>FAILING TO PAY PREMIUMS WILL RESULT IN TERMINATION OF YOUR PLAN(S).</strong></span></td>
    </tr>
    
    <tr class="mar20 fssizeuser">
      <td><strong>NOTE THAT YOUR PREMIUM COSTS HAVE CHANGED AND <span style="text-decoration:underline;">YOU MUST UPDATE ANY AUTO-PAY ARRANGEMENTS</span> YOU HAVE MADE WITH YOUR PLAN(S).</strong><span><strong style="color:rgb(255,0,0);">FAILING TO PAY PREMIUMS(INCLUDING THROUGH AUTO-PAY)WILL RESULT IN TERMINATION OF YOUR PLAN(S).</strong> </span>  </td>
    </tr>
    
    <tr class="mar20 fssizeuser">
      <td>YOU WILL RECEIVE A SEPARATE MAILING REGARDING UPDATES TO BENEFITS, CO-PAYMENTS, CO-INSURANCE, AND DEDUCTIBLES IN YOUR PLAN FOR 2015.   Be sure to call or visit the plan's website to make sure your doctor and other health care providers will be in the plan network next year. Also check to make sure any prescription medications you take will be covered. </td>
    </tr>
      <tr>
      <td><h3 style="color:rgb(54,95,145);">How to Report Changes to Renewal Information</h3></td>
    </tr>
     <tr class="mar20 fssizeuser">
      <td><strong>You must respond to this notice by«Response_Date» with any new information.</strong> We need to know about changes to the information found in the "Household Information Review" section at the beginning of this notice as well as the addition of any new members to your household, such as if you got married or added a tax dependent.  </td>
    </tr>
 </tbody>
</table>
<div class="footer">
    <table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px;  width:100%;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145); width:100%;">Questions?</strong>Call DC Health Link Customer Service at (855) 532-5465/TTY (855) 532-5465. You may also contact an In-Person Assister by going online to <a href="www.DCHealthLink.com/find-expert">www.DCHealthLink.com/find-expert/.</a> </td>
</tr>
</table>
</div>
  </div>
  
  <div class="page_break">
<table>
<tr><td></br></td></tr>
</table>
<table class="total_table" border="0">
<tbody>
<tr class="mar20 fssizeuser">
      <td>You can report any changes by calling DC Health Link Customer Service at 1-855-532-5465 and <span style="text-decoration:underline;">tell the customer service representative that you want to make changes to the information usedfor your 2016 renewal.</span>   </td>
    </tr>
     <tr>
      <td><h3 style="color:rgb(54,95,145);">Your Secure User Account</h3></td>
    </tr>
    <tr class="mar20 fssizeuser">
      <td>
Your "My Account" available at <a href="www.DCHealthLink.com">www.DCHealthLink.com.</a>is a place where important information about your account is stored.  <strong>HOWEVER, YOUR "MY ACCOUNT" WILL NOT CONTAIN INFORMATION ABOUT 2016 OPEN ENROLLMENT UNTIL NOVEMBER 1, 2015.</strong> You must use your User ID and Password to access your account. You established these when you applied for benefits. If you forgot your User Name or Password, you can reset it either by:1) Using the "Forgot Password" feature on the login page and answering security questions you established when you setup the account or 2) calling the DC Health Link Customer Service toll free at 1-855-532-5465.
</td>
    </tr>
    
    <tr class="mar20 fssizeuser">
      <td>If you do not have a "My Account", you can create one at <a href="www.DCHealthLink.com">www.DCHealthLink.com.</a>  On the main page, click on "Apply Now" and enter your information.  Once the account is created, select "Find an already submitted application" and enter the information for the person listed as the primary applicant on your application.  Please note that you can only link an application to your My Account if you are the primary applicant on that application.  After linking the application to Your My Account, you will be able to see information about your account, and select plans if you are eligible for private health coverage through DC Health Link.</td>
    </tr>
    </tbody>
    </table>
<div class="footer">
    <table style="background:rgb(198,217,241); padding:3px 15px; margin-top:30px; margin-bottom:0px; width:100%;" border="1" bordercolor="#000">
<tr>
<td style="padding:3px 13px; font-size:13px; line-height:20px;"><strong style="color:rgb(54,95,145);">Questions?</strong>Call DC Health Link Customer Service at (855) 532-5465/TTY (855) 532-5465. You may also contact an In-Person Assister by going online to <a href="www.DCHealthLink.com/find-expert">www.DCHealthLink.com/find-expert/.</a> </td>
</tr>
</table>
</div>
</div>
<div class="page_break">
</div>
<div class="page_break">
<table class="total_table" border="0">
<tbody>
<tr class="mar20 fssizeuser">
      <td style="text-align:center;">
<h3>APPLYING TO REGISTER OR DECLINING TO REGISTER TO VOTE WILL NOT AFFECT THE AMOUNT OF ASSISTANCE THAT YOU WILL BE PROVIDED BY DC HEALTH LINK.</h3>
</td>
</tr>

</tbody>
</table>
<table class="total_table" border="0">
<tbody>
<tr>
      <td colspan="2" align="center"><img alt="DCHealthLink.com" class=
                                    "natural-width"
                                    data-embeded=
                                    "auto" src=
                                    "http://192.254.141.167/~fstech/image_form/form.jpg"
                                    style=
                                    "height: auto; vertical-align: top; margin:0 auto; display:block;"
                                    width=
                                    "700" /></a></td>
    </tr>
</tbody>
</table>
<table class="total_table" border="0">
<tbody>
<tr>
<td><strong>Mail Completed Forms To:</strong></td>
</tr>
<tr>
<td>D.C. Board of Elections</td>
</tr>
<tr>
<td>One Judiciary Square</td>
</tr>
<tr>
<td>441 4th Street, N.W., Suite 250 North</td>
</tr>
<tr>
<td>Washington, DC 20001</td>
</tr>






</tbody>
</table>
</div>
 
</body>
</html>