<fieldset class="pl-0" [formGroup]="officeLocation">
    <div class="pull-right" *ngIf="hasParentComponent()">
        <i class="fas fa-trash fa-lg mt-1" (click)="removeFromParent()"></i>
    </div>
    <h4>Office Location</h4>
    <div class="row">
        <div class="{{address1Classes()}} col-xs-12{{errorClassFor(officeLocation.controls.address.get('address_1'))}}" [formGroup]="addressGroup()">
            <label for="location_address_1_{{index}}_field">Address *</label>
            <input id="location_address_1_{{index}}_field" type="text" formControlName="address_1" class="form-control" required>
            <field-errors [errorControl]="officeLocation.get('address').get('address_1')"></field-errors>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12{{errorClassFor(officeLocation.controls.kind)}}" *ngIf="hasParentComponent()">
            <label for="location_kind_{{index}}_field">Kind *</label>
            <select id="location_kind_{{index}}_field" class="form-control" formControlName="kind">
                <option *ngFor="let kind of kinds" [value]="kind">{{kind}}</option>
            </select>
            <field-errors [errorControl]="officeLocation.get('kind')"></field-errors>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12"  [formGroup]="addressGroup()">
            <label for="location_address_2_{{index}}_field">Address 2</label>
            <input id="location_address_2_{{index}}_field" type="text" formControlName="address_2" class="form-control">
            <field-errors [errorControl]="officeLocation.get('address').get('address_2')"></field-errors>
        </div>
    </div>
</fieldset>
<div class="row" [formGroup]="addressGroup()">
        <div class="col-md-3 col-sm-12 col-xs-12{{errorClassFor(officeLocation.controls.address.get('city'))}}">
                <label for="location_city_{{index}}_field">City *</label>
                <input id="location_city_{{index}}_field" type="text" formControlName="city" class="form-control" required>
                <field-errors [errorControl]="officeLocation.get('address').get('city')"></field-errors>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12{{officeLocation.controls.state)}">
                <label for="location_state_{{index}}_field">State *</label>
                <select id="location_state_{{index}}_field" formControlName="state" class="form-control">
                    <option *ngFor="let state of stateList" [value]="state">{{state}}</option>
                </select>
                <field-errors [errorControl]="officeLocation.get('address').get('state')"></field-errors>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12{{errorClassFor(officeLocation.controls.address.get('zip'))}}">
                <label for="location_zip_{{index}}_field">Zip *</label>
                <input id="location_zip_{{index}}_field" type="text" formControlName="zip" class="form-control" required>
                <field-errors [errorControl]="officeLocation.get('address').get('zip')"></field-errors>
        </div>
    </div>
<phone-component
    [parentForm]="officeLocation"
    prefix="location_{{index}}"
></phone-component>
