<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Action</th>
        <th>Date/Time</th>
        <th>Updated By</th>
        <th>Result</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Citizenship Item 1</td>
        <td>Citizenship Item 2</td>
        <td>Citizenship Item 3</td>
        <td>Citizenship Item 4</td>
        <td><a id="ai-request">DHS Request</a></td>
      </tr>
      <tr>
        <td>Citizenship Item 6</td>
        <td>Citizenship Item 7</td>
        <td>Citizenship Item 8</td>
        <td>Citizenship Item 9</td>
        <td><a id="ai-response">DHS Response</a></td>
      </tr>
    </tbody>
  </table>
</div>