<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Action</th>
        <th>Date/Time</th>
        <th>Updated By</th>
        <th>Result</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>immigration Item 1</td>
        <td>immigration Item 2</td>
        <td>immigration Item 3</td>
        <td>immigration Item 4</td>
        <td><a id="immigration-request">DHS Request</a></td>
      </tr>
      <tr>
        <td>immigration Item 6</td>
        <td>immigration Item 7</td>
        <td>immigration Item 8</td>
        <td>immigration Item 9</td>
        <td><a id="immigration-response">DHS Response</a></td>
      </tr>
    </tbody>
  </table>
</div>