<table class="table table-bordered">
  <tbody>
    <tr>
      <td>Verification Type: Immigration</td>
      <td>Source: Federal Hub</td>
      <td>Date: 10/01/2017 <br />Time: 08:24 AM</td>
    </tr>
    <tr>
      <td>
        First Name: User<br />
        Middle Name: A<br />
        Last Name: One<br />
      </td>
    </tr>
    <tr>
      <td>
        Social Security Number: 123-45-6789<br />
        Alien Number:<br />
      </td>
    </tr>
    <tr>
      <td>
        Gender: Female<br />
      </td>
    </tr>
    <tr>
      <td>
        Date of Birth: 01/01/2000<br />
      </td>
    </tr>
    <tr>
      <td>
        Status: Pending<br />
      </td>
    </tr>
  </tbody>
</table>

<a class="immigration-back btn btn-default btn-small">Back</a>