<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Action</th>
        <th>Date/Time</th>
        <th>Updated By</th>
        <th>Result</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SSN Item 1</td>
        <td>SSN Item 2</td>
        <td>SSN Item 3</td>
        <td>SSN Item 4</td>
        <td><a id="ssn-request">SSA Request</a></td>
      </tr>
      <tr>
        <td>SSN Item 6</td>
        <td>SSN Item 7</td>
        <td>SSN Item 8</td>
        <td>SSN Item 9</td>
        <td><a id="ssn-response">SSA Response</a></td>
      </tr>
    </tbody>
  </table>
</div>