<div class="modal" id="downloadCsv" tabindex="-1" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Download CSV</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to download your Enrollment Report as a CSV file?
        </p>
        <ul class="application-warnings"></ul>
      </div>
      <div class="modal-footer">
        <%= button_to 'Download', employers_premium_statement_path(@employer_profile, format: :csv), method: :get, params: { billing_date: @billing_date.strftime("%m/%d/%Y")}, class: 'btn btn-primary btn-br mz pull-right btn-right', style: "background-color: #e72b2d" %>
        <%= link_to 'Cancel', '#', method: :get, :class => 'btn btn-default btn-trans pull-right', data: { dismiss: "modal" } %>
      </div>
    </div>
  </div>
</div>
