<%- model_class = Employee -%>

<div class="container">
  <div class="col-md-12 col-sm-12 no-pd">
    <div class="panel panel-default">
      <div class="panel-body left">
        <div class="nama">
          <!-- Left name column -->
          <div class="col-sm-2 left-pd">
            <div class="sidebar list-group text-center">
              <a style="padding-top: 125px;" class="personal_info list-group-item name" href="#">
                        Name <br> Birthdate <br>Gender <br> Social Security<div class="arrow-right"></div>
              </a>
              <a class="address_info list-group-item address" href="#">
                Address <div class="arrow-right"></div>
              </a>
              <a class="phone_info list-group-item phone" href="#">
                Phone <div style="top: 52px;" class="arrow-right"></div>
              </a>
              <a class="email_info list-group-item email sidebar-email-field" href="#">
                Email <div style="top: 20px;" class="arrow-right"></div>
              </a>
              </div>
          </div>
          <!-- Close - Left name column -->

          <!-- Right content column -->
          <div class="col-md-10 col-sm-12">
            <div class="row welcome-msg">
              <div class="col-md-11 col-sm-12 col-xs-12 no-pd">
                <div class="col-md-10 col-sm-10 no-pd col-xs-12">
                  <p>
                    <span>Welcome.</span> Let's get you signed up for health care. Lorem ipsum dolot sit amet. Ut enim ad minim vineam, quis nostrud exarciation ullamco laboris nisi ut aliquip ex ea commondo consequat. Lorem ipsum dolor sit amet. Ut enim ad dolor sit
                  </p>
                </div>
                <a id="continue" class="btn btn-continue <%=pundit_class EmployerProfile,:updateable?%>" href="#">Continue</a>
              </div>
            </div>

            <%= form_for(@employee) do |f| %>
              <%#= f.hidden_field :family_id %>

              <%= render 'form', f: f %>

              <!-- <footer>
                <div class="well well-sm well-default">
                  <div class="form-actions">
                    <%#= f.submit nil, :class => 'btn btn-primary' %>
                    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")), employees_path, :class => 'btn btn-default' %>
                  </div>
                </div>
              </footer> -->
            <% end %>

            </div>
          </div>
          <!-- Close - Right content column -->
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.focus_effect').click(function(e){
    var check = check_personal_info_exists();
    active_div_id = $(this).attr('id');
    if( check.length==0 && (!$('.autofill-failed').hasClass('hidden') || $('.autofill-cloud').hasClass('hidden'))) {
      $('.focus_effect').removeClass('personal-info-top-row');
      $('.focus_effect').removeClass('personal-info-row');
      $('.focus_effect').addClass('personal-info-row');
      $(this).addClass('personal-info-top-row');
      $('.sidebar a').removeClass('style_s_link');
      $('.sidebar a.'+active_div_id).addClass('style_s_link');
      $(this).removeClass('personal-info-row');
    }
    if(active_div_id!='personal_info') {
      if(check.length!=0) {
        $('#personal_info .col-md-10').addClass('require-field');
      }
    }
  });

  $('#continue').click(function() {
    $("#overlay").css("display", "none");
    $(".welcome-msg").css("display", "none");
    $(".focus_effect").css("opacity", "1");
    $(".information").css("opacity", "1");
    $("a.name").css("padding-top", "65px");
    $(".disable-btn").css("display", "inline-block");
    $('.focus_effect:first').addClass('personal-info-top-row');
    $('.focus_effect:first').removeClass('personal-info-row');
    $('.sidebar a:first').addClass('style_s_link');
    $(".key").css("display", "block");
    var check = check_personal_info_exists();
    if(check.length==0) {
      $('.autofill-cloud.autofill-initial').removeClass('hidden');
    }
  });

  $('#personal_info input:text').focusout(function(){
    var check = check_personal_info_exists();
    if(check.length==0) {
      $('.autofill-cloud.autofill-initial').removeClass('hidden');
    }
  })

  $('#personal_info.focus_effect').focusout(function(){
    var tag_id = $(this).attr('id');
    var has_class = $(this).hasClass('personal-info-top-row');
    var check = check_personal_info_exists();
    if(check.length!=0 && !has_class) {
      $('#personal_info .col-md-10').addClass('require-field');
    }
    else {
      $('#personal_info .col-md-10').removeClass('require-field');
    }
  })

  $('.autofill_yes').click(function(){
    $('.autofill-initial').addClass('hidden');
    $('.autofill-failed').removeClass('hidden');
    common_body_style();
    side_bar_link_style();
  });

  $('.autofill_no').click(function(){
    $('.autofill-cloud').addClass('hidden');
    side_bar_link_style();
  });

  $('span.close').click(function(){
    $('.autofill-cloud').addClass('hidden');
    common_body_style();
    side_bar_link_style();
  });

  function side_bar_link_style()
    {
      $('.sidebar a').removeClass('style_s_link');
      $('.sidebar a.address_info').addClass('style_s_link');
    }

  function common_body_style()
    {
      $('#personal_info').addClass('personal-info-row');
      $('.focus_effect').removeClass('personal-info-top-row');
      $('#address_info').addClass('personal-info-top-row');
      $('#address_info').removeClass('personal-info-row');
    }

  function check_personal_info_exists()
    {
      var check = $('#personal_info input:text').filter(function() { return this.value == ""; });
      return check;
    }
    $(".adderess-select-box").focusin(function() {
      $(".bg-color").css({
        "background-color": "rgba(220, 234, 241, 1)",
        "height": "46px",
      });
    });

    $(".adderess-select-box").focusout(function() {
      $(".bg-color").css({
        "background-color": "rgba(255, 255, 255, 1)",
        "height": "46px",
      });
    });
</script>

<!-- <section>
  <div class="row">
    <div class="col-md-12">
      <nav class="page-header">
        <%#= render 'shared/breadcrumb', crumbs: [
            link_to('Employees', employees_path),
            'New'
          ]
        %>
      </nav>
    </div>
  </div>
</section>
-->
<!--
<section>
  <div class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-7 ">
      <%= form_for(@employee) do |f| %>
        <%#= f.hidden_field :family_id %>

        <%#= render 'form', f: f %>

        <footer>
          <div class="well well-sm well-default">
            <div class="form-actions">
              <%#= f.submit nil, :class => 'btn btn-primary' %>
              <%#= link_to t('.cancel', :default => t("helpers.links.cancel")), employees_path, :class => 'btn btn-default' %>
            </div>
          </div>
        </footer>

      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</section>
 -->
