<div class="module shopping-data">
  <br/>
  <div class="pull-left">
    <span class="ttu lg twelve">Coverage For:</span>
    &nbsp;
    <%= plan_shopping_dependent_text(@hbx_enrollment) %>
    &nbsp;&nbsp;
    <% if @market_kind == 'shop' && @coverage_kind == 'health' %>
    Employer: &nbsp;
    <strong><%= @benefit_group.try(:plan_year).try(:employer_profile).try(:legal_name) %></strong>
    &nbsp;&nbsp;
    <% end %>
    <span class="ttu lg twelve">Plans:</span>
    &nbsp;
    <strong id='plans-count'><%#= @plans.count %></strong>
    &nbsp;&nbsp;
    <span class="ttu lg twelve">Effective Date:</span>
    &nbsp;
    <strong id='effective_date'><%= @hbx_enrollment.effective_on %></strong>
  </div>
  <br/>
</div>
