<% if @person.primary_family.enrolled_hbx_enrollments.map(&:product).map(&:id).include?(plan.id) %>
  <h5 class="col-md-12 current bg-title"><i class="fa fa-star fa-lg enrolling"></i><%= l10n("your_current_plan", year: plan.try(:active_year)).to_s.upcase %></h5>
<% else %>
  <%= link_to("Select Plan",
      thankyou_insured_plan_shopping_path(@hbx_enrollment,
        plan_id: plan.id,
        change_plan: @change_plan,
        market_kind: @market_kind,
        coverage_kind: @coverage_kind,
        enrollment_kind: @enrollment_kind),
        class: 'btn btn-primary  mz plan-select interaction-click-control-select-plan'
      )
  %>
  &nbsp;
<% end %>
