<%= render "ui-components/v1/navs/primary_nav.html.slim" %>

<div class='container'>
	<h1> Manage SEP Types </h1>
    <div data-turbolinks="false">
      <%= link_to "Sorting Sep Types", sorting_sep_types_exchanges_manage_sep_types_path, class: "btn btn-default" %>
      <%= link_to 'Create Sep Types', new_exchanges_manage_sep_type_path, class: 'btn btn-default' %>
    </div>
	<%= raw render_datatable(@datatable) %>
</div>

<script>
	initializeDataTables();
	jQuery('.buttons-csv').hide()
	jQuery('.buttons-excel').hide()
	jQuery('.dataTables_filter').hide()
</script>
