<div>
<h4><b>SSN:</b></h4>
<ul>
  <li>Social Security Card</li>
</ul>

<h4><b>DC Residency:</b></h4>
<p>Documents you can use to verify DC residency include:</p>
<ul>
  <li>A copy of an active lease agreement, certified deed, or mortgage statement with DC address</li>
  <li>A phone or utility bill from within the past two months</li>
  <li>DC voter registration card</li>
  <li>A valid District of Columbia motor vehicle registration or DC DMV identification card</li>
  <li>Cancelled checks or receipts for mortgage or rental payments on a residential property within the past 2 months</li>
  <li>Utility bills with a DC address, and payment receipts within the past 2 months</li>
  <li>Proof of automobile insurance showing the person’s DC residency address</li>
  <li>A signed DC Department of Motor Vehicles proof of residency form from another District resident stating that the applicant lives at their address in the District. (available at: <a href= "https://dmv.dc.gov/page/proof-dc-residency-certifications", target= "_blank">https://dmv.dc.gov/page/proof-dc-residency-certifications</a>)</li>
  <li>Self-attestation of residency without paper documentation in exceptional circumstances, including homelessness and in cases of domestic violence</li>
</ul>

<h4><b>Citizenship:</b></h4>
<h5>Primary documentation: (only one needed)</h5>
<ul>
  <li>U.S. Passport (Note: Expired passports are acceptable)</li>
  <li>Certificate of Naturalization</li>
  <li>Certificate of Citizenship</li>
  <li>Consular report of Birth Abroad of U.S. Citizen</li>
  <li>A valid Driver’s License from a state that requires proof of citizenship and verification of Social Security Number prior to issuance of the license</li>
  <li>A tribal document issued by a federally-recognized Indian Tribe, which must:</li>
  <ul>
    <li>Identify the Tribe issuing the document</li>
    <li>Identify the individual by name</li>
    <li>Confirm the individual’s enrollment in or affiliation with the Tribe</li>
    <li>Examples: tribal enrollment card, Certificate of Degree of Indian Blood, Tribal Census document</li>
  </ul>
</ul>
<h5>Secondary documentation: (Must Present One (1) of the following, along with ID):</h5>
<ul>
  <li>A U.S. birth certificate showing birth in one of the 50 states, DC, Guam, American Samoa, Swain’s Island, Puerto Rico, the Virgin Islands, or the Commonwealth of the Northern Mariana
    Islands. If born in the Puerto Rico, the Virgin Islands, or CNMI prior to the time these areas became part of the U.S., the individual will satisfy the citizenship requirement if he or she is a
    collectively naturalized citizen.
  </li>
  <li>A Northern Marianas ID Card, issued to a collectively naturalized citizen, who was born in the Commonwealth of the Northern Mariana Islands before November 4, 1986</li>
  <li>A certification of Report of Birth, issued to U.S. citizens born outside the U.S.</li>
  <li>A Report of Birth Abroad of a U.S. Citizen</li>
  <li>A Certification of Birth</li>
  <li>A U.S. Citizen I.D. Card</li>
  <li>A final adoption decree showing the child’s name and U.S. place of birth, or if an adoption is not final, a statement from a state-approved adoption agency that shows the child’s name and U.S.
    place of birth
  </li>
  <li>Evidence of U.S. Civil Service employment before June 1, 1976</li>
  <li>U.S. Military Record showing a U.S. place of birth</li>
  <li>A data match with the SAVE Program or any other process established by the Department of Homeland Security to verify that an individual is a citizen</li>
  <li>Documentation that a child meets the requirements of §101 of the Child Citizenship Act</li>
  <li>Medical records that indicate a U.S. place of birth</li>
  <li>Life, health, or other insurance record that indicates a U.S. place of birth</li>
  <li>Official religious record recorded in the U.S. showing that the birth occurred in the U.S.</li>
  <li>School records showing a U.S. place of birth</li>
  <li>Federal or State census record showing U.S. citizenship or a U.S. place of birth</li>
</ul>

<h4><b>Immigration Status:</b></h4>
<p>Documents you may be able to use to verify your immigration status include:</p>
<ul>
  <li>Permanent Resident Card (I-551, also known as Green Card)</li>
  <li>Temporary I-551 Stamp (on passport or I-94, I-94A)</li>
  <li>Immigrant Visa (with temporary I-551 language)</li>
  <li>Employment Authorization Card (EAD or I-766)</li>
  <li>Arrival/Departure Record (I-94 or I-94A)</li>
  <li>Arrival/Departure Record in foreign passport (I-94)</li>
  <li>Foreign passport</li>
  <li>Country of issuance Reentry Permit (I-327)</li>
  <li>Refugee travel document (I-571)</li>
  <li>Certificate of Eligibility for Nonimmigrant (F-1) Student Status (I-20)</li>
  <li>Certificate of Eligibility for Exchange Visitor (J-1) Status (DS2019)</li>
  <li>Notice of Action (I-797)</li>
</ul>
<h5>You can also list these documents or statuses:</h5>
<ul>
  <li>Document indicating a member of a federally recognized Indian tribe or American Indian born in
    Canada This is considered an eligible immigration status for Medicaid, but not for a Qualified Health Plan [QHP]
  </li>
  <li>Office of Refugee Resettlement (ORR) eligibility letter (if under 18)</li>
  <li>Document indicating withholding of removal</li>
  <li>Administrative order staying removal issued by the Department of Homeland Security (DHS)</li>
  <li>Certification from U.S. Department of Health and Human Services (HHS) Office of Refugee Resettlement (ORR)</li>
  <li>Cuban/Haitian entrant</li>
  <li>Resident of American Samoa</li>
</ul>

<h4><b>American Indian Status:</b></h4>
<p>You can provide any formal documentation from a tribe, Indian Health Services, or the Bureau of Indian Affairs that verifies American Indian status. Examples of such verifications include, but are not limited to the following:</p>
<ul>
  <li>A document issued by a federally-recognized American Indian/Alaska Native tribe, such as an enrollment or membership card, a tribal census document, or a document issued by a tribe indicating the person’s affiliation with the Tribe;</li>
  <li>A document issued by the Indian Health Services indicating that the person is eligible for Indian Health Services as an American Indian; and</li>
  <li>A document obtained from the Bureau of Indian Affairs recognizing the person as an American Indian.</li>
  <li>For Indians born outside of the United States, we will accept the following documents:
    <ul>
      <li>A Form I-94 with a notation of “S1-3”;</li>
      <li>I-551 Permanent Resident Card stamped “S1-3”;</li>
      <li>Temporary I-551 stamp coded “S1-3” in a Canadian passport;</li>
      <li>A Tribal Record or document certifying at least 50 percent American Indian blood, as required by Section 289 of the Immigration and Nationality Act (INA); and satisfactory evidence of birth in Canada, such as the following: Birth certificate or Baptismal; Certificate issued on a reservation; Letter from Canadian Department of Indian Affairs; or School Records.</li>
    </ul>
  </li>
</ul>
</div>
