<% person = member.person %>
<table class="sub-table">
  <% person.verification_types.each do |v_type| %>
      <tr>
        <td>
          <%=v_type%>&nbsp;<span class="pull-right label label-<%=verification_type_class(v_type, person)%>"><%= verification_type_status(v_type, person) %></span>
        </td>
        <td>
          <%= render partial: 'insured/families/verification/verification_upload', locals: {member: member, v_type: v_type} %>
        </td>
      </tr>
  <% end %>
</table>