<% person = member.person %>
<table class="sub-table">
  <% person.verification_types.each do |v_type| %>
      <tr>
        <td>
          <%=v_type%>&nbsp;
        </td>
          <!-- HBX admin inclusion -->
          <% unless member.person.consumer_role.aasm_state.eql? "fully_verified" %>
            <td>
              <%= render partial: 'insured/families/verification/ivl_verification_complete_form', locals: { person: member.person, v_type: v_type } %>
            </td>
          <% end %>
          <!-- >>>> hbx admin inclusion -->
        <td>
          <%= render partial: 'insured/families/verification/verification_upload', locals: {member: member, v_type: v_type} %>
        </td>
      </tr>
  <% end %>
</table>
