<ul role="tablist" class="nav nav-tabs top-menu" id="myTab">
  <li class="active" role="presentation">
    <a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">
      <span class="home-icon" title="Home"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-expanded="true" aria-controls="profile" data-toggle="tab" role="tab" id="profile-tab" href="#profile">
      <span class="hidden-xs">Profile</span>
      <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Profile"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="plans" data-toggle="tab" id="plans-tab" role="tab" href="#plans">
      <span class="hidden-xs">Plans</span>
      <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Plans"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="documents" data-toggle="tab" id="documents-tab" role="tab" href="#documents">
      <span class="hidden-xs">Documents</span>
      <span class="glyphicon glyphicon-file hidden-md hidden-sm hidden-lg" title="Documents"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="messages" data-toggle="tab" id="messages-tab" role="tab" href="#messages">
      <span class="hidden-xs">Messages</span>
      <span class="glyphicon glyphicon-envelope hidden-md hidden-sm hidden-lg" title="Messages"></span>
      <span class="badge">27</span>
    </a>
  </li>
</ul>