<thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Signup </th>
  </tr>
</thead>

<tbody>
  <% @staff.each do |staff| %>
    <tr>
      <td style="padding: 3px"><%= staff.first_name + " " + staff.last_name %></td>
      <td style="padding: 3px"><%= staff.try(:user).try(:email) %></td>
      <td style="padding: 3px"><a href='#' data-assister='<%=staff.id%>' class='help_button'> Request Help </a></td>
    </tr>
  <% end %>
</tbody>

