<div class='container'>
  <div class="row">
    <h3 class="title-inline">Employers who are eligible for binder paid</h3>
  </div>
</div>

<div class="module your-documents-table">
  <div class="table-responsive">
    <table id="example" class="table table-striped table-hover table-sm display select">
      <thead class="thead-default">
        <tr>
         <th>
            <%= check_box_tag "checkall" %> &nbsp; &nbsp;Select All
         </th>
         <th>Name</th>
         <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @employers.each do |employer| %>
          <tr>
            <td><input type='checkbox' name='numbers[]' value=' <%= employer.id %> '></td>
            <td><%= employer.legal_name %></td>
            <td><%= employer.aasm_state %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>

<p>Press <b>Submit</b> and check console for URL-encoded form data that would be submitted.</p>

<p><button>Submit</button></p>

<b>Data submitted to the server:</b><br>
<pre id="example-console">
</pre>
</form>

<style type="text/css">
  .dataTables_length {
    display: none;
  }
</style>

<script type="text/javascript">

  $(document).ready(function(){

    var table = $("#example").DataTable({
      "iDisplayLength": 10,
      "bSort": false,
    });

    $('#checkall').click(function () {
      $(':checkbox', table.rows().nodes()).prop('checked', this.checked);
    });

  });
</script>