<div class="container bottom-pd">
  <div class="row">
    <h3 class="title-inline">Configuration</h3>
  </div>

  <div class="row input-no-pd">
    <%= link_to 'Announcements', exchanges_announcements_path, {class: 'btn btn-default'} %>
    
    <%= form_for @time_keeper, url: set_date_exchanges_hbx_profiles_path, method: "post", class: "form" do |f|%>
      <table class="table table-border">
        <tbody>
        <td width="50%" style="padding: 18px;font-weight: bold;">Current Date: <%= @time_keeper.date_of_record %>
        </td>
        <td>
          <%= datepicker_control f, :date_of_record, {:class => "floatlabel form-control", :placeholder => "DATE OF RECORD",
                                           :'data-date-min' => "0d", required: true } %>

          <button type="submit" class="btn btn-primary pull-right display-on-mobile">Set Current Date</button>
        </td>
        <td class="hide-on-mobile"><button type="submit" class="btn btn-primary pull-right">Set Current Date</button></td>
      </table>
    <% end %>
  </div>
</div>
