<div class="container bottom-pd">
  <div class="row">
    <h3 class="title-inline">Configuration</h3>
  </div>

  <div class="row input-no-pd">
    <%= form_tag({controller: "hbx_profiles", action: "set_date"}, method: "post", class: "form") do %>
      <table class="table table-border">
        <tbody>
          <td width="50%" style="padding: 18px;font-weight: bold;">Current Date: <%= TimeKeeper.date_of_record.to_date %></td>
          <td><%= text_field_tag 'time_keeper[date_of_record]', '', :'data-date-min'=>"0d",
                               class: "required date-picker floatlabel form-control", required: true,
                               :value=>TimeKeeper.date_of_record.to_date, :placeholder=>"Date of Record" %></td>
          <td><button type="submit" class="btn btn-primary pull-right">Set Curent Date</button></td>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
