<div class="modal" id="create_ba_mod" tabindex="-1" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= l10n("hbx_profiles.confirm_create_ba")%></h4>
      </div>
      <div class="modal-body">
        <p>
          <%= l10n("hbx_profiles.confirm_create_ba_message")%>
          <br/><br/>
          <strong>
            Warning:
          </strong>
          <%= l10n("hbx_profiles.confirm_create_ba_warning")%>
        </p>
        <ul class="application-warnings"></ul>
      </div>
      <div class="modal-footer">
        <%= link_to "Confirm", "#", class: "btn btn-primary mtz  btn-small", onclick: 'submitForm()'%>
        <span class="btn btn-default btn-small" data-dismiss="modal">Cancel</span>
      </div>
    </div>
  </div>
</div>

<script>
  function submitForm() {
    $("#adminCreatePyButton").click()
    $('#create_ba_mod').modal('hide')
    // swal({title: "Please Hold!", text: "Creating plan year !", showCancelButton: true, icon:"success", buttons:false, closeOnClickOutside:true, timer: 4000});
  }
</script>
