<% if @save_error %>
  <div class='alert alert-error'><a class='close' data-dismiss='alert'>x</a>
    <%= @save_error %>
  </div>
  <% message_for_display = "Could not create a draft plan year" %>
<% else %>
  <% message_for_display = "Successfully created a draft plan year" %>
<% end %>

<div class="container bottom-pd">
  <h4 class="title"><%= message_for_display %></h4>
</div>
