<div class="container bottom-pd">
  <% if @result[:success] %>
    <h4 class="title"><%= @result[:message] %></h4>
  <% else %>
    <h4 class="title">Error: <%= @result[:error] %></h4>
  <% end %>
</div>
