<%if @warning_on_save %>
  <div class='alert alert-error'><a class='close' data-dismiss='alert'>x</a>
    <li><%= @warning_on_save %></li>
  </div>
<%end%>

<div class="container bottom-pd">
  <% if @plan_year.publish_pending? || @plan_year.renewing_publish_pending? %>
    <h4 class="title"> <%= l10n("hbx_profiles.force_published_application_review") %> </h4>
  <% else %>
    <h4 class="title"> <%= l10n("hbx_profiles.force_publish_success") %> </h4>
  <% end %>
  <table class="table">
    <thead> </thead>
    <tbody>
      <tr>
        <td> <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();"> <%= l10n("close")%> </span> </td>
      </tr>
    </tbody>
  </table>
</div>
