<div class="container bottom-pd text-center">
  <h4 class="title"> <%= l10n("hbx_profiles.force_publish_success") %> </h4>
  <table class="table">
    <thead> Employer(s) Plan Year was successfully submitted for review. </thead>
    <tbody>
      <tr>
        <td> <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();"> Close </span> </td>
      </tr>
    </tbody>
  </table>
</div>
