<div class="row btns-group">
  <div class="btn-group" data-toggle="buttons" id="filters">
    <label class="btn btn-default" id="all" title="Documents to review for all outstanding verifications">
      <input type="radio" name="options" autocomplete="off" value="active"> All
    </label>

    <label class="btn btn-default" id="partial" title="Documents to review for some outstanding verifications">
      <input type="radio" name="options" autocomplete="off" value="active"> Partial
    </label>

    <label class="btn btn-default" id="no" title="No documents to review">
      <input type="radio" name="options" autocomplete="off" value="active"> None
    </label>

    <label class="btn btn-default" id="reset" title="Un-filter the current view to the default Outstanding Documents list">
      <input type="radio" name="options" autocomplete="off" value="active"> Reset
    </label>
  </div>
</div>
<br>

<tr>

<div class="module">
  <table class="table table-striped" id="verification-dataTable">
    <thead>
    <tr>
      <th>HBX ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Documents</th>
      <th>Due date</th>
      <th>Status</th>
      <th>Review</th>
      <th>FedHub</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#verification-dataTable').DataTable( {
      "processing": true,
      "serverSide": true,
      "ordering" : true,
      "order": [],
      "lengthMenu": [ 10, 25, 50, 100],
      "ajax": {
        url: "<%= verifications_index_datatable_exchanges_hbx_profiles_path(:format => :json) %>",
        type: "GET",
        data: function ( d ) {
                return $.extend( {}, d, {
                  "filter": $("#filters label.filter").attr('id')
                } );
              }
      },
      columnDefs: [
        { targets: [0, 1, 2, 3, 5, 6, 7], orderable: false}
      ]
    });

    $("#filters").children().each(function() {
      $(this).change(function(e){
        $(this).parent().children().each(function(){
          $(this).removeClass("filter")
        })
        $(this).addClass("filter")
        table = $('#verification-dataTable').DataTable();
        table.draw();
      });
    })
  });
</script>
