<div class="container bottom-pd">
  <% if @bs4 %>
    <h3><%= l10n('hbx_profiles.reinstate.result.success') %></h3>
  <% else %>
    <h4 class="title">Enrollment Reinstated successfully</h4>
  <% end %>
</div>
