<div class="container bottom-pd">
  <h4 class="title">FEIN Update Successful</h4>
  <table class="table">
    <thead></thead>
    <tbody>
      <tr>
        <td><span class="btn btn-default" onclick="$('tr.child-row:visible').remove();">Close</span></tb>
      </tr>
    </tbody>
  </table>
</div>
