<div class="container bottom-pd">
  <% if @new_tax_household %>
    <h4 class="title">Tax Household is successfully updated</h4>
  <% else %>
    <h4 class="title">Couldnot update the tax_household</h4>
  <% end %>
</div>
