<div class="container bottom-pd text-center">
  <h4 class="title"><%= l10n("hbx_profiles.update_fein_success") %> </h4>
  <table class="table">
    <thead> </thead>
    <tbody>
      <tr>
        <td> <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();"> <%= l10n(".cancel") %> </span> </td>
      </tr>
    </tbody>
  </table>
</div>
