<div class="container bottom-pd">
  <h4 class="title">DOB Update Successful</h4>
  <table class="table table-border">
    <thead></thead>
    <tbody>
      <tr>
        <td><h5> <b>Name:</b> <%=@person.first_name%> <%=@person.last_name%></h5></td>
        <td><h5> <b>HBX ID:</b> <%=@person.hbx_id%></h5></tb>
          <td><h5> <b>DOB:</b> <%=@person.dob%> </h5></td>
      </tr>
    </tbody>
  </table>
</div>
