<div class="container bottom-pd">
  <h4 class="title"><%= l10n("hbx_profiles.force_publish_success") %></h4>
  <table class="table">
    <thead> </thead>
    <tbody>
      <tr>
        <td> <span class="btn btn-default" onclick="$('tr.child-row:visible').remove();">Close</span> </td>
      </tr>
    </tbody>
  </table>
</div>