<div class='content'>
  <div class='container top-pd'>
	<h3> Welcome to DC HealthLink </h3>

	<h4> <%=@cac ? 'Certified Application Counselor (CAC)' : 'Customer Service Representative (CSR)'%> </h4>
     <p> Federal Regulations apply</p>
     <ul>
     	<li> <%=link_to   'Phone Application', search_consumer_employee_index_path  %> </li>
     	<li> <%=link_to   'Paper Application', search_consumer_employee_index_path  %> </li>
     </ul>
  </div>
</div>
