<p id="notice"><%= notice %></p>

<h1>Listing Exchanges Hbx Profiles</h1>

<%= render_datatable(@datatable) %>

<script>
  function extendDatatableServerParams() {
    console.log("Extending Datatable HTPP params")
    var keys = {}
    DT.filter_params(keys, 1)
    DT.filter_params(keys, 2)
    DT.filter_params(keys, 3)
    var attributes_for_filtering = {"attributes": keys}
    return attributes_for_filtering;
  }
</script>



