<p id="notice"><%= notice %></p>

<h1>Listing Exchanges Hbx Profiles</h1>

<div class='custom_filter'>
 <%= render partial: '/datatables/shared/filter', locals: {filters: Effective::Datatables::ArrayBacked.new.nested_filter_definition} %>
</div>
<%= render_datatable(@datatable) %>

<script>
  function extendDatatableServerParams() {
    console.log("Extending Datatable HTPP params")
    var attributes_for_filtering = {"attributes": {'level1':DT.filter_id('1') ,"level2": DT.filter_id('2'), "level3" : DT.filter_id('3')}}
    return attributes_for_filtering;
  }
</script>



