var containing_row = $("#<%= @element_to_replace_id %>").closest('tr');
var $parent_row = containing_row;
if ( $('tr.child-row:visible').length > 0 ) {
  $('tr.child-row:visible').remove();
  $("li>a:contains('Collapse Form')").addClass('disabled');
}

if ( $parent_row.next().hasClass('child-row') ) {
//
}
else {
  <% if @employer_actions %>
    $parent_row.after('<tr class="child-row"><td colspan="100"><%= j render "get_employer_info"%></td></tr>');
    $('table#user-info-table tr').each(function(index) {
      $(this).find('td:nth-child(1)').html(index - 3);
    });
  <% else %>
    $parent_row.after('<tr class="child-row"><td colspan="100"><%= j render "get_user_info"%></td></tr>');
  <% end %>
  $("li>a:contains('Collapse Form')").eq(containing_row.index()).removeClass('disabled');
  $('.dropdown.pull-right').removeClass('open');
}
