<%= render "ui-components/v1/navs/primary_nav.html.slim" %>

<div class="container">
  <h1>Identity Verifications</h1>

  <%= render_datatable(@datatable) %>
</div>


<script type="text/javascript" charset="utf-8">
  initializeDataTables();
</script>
