<%= render "ui-components/v1/navs/primary_nav.html.slim" %>

<p id="notice"><%= notice %></p>

<div class='container'>
	<h1> Qualifying Life Events </h1>
	<%= raw render_datatable(@datatable) %>
</div>


<script>
	initializeDataTables();
	jQuery('.buttons-csv').hide()
	jQuery('.buttons-excel').hide()
	jQuery('.dataTables_filter').hide()
</script>
