<div class="container">
  <div class="panel panel-default" style="border:none; box-shadow: none;">
    <div class="row tab-row">
      <h1>New HBX Profile</h1>
      <%= render 'form' %>
      <%= link_to 'Back', exchanges_hbx_profiles_path, class: "btn btn-default" %>
    </div>
  </div>
</div>