var containing_row = $("#<%= @element_to_replace_id %>").closest('TR');
var $parent_row = containing_row;
//var $parent_row = $(".table:first > tbody > tr:not(tr.child-row)").eq(<%= @row %>);
if ( $('tr.child-row:visible').length > 0 ) {
  $('tr.child-row:visible').remove();
  $("li>a:contains('Collapse Form')").addClass('disabled');

}

if ( $('tr.child-row-mthh:visible').length > 0 ) {
  $('tr.child-row-mthh:visible').remove();
}

if ( $parent_row.next().hasClass('child-row') ) {
//
} 
else {
  $parent_row.after(`
    <tr class="child-row">
      <td colspan="100">
        <% if EnrollRegistry.feature_enabled?(:temporary_configuration_enable_multi_tax_household_feature) %>
          <%= j render "new_eligibility_mthh" %>
        <% else %>
          <%= j render "new_eligibility" %>
        <% end %>
      </td>
    </tr>
  `);
  $("li>a:contains('Collapse Form')").eq(containing_row.index()).removeClass('disabled');
  $('.dropdown.pull-right').removeClass('open');
}

applyJQDatePickers();
