<%= render "ui-components/v1/navs/primary_nav.html.slim" %>

<p id="notice"><%= notice %></p>

<div class='container'>
  <h1> Outstanding Verifications </h1>
  <%#= link_to 'Switch to APTC / CSR Families', aptc_csr_family_index_exchanges_hbx_profiles_path, remote: true%>
  <%= raw render_datatable(@datatable,"lengthMenu": [[10, 25, 50], [10, 25, 50]], buttons: [
           'excel','csv','print'
       ]) %>
</div>

</div>

<script>
	$('.datepicker').datepicker({ dateFormat: 'mm/dd/yy' });
  initializeDataTables();
 $('#date_range_apply').click(function() {
    $('.effective-datatable').DataTable().draw()
  })
</script>
