<p id="notice"><%= notice %></p>
<div class="row content landing">
  <div class="home">
   <div><%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %></div>
  <%= render 'shared/tab_panel' %>
  </div>
</div>
