<div class="content landing">
	<%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %>
	
	<div class="home">
		<%= render 'shared/tab_panel' %>
	</div>

		<br /> <br />
		<div class="container bottom-pd">
	       <%= link_to 'Update APTC / CSR', aptc_csr_family_index_exchanges_hbx_profiles_path, class: "btn btn-default btn", remote: true%>
   		</div>
</div>
