<div class="content landing">
	<%= render partial: "./ui-components/v1/navs/primary_nav", :active_tab => "home-tab" %>
	<h1 class="hidden"><%= l10n("hbx_profiles.show.heading") %></h1>
	<div class="home">
		<%= render 'shared/tab_panel' %>
	</div>
</div>
