<div class="content landing">
	<%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %>
	
	<div class="home">
		<%= render 'shared/tab_panel' %>
	</div>

	   <%= link_to(aptc_csr_family_index_exchanges_hbx_profiles_path, "aria-expanded" => "true", :remote => true, "aria-controls" => "families", "role" => "tab" ) do  %>
          <span class="hidden-xs">APTC/CSR Updates</span>
          <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Families"></span>
       <% end %>
</div>
