<%= render "ui-components/v1/navs/primary_nav" %>
<div class="container">
  <h1 class="<%= @bs4 ? '' : 'heading-text'%>"><%= l10n('hbx_profiles.user_accounts.table.title') %></h1>

  <%= raw render_datatable(@datatable) %>
</div>

<script>
  initializeDataTables();

  function closeRow(element) {
    $(element).closest('tr').remove();
  }
</script>