var containing_row = $("#<%= @row %>").closest('TR');
var $parent_row = containing_row;
if ( $('tr.child-row:visible').length > 0 ) {
    $('tr.child-row:visible').remove();
    $("li>a:contains('Collapse Form')").addClass('disabled');
}
if ( $parent_row.next().hasClass('child-row') ) {} // Do Nothing
else {
    $parent_row.after('<tr class="child-row"><%= j render "view_enrollment_to_update_end_date", f: @family, formats: [:html] %></td></tr>');
    $("li>a:contains('Collapse Form')").eq(containing_row.index()).removeClass('disabled');
    $('.dropdown.pull-right').removeClass('open');
}