<h3><%= "#{e[:name]} Plan Year #{e[:plan_year]}" %></h3>

<div class="row">
	<% e[:benefits].each do |benefit| %>
	    <div class="col-md-6 left-side">
	      <%= render "shared/families/benefit_summary_item", b: benefit %>
	    </div>
	<% end %>
</div>