  
<h4><%= "#{e[:name]} Plan Year #{e[:plan_year]}" %></h4>
<p><%= link_to "Employer Benefits", "#" %> | <%= link_to "HR Contact", "#" %> </p>
<% e[:benefits].each do |benefit| %>
  <div class="row">
    <div class="col-md-4">
      <%= render "shared/families/benefit_summary_item", b: benefit %>
    </div>
  </div>
<% end %>