
  <% benefits = [
    {
      benefit_type: "health",
      plan_name: "High Value 1000",
      issuer_name: "Aetna",
      plan_type: "PPO",
      subscriber_name: "Joe Cool",
      start_date: TimeKeeper.date_of_record - 30,
      subscriber_hbx_id: "123456",
      subscriber_carrier_id: "987654",
      group_id: "1zu3t",
      metal_level: "gold"
    },
    {
      benefit_type: "dental",
      plan_name: "Pearly Whites Advantage",
      issuer_name: "Aetna",
      plan_type: "N/A",
      subscriber_name: "Joe Cool",
      start_date: (TimeKeeper.date_of_record - 30).beginning_of_month,
      subscriber_hbx_id: "123456",
      subscriber_carrier_id: "987654",
      group_id: "7yt2q",
      metal_level: "N/A"
    }
  ]
  %>

  <% employer = {
      name: "ACME Widgets",
      contact: "link to employer HR contact",
      plan_year: 2016,
      plan_year_start: (TimeKeeper.date_of_record - 90).beginning_of_month,
      benefit_group: "link to benefit group",
      benefits: benefits
    }
  %>

<ul role="tablist" class="nav nav-tabs top-menu" id="myTab">
  <li role="presentation">
    <%= link_to "Employer Benefits", "#" %>
  </li>
  <li>
    <%= link_to "HR Contact", "#" %>
  </li>
</ul>

<div class="container">
  <%= render "shared/families/benefit_summary_shop", e: employer %>
</div>
