<div class="page-break">
  <%= render partial: 'logo' %>

  <%= render partial: 'address', :locals => {recipient: recipient, notice_number: notice_number, show_mpi_indicator: false} %>

  <table class="total_table" border="0">
    <tbody>
      <tr>
        <br></br>
      </tr>
      <tr>
        <td style="text-align: center"><h1><b>THIS IS A COVER PAGE</b></h1>
        <hr style="height: 0px;  border-color: black; border-bottom: 0px; border-width: 1px 0 0 0;">
        </td>
      </tr>
      <tr>
        <td style="font-size: 18px; text-align: center;">
          The enclosed letter has important information about your health or dental insurance, which may include steps you need to take to get or keep your insurance.
        </td>
      </tr>
      <tr>
        <br></br>
      </tr>
    </tbody>
  </table>

   <table class="total_table" border="0" style="margin-top: 260px;">
    <tbody>
      <tr>
        <td><%= notice_number %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="page-break">
  <table class="total_table" border="0">
    <tbody>
      <tr>
        <td style="color: #b3b3b3; font-size: 18px; text-align: center; padding-top: 300px;">
          This page intentionally left blank.
        </td>
      </tr>
    </tbody>
  </table>
</div>