<div class="notices_index_list">

<h1 class="heading-text">Notices</h1>


<%= render_datatable(@datatable) %>

<script type="text/javascript" charset="utf-8">
  initializeDataTables();
</script>
</div>