<table class="total_table custom-address" border="0">
  <tbody>
  <tr><td></br></td></tr>
    <tr>
    <td class="health-connector-address" align="left"><strong>Commonwealth Health Insurance</strong><br>
            1225 Eye St NW Suite 400<br>
            Washington DC 20005<br>
        </td>
      <td colspan="2" align="right">
        <%= h(content_tag(:a, href: site_home_url, target: "_blank", rel: "noopener noreferrer") do %>
          <%= h(content_tag(:img, nil, src: "#{Rails.root}/app/assets/images/#{EnrollRegistry[:enroll_app].setting(:mailer_logo_file_name).item}", style: "height: auto; vertical-align: right;", width: "150")) %>
        <% end) %>
        </td>
    </tr>
  </tbody>
</table>
