<div class="content landing">
  <%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %>
  
  <div class="home">

    <div class="tab-row">
      <div class="tab-content" id="myTabContent"></div>

      <div class="container top-pd">
        <div class="row">
          <div aria-labelledby="inbox-tab" id="inbox" class="tab-pane-hbx" role="tabpanel">
            <div class="col-xs-12">
              <div class="notices_index_list">
                <div class='container'>
                  <h1>Notices</h1>
                </div>

                  <span class="pull-right">
                    <%= link_to 'Add Notice', new_notice_kind_path, class: "btn btn-primary notice-preview", remote: true %>
                    <%= link_to 'Download Notices', download_notices_notice_kinds_path, class: "btn btn-primary", target: '_blank' %>
                  </span>
                <%= render_datatable(@datatable) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  initializeDataTables();

  $(document).ajaxComplete(function() {
    CKEDITOR.replace('notice_kind_template_raw_body');
  })
</script>