Dear <%=applicant_name%>,
<br/><br/>
Thank you for submitting an application to DC Health Link to become an approved broker. 
We show you have not yet completed the required training administered through <a href="https://nahu.inreachce.com/Details?resultsPage=1&sortBy=&q=dc+broker&searchType=1&groupId=154ae22b-92eb-41f0-854b-3a9cabc20c8e">NAHU’s online platform<a/>
, and you are still missing carrier appointments with
<%unchecked_carriers.each do |k,v| %>
	<li><%=k.humanize.titleize%></li>
<%end%>
You can verify your carrier appointments <a href="https://sbs-dc.naic.org/Lion-Web/jsp/sbsreports/AgentLookup.jsp">here<a/> by searching by your name or NPN and clicking on your name.
Please also review our <a href="https://dchealthlink.com/sites/default/files/v2/forms/new_broker_registration.pdf">Broker Registration Guide<a/> for the full list of required carriers.
<br/><br/>