<html>
<body>
Dear <%= person.full_name.titleize %>,
<br />
<div>Thank you for submitting your broker application to <%= Settings.site.short_name %>. Please allow 7-10 business days for <%= Settings.site.short_name %> to review your application.</div>
<br />
<div>If there are any unsatisfied requirements you will receive an email notification detailing any outstanding requirements that must be satisfied before your application can be approved. Upon approval of your registration, you will receive an email from noreply@dchealthlink.com with important information about how to access your broker portal and how your clients can assign you as their broker.</div>
<br />
<div>Brokers need to fulfill the following requirements as detailed in the broker registration guide:
	<ul>
		<li><%= Settings.site.short_name %> Broker training course (worth 4 C.E. credits)</li>
		<li>Carrier Requirements: Appointments by all health insurance carrier licensed entity for the market in which you intend to sell</li>
		<li>DC resident or non-resident health insurance producer license that is active and in good standing</li>
	</ul>
</div>
<br />
<div>More information about these requirements is included in the <a href="https://dchealthlink.com/sites/default/files/v2/forms/new_broker_registration.pdf">Broker Registration Guide<a/></div>
<br />
<div>Please reach out to DC Health Link at dchl.producer@dc.gov with any questions.</div>
</body>
</html>