<html>
<body>
Congratulations <%= user.person.full_name %>,
<br />
<div>Your application is approved by DCHealthLink.</div>
<div>We've created an account for you. You can login with your email address and the following password</div>
<div><%= password %></div>
<div>Please click <%= link_to "View Account", broker_agencies_profile_url(agency_profile) %>.</div>
</body>
</html>