<html>
<body>
<%= person_name %>,
<br />
<div>Thank you for registering as a broker though DC Health Link.</div>
<div>Please visit <%= link_to "DC Health Link", claim_invitation_url(invitation) %> to create your broker account and manage your clients.</div>
</body>
</html>
