<html>
<body>
Congratulations <%= user.person.full_name %>,
<br />
<span>Your application is approved by DCHealthLink</span>
<%= link_to "View Account", broker_agencies_profile_url(agency_profile, host: "https://enroll1.dchealthlink.com") %>

<span>We've created an account for you. You can login with your email address and the following password</span>
<span><%= password %></span>
</body>
</html>