Dear <%=applicant_name%>,
<br/><br/>
 We regret to inform you that your broker application has been pending. Your application has been pending for the following reasons.
<br/><br/>
<ul>
	<%reasons.each do  |reason| %>
		<li><%=reason%></li>
	<%end%>
</ul>
<%= Settings.site.short_name %> is strongly committed to maintaining the privacy of your personal information and the security of our computer systems. With respect to the collection, use and disclosure of personal information, <%= Settings.site.short_name %> makes every effort to ensure compliance with applicable Federal law.
