Dear <%=first_name%>,
<br/><br/>
 You have a new message from DC Health LInk that may require action.   Please log in to your account
 on <a href="https://www.dchealthlink.com/"> DC HealthLink </a>.
<br/><br/>
Your Account: <%=hbx_id%>
<br><br/>
Questions?  Call <%= HbxProfile::CallCenterName %> at <%= HbxProfile::CallCenterPhoneNumber %>, or go online to <a href="https://www.dchealthlink.com/"> DC HealthLink </a>.
<br/><br/>
DC Health Link is strongly committed to maintaining the privacy of your personal information and the security of our computer systems. With respect to the collection, use and disclosure of personal information, DC Health Link makes every effort to ensure compliance with applicable Federal law.
