<html>
<body>
<%= person_name %>,
<br />
<div>Your employer has created a Health Benefits Program through <%= Settings.site.short_name %>.</div>
<div>Please visit <%= link_to "#{Settings.site.short_name}", claim_invitation_url(invitation) %> to learn more about your benefits and sign up for insurance during open enrollment.</div>
</body>
</html>
