<html>
<body>
<%= person_name %>,
<br />
<div>Your employer has created a Health Benefits Program through DC Health Link.</div>
<div>Please visit <%= link_to "DC Health Link", claim_invitation_url(invitation) %>to learn more about your benefits and sign up for insurance during open enrollment.</div>
</body>
</html>
