<html>
  <body>
    Hello <%= assister.last_name %>,
    <br />
    You received message from <%= person.last_name %> with help regarding plan shopping page.
    <br />
    Please contact them
    <br />
    Standard Boilerplate
  </body>
</html>
