<html>
  <body>
    Hello <%= broker.person.full_name %>,
    <br />
    You received message from <%= person.full_name %> with help regarding plan shopping page.
    <br />
    Here is the information requested:
    <br />
    <%= message_body %>
  </body>
</html>
