<html>
  <body>
    Hello <%=person.first_name %> <%= person.last_name %>,
    <br />
    You have made some progress with Enrollment in DC Healthlink.
    <br />
    You were assisted by <%=user.full_name %>, who is reachable at  <%= user.email %>
    <br />
    Standard Boilerplate
  </body>
</html>
