<html>
  <body>
    Hello <%= person.last_name %>,
    <br />
    You enrolled with assistance from  <%= current_user.person.last_name %> 
    <br />
    Please contact them by email <%= current_user.email %>
    <br />
    Standard Boilerplate
  </body>
</html>
