
<%= form_for(user, url: user_account_confirm_reset_password_path(user_id: @user_id, account_id: @account_id), method: :put, remote: true, html: {class: 'pull-right'}) do |f| %>
  <% if @error.present? %>
    <div class="reset-password-error"><%= @error %></div>
  <% end %>
  <%= f.text_field :new_password, class: 'form-control' %>
  <%= f.submit l10n('devise.passwords.admin.send_reset_password_instructions'), class: 'btn btn-default' %>
<% end %>