<!-- All filters section start -->
<div class="all-filters-row row">
	<button class="btn btn-default apply-btn">Apply</button>
	<div class="clearfix"></div>

	<div class="all-filters-detail">
		<div class="col-md-2 col-sm-2 col-xs-12">
			<p>Type</p>
			<label><input type="checkbox" class="plan-type-selection-filter" data-plan-category-filter="hmo">HMO</label>
			<label><input type="checkbox" class="plan-type-selection-filter" data-plan-category-filter="ppo">PPO</label>
			<label><input type="checkbox" class="plan-type-selection-filter" data-plan-category-filter="pos">POS</label>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<p>Network</p>
			<label><input type="checkbox">Nationwide</label>
			<label><input type="checkbox">DC In-Network</label>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<p>Level</p>
			<label><input type="checkbox" class="plan-metal-level-selection-filter" data-plan-metal-level-filter="bronze">Bronze</label>
			<label><input type="checkbox" class="plan-metal-level-selection-filter" data-plan-metal-level-filter="silver">Silver</label>
			<label><input type="checkbox" class="plan-metal-level-selection-filter" data-plan-metal-level-filter="gold">gold</label>
			<label><input type="checkbox" class="plan-metal-level-selection-filter" data-plan-metal-level-filter="platinum">Platinum</label>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<p>Premium</p>
			<label>
				<input type="text" value="$10"> to <input type="text" value="$200">
			</label>
			<p>Deductible</p>
			<label>
				<input type="text" value="$10"> to <input type="text" value="$200">
			</label>
		</div>
	</div>

</div><!-- All filters section start -->
