<div class="employee-welocome">
  <div class="row welcome-msg">
    <div class="col-md-9 col-sm-11 col-xs-12 no-pd">
      <div class="row text-center">
        <div class="col-md-12 col-sm-12 no-pd col-xs-12 text-left">
          <h4><strong>Thank you</strong></h4>
          <p>
          </p>
        </div>
        <%= link_to "Continue", person_person_landing_path(@person), :class => "btn btn-green btn-continue" %>
      </div>
    </div>
  </div>
</div>
