
<% if @employers.present? %>	
 <table class="table" style="with:60%">
	<% @employers.each do |employer| %>
  <tr>
    <td>
		  <div class="col-md-5 col-sm-5 col-xs-12 no-pd">
			  <%= render 'shared/employer', employer: employer %>
		  </div>
		  <div class="col-md-5 col-sm-4 col-xs-12 no-pd text-right">
			  <p>Not your employer? <a href="#"><u>Click Here</u></a></p>
		  </div>
    </td>
  </tr>
	<% end %>
</table>
<div class="col-md-5 col-sm-4 col-xs-12 no-pd text-right">
  <p>Change Details? <a href="#" class="change_personal_info"><u>Search Again</u></a></p>
</div>
<% end %>

<script>
  $(".change_personal_info").click(function(){
    $('.search-btn-row').removeClass('hidden');
    $('#employer-info').html("");
    $(".employer_info").html('');
  });
$('.search_continue').hide();
$(".badge").on('click',function(){
  $('.badge').removeClass('badge-active');
  $(".person-search-form").removeClass('person-search-form-active');
  $(this).toggleClass('badge-active');
  $(this).closest(".person-search-form").addClass('person-search-form-active');
  $('.search_continue').show();
});
$('.search_continue').on('click',function(){
      person_id = $(".badge-active").attr("person-id")
      employer_id = $(".badge-active").attr("employer-id")
      $.ajax({
        type: "POST",
        url: "/people/person_confirm.js",
        data: {person_id: person_id, employer_id: employer_id},
        success: function (result) {
        }
    });
})
</script>