<% if @employers.present? %>
	<p>
		<span> Please select your Employer.</span>
		<a class="pull-right" href="#">Search Again?</a>
	</p>

	<ul class="list-group">
		<% @employers.each do |employer| %>
			<li class="list-group-item">
				<div class="row skinned-form-controls skinned-form-controls-mac">
					<div class="col-md-3 col-sm-9 col-xs-9">
						<h4><%= employer.name %></h4>
					</div>
					<div class="col-md-7 col-sm-1 col-xs-1">
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2">
            <%= form_tag("", class: "person-search-form") do %>
            <% end %>
						<span id="badge" person-id="<%= @person.id %>" employer-id="<%= employer.id %>" class="badge" style="cursor:pointer"><i></i></span>
					</div>
				</div>
			</li>
      
		<% end %>
  </ul>
  <div style="float:right;padding-top: 20px;">
    <a href="#" class="btn btn-save search_continue" >Continue</a>
  </div>
<% end %>
<script>
$('.search_continue').hide();
$(".badge").on('click',function(){
  $('.badge').removeClass('badge-active');
  $(".person-search-form").removeClass('person-search-form-active');
  $(this).toggleClass('badge-active');
  $(this).closest(".person-search-form").addClass('person-search-form-active');
  $('.search_continue').show();
});
$('.search_continue').on('click',function(){
      person_id = $(".badge-active").attr("person-id")
      employer_id = $(".badge-active").attr("employer-id")
      $.ajax({
        type: "POST",
        url: "/people/person_confirm.js",
        data: {person_id: person_id, employer_id: employer_id},
        success: function (result) {
        }
    });
})
</script>