<div class="fail-search hidden notification-error-wrapper">
  <div class="col-md-1 col-sm-1 col-xs-1 no-pd">
      <span class="notice">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 no-pd error-text">
      <strong>No employer plan found.</strong> Check your personal information and try again OR contact <%= contact_center_name %>: <%= contact_center_phone_number %>.<p></p>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-1 no-pd">
      <a class="close-fail" href="#"><%= image_tag 'member-close.png' %></a>
  </div>
</div>
