<div class="fail-search hidden" class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 no-pd">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<a href="#" class="close-fail"><i class="fa fa-times"></i></a>
				<p class="fail">
					<span class="notice"><i class="fa fa-exclamation-triangle"></i></span>
					<span>No Employer plan found. Check your personal information and try again <strong>OR</strong><br>contact DCHBX phone support: 1-800-555-1212 option 1.</span>
				</p>
			</div>
		</div>
	</div>
</div>