<div class="col-sm-2 left-pd" id="sidebar_partial_value">
<div class="sidebar list-group text-center">
    <div id="personal_sidebar">
      <a href="#" class="personal_info list-group-item name">
        Name <br> Date of Birth <br>Gender <br> Social Security<div class="arrow-right"></div>
      </a>
      <a href="#" class="employer_info list-group-item hidden">Employer</a>
      <a class="address_info list-group-item address" href="#">
        Address <div class="arrow-right"></div>
      </a>
      <a class="phone_info list-group-item phone" href="#">
        Phone <div class="arrow-right"></div>
      </a>
      <a class="email_info list-group-item email sidebar-email-field" href="#">
        Email <div class="arrow-right"></div>
      </a>
      
      <a href="javascript:history.go(-1)" id="coverage-back" class="back list-group-item email sidebar-email-field" style="display:none;">
      	<span><i class="fa fa-angle-left"></i></span>Back
      </a>
      
      <a href="#" class="coverage-options list-group-item email sidebar-email-field hidden">
	  	<strong>Coverage <br>Options</strong>
	    <div class="arrow-right"></div>
	  </a>
    </div>

    <div id="search_sidebar" class="hidden">
      <%= link_to '#', class: 'list-group-item back' do %>
        <i class="fa fa-angle-left"></i> Back
      <% end %>
      
      <a href="#" class="list-group-item active search style_s_link results_link">
        <span class="span-one searching_span">Searching</span>
        <div class="arrow-right arrow-search search_arrow"></div>
      </a>
      <a href="#" class="list-group-item results">
        Results
        <div class="arrow-right arrow-search results_arrow" style="top: -7px;"></div>
      </a>
  </div>
</div>
</div>