<div class="sidebar list-group text-center">
  <% if page == 'new' %>
    <a style="padding-top: 125px;" class="personal_info list-group-item name style_s_link" href="#">
      Name <br> Birthdate <br>Gender <br> Social Security<div class="arrow-right"></div>
    </a>
    <a class="address_info list-group-item address" href="#">
      Address <div class="arrow-right"></div>
    </a>
    <a class="phone_info list-group-item phone" href="#">
      Phone <div style="top: 52px;" class="arrow-right"></div>
    </a>
    <a class="email_info list-group-item email sidebar-email-field" href="#">
      Email <div style="top: 20px;" class="arrow-right"></div>
    </a>
  <% elsif page == 'search' %>
    <%= link_to '#', remote: true, class: 'list-group-item back' do %>
      <i class="fa fa-angle-left"></i> Back
    <% end %>
    
    <a href="#" class="list-group-item active search style_s_link results_link">
      <span class="span-one searching_span">Searching</span>
      <!--<span class="span-two search_span" style="display:none;">Search</span>-->
      <div class="arrow-right arrow-search search_arrow"></div>
    </a>
    <a href="#" class="list-group-item results">
      Results
      <div class="arrow-right arrow-search results_arrow" style="top: -7px;"></div>
    </a>
  <% end %>
</div>