<div class="row welcome-msg">
  <div class="col-md-9 col-sm-11 col-xs-12 no-pd">
  	<div class="row">
  		<div class="col-md-12 col-sm-12 no-pd col-xs-12 text-left">
            <p>
              <span>Welcome.</span> Let’s get you signed up for health care. To start this process we will need some personal information to find your employer created records.
            </p>
          </div>
  	  </div>
	  <div class="row text-center"><br>
  		<a href="#" class="btn btn-continue" id="continue">Continue</a>
	  </div>
  </div>
</div>
