<div class="row welcome-msg">
  <div class="col-md-11 col-sm-12 col-xs-12 no-pd">
    <div class="col-md-10 col-sm-10 no-pd col-xs-12">
      <p>
        <span>Welcome.</span> Let’s get you signed up for health care. To start this process, we'll need some personal information to find your employer-created records.  In order to complete this process, you will need Social Security numbers and dates-of-birth for each family member that enrolls.
      </p>
    </div>
    <a href="#" class="btn btn-continue" id="continue">Continue</a>
  </div>
</div>