  <div class="container-fluid no-pd-left">          
    <div class="panel panel-default">
      <div class="panel-body left">
        
        <div class="col-sm-2 left-pd" id="sidebar_partial_value">
          <div class="sidebar list-group text-center">
            <div id="dependents_sidebar">
              <a href="#" class="personal_info list-group-item name">
                Dependent Details
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-10 col-sm-12">
          <a href="<%= person_landing_people_path(employer_id: params[:employer_id], person_id: params[:person_id])  %>" data-method="POST"> Landing Page</a>
          &nbsp;&nbsp;
          <a href="<%= plan_details_people_path(person_id: params[:person_id], employer_id: params[:employer_id])%>" data-method="POST"> Plan Details</a>
          
          <ul class="list-group">
            <% @employee.employee_family.census_dependents.each do |dependent| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-10 col-sm-8 col-xs-8">
                    <h4> <%= dependent.first_name %> <%= dependent.last_name %> </h4>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
          <button class="btn">New Member</button>
        </div>
      </div>
    </div>
  </div>