<div class="container">
	<div class="panel panel-default">
    	<div class="panel-body left" id="select-plan-container">
    		<%#= render 'people/sidebar' %>
    		
    		<div class="col-md-10 col-sm-12">
          <div class="col-md-10 col-sm-9 col-xs-12 no-pd">

            <div class="row select-plan">
      				<div class="col-md-12 col-md-sm-12 col-xs-12">
                <h3>Select a Plan.</h3>
                <p class="detail">
                  <span>Selecting a plan can feel tricky.</span> 
                  If you need help don't be afraid to ask for help. You can reach DCHBX support at 555-555-5555 ext 1. Click continue to see the covergae options your employer has available.
                </p>
                <a id="select-plan-btn1" class="text-center btn btn-save">Continue</a>
              </div>
                    
    				  <div class="col-md-12 col-sm-12 col-xs-12 select-plan-details">
    				          <section>
                        <div role="tabpanel">

                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#all-plans" aria-controls="all-plans" role="tab" data-toggle="tab">All Plans</a></li>
                            <li role="presentation"><a href="#hmo-plans" aria-controls="hmo-plans" role="tab" data-toggle="tab">HMO Plans</a></li>
                            <li role="presentation"><a href="#ppo-plans" aria-controls="ppo-plans" role="tab" data-toggle="tab">PPO Plans</a></li>
                            <li role="presentation"><a href="#high-deduc-plans" aria-controls="high-deduc-plans" role="tab" data-toggle="tab">High Deductible Plans</a></li>
                            <li class="pull-right all-filter" role="presentation"><a href="#" role="tab" data-toggle="tab">All Filters</a></li>
                          </ul>

                          <!-- All filters section start -->
                          <div class="all-filters-row row">
                            <button class="btn btn-default apply-btn">Apply</button>
                            <div class="clearfix"></div>

                            <div class="all-filters-detail">
                              <div class="col-md-3 col-sm-3 col-xs-12">
                                <p>Type</p>
                                <label><input type="checkbox">HMO</label>
                                <label><input type="checkbox">PPO</label>
                                <label><input type="checkbox">POS</label>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-12">
                                <p>Network</p>
                                <label><input type="checkbox">Nationwide</label>
                                <label><input type="checkbox">DC In-Network</label>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-12">
                                <p>Level</p>
                                <label><input type="checkbox">Bronze</label>
                                <label><input type="checkbox">Silver</label>
                                <label><input type="checkbox">Gold</label>
                                <label><input type="checkbox">Platinum</label>
                                <label><input type="checkbox">Catastrophic</label>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-12">
                                <p>Premium</p>
                                <label>
                                  <input type="text" value="$10"> to <input type="text" value="$200">
                                </label>
                                <p>Deductible</p>
                                <label>
                                  <input type="text" value="$10"> to <input type="text" value="$200">
                                </label>
                              </div>
                            </div>

                          </div><!-- All filters section start -->

                          <!-- Selected Plans section start -->
                          <div class="selected-plans-row row">
                            <p class="text-right">
                              <a class="close" href="#"><%= image_tag "dropdown-option-close.png" %></a>
                            </p>
                            <h3>Blue Cross / Blue Shield Preferred 500, A Multi State Plan for Complete Coverage</h3>
                            <h3>Kaiser Preferred Family Plan</h3>
                            <button class="btn default-btn outline-btn">Compare</button>
                          </div><!-- Selected Plans section end -->



                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="all-plans">

                              <!-- Plan first row start -->
                              <div class="plan-row">
                                <div class="row">
                                  <div class="col-md-8 col-sm-9 col-xs-12">
                                    <p>
                                      <span>Blue Cross / Blue Shield Preferred 500, A Multi State Plan for Complete Coverage</span>
                                    </p>
                                    <p>CareFirst BlueCross BlueShield</p>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-6">
                                    <label>
                                      <input type="checkbox">
                                      Compare
                                    </label>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-6">
                                    <h2>$149</h2>
                                    <p>monthly</p>
                                  </div>
                                </div><!-- Plan first row end -->
                                <!-- Plan details row start -->
                                <div class="row plan-details">
                                  <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
                                        <p>Type</p>
                                        <strong>HMO</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
                                        <p>Level</p>
                                        <strong>Gold</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd">
                                        <p>Network</p>
                                        <strong>Nationwide</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd">
                                        <p>Deductible</p>
                                        <strong>$500</strong>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-default details-btn">Details</button>
                                  </div>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-primary select-btn">Select</button>
                                  </div>
                                </div>
                              </div><!-- Plan details row end -->


                              <!-- Plan first row start -->
                              <div class="plan-row">
                                <div class="row">
                                  <div class="col-md-8 col-sm-9 col-xs-12">
                                    <p>
                                      <span>Kaiser Preferred Family Plan</span>
                                    </p>
                                    <p>Kaiser Permenante</p>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-6">
                                    <label>
                                      <input type="checkbox">
                                      Compare
                                    </label>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-6">
                                    <h2>$249</h2>
                                    <p>monthly</p>
                                  </div>
                                </div><!-- Plan first row end -->
                                <!-- Plan details row start -->
                                <div class="row plan-details">
                                  <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
                                        <p></p>
                                        <strong></strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
                                        <p></p>
                                        <strong></strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd">
                                        <p></p>
                                        <strong></strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd">
                                        <p></p>
                                        <strong></strong>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-default details-btn">Details</button>
                                  </div>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-primary select-btn">Select</button>
                                  </div>
                                </div>
                              </div><!-- Plan details row end -->

                            </div>

                            <div role="tabpanel" class="tab-pane" id="hmo-plans">

                              <!-- Plan first row start -->
                              <div class="plan-row">
                                <div class="row">
                                  <div class="col-md-8 col-sm-9 col-xs-12">
                                    <p>
                                      <span>Blue Cross / Blue Shield Preferred 500, A Multi State Plan for Complete Coverage</span>
                                    </p>
                                    <p>CareFirst BlueCross BlueShield</p>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-6">
                                    <label>
                                      <input type="checkbox">
                                      Compare
                                    </label>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-6">
                                    <h2>$149</h2>
                                    <p>monthly</p>
                                  </div>
                                </div><!-- Plan first row end -->
                                <!-- Plan details row start -->
                                <div class="row plan-details">
                                  <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
                                        <p>Type</p>
                                        <strong>HMO</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
                                        <p>Level</p>
                                        <strong>Gold</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd">
                                        <p>Network</p>
                                        <strong>Nationwide</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd">
                                        <p>Deductible</p>
                                        <strong>$500</strong>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-default details-btn">Details</button>
                                  </div>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-primary select-btn">Select</button>
                                  </div>
                                </div>
                              </div><!-- Plan details row end --> 
                              
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ppo-plans">

                              <!-- Plan first row start -->
                              <div class="plan-row">
                                <div class="row">
                                  <div class="col-md-8 col-sm-8 col-xs-12">
                                    <p>
                                      <span>Blue Cross / Blue Shield Preferred 500, A Multi State Plan for Complete Coverage</span>
                                    </p>
                                    <p>CareFirst BlueCross BlueShield</p>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-12">
                                    <label>
                                      <input type="checkbox">
                                      Compare
                                    </label>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-12">
                                    <h2>$149</h2>
                                    <p>monthly</p>
                                  </div>
                                </div><!-- Plan first row end -->
                                <!-- Plan details row start -->
                                <div class="row plan-details">
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="row">
                                      <div class="col-md-3 col-sm-3 col-xs-12 no-pd-right">
                                        <p>Type</p>
                                        <strong>HMO</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-12 no-pd-right">
                                        <p>Level</p>
                                        <strong>Gold</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
                                        <p>Network</p>
                                        <strong>Nationwide</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
                                        <p>Deductible</p>
                                        <strong>$500</strong>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                  <div class="col-md-2 col-sm-2 col-xs-12">
                                    <button class="btn btn-default details-btn">Details</button>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-12">
                                    <button class="btn btn-primary select-btn">Select</button>
                                  </div>
                                </div>
                              </div><!-- Plan details row end -->

                            </div>
                            <div role="tabpanel" class="tab-pane" id="high-deduc-plans">
                              
                              <!-- Plan first row start -->
                              <div class="plan-row">
                                <div class="row">
                                  <div class="col-md-8 col-sm-9 col-xs-12">
                                    <p>
                                      <span>Blue Cross / Blue Shield Preferred 500, A Multi State Plan for Complete Coverage</span>
                                    </p>
                                    <p>CareFirst BlueCross BlueShield</p>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-6">
                                    <label>
                                      <input type="checkbox">
                                      Compare
                                    </label>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-6">
                                    <h2>$149</h2>
                                    <p>monthly</p>
                                  </div>
                                </div><!-- Plan first row end -->
                                <!-- Plan details row start -->
                                <div class="row plan-details">
                                  <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="row">
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
                                        <p>Type</p>
                                        <strong>HMO</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd-right">
                                        <p>Level</p>
                                        <strong>Gold</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd">
                                        <p>Network</p>
                                        <strong>Nationwide</strong>
                                      </div>
                                      <div class="col-md-3 col-sm-3 col-xs-6 no-pd">
                                        <p>Deductible</p>
                                        <strong>$500</strong>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-default details-btn">Details</button>
                                  </div>
                                  <div class="col-md-2 col-sm-4 col-xs-12">
                                    <button class="btn btn-primary select-btn">Select</button>
                                  </div>
                                </div>
                              </div><!-- Plan details row end --> 

                            </div>
                          </div>

                        </div>
                      </section>
    				    </div>
              </div>
    		    </div>
            <div class="col-md-2 col-sm-3 col-xs-12 key no-pd-right" id="key-section">
              <%= submit_tag "Save & Exit", class: 'btn btn-save' %>
              <%= render 'shared/signup_progress' %>
            </div>
    	</div>
    </div>
  </div>
</div>