<% content_for :navigation do %>
  <%= render partial: 'ui-components/v1/navs/manage_account' %>
<% end %>

<div class="my-account-page">
  <h1>My Account</h1>
</div>

<div>
  <p>The Manage Account “home” page is a page to explain the access the user has for all features which are currently accessible. This is a page that will be accessible to all users of any tole within the Enroll App. Future features would provide user access to self service specific tasks that the call center does today like, user name changes, password resets, submitting a SSN/DOB change.</p>
</div>
