<div class="container card">
  <h1> Personal Information</h1>

  <p> Edit Information, When finished, select "Save Changes" to continue.</p>

  <%= render partial: 'people/person_information' %>
</div>

<style type="text/css">
  .card {
    padding: 5%;
    margin-top: 25px;
  }
</style>
