<a href="javascript:history.back()">Go Back to Landing Page</a>
<h3> Plans </h3>
<table style="width:80%">
  <tr>
    <td>
      <%= image_tag("aetna.png", size: "125x125", alt: "Aetna") %>
    </td>
    <td>
      <%= image_tag("care_first.jpg", size: "125x125", alt: "Aetna") %>
    </td>
    <td>
      <%= image_tag("Kaiser_Permanente.png", size: "125x125", alt: "Kaiser Permanente") %>
    </td>
    <td>
      <%= image_tag("united_health_care.jpg", size: "125x125", alt: "United Health Care") %>
    </td>
  </tr>
</table>