<% if !@dependent.is_primary_applicant %>
  $(".dependent_notice_div_<%= @family_member_id %>").closest("li").html('<p class="text-center">Family Member Removed.</p>').delay(3200).fadeOut(300);
  $("#dependent_buttons").removeClass('hidden');
<% else %>
  $(".flash_message").html('<p>Primary member can not be deleted.</p>').delay(3200).fadeOut(300);
<% end %>