<div class="container-fluid no-pd-left">
	<div class="panel panel-default">
    	<div class="panel-body left" id="select-plan-container">
    		<%= render 'people/sidebar' %>
    		
    		<div class="col-md-10 col-sm-12">
    			
    			<div class="row select-plan">
    				<div class="col-md-8 col-md-sm-9 col-xs-12">
                      <p><strong>Select a Plan.</strong></p>
                      <p class="detail">
                        <span>Selecting a plan can feel tricky.</span> 
                        If you need help don't be afraid to ask for help. You can reach DCHBX support at 555-555-5555 ext 1. Click continue to see the covergae options your employer has available.
                      </p>
                      <a id="select-plan-btn1" class="text-center btn btn-save">Continue</a>
                    </div>
                    
    				<div class="col-md-10 col-sm-9 col-xs-12 select-plan-details">
    				  <section>
                        <div role="tabpanel">

                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#all-plans" aria-controls="all-plans" role="tab" data-toggle="tab">All Plans</a></li>
                            <li role="presentation"><a href="#hmo-plans" aria-controls="hmo-plans" role="tab" data-toggle="tab">HMO Plans</a></li>
                            <li role="presentation"><a href="#ppo-plans" aria-controls="ppo-plans" role="tab" data-toggle="tab">PPO Plans</a></li>
                            <li role="presentation"><a href="#high-deduc-plans" aria-controls="high-deduc-plans" role="tab" data-toggle="tab">High Deductible Plans</a></li>
                            <li class="pull-right" role="presentation"><a href="#" role="tab" data-toggle="tab">See All Filters</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="all-plans">

                              <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">logo</div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">456</div>
                              </div>

                              <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">logo</div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">456</div>
                              </div>

                              <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">logo</div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">456</div>
                              </div>

                              <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">logo</div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">456</div>
                              </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="hmo-plans">

                              <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">logo</div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">456</div>
                              </div>

                              <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">logo</div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">456</div>
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="ppo-plans">

                              <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">logo</div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">456</div>
                              </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="high-deduc-plans">
                              <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">logo</div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">456</div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </section>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>