<div style="padding-top: 20px !important;">
  <h2> <%= l10n("hub.home_page.title") %> </h2>

  <p> <%= l10n("hub.home_page.description") %></p>

  <%= render partial: 'people/person_roles' %>
</div>

<style type="text/css">
  .row {
    margin: 0 auto;
  }
</style>
