<%- model_class = Person -%>

<% content_for :side_nav do %>
  <ul>
    <li>Name<br/>Birthdate<br/>Gender<br/>Social Security</li>
  </ul>
<% end %>

<section>
  <div class="col-md-12">
    <nav>
      <%= render 'shared/breadcrumb', crumbs: [
          link_to('People', people_path),
          @person.full_name
        ]
      %>
    </nav>
  </div>
</section>

<section id="show_form">
  <%= form_for(@person) do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</section>