<% content_for :navigation do %>
  <%= render partial: 'ui-components/v1/navs/manage_account' %>
<% end %>

<div class="documents-tab" style="padding-top: 0px !important;">
  <h2> My Hub </h2>

  <p> <%= l10n("exchange.hub.add_account_description") %></p>

  <%= render partial: 'people/person_roles' %>
</div>
