<div class="profile-content top-pd">
  <div class="tab-row">
    <div class="tab-content" id="myTabContent">
      <div class="container">
    <%= h render_datatable(@datatable,"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]], buttons: [
            'copy','csv','excel','print'
        ]) %>
      </div>
    </div>
  </div>
</div>