<div class="profile-content top-pd">
  <div class="tab-row">
    <div class="tab-content container" id="myTabContent">
      <h3>General Agency Staff</h3>
      <div class="table-border table-responsive">
        <table class="table">
          <tbody>
            <% @staffs.each do |staff| %>
            <tr>
              <td><%= link_to staff.person.first_name + ' ' + staff.person.last_name, edit_staff_general_agencies_profiles_path(id: staff.id), remote: true %></td>
              <td><%= GeneralAgencyProfile.find(staff.general_agency_profile_id).legal_name %></td>
              <td><%= staff.current_state %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
