<div class="container">
  <div class="col-xs-12 horizontal-status">
    <div>
      <div class="col-xs-4 step-one step">
        <div class="row">
          <div class="col-xs-2">
            <img src="ui/profilegreen_37.png" alt="Profilegreen 37">
          </div>
          <div class="col-xs-10">
            <span class="ttu dg twelve">
              STEP 1
            </span>
            <br>
            <span class="dg fourteen">
              <strong>
                Tell us about yourself
              </strong>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 arrow">
            <div class="row">
              <img src="ui/darkgreenarrow_354.png" alt="Darkgreenarrow 354">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 step-two step">
        <div class="row">
          <div class="col-xs-2">
            <img src="ui/cartgreen_40.png" alt="Cartgreen 40">
          </div>
          <div class="col-xs-10">
            <span class="ttu dg twelve">
              STEP 2
            </span>
            <br>
            <span class="dg fourteen">
              Compare plans and choose
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 arrow">
            <div class="row">
              <img src="ui/lightgreenarrow_354.png" alt="Lightgreenarrow 354">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 step-three step">
        <div class="row">
          <div class="col-xs-2">
            <img src="ui/pointergreen_42.png" alt="Pointergreen 42">
          </div>
          <div class="col-xs-10">
            <span class="ttu dg twelve">
              STEP 3
            </span>
            <br>
            <span class="dg fourteen">
              Enroll
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 arrow">
            <div class="row">
              <img src="ui/lightgreenarrow_354.png" alt="Lightgreenarrow 354">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
