  <nav class="top-border-30">
    <% if  @steps.last_step?(@current_step) %>
      <%= submit_tag 'Finish', :class => "btn btn-lg btn-primary"  %>
    <% else %>
       <%= submit_tag 'Next step', :class => "btn btn-lg btn-primary" %>
    <% end %>
  </nav>
  <% unless @current_step.to_i == 1 %>
    <p class="small-left-margin very-small-margin-top faded">
      <%= link_to 'Previous', previous_step_for %>
    </p>
  <% end %>

  <p class="small-left-margin very-small-margin-top faded">Save & Exit</p>
  <p class="row small-left-margin small-right-margin small-margin-top">
    If you select Save & Exit, you can save your work and continue where you left off the next time you login.
  </p>
  <div class="btn btn-default btn-block help-me-sign-up" data-target="#help_with_plan_shopping" data-toggle="modal">
    Help me sign up
  </div>

