h2.heading-text.pt-1 Select Your Reference Plan

h4 Now select a reference plan. The reference plan is used to cap employer costs. You’ll choose a reference plan. Then, your contribution towards employee premiums will be applied to the reference plan you choose regardless of which plans your employees select. After you select your reference plan, scroll down to review your costs.

#selectReferencePlans
  #availablePlans
  