- show_benefit_application_tile = params[:show_benefit_application_tile] ||= false  

.panel
  .panel-body
    .row
      .col-xs-8
        h3.heading-text.mt-0 #{f.object.reference_product.title}
      .col-xs-4
        a onclick="showPlanSelection()" Change reference Plan?
    .row
      table.table
        tbody
          tr
            th Type
            th Carrier
            th Metal Level
            th Network
          tr
            td #{f.object.reference_product.plan_kind}
            td #{f.object.reference_product.issuer_name}
            td Plan Metal Level
            td Plan Network
    .row
      h4.pl-1 Your Estimated Monthly Cost
    .row
      .col-xs-4
        h2.mt-0.heading-text.mt-0#rpEstimatedMonthlyCost
      .col-xs-3
        | Estimated monthly cost including all roster employees
      .col-xs-2
        strong.mb-1 Min
        br
        #rpMin
      .col-xs-2
        strong.mb-1 Max
        br
        #rpMax

- if show_benefit_application_tile == "true"
  javascript:
    var erCL = #{aca_shop_market_employer_contribution_percent_minimum};
    var familyCL = #{aca_shop_market_employer_family_contribution_percent_minimum};

    function setInputValue(element) {
      document.getElementById(element.dataset.id).value = element.value;
      contributionAmounts(element)
    }

    function setSliderValue(element) {
      document.querySelector("[data-id='"+element.id+"']").value = element.value;
      contributionAmounts(element)
    }
  
    function showPlanSelection() {
      document.getElementById('planSelection').classList.remove('hidden');
      document.getElementById('referencePlanEdit').classList.add('hidden');
      document.getElementById('scEdit').classList.add('hidden');
    }
  
    function disablePlanYearButton() {
      var savePlanYearButton = document.getElementById('submitBenefitPackage');
      savePlanYearButton.classList.add('disabled')
    }
  
    function enablePlanYearButton() {
      var savePlanYearButton = document.getElementById('submitBenefitPackage');
      savePlanYearButton.classList.remove('disabled')
    }
  
    var eeContribution;
    var spouse;
    var domesticPartner;
    var childUnder26;
    var employeeOnly;
    var familyOnly;
    var contributionInputs;
    
    function contributionAmounts(element) {
      contributionInputs = document.querySelectorAll("[data-contribution-input='true']")
      contributionHandlers = document.querySelectorAll(".contribution_handler")

      contributionInputs.forEach(function(element) {
        switch (element.dataset.displayname) {
          case 'Employee':
            eeContribution = element.value;
          break;
          case 'Spouse':
            spouse = element.value;
          break;
          case 'Domestic Partner':
            domesticPartner = element.value;
          break;
          case 'Child Under 26':
            childUnder26 = element.value;
          break;
          case 'Employee Only':
            employeeOnly = element.value;
          break;
          case 'Family':
            familyOnly = element.value;
          break;
        }
      })

      contributionHandlers.forEach(function(element) {
        switch (element.dataset.displayname) {
          case 'Employee':
            if(!(element.checked)) {
              eeContribution = 100
            }
          break;
          case 'Spouse':
            if(!(element.checked)) {
              spouse = 100
            }
          break;
          case 'Domestic Partner':
            if(!(element.checked)) {
              domesticPartner = 100
            }
          break;
          case 'Child Under 26':
            if(!(element.checked)) {
              childUnder26 = 100
            }
          break;
          case 'Employee Only':
            if(!(element.checked)) {
              employeeOnly = 100
            }
          break;
          case 'Family':
            if(!(element.checked)) {
              familyOnly = 100
            }
          break;
        }
      })

      if (eeContribution < erCL || employeeOnly < erCL) {
        disablePlanYearButton()
      } else if (familyOnly < familyCL || spouse < familyCL || domesticPartner < familyCL || childUnder26 < familyCL) {
        disablePlanYearButton()
      } else {
        enablePlanYearButton()
      }
    }

    