<% if @bs4 %>
  <div class="mt-4 mb-4">
    <%= label_tag :expiration_date, l10n("insured.consumer_roles.docs_shared.expiration_date", name: name), class: "weight-n #{!FinancialAssistanceRegistry.feature_enabled?(:optional_document_fields) ? "required" : ""}doc_fields" %>
    <%= v.date_field :expiration_date, {id: "doc_date_field", class: "#{!FinancialAssistanceRegistry.feature_enabled?(:optional_document_fields) ? "required" : "" } date-field doc_fields", placeholder: l10n("insured.consumer_roles.docs_shared.expiration_date", name: name)} %>
  </div>
<% else %>
<div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
  <%= v.text_field :expiration_date, {id: "doc_date_field", class: "date-field doc_fields", placeholder: l10n("insured.consumer_roles.docs_shared.expiration_date", name: name)} %><br>
</div>

<script>
  $(function() {
    $( "#doc_date_field" ).datepicker({
      dateFormat: 'mm/dd/yy'
   });
  });
</script>
<% end %>
