<div class="col-xs-10 add-employee-tab">
<%= form_for @census_employee, url: census_members_plan_design_census_employees_path(proposal_id: @plan_design_proposal.id) do |f| %>
  <%= render 'form', f: f %>
<% end %>
</div>
