$mhc-dark-blue: #005e81;
$mhc-blue: #247dc5;
$mhc-dark-gray: #706f6d;
$mhc-gray: #6d6e70;
$mhc-orange: #c56c24;
$mhc-red: #812200;

$primary-orange: $mhc-orange;
$primary-red: #d9534f;
$primary-button-disabled: #c9302c;
$primary-button-borer-disabled: #ac2925;
$primary-button-border: #b7191b;
$primary-blue: $mhc-blue;
$primary-white: #ffffff;
$primary-button-text: #ffffff;
$primary-green: #69A30D;
$primary-black: #5C5C5C;
$primay-active-button-text-color: #ffffff;
$primary-bold: 600;
$primary-light: 300;
$primary-gray: $mhc-gray;
$primary-light-gray: #f2f2f2;
$primary-dark-gray: #7b7b7b;
$primary-button-text-casing: uppercase;
$primary-border-radius: .5rem;
$primary-input-border: solid 1px #b7b7b7;

$float-labels-text-size: 10px;
$float-labels-weight: bold;
$float-labels-color: rgb(131, 135, 128);
$float-labels-casing: uppercase;

$secondary-button-text: $primary-blue;
$secondary-button-background: transparent;
$secondary-button-border: $primary-blue;
$secondary-button-text-casing: capitalize;

$background-hover: #eeeeee;

$font-family-base: 'arial';
$headings-font-family: 'Roboto Slab';
$headings-color: $primary-orange;
$gray: #4b7c2b;
$brand-success: #5cb85c;
$brand_info: #006494;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-primary: $mhc-dark-blue;
