<div class="col-md-4 col-sm-10 no-pd form-group-lg app-status white-background" id = "applicant_<%= applicant.id %>">
  <%= render '/financial_assistance/shared/info_needed', applicant: applicant%>
</div>

<div class="col-md-8 col-sm-2 form-group-lg white-background right">
  <% path = h(tax_info_application_applicant_path(applicant.application, applicant)) %>
 <% if applicant.workflow.present? %>
    <%= h(link_to raw("<i class='fa fa-file-text-o fa-lg' aria-hidden='true'></i>EDIT INCOME & COVERAGE INFO"), tax_info_application_applicant_path(applicant.application, applicant), id: 'btn btn-default') %>
  <% else %>
    <%= h(link_to raw("<i class='fa fa-file-text-o fa-lg' aria-hidden='true'></i>ADD INCOME & COVERAGE INFO"), tax_info_application_applicant_path(applicant.application, applicant), id: 'btn btn-default add') %>
  <% end %>
</div>
