<div class="border-sides form-content">
  <div class="row ptb no-buffer row-height" style="padding-top: 5px !important;padding-bottom: 5px !important;">
    <div class="col-md-6"><%= form_field[0] %></div>
    <div class="col-md-6"><%= form_field[1] %></div>
  </div>
</div>