<div class="er-medicaid mt-2">
  <div class="border-bottom-1px"></div>
    <div class="er-success bg-success">
        <div class="text-success pl-1 pr-1">
            <p>                    
              <%= l10n("faa.mc_success") %>
            </p>
            <p><%= l10n("faa.mc_continue") %></p>
        </div>
    </div>
</div>