<% insurance_kinds = FinancialAssistance::Benefit.valid_insurance_kinds %>
<% insurance_kinds.each do |insurance_kind| %>
  <% benefits = applicant.benefits.where(kind: kind).of_insurance_kind(insurance_kind) %>
  <% if benefits.present? %>
    <div class="row ptb no-buffer row-height form-heading row-form-wrapper text-bold verti-line-trans">
      <div class="col-md-6">TYPE</div>
      <div class="col-md-6">DATES</div>
    </div>
  <% end %>

  <% benefits.each do |benefit| %>
    <div class="row ptb no-buffer row-height row-benefit-form-wrapper verti-line">
      <div class="col-md-6 form-heading"><%= l10n("faa.question.#{insurance_kind}", short_name: EnrollRegistry[:enroll_app].setting(:short_name).item) %></div>
      <div class="col-md-6 form-content"><%= start_to_end_dates(benefit) %></div>
    </div>

    <% if ['employer_sponsored_insurance', 'health_reimbursement_arrangement'].include?(benefit.insurance_kind) %>
      <%= render partial: 'financial_assistance/applications/review_esi_benefit', locals: {benefit: benefit} %>
    <% end %>
  <% end %>
<% end %>
