<div class="col-md-7">
  <div class="">
    <p class="alert alert-error hide"></p>
    <h1 class="darkblue">Error Submitting Application</h1>
    <h4 class="darkblue"><%= l10n('faa.publish_error.second_error_message') %></h4>
  </div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
</div>
<%= render partial: "/ui-components/v1/modals/help_with_plan"  %>
