<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">

    <% content_for :primary_member_fa do %>
      <div class="row row-form-wrapper no-buffer faa-row">
        <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
          <%= render "financial_assistance_row", applicant: @application.primary_applicant %>
        </div>
      </div>
    <% end %>

    <% @application.non_primary_applicants.each do |applicant| %>
      <% content_for "person_#{applicant.id}" do %>
        <div class="row row-form-wrapper no-buffer">
          <%= render "financial_assistance_row", applicant: applicant %>
        </div>
      <% end %>
    <% end %>

    <%= render partial: 'financial_assistance/applicants/applicants', locals: {bs4: true} %>

</div>

