<% if @bs4 %>
  <div id="new_person_wrapper">
    <div class="d-flex full-height justify-content-center align-items-center text-center">
      <div>
        <h1><%= l10n("faa.getting_eligibility") %></h1>
        <div class="d-flex justify-content-center align-items-center mt-4 mb-4">
          <i class="fa fa-circle-notch fa-4x fa-spin" aria-hidden="true"></i>
        </div>
        <p><%= l10n("faa.page_refresh") %></p>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div id="new_person_wrapper">
      <div class="row">
        <div class="col-md-7">
          <div class="">
            <p class="alert alert-error hide"></p>
            <div align = "center">
              <h1 class="darkblue"><%= l10n("waiting_for_eligibility") %></h1>
              <i class="fa fa-spinner fa-4x fa-spin" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
