%composite_rating_tier
  %tier_name= "urn:openhbx:terms:v1:composite_rating_tier##{composite_tier_contribution.composite_rating_tier}"
  %premium= composite_tier_contribution.estimated_tier_premium
  %contribution_percent= composite_tier_contribution.employer_contribution_percent