%relationship_benefit
  %relationship= "urn:openhbx:terms:v1:employee_census_relationship##{relationship_benefit.relationship}"
  %offered= relationship_benefit.offered?
  %contribution_percent= relationship_benefit.premium_pct
