<script
  src="https://apps.usw2.pure.cloud/widgets/9.0/cxbus.min.js"
  integrity="sha256-xu/77TCuC3IZ/W5KG2pVdVZz727kPOiK2MkVTlFBjEE=" crossorigin="anonymous"
  onload="javascript:CXBus.configure({debug:false,pluginsPath:'https://apps.usw2.pure.cloud/widgets/9.0/plugins/'}); CXBus.loadPlugin('widgets-core');"
></script>

<script>
  window._genesys = {
    widgets: {
      webchat: {
        transport: {
          type: 'purecloud-v2-sockets',
          dataURL: 'https://api.usw2.pure.cloud',
          deploymentKey: '<%= ENV['LIVE_CHAT_DEPLOY_KEY'] || '60b16add-5e86-4be1-86b4-c1e870cef2ed' %>',
          orgGuid: '72ccb33f-2747-4e02-aa7e-4030bdc11f13',
          interactionData: {
            routing: {
              targetType: 'QUEUE',
              targetAddress: '',
              priority: 2,
            },
          },
        },
        userData: {
          addressStreet: '',
          addressCity: '',
          addressPostalCode: '',
          addressState: '',
          phoneNumber: '',
          customField1Label: '',
          customField1: '',
          customField2Label: '',
          customField2: '',
          customField3Label: '',
          customField3: '',
        },
      },
    },
  };

  function getAdvancedConfig() {
    return {
      form: {
        autoSubmit: false,
        firstname: '',
        lastname: '',
        email: '',
        subject: '',
      },
      formJSON: {
        wrapper: '<table></table>',
        inputs: [
          {
            id: 'cx_webchat_form_firstname',
            name: 'firstname',
            maxlength: '100',
            placeholder: 'Optional',
            label: 'First Name',
            validateWhileTyping: false, // default is false
          },
          {
            id: 'cx_webchat_form_lastname',
            name: 'lastname',
            maxlength: '100',
            placeholder: 'Optional',
            label: 'Last Name',
            validateWhileTyping: false, // default is false
          },
          {
            id: 'cx_webchat_form_email',
            name: 'email',
            maxlength: '100',
            placeholder: 'Optional',
            label: 'Email',
            validateWhileTyping: false, // default is false
          },
          {
            id: 'cx_webchat_form_phoneNumber',
            name: 'phonenumber',
            maxlength: '100',
            placeholder: 'Optional',
            label: 'Phone Number',
          },
          {
            id: 'cx_webchat_form_customselect',
            name: 'customselect',
            placeholder: 'Required',
            label: 'Topic',
            type: 'select',
            required: 'Please select an option',
            options: [
              {
                text: 'Required',
                hidden: 'hidden',
                value: 'na',
              },
              {
                text: 'Manage my CoverME.gov Account',
                value: 'A',
              },
              {
                text: 'Open Enrollment & Eligibility',
                value: 'B',
              },
              {
                text: 'Documentation Questions',
                value: 'C',
              },
              {
                text: 'Special Enrollment Period (SEP)',
                value: 'D',
              },
            ],

            validate: function (
              event,
              form,
              input,
              label,
              $,
              CXBus,
              Common
            ) {
              if (input != undefined) {
                if (
                  document.getElementById('cx_webchat_form_customselect')
                    .value != 'na'
                )
                  return true;
                else return false;
              }
              return false;
            },
            wrapper:
              '<tr><th>{label}</th><td>{input}</td></tr>' /* input row wrapper */,
          },
        ],
      },
    };
  }

  const customPlugin = CXBus.registerPlugin('Custom');

  <% if EnrollRegistry.feature_enabled?(:live_chat_widget_error_logging) %>
    // throw error when the webchat gets rejected or has an error for visibility

    customPlugin.subscribe('WebChat.rejected', function(e){
      console.error("rejected chat", e.stack);
    });

    customPlugin.subscribe('WebChat.error', function(e){
      console.error("chat error", e.stack);
    });
  <% end %>
</script>
