<div class="profile-content top-pd" id="myTabContent">
  <div class="tab-row">
    <div class="tab-content">
     <div class="container plan-design-proposal">
      <%= render 'shared/engines/horizontal_status', step:3 %>

    </div>
    </div>
</div>
</div>
