<!DOCTYPE html>
<html>
<head>
  <title>SponsoredApplications</title>
  <%= stylesheet_link_tag    "sponsored_applications/application", media: "all" %>
  <%= javascript_include_tag "sponsored_applications/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
