* {
    font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #f2f2f2;
  padding:0;
}
html {
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.enroll-lead {
  font-weight: 300;
  line-height: 1.6em;
}
/* Navbar */
.header-text {
  color: #b7b7b7;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar {
  max-height:70px;
  border-bottom: solid 3px #007bc4;
  background:#fff;
}
.navbar-brand {
  min-height:67px;
  min-width:150px;
  background-repeat: no-repeat;
  background-size: 140px 70px;
}
.navbar-header {
  float:left;
  margin-top:0;
  border-right: solid 1px #d7d7d7;
}
.navbar-interaction {
  color: #5C5C5C;
}
.navbar-menu-item {

}
.navbar-text {
  min-height:67px;
}

.fa-phone {
  color:#007bc4;
}

/* Global primary button style */
.btn-primary {
  color: #ffffff;
  background-color: #e72b2d;
  border-color: #b7191b;
  text-transform: uppercase;
  font-weight: 600;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-width: medium;
}
.btn-primary:hover {
  background: #b7191b;
  border-color: #b7191b;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-width: medium;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #e72b2d;
  border-color: #e72b2d;
}
.btn-outline-primary {
  background-color: #fff;
  font-weight: 600;
}

/* Left Nav */
#left-nav .badge-primary {
  background:#e72b2d;
}

.list-group-item-action {
  border:none;
  background:none;
}
.list-group-item-action.active {
  background:#007bc4;
  border-left: solid 5px #cbe6ff;
}
.list-group-item-action:hover {
  background:#007bc4;
  color:#fff;
}
.list-group-item-action {
  width: 100%;
  text-align: inherit;
  color:#cbe6ff;
  background:#007bc4;
}
.heading {
  color:#003260;
}

/* Containers */
.broker-registration-container {
  background:#fff;
}