

<span class="badge <%= bs4 ? 'badge-status badge-blue mb-2' : 'badge-alt-blue mb-1 p-2' %> mr-1" data-target="bulk-notice.recipientBadge">
  <%= hidden_field_tag 'admin_bulk_notice[audience_ids][]', id %>
  <%= hbx_id %>
  <% if bs4 %>
    <button data-action='bulk-notice#deleteIdentifier' class='text-white unstyled'>
      <i class="far fa-times-circle"></i>
    </button>
  <% else %>
    <a data-action='bulk-notice#deleteIdentifier' class='text-white' href>
      <i class="far fa-times-circle"></i>
    </a>
  <% end %>
</span>