<div class="row focus_effect personal-info-row">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12">
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :area_code, class: "floatlabel form-control",  placeholder: "AREA CODE", required: 'true', maxlength: '3'%>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :number, class: "floatlabel form-control", placeholder: "NUMBER", required: 'true', maxlength: '7' %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :extension, class: "floatlabel form-control", placeholder: "EXTENSION"%>
      </div>
    </div>
  </div>
</div>
