.fail-search.notification-error-wrapper
  .col-md-1.col-sm-1.col-xs-12.no-pd
    %span.notice
      %i.fa.fa-exclamation-triangle

  .col-md-10.col-sm-10.col-xs-10.no-pd.error-text
    %strong= l10n("insured.employee_roles.no_employer_found")
    = l10n("insured.employee_roles.no_match_info", contact_center_name: Settings.contact_center.name, contact_center_phone_number: Settings.contact_center.phone_number)

  .col-md-1.col-sm-1.col-xs-2.no-pd
    = link_to image_tag('member-close.png'), '#', class: 'close-fail'
