%h3 Healthcare Marketplace

- @employment_relationships.each do |er|
  %p
    =er.employer_name
    has added you as an employee. You're eligible for coverage starting
    ="#{format_date er.eligible_for_coverage_on}."
    = render partial: "insured/employee_roles/employment_relationships"
