<div class="container module employee-welcome">
  <h1 class="darkblue">
    <%= l10n(".your_information") %>
  </h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <%= l10n("insured.employee_roles.privacy.privacy_info_html", site_short_name: site_short_name) %>
      <%= h(link_to l10n(".view_privacy_act_statement"), site_privacy_policy, target: "_blank", rel: "noopener noreferrer") %>

    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <%= link_to l10n("continue").to_s.upcase, search_insured_employee_index_path, class: 'btn btn-primary btn-block btn-lg' %>
    </div>
  </div>
</div>
