<html>
  <body>
    Hello <%= user.last_name %>,
    <br />
    <div>In case you are not able to view the attachment, please <%= link_to("click here", "/") %>. Or login to view the message</div>
  </body>
</html>