<%=pundit_span Family, :updateable? %>
     <ul class='col-xs-12 col-md-5 col-lg-5'> 
      <li> <%=link_to 'New Consumer Phone Application', begin_consumer_enrollment_exchanges_agents_path(
      original_application_type: 'phone')  %> <br/></li>

      <li> <%=link_to 'New Consumer Paper Application', begin_consumer_enrollment_exchanges_agents_path(
      original_application_type: 'paper')  %> </li>
     </ul>
</span>     