<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 padding_none">
  <h3> Message Details </h3>
</div>
<%- if message.present? %>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 padding_none">
  <ul class="list-group">
    <li class="list-group-item"> Sent By:  <%= sanitize("System Admin") %> <br></li>
    <li class="list-group-item"> Subject:  <%= sanitize(message.try(:subject)) %> <br></li>
    <li class="list-group-item"> Content:  <%= sanitize(message.try(:body)) %> <br></li>
  </ul>
  <a class="btn btn-danger msg_cancel_btn" href="#"><i class="fa fa-times interaction-control-inbox-cancel"></i> Cancel</a>
</div>
<% end %>
