
<% if current_user.has_csr_subrole? %>

<div class="content landing">
  <%= render "exchanges/agents/primary_nav", :active_tab => "home-tab" %>
  <div class="container top-pd">
    <div aria-labelledby="inbox-tab" id="inbox" class="tab-pane-hbx" role="tabpanel">
      <div class="col-xs-12">
          <%= render 'consumer_application_links' %>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class='content'>
   <div class='container top-pd'>
       <h4> <%= @title%> </h4>
       <br/>
       <div class='col-md-12 col-lg-12'>
         <p> After working on an enrollment return to this page via the person icon in the header </p>
         <br/>
       </div>
        <br/>
        <div>
            <div id='inbox'>
            <div class="row col-md-10">
               <%=render 'message_list', provider: current_user.person %>
            </div>
           </div>
        </div>
    </div>
</div>

<% end %>
