<% content_for :content do %>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render '/magi_medicaid/shared/mm_left_nav'%>
      </div>

      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/magi_medicaid' %>
