<div class="row emp-welcome-msg">
	<div class="col-md-11 col-sm-12 col-xs-12 no-pd">
	  <div class="col-md-10 col-sm-10 no-pd col-xs-12">
	    <p>
	      <span>Employer registration begins here.</span> Let’s get you signed up for health care. Lorem ipsum dolot sit amet. Ut enim ad minim vineam, quis nostrud exarciation ullamco laboris nisi ut.
	    </p>
	  </div>
	  <div class="clearfix"></div>
	  <a href="#" class="btn btn-continue" id="continue">Yes!</a>
	</div>
</div>