<style>
  .audit-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
  }

  .filters-container {
    margin-bottom: 10px;
  }

  .filters-toggle {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
  }

  .filters-text {
    color: #323130;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
  }

  .filters {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    gap: 12px;
  }

  .filter-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .filter-row label {
    color: #605E5C;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .filter-row input,
  .filter-row select {
    display: flex;
    padding: 10px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 3px;
    border: 1px solid #8E8A86;
    background: #FFF;
  }


  #run-query {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: block; /* Ensure the button is a block element to start on a new line */
    margin-top: 10px; /* Adjust the margin as needed */
  }


  #export-table {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  #run-query,
  #export-table {
    display: flex;
    align-items: flex-start;
  }

  .event-log-header.h3 {
    color: #323130;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  th.sortable:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .display-none {
    display: none;
  }

  .audit-with-arrow {
    width: 5%;
  }

  .audit-col-2, .audit-col-3 {
    width: 20%;
  }

  .audit-col-4 {
    width: 35%;
  }

  .audit-col-4 {
    width: 20%;
  }

  .audit-col-5 {
    width: 15%;
  }
</style>

<div class="audit-log-tab">
  <div>
    <h1>Audit Log</h1>
    <h2>Sunland Cookie Co.</h2>
    <p>HBX ID: 105609</p>
    <p>Please use the filters below to see specific actions taken on this organization.</p>

    <div class="filters-container">
      <div id="filters-toggle" class="filters-toggle">
        <span class="glyphicon glyphicon-chevron-right" id="filters-arrow"></span>
        <span class="filters-text">Filters</span>
      </div>
      <div class="filters" id="filters">
        <div class="filter-row">
          <label for="eligibility">Eligibility</label>
          <select id="eligibility">
            <option value="OSSE">OSSE Eligibility</option>
          </select>
        </div>
        <div class="filter-row">
          <label for="user-id">HBX User / ID</label>
          <input type="text" id="user-id">
        </div>
        <div class="filter-row">
          <label for="start-date">Start Date Range</label>
          <input type="date" id="start-date">
        </div>
        <div class="filter-row">
          <label for="end-date">End Date Range</label>
          <input type="date" id="end-date">
        </div>
      </div>
      <div class="run-query">
        <button id="run-query">Run Query</button>
      </div>
    </div>

    <div class="event-log-header">
      <h3><b>Event Log for 105609</b></h3>
      <button id="export-table">Export Table</button>
    </div>
    <div id="audit-table-data">

    </div>

  </div>
</div>


<script>
  // Make an AJAX call on page load
  $(document).ready(function() {

    const filtersToggle = $('#filters-toggle');
    const filters = $('#filters');
    const arrow = $('#filters-arrow');
    const runQueryButton = $('#run-query');
    const eligibilityFilter = $('#eligibility');
    const userIdFilter = $('#user-id');
    const startDateFilter = $('#start-date');
    const endDateFilter = $('#end-date');

    filtersToggle.on('click', function(e) {
      if (filters.css('display') === 'none') {
        filters.css('display', 'flex');
        arrow.removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
        runQueryButton.show();
      } else {
        filters.css('display', 'none');
        arrow.removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
        runQueryButton.hide();
      }
    });

    // Initially hide the "Run Query" button
    runQueryButton.hide();

    runQueryButton.on('click', function() {
      $.ajax({
        type: "POST",
        url: '/audit_logs',
        dataType: 'script',
        data: {
          eligibility: eligibilityFilter.val(),
          user_id: userIdFilter.val(),
          start_date: startDateFilter.val(),
          end_date: endDateFilter.val(),
          // Add more filters as needed
        },
        success: function(response) {
          // Handle success
          // console.log('AJAX call successful:', response);
        },
        error: function(error) {
          // Handle error
          console.error('AJAX call error:', error);
        }
      });
    });

    $.ajax({
      type: "POST",
      url: '/audit_logs',
      dataType: 'script',
      data: {
      },
    });

  });
</script>
