<div class="brokers-tab">
  <% if @employer_profile.broker_agency_profile.present? && @broker_agency_account.writing_agent.present? %>
    <%= render partial: "benefit_sponsors/profiles/employers/broker_agency/active_broker", locals: {direct_terminate: true} %>
  <% else %>
    <div id="brokers-empty">
      <h1 class="heading-text">Brokers</h1>
      <p class="twenty">
        You have no active Broker. A Broker is your personal advocate and trusted adviser who at no cost to you, can help you set up and administer your Health Benefits Program. You can get help from a Broker at any time.</p>
      <p class="twenty">To learn more about what a Broker can do for you, Download <%= site_short_name %>'s <%= link_to 'Guidance for Business Owners', site_guidance_for_business_owners_url, {:target => 'pdfWindow'} %>.</p>
      <p class="twenty">Select 'Browse Brokers' to continue.</p>
    </div>

    <div id="browse_brokers">
      <%= render "benefit_sponsors/profiles/employers/broker_agency/active_broker" %>
    </div>
  <% end %>
</div>
