<br/><br/>
<% url, http_method = add_new_pdc_exchanges_hbx_profiles_path, :post %>
<%= form_tag url, method: http_method, remote: true, class: 'input' do %>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 1px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 10px;
  text-align: center;
}
</style>

<div id= "createeligibility" class="grid-container">

	<div class="grid-item"> Name
	</div>

	<div class="grid-item"> SSN
	</div>

	<div class="grid-item"> DOB
	</div>

	<div class="grid-item"> HBX ID
	</div>

	<div class="grid-item"> Active Enrollments
	</div>

	<div class="grid-item"> PDC Type
	</div>

	<div class="grid-item"> Reason
	</div>

	

</div>	

<% end %>