<h1><%= l10n("broker_registration")%></h1>
<!-- <div id="broker_agency_type" class="row no-buffer">
  <div class="col-lg-6 col-md-9 col-xs-12 form-group form-group-lg">
    <div class="btn-group" role="group" aria-label="">
      <div class="btn-group" data-toggle="buttons" name="broker_agency_tabs">
        <label class="btn btn-default <%= 'active' if @agency_type == 'existing' %>">
          <input type="radio" name="options" id="existing_broker_agency" autocomplete="off" value="existing" checked> EXISTING BROKER AGENCY
        </label>
        <label class="btn btn-default <%= 'active' if @agency_type == 'new' %>">
          <input type="radio" name="options" id="new_broker_agency" autocomplete="off" value="new"> NEW BROKER AGENCY
        </label>
      </div>
    </div>
  </div>
</div> -->
