<!-- Modal -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="ssn-table">
          <div class="ssn-overview">
            <%= render partial: 'insured/families/modals/tables/ssn' %>
          </div>
          <div class="ssa-request">
            <%= render partial: 'insured/families/modals/tables/ssa_request' %>
          </div>
          <div class="ssa-response">
            <%= render partial: 'insured/families/modals/tables/ssa_response' %>
          </div>
        </div>
        <div class="citizenship-table">
          <%= render partial: 'insured/families/modals/tables/citizenship' %>
        </div>
      </div>
    </div>
  </div>
