<select required=required" name="organization[office_locations_attributes][<%= @child_index.to_i  %>][address_attributes][county]"
        id="organization_office_locations_address_attributes_county" tabindex="-1">
    <option value="">SELECT COUNTY</option>
    <% @counties.pluck(:county_name).each do |county| %>
      <option value="<%=county%>"><%=county%></option>
    <%end%>
</select>