<div id="credential_info" class="focus_effect row personal-info-row margin-top" style="opacity: 0.5;">
  <div class="phone col-md-10 col-sm-9 col-xs-12 no-pd first">
    <div class="row top-row">
      <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg">
        <input type="text" class="floatlabel form-control border-bottom-none border-right-none" placeholder="CREATE USERNAME"> 
      </div>
      <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg">
        <input type="text" class="floatlabel form-control border-bottom-none" placeholder="CONFIRM USERNAME">
      </div>
    </div>
    <div class="row middle-row">
      <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg">
        <input type="text" class="floatlabel form-control border-right-none" placeholder="CREATE PASSWORD">
      </div>
      <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg">
        <input type="text" class="floatlabel form-control" placeholder="CONFIRM PASSWORD">
      </div>
    </div>
    <div class="row bottom-row">
      <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg">
        <input type="text" class="floatlabel form-control border-right-none" placeholder="SECURITY QUESTION">
      </div>
      <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg">
        <input type="text" class="floatlabel form-control" placeholder="SECURITY ANSWER">
      </div>
    </div>
    <div class="error">
      <div class="warning"><i class="fa fa-exclamation-triangle"></i>
        All fields Required</div>
    </div>
  </div>
</div>