<h3>Communication Preferences</h3>
<p class="twenty">Please indicate preferred method to receive notices (optional)</p>
<div class="row row-form-wrapper no-buffer">
<div class="form-group form-group-lg no-pd">
  <div class="col-xs-6">
    <%= f.select :contact_method, options_for_select(["Only Electronic communications", "Paper and Electronic communications"], selected: f.object.contact_method) %>
  </div>
  </div>
</div>
