<div class="container top-pd content-bottom">
	<div class="col-xs-9 row">
	<h2>
		Thank you for logging into your DC Health Link employer account.
	</h2>
	<br/>
	<p class="starter">
		For employers currently offering coverage through DC Health Link, please confirm the information below and click the "Confirm" button to access your My DC Health Link home page.
		<br/>
		<br/>
		<strong>
			Note:
		</strong>
		Your business point of contact is the person whose name and email are on the account you just logged in with.
		<br/>
		<br/>
		If this is your first time on DCHealthLink.com, please provide the information below and click the "Confirm" button to start the process of offering employer-sponsored coverage through DC Health Link.
		<br/>
		<br/>
	</p>
</div>
	<%= render "shared/organization_staff_search", f: f %>

	<br>
	<div class="row">
		<div class="col-md-9 col-sm-9 col-xs-12">
			<h4>Employer Information</h4>
			<div class="row no-buffer row-form-wrapper">
				<%= render "shared/organizations/entity_name_and_type_fields", f: f, entity_kinds: Organization::ENTITY_KINDS %>
			</div><br>
			<%= render "shared/office_locations", f: f %>
			<div class="row no-buffer pull-right sm_full_width">
				<button type="submit" class="btn btn-primary pull-right sm_full_width">Confirm</button>
			</div>
		</div>
	</div><br>
</div>
