<div class="container">
	
	<%= render "shared/organization_staff_search", f: f %>

	<div class="row">
		<div class="col-md-9 col-sm-9 col-xs-12">
			<h4>Employer Information</h4>
			<div class="row no-buffer row-form-wrapper">
				<%= render "shared/organizations/entity_name_and_type_fields", f: f %>
			</div><br>

			<%= render "shared/organizations/office_location_fields", f: f %>

			<div class="row no-buffer">
				<button type="submit" class="btn btn-lg btn-tranparent">Create Employer</button>
			</div>
		</div>
	</div><br>
</div>
