<div class="container content-bottom">
	<div class="col-xs-12 col-sm-9 row">
	<h2>
		Thank you for logging into your DC Health Link employer account.
	</h2>
	<p class="starter">
		Before we get started, we need to confirm the primary point of contact for your business. Please confirm that the name and email address listed below are correct, update the information or provide the name and email address for your primary point of contact. When you're finished, select 'Confirm'.
	</p>
	<br/>
</div>
	<%= render "shared/organization_staff_search", f: f %>

	<br>
	<div class="row">
		<div class="col-md-9 col-sm-9 col-xs-12">
			<h4>Employer Information</h4>
			<div class="row no-buffer row-form-wrapper">
				<%= render "shared/organizations/entity_name_and_type_fields", f: f, entity_kinds: Organization::ENTITY_KINDS %>
			</div><br>
			<%= render "shared/office_locations", f: f %>
			<div class="row no-buffer pull-right sm_full_width">
				<button type="submit" class="btn btn-primary pull-right sm_full_width">Confirm</button>
			</div>
		</div>
	</div><br>
</div>
