
<div class = 'container'>

   <div class = 'row'>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="title-inline">Employers</h3>
    </div>
  </div>

    <div class = 'row'>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= render '/employers/employer_profiles/index_table'%>
      </div>
    </div>

    <div class = 'row'>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= render 'shared/alph_paginate_remote', url: employers_broker_agencies_profiles_path, all: employers_broker_agencies_profiles_path(id: @broker_agency_profile.try(:id)), alphs: @page_alphabets, url_params: {id: @broker_agency_profile.try(:id)}%>
      </div>
  </div>
</div>



     
