

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">

        <%= render '/employers/employer_profiles/index_table'%>

      </table>


    </div>
  </div>

