<div id= 'message_form'></div>
<div class="top-pd row" id="inbox_provider_form">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="title-inline">Employers</h3>

    <div class="form-inline button-group-wrapper">
      <div class="col-xs-12 search-wp">
        <% if @broker_agency_profile.present? %>
        <% else %>
        <%= render 'shared/search', url: employers_employer_profiles_path, q: @q, placeholder: 'Name', remote: true %>
        <% end %>
      </div>
<!--       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pd">
        <%#= link_to 'New Employer Profile'.html_safe, new_employers_employer_profile_path, class: "btn btn-primary pull-right new_emp_button new_employer_profile new_employer_profile_btn" %>
      </div> -->
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">

        <%= render '/employers/employer_profiles/index_table'%>

      </table>

      <%= render 'shared/alph_paginate_remote', url: employers_employer_profiles_path, alphs: @page_alphabets, url_params: {broker_agency_id: @broker_agency_profile.try(:id)} %>
    </div>
  </div>
</div>
