<ul role="tablist" class="nav nav-tabs top-menu" id="myTab">
  <li class="active" role="presentation">
    <a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">
      <span class="home-icon" title="Home"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-expanded="true" aria-controls="profile" data-toggle="tab" role="tab" id="profile-tab" href="#profile">
      <span class="hidden-xs">Profile</span>
      <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Profile"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="benefits" data-toggle="tab" id="benefits-tab" role="tab" href="#benefits">
      <span class="hidden-xs">Benefits</span>
      <span class="glyphicon glyphicon-file hidden-md hidden-sm hidden-lg" title="Benefits"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="employees" data-toggle="tab" id="employees-tab" role="tab" href="#employees">
      <span class="hidden-xs">Employees</span>
      <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Employees"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="documents" data-toggle="tab" id="documents-tab" role="tab" href="#documents">
      <span class="hidden-xs">Documents</span>
      <span class="glyphicon glyphicon-file hidden-md hidden-sm hidden-lg" title="Documents"></span>
    </a>
  </li>
  <li role="presentation">
    <a aria-controls="inbox" data-toggle="tab" id="inbox-tab" role="tab" href="#inbox">
      <span class="hidden-xs">Inbox</span>
      <span class="glyphicon glyphicon-envelope hidden-md hidden-sm hidden-lg" title="Inbox"></span>
      <span class="badge">1</span>
    </a>
  </li>
</ul>
