<div class="mainmenu">
  <div class="container">
    <ul role="tablist" class="list-unstyled list-inline" id="myTab">
      <li class="active" role="presentation">
        <a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">
          <span class="glyphicon glyphicon-home" title="Home"></span>
        </a>
      </li>
      <li role="presentation">
        <a aria-expanded="true" aria-controls="profile" data-toggle="tab" role="tab" id="profile-tab" href="#profile">
          <span class="hidden-xs">Profile</span>
          <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Profile"></span>
        </a>
      </li>
      <li role="presentation">
        <a aria-controls="benefits" data-toggle="tab" id="benefits-tab" role="tab" href="#benefits">
          <span class="hidden-xs">Benefits</span>
          <span class="glyphicon glyphicon-file hidden-md hidden-sm hidden-lg" title="Benefits"></span>
        </a>
      </li>
      <li role="presentation">
        <a aria-controls="employees" data-toggle="tab" id="employees-tab" role="tab" href="#employees">
          <span class="hidden-xs">Employees</span>
          <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Employees"></span>
        </a>
      </li>
      <li role="presentation">
        <a aria-controls="employees" data-toggle="tab" id="broker-agency-tab" role="tab" href="#broker_agency">
          <span class="hidden-xs">Broker Agency</span>
          <span class="glyphicon glyphicon-th-list hidden-md hidden-sm hidden-lg" title="Broker Agency"></span>
        </a>
      </li>
      <li role="presentation">
        <a aria-controls="documents" data-toggle="tab" id="documents-tab" role="tab" href="#documents">
          <span class="hidden-xs">Documents</span>
          <span class="glyphicon glyphicon-file hidden-md hidden-sm hidden-lg" title="Documents"></span>
        </a>
      </li>
      <li role="presentation">
        <%= link_to(inbox_employers_employer_profiles_path(id: @employer_profile.id), :remote => true, class: 'hidden-xs', "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab" ) do  %>
          <span class="badge"></span>
          Inbox
        <% end %>

        <a href="#" class="visible-xs">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <%= link_to(inbox_employers_employer_profiles_path(id: @employer_profile.id), :remote => true, class: 'visible-xs', "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab" ) do  %>
              Inbox
            <% end %>
        </a>
      </li>
    </ul>
  </div>
</div>
