<h3>Personal Information</h3>

<div id="personal_info" class="focus_effect personal-info-top-row">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12 first employee-info">

  <%= render "shared/employer_profile_fields", f: f %>

  <div class="error">
        <div class="warning"><i class="fa fa-exclamation-triangle"></i>
          All fields Required</div>
    </div>

    <div class="overlay-in"></div>
  </div>
</div>

<div class="row search-btn-row">
  <div class="col-md-10 col-sm-9 col-xs-12 key no-pd">
    <p class="top-pad">
      <%= f.submit "Search Employers", class: "btn btn-primary btn-search" %>
      <span><i class="fa fa-lock icon-large"></i> Your information is secure.</span>
    </p>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('input.floatlabel').floatlabel();
  });
</script>
