<h3>Personal Information</h3>

<div class="row no-buffer">
  <div id="personal_info" class="focus_effect personal-info-row">
    <div class="col-md-12 no-pd col-sm-12 col-xs-12 first">
      <%= render "shared/employer_profile_fields", f: f %>
    </div>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <%= f.submit "Search Employers", class: "btn btn-success btn-search" %>
      <span><i class="fa fa-lock icon-large"></i> Your information is secure.</span>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('input.floatlabel').floatlabel();
  });
</script>
