<!-- SIC codes helper -->
<div id="sicHelperModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Search for your matching SIC Code</h4>
        <p>SIC (Standard Industrial Classifications) codes are used to categorize your business into the appropriate rating group</p>
        <p>You can use browse or search through all the available codes -- click a SIC code to make a selection</p>
        <input id="sic_search" type="text" value="" alt="Provide a keyword related to your business"/>
        <button type="button" class="btn btn-success" id="btn-search">Search</button>
      </div>
      <div class="modal-body" id="sictree">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- SIC codes helper -->

<script type="text/javascript">
  $(function() {
    $.ajax({
      async: true,
      type: "GET",
      url: "/employers/employer_profiles/generate_sic_tree",
      dataType: "json",
      success: function(json) {
        createJSTrees(json);
      }
    });
  });

  function createJSTrees(jsonData) {
    var $searchableTree = $("#sictree").treeview({
                              data: jsonData,
                              levels: 1,
                              onNodeSelected: assignSelectionAndCloseModal
                            });

    function assignSelectionAndCloseModal(event, data) {

      $('#sicHelperModal').modal('toggle');
      $('#<%=id%>').val(data.sic_code);
      $('#<%=id%>').trigger('chosen:updated');
    }
    var search = function(e) {
      var pattern = $('#sic_search').val();
      if(pattern.length < 4) { return; }
      var options = {
        ignoreCase: true,
        exactMatch: false,
        revealResults: true
      };
    }

    $('#sic_search').on('keyup', search);
    $('#btn-search').on('click', search);

    //
    // var to = false;
    // $('#sic_search').keyup(function () {
    //   if(to) { clearTimeout(to); }
    //
    //   to = setTimeout(function () {
    //     var v = $('#sic_search').val();
    //     $('#sictree').jstree(true).search(v);
    //   }, 250);
    // });
  }
</script>
