<div class="phone col-md-10 col-sm-9 col-xs-12 no-pd first">
  <div class="row top-row">
    <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg">
      <%= f.text_field :fein, class: "fien_field  floatlabel form-control", required: true, placeholder: 'FEIN*' %>
    </div>
    <div class="col-md-6 col-sm-6 no-pd form-group form-group-lg">
      <div class="dropdown">
        <button class="form-control float-label adderess-select-box border-bottom-none border-right-none form_group_lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          C Corporation
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <% Organization::ENTITY_KINDS.each do |item| %>
            <li role="presentation"><a href="#" tabindex="-1" role="menuitem"><%= item.humanize %></a></li>
          <% end %>
        </ul>
      </div>
      <!-- <input type="text" class="floatlabel form-control" placeholder="COMPANY TYPE"> -->
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col-md-12 col-sm-12 no-pd form-group form-group-lg">
      <input type="text" class="floatlabel form-control" placeholder="NUMBER OF EMPLOYERS">
    </div>
  </div>
  <div class="error">
    <div class="warning"><i class="fa fa-exclamation-triangle"></i>
      All fields Required</div>
  </div>
</div>