<div class="container content-bottom">
	<div class="col-xs-12 col-sm-9 row">
	<p class="starter">
		Thank you for submitting your request to access the employer account. Your application for access is pending. The current account owner can log into the account and provide you with access. If you need help, <%= contact_center_alt_name %> can also assist in approving your application for access to this employer account. Contact us at <%= contact_center_phone_number %>.
	</p>
	<br/>
	<%= link_to "Back", site_home_url , class: 'btn btn-primary' %>
	</div>
</div>
