<%= render 'primary_nav', "active_tab" => "home-tab"%>

  <div class="">
  
      <div aria-labelledby="inbox-tab" id="show_profile" class="tab-pane-hbx" role="tabpanel">

            <%= render 'employers/employer_profiles/my_account/home_tab' %>

      </div>
    </div>
       <div class="tab-content" id="myTabContent">


      <div aria-labelledby="inbox-tab" id="inbox" class="tab-pane container top-pd" role="tabpanel">
        <h1>Server message lookup failed</h1>
      </div>
  </div>
</div 