<% content_for :navigation do %>
  <%= render :partial => 'primary_nav', :locals => {:active_tab=>params[:tab]} %>
<% end %>

<div id="plan-summary" class="row">
</div>
<div class="row" id='account-detail'>
  <div class="my-account-page col-md-12">
    <h1>My DC Health Link</h1>
  </div>
  <div class="col-md-8">
    <%= render partial: 'employers/employer_profiles/my_account/home_tab' %>

  </div>
  <div class="col-md-4">

  </div>
</div>
