<h2>New Benefit Market</h2>

<%= form_for @benefit_market, url: { action: 'new'}, html: { data: { controller: 'benefit-market--form' } } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= submit_tag "Submit", class:'btn btn-primary' %>
<% end %>