<h2>New Benefit Market</h2>

<%= form_for @benefit_market, as: :benefit_market, url: { action: 'create'}, html: { data: { controller: 'benefit-market--form' }, novalidate: true } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class="row">
	    <%= f.submit 'Submit', class:'btn btn-primary' %>
	    <%= link_to 'Back', site_benefit_markets_path, class:'btn btn-default' %>
	</div>

<% end %>