<div>
<h4><%= filter_name %></h4>
From:
<input type="text" id="custom_datatable_date_from" class="datepicker">&nbsp;<i class="fa fa-calendar datepicker" aria-hidden="true"></i>
&nbsp;&nbsp;&nbsp;&nbsp;To:
<input type="text" id="custom_datatable_date_to" class="datepicker">&nbsp;<i class="fa fa-calendar datepicker" aria-hidden="true"></i>
&nbsp;&nbsp;<div class="btn btn-default" id="date_range_apply">Apply</div>
</div>
<br>
