<div class="content landing">
  <%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %>
  
  <div class="announcements">
    <div class="tab-row">
      <div class="tab-content" id="myTabContent"></div>

      <div class="container top-pd">
        <div class="row">
          <div aria-labelledby="inbox-tab" id="inbox" class="tab-pane-hbx" role="tabpanel">
            <div class="col-md-10 col-sm-12">
              <h1>Audit Trail Journal Transactions</h1>

              <%#= render 'trackersh', trackers: @trackers %>
              <%= render 'trackers', trackers: @trackers %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
