<!DOCTYPE html>
<html>
<head>
  <title>SponsoredBenefits</title>
  <%= stylesheet_link_tag    "sponsored_benefits/application", media: "all" %>
  <%= javascript_include_tag "sponsored_benefits/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
