<div class="row welcome-msg">
  <div class="col-md-9 col-sm-11 col-xs-12 no-pd">
  	<div class="row text-center">
		  <div class="col-md-12 col-sm-12 no-pd col-xs-12 text-left">
        <h4><strong>Welcome to DCHBX</strong></h4>
        <p>
          Let's get signed up for health care. To start this process we will need some personal information to find your employer created records. By using this site you acknowledge that your have read and agree with the privacy policy and terms of use found here: <a href="#">DCHBX Privacy Policy &amp; Terms of Use.</a>
        </p>
      </div>
      <a id="continue" class="btn btn-continue" href="#">Continue</a>
	  </div>
  </div>
</div>
