<div align = "right">
  <table>
   <head> 
    <th>Applied APTC Ratio(%) &nbsp;</th> 
    <th></th>
     <th><%= text_field_tag "aptc_applied_ratio", 5, placeholder: 'APTC Applied', class: 'form-control', size: '4px'%></th>
   </head> 
  <tr>  
  <tr>
  </table>  
</div>
<hr style="margin:  1px 1px;"/>