<div>
  <table class="table table-border">
    <thead>
      <th>HBX ID</th> 
      <th>Name</th> 
      <th>DOB</th> 
      <th>SSN</th>
    </thead>
    <tbody>
      <tr>
        <td><%=@person.hbx_id%></td> 
        <td><%=@person.full_name%></td> 
        <td><%=@person.dob%></td> 
        <td><%=@person.ssn%></td>
      </tr>
    </tbody>
  </table>
</div>