<table class="total_table custom-address" border="0">
  <tbody>
  <tr><td></br></td></tr>
    <tr>
    <td class="health-connector-address" align="left"><strong>Commonwealth Health Insurance</strong><br>
            1225 Eye St NW Suite 400<br>
            Washington DC 20005<br>
        </td>
      <td colspan="2" align="right">
        <a href= "https://enroll.mhc.hbxshop.org/" target="_blank">
          <%= image_tag "#{Rails.root}/app/assets/images/health_connector.png", style: "height: auto; vertical-align: right;", width: "150"  %>
        </a>
        </td>
    </tr>
  </tbody>
</table>

<!-- <table class="total_table address" border="0">
  <tbody>
  <tr><td><br><br></td></tr>
  <tr>
    <tr>
      <td class="fssize mar20"><strong>Commonwealth Health Insurance</strong></td>
    </tr>
    <tr>
    <td class="fssize1">PO Box 780833</td>
    <tr>
       <td colspan="2" align="right">
        <a href= "https://enroll.mhc.hbxshop.org/" target="_blank">
          <%= image_tag "#{Rails.root}/app/assets/images/Health Connector.png", style: "height: auto; vertical-align: right;", width: "150"  %>
        </a>
        </td>
    </tr>
    </tr>
    <tr>
    <td class="fssize1">Philadelphia, PA 19178-0833</td>
    </tr>
    </tr>
  </tbody>
</table> -->