<div id='message_form'></div>
<div class="top-pd row" id="inbox_provider_form">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="title-inline">CSR, CAC and Assisters</h3>
    <div class="form-inline button-group-wrapper">
      <div class="col-xs-12 search-wp">
        <%= render 'shared/search', url: staff_index_exchanges_hbx_profiles_path, q: @q, placeholder: 'Last Name', remote: true %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">
        <%= render 'staff_table'%>
      </table>
      <%= render 'shared/alph_paginate_remote', url: staff_index_exchanges_hbx_profiles_path, alphs: @page_alphabets %>
    </div>
  </div>
</div>
