var containing_row = $("#user_action_<%= @user.id %>").closest('TR');
var $parent_row = containing_row;
$('tr.child-row:visible').remove();
$("li>a:contains('Collapse Form')").addClass('disabled');
$parent_row.after('<tr class="child-row"><td colspan="100"><%= j render partial: "users/reset_password", locals: {user: @user} %></td></tr>');
$("li>a:contains('Collapse Form')").eq(containing_row.index()).removeClass('disabled');
$('.dropdown.pull-right').removeClass('open');