<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <h1>Employer Portal</h1>
      <p>SHOP Employer Registration and Account Maintenance</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      <div class="row">
        <p><%= link_to "Consumer Portal", root_path, class: "btn btn-default" %>
        <%= link_to "Employer Portal", employers_root_path, class: "btn btn-default" %>
        <%= link_to "Broker Portal", brokers_root_path, class: "btn btn-default" %></p>
      </div>
    </div>
  </div>
</div>
<% if !user_signed_in? %>
  <%= render "devise/shared/sign_in"%>
<%end%>