<!DOCTYPE html>
<html>
<head>
  <title>Reports</title>
  <%= stylesheet_link_tag    "reports/application", media: "all" %>
  <%= javascript_include_tag "reports/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
