<% content_for :content do %>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-2">
        <%= render '/financial_assistance/shared/bs4_fa_left_nav'%>
      </div>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/bs4_financial_assistance' %>

