<div class="form-inputs">
  <%= f.fields_for :census_dependents, errors: {}, fieldset: false do |dependent| %>
  <%= render 'shared/census_dependent_fields', {f: dependent} %>
  <% end %>
  <br/>
  <%= link_to_add_fields '<i class="fa fa-user-plus"></i> Add Dependent'.html_safe, f, :census_dependents, 'btn btn-success pull-right' %>
</div>