<div class="modal" id="addressChangeConfirmation" role="dialog">
  <div class="modal-dialog" style="width: 500px;">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center;">
        <h4 class="modal-title">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          Important
        </h4>
      </div>
      <div class="modal-body" style="text-align: center;">
        <i class="fa fa-info-circle"></i> <strong>The changes you're making here only apply to this person.</strong>
        <br><br>
        <p>for example, if you made an address change and want to make the same change on any other household members. You must go to manage family and select the family tab to make the change.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-confirmation" onclick='confirmChange(event); return false;'>OK, I GOT IT</button>
      </div>
    </div>
  </div>
</div>
