<% if @bs4 %>
  <div class="d-flex flex-row align-items-center my-md-4">
    <%= f.check_box :age_off_excluded, {id: 'age_off_excluded'}, "true", "false"%>
		<label for="age_off_excluded" class="my-0">
			<span for="age_off_excluded"><%= l10n('ageoff_exclusion')%> </span>
		</label>
  </div>
<% else %>
	<div class="col-md-3 col-sm-3 col-xs-6 col-lg-3 form-group form-group-lg no-pd top-buffer">
		<%= f.check_box :age_off_excluded, {id: 'age_off_excluded'}, "true", "false"%>
		<label for="age_off_excluded" >
		<span class='age_off_excluded'>Ageoff Exclusion</span>
		</label>
	</div>
<% end %>