<% all ||= nil %>
<% remote = remote.blank? ? false : remote %>
<% status ||= nil %>
<% url_params ||= {} %>
<ul class='pagination'>
  <% if all %>
      <% all_url = all %>
      <% all_url += "?" + url_params.inject([]){|arr, (k,v)| arr << "#{k}=#{v}"}.join("&") if !url_params.empty? %>
    <li><%= link_to "ALL", all_url, remote: true %></li>
  <% end %>
  <% alphs.each do |alph| %>
    <% alph_url = url + "?page=#{alph}" %>
    <% alph_url += "&status=#{status}" if status %>
    <% alph_url += "&" + url_params.inject([]){|arr, (k,v)| arr << "#{k}=#{v}"}.join("&") if !url_params.empty? %>
    <li class="<%= 'active' if alph == params[:page] %>"><%= link_to alph, (alph_url), remote: true %></li>
  <% end %>
</ul>
