<div class="col-md-3 col-xs-12 form-group-lg form-group no-pd broker-agency-info ">
  <%= f.select(:market_kind, options_for_select(BrokerAgencyProfile::MARKET_KINDS_OPTIONS.inject([]) {|options, (k, v)| options << [k, v]}), { prompt: "Select Practice Area"}, { :class => 'interaction-choice-control-broker-agency-practice-area'} ) %>
</div>
<div class="col-md-3  col-xs-12 form-group-lg form-group no-pd broker-agency-info">
  <%= f.text_field :languages_spoken, class: "floatlabel form-control interaction-field-control-broker-agency-languages-spoken", placeholder: 'LANGUAGES SPOKEN' %>
</div>
<div class=" form-group form-group-lg no-pd broker-agency-info weekend-hour">
  <div class="checkbox col-md-3  col-xs-12 interaction-choice-control-broker-agency-evening-weekend-hours">
    <label>
      <%= f.check_box :working_hours %> EVENING/WEEKEND HOURS?
    </label>
  </div>
</div>
<div class=" form-group form-group-lg form-group no-pd broker-agency-info">
  <div class="checkbox col-md-3  col-xs-12 interaction-choice-control-broker-agency-accept-new-clients">
    <label>
      <%= f.check_box :accept_new_clients %> ACCEPT NEW CLIENTS?
    </label>
  </div>
</div>
