<div class="modal fade carrier-contact" id="<%= plan.coverage_kind %>-<%= plan.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">&times;</button>
        <h4 class="modal-title"><%= plan.carrier_profile.legal_name %>
          Customer Service Line</h4>
      </div>
      <div class="modal-body">
        <i class="fa fa-phone fa-3x"></i>
        <% if plan.coverage_kind == 'health' %>
        <div class="carrier-numbers">
          <% if plan.carrier_profile.legal_name == "CareFirst" %>
          <div>
            Call:
            <strong>
              <a href="tel:+18554443119">1-855-444-3119</a>
            </strong>
          </div>
          <% elsif plan.carrier_profile.legal_name == "Aetna" %>
          <div>
            <strong>For Customers Enrolled in Individual and Family Plans</strong><br/>
            Call:
            <strong>
              <a href="tel:+18555866959">1-855-586-6959</a>
            </strong><br/>
            from 8am-6pm EST, Monday - Friday
            <br/>
            <br/>
            <strong>For Brokers and Employers</strong><br/>
            Call:
            <strong>
              <a href="tel:+18884222128">1-888-422-2128</a>
            </strong><br/>
            from 8am-5pm EST, Monday - Friday
            <br/>
            <br/>

            <strong>For Small Business Employees</strong><br/>
            Call:
            <strong>
              <a href="tel:+1-855-885-3289">Call 1-855-885-3289</a>
            </strong><br/>
            from 8am-6pm EST, Monday - Friday
            <br/>
          </div>
          <% elsif plan.carrier_profile.legal_name == "Kaiser" %>
          <div>
            Call:
            <strong>
              <a href="tel:+18007777902">1-800-777-7902</a>
            </strong>
          </div>
          <% elsif plan.carrier_profile.legal_name == "United Health Care" %>
          <div>
            Call:
            <strong>
              <a href="tel:+18778562430">1-877-856-2430</a>
            </strong><br/>
          </div>
          <% end %>
        </div>
        <% else %>
        <div class="carrier-numbers">
          <% if plan.carrier_profile.legal_name == "CareFirst" %>
          <div>
            Call:
            <strong>
              <a href="tel:+18554443119">1-855-444-3119</a>
            </strong><br/>
          </div>
          <% elsif plan.carrier_profile.legal_name == "Delta Dental" %>
          <div>
            Call:
            <strong>
              <a href="tel:+18004710236">1-800-471-0236</a>
            </strong>
            or
            <strong>
              <a href="tel:+18004710275">1-800-471-0275</a>
            </strong>
            <br/>
          </div>
          <% elsif plan.carrier_profile.legal_name == "MetLife" %>
          <div>
            Call:
            <strong>
              <a href="tel:+18556382221">1-855-638-2221</a>
            </strong><br/>
          </div>
          <% elsif plan.carrier_profile.legal_name == "Dentegra" %>
          <div>
            Call:
            <strong>
              <a href="tel:+18004710284">1-800-471-0284</a>
            </strong><br/>
          </div>
          <% elsif plan.carrier_profile.legal_name == "Dominion" %>
          <div>
            Call:
            <strong>
              <a href="tel:+18552243016">1-855-224-3016</a>
            </strong><br/>
          </div>
          <% elsif plan.carrier_profile.legal_name == "BestLife" %>
          <div><br/>
            Call:
            <strong>
              <a href="tel:+18004330088">1-800-433-0088</a>
            </strong><br/>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
