<% kind = f.object.kind.upcase %>
<div class="email">
  <div class="col-md-6 col-sm-6 no-pd">
    <div class="form-group form-group-lg <%= 'border_bottom_no_zero' if kind.eql?('HOME') %>">

      <%= f.hidden_field :kind %>
      <%= f.hidden_field :_destroy %>
      <%= f.email_field :address, placeholder: "#{kind.capitalize} Email Address", class: "floatlabel form-control" %>
    </div>
  </div>
</div>
