<% kind = f.object.kind.upcase %>
<div class="email">
  <div class="col-md-6 col-sm-6 no-pd">
    <div class="form-group form-group-lg <%= 'border_bottom_no_zero' if kind.eql?('HOME') %>">

      <% if kind == 'HOME' %>
          <% required = "required" %>
        <% end %>

      <%= f.hidden_field :kind %>
      <%= f.email_field :address, placeholder: "#{kind} Email Address #{'*' if required.present?}", class: "floatlabel form-control #{required}", required: required.present? %>
    </div>
  </div>
</div>
