<div class="emp-info">
    Employer : <%= employer.legal_name %><br>
    <% employee = employer.employee_family_details(@person).census_employee %>
	  Hired : <%= employee.hired_on.strftime("%B %d %Y") %> <br>
	  Eligible for Coverage : <%= employee.hired_on.strftime("%B %d %Y") %> <br>
</div>