<div class="emp-info">
    Employer : <%= employer.legal_name %><br>

    Hired : <%= employee.hired_on.strftime("%B %d, %Y") %> <br>
    Eligible for Coverage : <%= effective_on.strftime("%B %d, %Y") %> <br>
</div>
