<% if object.errors.any? %>
	<div class="alert alert-danger">
		<h4>The following <%= pluralize(object.errors.size, "error") %> require your attention:</h4>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		<!--<h5>Please review the information you entered. If it’s correct, please contact <%#=contact_center_name%> at <%#=contact_center_phone_number%> to resolve the issue. If it's incorrect, please edit the fields below and select CONTINUE.</h5>-->
	</div>
<% end %>
