<% if object.errors.any? %>
	<div class="alert alert-danger">
		<h4>You need to correct the following errors:</h4>
		<ul>
			<% object.errors.each do |attr, msg| %>
				<% if attr == :base %>
					<li><%= "#{msg}" %></li>
				<% else %>
          <% attr = (attr == :gender && EnrollRegistry.feature_enabled?(:gender_to_sex)) ? "sex" : attr %>
					<li><%= attr.to_s.titleize %>: <%= raw(msg) %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
<% end %>