<span id= "<%= key %>" class="hover-glossary"
      data-toggle="popover"
      data-placement="auto top"
      data-trigger="hover focus"
      data-boundary="window"
      data-fallbackPlacement="flip"
      data-html="true"
      data-content="<%= l10n("glossary.#{key}") %>"
      data-title='<%= local_assigns[:title] || local_assigns[:term] %>'>
  <%= term %>
</span>
