<div id='consumer_brokers_widget'>
  <%= render 'insured/families/consumer_brokers_widget' %>
</div>

<div class="btn btn-default btn-block" data-target="#help_with_plan_shopping" data-toggle="modal">
  Help me sign up
</div>
