<div class="row bottom-row form-group form-group-lg no-pd">
  <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :dob, start_year: Date.today.year - 110, end_year: Date.today.year, placeholder: "BIRTHDATE",
        class: "date_picker floatlabel form-control border-right-none", required: true, value: f.object.dob.try(:strftime, "%m/%d/%Y") %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :ssn, placeholder: "SOCIAL SECURITY", class: "floatlabel form-control border-right-none", value: number_to_ssn(f.object.ssn), maxlength: 11,required: true   %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
    <div class="radio border-right-none">
      <label>
        <%= f.radio_button :gender, "male", required: true %>
        Male
      </label>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
    <div class="radio">
      <label>
        <%= f.radio_button :gender, "female"  %>
        Female
      </label>
    </div>
  </div>
</div>