<!-- only if user has any of these roles then show "my account" dropdown. -->
<% if current_user.try(:has_insured_role?) || current_user.try(:has_employer_staff_role?) || current_user.try(:has_broker_agency_staff_role?) %>

<li>
      <% if current_user.try(:has_consumer_role?) %>

          <%= link_to "My Insured Portal", family_account_path, class: 'g14' %>

      <% end %>
      <% if current_user.try(:has_employer_staff_role?) %>

          <%= link_to "My Employer Portal", new_employers_employer_profile_path, class: 'g14' %>

      <% end %>
      <% if current_user.try(:has_broker_agency_staff_role?) %>

          <%= link_to "My Broker Agency Portal", broker_agencies_root_path, class: 'g14' %>

      <% end %>
</li>
<li class="hidden-xs">|</li>
<% end %>
