<div class="row top-row">
  <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :first_name, class: "floatlabel form-control border-bottom-none border-right-none", required: true, placeholder: 'FIRST NAME' %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :middle_name, class: "floatlabel form-control border-bottom-none border-right-none", placeholder: 'MIDDLE NAME' %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :last_name, class: "floatlabel form-control border-right-none border-bottom-none", required: true, placeholder: 'LAST NAME' %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
    <%= f.text_field :name_sfx, class: "floatlabel form-control border-bottom-none", placeholder: 'SUFFIX' %>
  </div>
</div>

<div class="error">
  <div class="warning">
    <i class="fa fa-exclamation-triangle"></i>
    All fields Required
  </div>
</div>