<fieldset>
  <div id="address_info" class="row no-buffer focus_effect personal-info-row">
    <div class="col-md-12 no-pd col-sm-12 col-xs-12">
        <div class="row row-form-wrapper no-buffer">
          <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd">
            <button class="btn btn-new-address" onclick="return false;">ADDRESS</button>
          </div>

          <div class="col-md-8 col-sm-8 col-xs-12 form-group form-group-lg no-pd address">
            <div class="form-group form-group-lg">
              <div class="row" style="margin: 0;">
                <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
                  <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
                </div>
              </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd delete_address">
              <%= link_to image_tag('delete.png'), 'javascript:void(0)', class: 'remove_fields close-2' %>
            </div>
          </div>

          <div class="row row-form-wrapper no-buffer">
            <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
              <input type="text" class="floatlabel form-control" required="true"  placeholder="ADDRESS LINE 1">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
              <input type="text" class="floatlabel form-control", placeholder="ADDRESS LINE 2">
            </div>
          </div>

          <div class="row row-form-wrapper no-buffer">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                <input type="text" class="floatlabel form-control interaction-field-control-office-location-address-city" required="true" placeholder='CITY'>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                <input type="text" class="floatlabel form-control zip interaction-field-control-office-location-address-state" required="true" placeholder="STATE">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
                <input type="text" class="floatlabel form-control zip interaction-field-control-office-location-address-zip" required="true" placeholder="ZIP">
              </div>
          </div>
      </div>
      <div class="col-md-2 key col-sm-3 col-xs-12"></div>
    </div>
</fieldset>
