<div class="hidden" id="showWarning">
  <div  class=" alert alert-warning position-relative">
    <span>
      <i class='fas fa-exclamation-triangle'></i>
    </span>
    <span>
    <strong>It's important to enter as many fields from your immigration documents as possible,</strong> even though some fields may be labeled 'optional'. Entering all of your document information makes the application process go smoother and faster, helps make sure your eligibility results are correct, and may prevent you from needing to come back later and provide information.
    </span>
  </div>
</div>

  <style>
    .right {
      position: absolute;
      right: 2rem;
      outline: none;
      border: none;
      background-color: transparent;
    }
  </style>
