<div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
  <%= f.text_field :first_name, class: "required floatlabel form-control", required: true, placeholder: 'FIRST NAME' %>
</div>
<div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
  <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: 'MIDDLE NAME' %>
</div>
<div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
  <%= f.text_field :last_name, class: "required floatlabel form-control", required: true, placeholder: 'LAST NAME' %>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
  <div class="selectric-labeled">
    <span><strong>Suffix</strong></span>
    <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control" %>
  </div>
</div>
