<%= render "shared/person/personal_information", f: f %>

<div class="row top-buffer" id="search-employer">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<%= f.submit("Search Employers", class: "btn btn-primary btn-search interaction-click-control-search-employer") %>
		&nbsp;<span><i class="fa fa-lock icon-large"></i> Your information is secure.</span>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('input.floatlabel').floatlabel();
	});
</script>
