<div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
  <%= datepicker_control f, :date_of_birth, {:class => "floatlabel form-control", :placeholder => "DATE OF BIRTH",
                                             :'data-date-min' => "-110y", :'data-date-max' => "+0", :'data-date-format' => 'mm/dd/yy', required: true} %>
</div>
<div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
  <%= f.text_field :ssn, placeholder: "SOCIAL SECURITY", class: "required floatlabel form-control", required: true %>
</div>
<div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
  <div class="radio skinned-form-controls skinned-form-controls-mac">
    <label>
      <%= f.radio_button :gender, "male", required: true, checked: true, class: "required floatlabel" %>
      <span>Male</span>
    </label>
  </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
  <div class="radio skinned-form-controls skinned-form-controls-mac">
    <label>
      <%= f.radio_button :gender, "female", class: "required floatlabel"  %>
      <span>Female</span>
    </label>
  </div>
</div>
