<%= render "shared/person/personal_information", f: f %>

<div class="row top-buffer hidden" id="search-employer">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<button type="submit" id="btn-search-employer" class="btn btn-primary btn-search"><i class="fa fa-user-plus"></i> Search Employers</button>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('input.floatlabel').floatlabel();
	});
</script>
