<%= render "shared/person/personal_information", f: f %>

<div class="row top-buffer" id="search-employer">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<button type="submit" class="btn btn-primary btn-search interaction-click-control-search-employer"><i class="fa fa-user-plus"></i> Search Employers</button>
		&nbsp;<span><i class="fa fa-lock icon-large"></i> Your information is secure.</span>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('input.floatlabel').floatlabel();
	});
</script>
