<fieldset>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
        <%= f.text_field :number, placeholder: 'Home', class: "form-control" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
        <%= f.text_field :number, placeholder: 'Work', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
        <%= f.text_field :number, placeholder: 'Cell', class: "form-control" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
        <%= f.text_field :number, placeholder: 'Fax', class: "form-control" %>
      </div>
    </div>
  </div>
</fieldset>
