<div class="row" >
  <div class="col-xs-12 ">
    <div class="row row-form-wrapper no-buffer ethnicity_options">
      <h5>What is your race/ethnicity? (OPTIONAL - CHECK ALL THAT APPLY)</h5>
      <% ethnicity_collection.each do |ethnicity_set| %>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
        <%= f.collection_check_boxes(:ethnicity, ethnicity_set, :name, :name)  do |ethnicity| %>
          <div><%= ethnicity.label(:"data-value" => ethnicity.value) { ethnicity.check_box + ethnicity.text } %></div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 ">
    <div class="row row-form-wrapper no-buffer ethnicity_options">
      <h5>IF HISPANIC/LATINO</h5>
      <% latino_collection.each do |ethnicity_set| %>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
        <%= f.collection_check_boxes(:ethnicity, ethnicity_set, :name, :name)  do |ethnicity| %>
          <div><%= ethnicity.label(:"data-value" => ethnicity.value) { ethnicity.check_box + ethnicity.text } %></div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>