<div class="row row-form-wrapper no-buffer house">
  What is your race/ethnicity? (OPTIONAL - CHECK ALL THAT APPLY)
  <div class="form-group form-group-lg">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> White </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Black or African American </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Asian Indian </label> </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Chinese </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Filipino </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Japanese </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Korean </label> </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Vietnamese </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Other Asian </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Native Hawaiian </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Samoan </label> </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Guamanian or Chamorro </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Other Pacific Islander </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Other (specify) </label> </div>
    </div>
  </div>
</div>

<div class="row row-form-wrapper no-buffer">
  IF HISPANO/LATINO
  <div class="form-group form-group-lg">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Mexican </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Mexican American </label> </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Chicano/a </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Puerto Rican </label> </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Cuban </label> </div>
      <div> <label class="align_label"> <input type="checkbox" name="ethnicity"> Other (specify) </label> </div>
    </div>
  </div>
</div>

<style type="text/css">
.align_label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
</style>