<div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
  <%= f.select :reference_plan_id, options_for_select(Plan.all.map{|plan| [plan.name, plan.id ] }), class: "floatlabel form-control", required: true %>
</div>