<div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="carrier" id="option1" autocomplete="off" checked> Aetna
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="carrier" id="option2" autocomplete="off"> Care First
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="carrier" id="option3" autocomplete="off"> United Health Care
  </label>
</div>
  <%= f.select :reference_plan_id, options_for_select(Plan.all.map{|plan| [plan.name, plan.id ] }), class: "floatlabel form-control", required: true %>
</div>