<div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd carrier-select">
  <% carriers = Organization.all.map{|o|o.carrier_profile}.compact%>
  <div class="btn-group" data-toggle="buttons">
    <% carriers.each do |carrier|%>
      <label class="btn btn-primary carrier" data-carrier="selectric-carrier-<%= carrier.id %>">
        <input type="radio" name="carrier" id="<%= carrier._id %>" autocomplete="off"> <%= carrier.legal_name %></input>
    </label>
    <% end %>
  </div>
  <% carriers.each do |carrier| %>
    <%= f.select :reference_plan_id, carrier.plans.map{|plan| [plan.name, plan.id ]}, {}, {class: "carrier-#{carrier.id}"} %>
  <% end %>
</div>
