<fieldset>
  <div class="col-md-12 no-pd col-sm-12 col-xs-12 no-pd">
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.hidden_field :relationship, value: f.object.relationship %>
        <%= f.text_field :relationship, value: f.object.relationship.try(:humanize), disabled: true, class: "form-control" %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :premium_pct, class: "floatlabel form-control", placeholder: 'PREMIUM PERCENTAGE' %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
        <div class="checkbox">
          <label>
            <%= f.check_box :offered, {}, "true", "false" %>
            <span>OFFERED</span>
          </label>
        </div> 
      </div>
    </div>
  </div>
</fieldset>
