<% services.each do |k,v| %>
    <tr>
      <td><b><%= k %></b></td>
      <td></td>
      <td></td>
    </tr>
    <% v.each do |visit_type| %>
      <% service_visit = qhp.qhp_service_visits.where(visit_type: visit_type).first %>
      <% if service_visit.present? %>
        <tr>
          <td style="text-align: left;"><%= visit_type %></td>
          <td><%= service_visit.copay_in_network_tier_1 %></td>
          <td><%= service_visit.co_insurance_in_network_tier_1.present? ? service_visit.co_insurance_in_network_tier_1 : "N/A" %></td>
        </tr>
      <% end %>
    <% end %>
<% end %>
