<p id="top-pad">0% Complete</p>
<ul>
	<div class="progress-top" style="height: 36%;"></div>
	<div class="progress-bottm"></div>
	<li><a class="one" href="#">Personal Info</a></li>
	<li><a class="two" href="#">Employer</a></li>
	<li><a class="three" href="#">Address</a></li>
	<li><a class="four" href="#">Phone</a></li>
	<li><a class="five" href="#">Confirm Email</a></li>
	<li><a class="six" href="#">Add Family Members</a></li>
	<li><a class="seven" href="#">Select a Plan</a></li>
	<li><a class="eight" href="#">Review & Submit</a></li>
</ul>