<p id="top-pad">0% Complete</p>
<ul>
	<div class="progress-top" style="height: 36%;"></div>
	<div class="progress-bottm"></div>
	<li><a class="one sup-dot-1" href="#">Personal Info</a></li>
	<li><a class="two sup-dot-2" href="#">Employer</a></li>
	<li><a class="three sup-dot-3" href="#">Address</a></li>
	<li><a class="four sup-dot-4" href="#">Phone</a></li>
	<li><a class="five sup-dot-5" href="#">Confirm Email</a></li>
	<li><a class="six sup-dot-6" href="#">Add Family Members</a></li>
	<li><a class="seven sup-dot-7" href="#">Specify Covered Individuals</a></li>
	<li><a class="eight sup-dot-8" href="#">Select a Plan</a></li>
	<li><a class="nine sup-dot-9" href="#">Review & Submit</a></li>
	<li><a class="ten sup-dot-10" href="#">Completed</a></li>
</ul>

<small class="required_fields_notice" style="display: none"><br><br>You should fill all the required fields to enable Continue button.</small>
