<p id="top-pad">0% Complete</p>
<ul>
	<!-- <div class="progress-top"></div>
	<div class="progress-bottm"></div> -->
	<li><a class="one sup-dot-1" href="#">Personal Information</a></li>
	<!-- <li> &nbsp; <a class="two sup-dot-2" href="#">Name</a></li>
	<li> &nbsp; <a class="three sup-dot-3" href="#">Address</a></li>
	<li> &nbsp; <a class="four sup-dot-4" href="#">Phone</a></li>
	<li> &nbsp; <a class="five sup-dot-5" href="#">Email</a></li> -->
	<li><a class="six sup-dot-6" href="#">Family Members</a></li>
	<li><a class="seven sup-dot-7" href="#">Covered Family Members</a></li>
	<li><a class="eight sup-dot-8" href="#">Select a Plan</a></li>
	<li><a class="nine sup-dot-9" href="#">Review & Confirm</a></li>
	<li><a class="ten sup-dot-10" href="#">Completed</a></li>
</ul><br>