<p id="top-pad">0% Complete</p>
 <ul>
	<div class="progress-top" style="height: 36%;"></div>
	<div class="progress-bottm"></div>
	<li><a class="one" href="#">personal info</a></li>
	<li><a class="two" href="#">confirm employer</a></li>
	<li><a class="three" href="#">confirm address</a></li>
	<li><a class="four" href="#">confirm phone</a></li>
	<li><a class="five" href="#">add email</a></li>
	<li><a class="six" href="#">add members</a></li>
	<li><a class="seven" href="#">select plan</a></li>
	<li><a class="eight" href="#">submit</a></li>
</ul>