<br />
  <div id="ssn-coverage-msg">
    <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
      <div class="alert alert-success alert-dismissible">
      Even if you don’t want health coverage for yourself, providing your SSN can be helpful since it can speed up the application process. We use SSNs to check income and other information to see who’s eligible for help with health coverage costs.
      </div>
    </div>
  </div>