<div class="tab-row">
	<div class="tab-content" id="myTabContent"></div>

	<div class="container top-pd">
		<div class="row">
			<div aria-labelledby="inbox-tab" id="inbox" class="tab-pane-hbx" role="tabpanel">
				<div class="col-xs-12">
			    	<!-- Tab content injected here with selector '#inbox .col-md-10' -->
				</div>
			</div>
		</div>
	</div>
</div>
