<div class="tab-row">
	<div class="tab-content" id="myTabContent"></div>

	<div class="<%= 'container top-pd' unless @bs4 %>">
		<div class="<%= 'row' unless @bs4 %>">
			<div id="inbox" class="tab-pane-hbx" role="tabpanel">
				<div id="tabContent">
			    	<!-- Tab content injected here with selector '#tabContent' -->
				</div>
			</div>
		</div>
	</div>
</div>
