<div class="module update-browser-warning">
  <h1>Update Browser to Continue</h1>
  <h4 class="starter">
    We've built <%= site_short_name %> using the latest technology. This makes our site faster and easier to use. Unfortunately, your browser doesn't support these technologies. Download one of these great browsers to continue.
  </h4>
  <br/>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8 state">
      <%= h(content_tag(:a, href: "https://www.google.com/chrome/", target: "_blank", rel: "noopener noreferrer") do %>
        <div class="col-xs-4 bg-grey br-default">
          <div class="browser-icon chrome">
          </div>
          Chrome
        </div>
      <% end) %>
      <%= h(content_tag(:a, href: "http://www.apple.com/safari/", target: "_blank", rel: "noopener noreferrer") do %>
        <div class="col-xs-4 bg-grey br-default">
          <div class="browser-icon safari">
          </div>
          Safari
        </div>
      <% end) %>
      <%= h(content_tag(:a, href: "https://www.mozilla.org/en-US/firefox/new/", target: "_blank", rel: "noopener noreferrer") do %>
        <div class="col-xs-4 bg-grey br-default">
          <div class="browser-icon firefox">
          </div>
          Firefox
        </div>
      <% end) %>
    </div>
  </div>
</div>
