<% active_tab = "active-broker-tab" %>

<div aria-labelledby="broker-agency-tab" id="broker_agency" class="tab-pane fade" role="tabpanel">
  <div class="container">
    <div aria-labelledby="active-broker-tab" id="broker_agency_panel" class="tab-pane-hbx" role="tabpanel">
      <div class="row">
        <div class="col-md-10">
          <%= render "employers/broker_agency/active_broker" %>
        </div>
      </div>
    </div>
  </div>
</div>