<h5>
  <strong class="pull-left">Employee Enrollment Status</strong>
  <strong class="pull-right"><%= @current_plan_year.aasm_state.humanize %></strong>
  <div class="clearfix"></div>

  <%= enrollment_progress_bar(@current_plan_year, @participation_minimum, minimum: false) %>
</h5>
