<div class="col-xs-12 home-tab">
  <div class="row">
    <div class="col-md-8">
      <h1>My Health Benefits Program</h1>
        <div class="panel panel-default alert" id="panelOne">
          <h3 class="panel-heading">A Basic Panel
              Collapsible Group Item #1
            </h3>
          <p class="panel-body alert-warning" role="alert">A Basic Panel<a class="close" data-dismiss="alert">×</a></p>
        </div>
    </div>
  </div>
</div>
