<br>
<div id= 'message_form'>

</div>
 <%= link_to '<i class="fa fa-user-plus"></i> Send Message'.html_safe, new_employers_employer_profile_inbox_path(@employer_profile), class: "btn btn-primary", remote: true, id: "send_message" %>