<div class="col-xs-12 documents-tab">
  <h1>Invoice</h1>
  <h4 class="starter">
    <%= link_to 'How to make payment', asset_path("pdf/employers_paying_your_premiums_online.pdf") , target: "_blank"%>
  </h4>

</div>
