<div class="container">
<div class="row no-buffer">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <h4><%= @employer_profile.legal_name %></h4>
  <% @employer_profile.organization.office_locations.each do |loc| %>
  <div class="form-border">
    <%= loc.address.kind.capitalize %>
    <%= loc.address.to_html %>
    <%= loc.phone.to_s %>
  </div>
  <% end %>
  </div>
</div>
</div>
