<div aria-labelledby="home-tab" id="home" class="tab-pane fade in active" role="tabpanel">
  <div class="container">
    <div class="row">
      <div class="landing-row">
        <%= form_for @organization, url: {action: "create"} do |f| %>
        <%= render 'shared/error_messages', :object => @organization %>
        <%= render 'form', f: f %>
        <% end %>

      </div>
    </div>
  </div>
</div>