<div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
    <div class="container">
        <div class="row">
          <%= l10n("broker_agencies.profiles.brokers_list")%>
        </div>
    </div>
</div>
