<%#= form_for @census_employee, url: {action: "update", employer_id: @employer_profile.id} do |f| %>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-9 no-pd col-sm-9 col-xs-12">
          <h3 class="pull-left">
            <%= 'Select Broker' %>
          </h3>
          <a class="btn btn-danger return_to_employer_broker_agenices pull-right" href="#"><i class="fa fa-times"></i> Cancel</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 no-pd col-sm-9 col-xs-12">
          <%#= render 'member_fields' %>

          <div class="row top-row no-border">
            <div class="col-md-3 col-sm-3 col-xs-12 key-btn">
              <button class="btn btn-primary" type="submit">
                <%= "<i class=\"fa fa-user-plus\"></i> Select".html_safe %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%# end %>