<% model_class = Family %>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>

<div class="container">
  <h3 class="title-inline">Families</h3>
  <div class="form-inline button-group-wrapper families_search_div">
    <div class="input-group search-wp">
      <%= render 'shared/search', url: family_index_broker_agencies_profiles_path, q: @q, placeholder: "Last Name", remote: true, opts: { id: @broker_agency_profile.id }  %>
    </div>
  </div>
</div>

<div class="container">
  <div id="families">
    <%= render "families_table_for_broker", families: @families%>
  </div>
  <%= render 'shared/alph_paginate_remote', url: family_index_broker_agencies_profiles_path, alphs: @page_alphabets,
             all: family_index_broker_agencies_profiles_path, url_params: { id: @broker_agency_profile.id } %>

</div>
