<div class="mainmenu">
  <div class="container">
    <ul role="tablist" class="list-unstyled list-inline" id="myTab">
      <li role="presentation" class='active'>
        <a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">
          <span class="hidden-xs">Home</span>
          <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Home"></span>
        </a>
      </li>
      <li role="presentation">
        <a aria-expanded="true" aria-controls="employers" data-toggle="tab" role="tab" id="employers-tab" href="#employers">
          <span class="hidden-xs">Employers</span>
          <span class="glyphicon glyphicon-user hidden-md hidden-sm hidden-lg" title="Employers"></span>
        </a>
      </li>
      <li role="presentation">
        <a aria-controls="inbox" data-toggle="tab" id="inbox-tab" role="tab" href="#inbox" class="hidden-xs interaction-click-control-4-messages">
        <span class="badge message-unread"><%=begin; @broker_agency_profile.inbox.unread_messages.try(:count); rescue; return 0; end %></span>Messages
        </a>
        <a aria-controls="inbox" data-toggle="tab" id="inbox-tab" role="tab" href="#inbox" class="visible-xs interaction-click-control-messages">
          <span aria-hidden="true" class="glyphicon glyphicon-comment"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
