<div class="row">
  <%= render 'shared/person_staff_search', f: f %>
</div>

<div class="row">
  <div class="col-md-9 col-sm-9 col-xs-12">
    <div class="row no-buffer row-form-wrapper">
      <div class="col-md-6 col-sm-4 col-xs-12 form-group-lg no-pd">
        <%= f.text_field :email, class: "floatlabel form-control interaction-field-control-person-email", required: true, placeholder: 'EMAIL', readonly: true %>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-12 form-group-lg no-pd">
        <%= f.text_field :npn, class: "floatlabel form-control npn_field interaction-field-control-person-npn", required: true, placeholder: 'NPN', readonly: true %>
      </div>
    </div>
  </div>
</div>
