<div id= 'message_form'></div>
<div id="inbox_provider_form">

  <div class="row no-buffer">
    <div class="pull-right">
      <div class="input-group search-wp">
        <%= render 'shared/search', url: staff_index_broker_agencies_profiles_path, q: @q, remote: true, placeholder: 'Last Name' %>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style='width:660px; '>
    <div class="table-responsive" id='broker_index_view'>
      <table class="table table-wrapper" style="opacity: 1;">
        <%= render 'staff_table'%>
      </table>
      <div>
      <%= render 'shared/alph_paginate_remote', url: staff_index_broker_agencies_profiles_path, alphs: @page_alphabets %>
      </div>
    </div>
    <h4><div id='help_index_status'></div></h4>
    <div>
      <%@staff.each do |staff|
        @staff = staff
        @broker = staff.broker_role %>
        <%= render 'broker_help', locals: {:active_broker => @broker} %>
      <%end%>
    </div>
  </div>
</div>
