<div id= 'message_form'></div>
<div id="inbox_provider_form">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style='width:550px'>
    <div class="table-responsive">
      <table class="table table-wrapper" style="opacity: 1;">

        <%= render 'staff_table'%>

      </table>
      <%= render 'shared/alph_paginate_remote', url: staff_index_broker_agencies_profiles_path, alphs: @page_alphabets %>
    </div>
    <h3><div id='help_index_status'></div></h3>
  </div>
</div>
