<thead>
  <tr>
    <th>Broker</th>
    <th>Organization</th>
    <th>Signup</th>
  </tr>
</thead>

<tbody>
  <% @staff.each do |staff| %>
    <tr>
      <td style="padding: 3px"><%= staff.first_name + ' ' + staff.last_name %></td>
      <td style="padding: 3px"><%= BrokerAgencyProfile.find(staff.broker_role.broker_agency_profile_id).legal_name %></td>
      <td style="padding: 3px"><a href='#' data-broker='<%=staff.id%>' class='help_button'> Help </a></td>
   </tr>
  <% end %>
</tbody>