<thead>
  <tr class='row'>
    <th class='col-sm-4'>Broker Name</th>
    <th class='col-sm-3'>Agency Name</th>
    <th class='col-sm-3'>Market Kind</th>
    <th class='col-sm-2'></th>
  </tr>
</thead>

<tbody>
  <% @staff.each do |staff| %>
    <tr class='row'>
      <td class='col-sm-4'><%= staff.first_name + ' ' + staff.last_name %></td>
      <td class='col-sm-3'><%= BrokerAgencyProfile.find(staff.broker_role.broker_agency_profile_id).legal_name %></td>
      <td class='col-sm-3'><% market_kind = staff.broker_role.market_kind %>
        <%= (market_kind.eql? "both") ? "SHOP & Individual" : market_kind.titleize %> Market</td>
      <td class='col-sm-2'><a href='#' data-broker='<%=staff.broker_role.id%>' class='broker_select_button'>Select</a></td>
   </tr>
  <% end %>
</tbody>