<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
      <div class="row form-group form-group-lg no-pd middle-row">
        <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
          <label for="first-name" class="label-floatlabel">FIRST NAME</label>
          <input type="text" id="first-name" class="form-control active-floatlabel" placeholder=""> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
          <label for="first-name" class="label-floatlabel">MIDDLE NAME</label>
          <input type="text" id="first-name" class="form-control active-floatlabel" placeholder=""> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
          <label for="first-name" class="label-floatlabel">LAST NAME</label>
          <input type="text" id="first-name" class="form-control active-floatlabel" placeholder=""> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
          <label for="first-name" class="label-floatlabel">SUFFIX</label>
          <input type="text" id="first-name" class="form-control active-floatlabel" placeholder=""> 
        </div>
      </div>
      <div class="row form-group form-group-lg no-pd middle-row">
        <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
          <label for="first-name" class="label-floatlabel">BIRTHDATE</label>
          <input type="text" id="first-name" class="form-control active-floatlabel" placeholder=""> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
          <label for="first-name" class="label-floatlabel" >SOCIAL SECURITY</label>
          <input type="text" id="first-name" class="form-control active-floatlabel" placeholder=""> 
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
          <div class="radio skinned-form-controls skinned-form-controls-mac">
            <label><input type="radio" name="radio-button-group-1" checked="checked">
              <span>MALE</span>
            </label>
          </div>            
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
          <div class="radio skinned-form-controls skinned-form-controls-mac">
            <label><input type="radio" name="radio-button-group-1" checked="checked">
              <span>FEMALE</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row form-group form-group-lg no-pd middle-row">
        <div class="col-md-8 col-sm-7 col-xs-12 no-pd">
          <label for="first-name" class="label-floatlabel" >RELATION</label>
          <input type="text" id="first-name" class="form-control active-floatlabel" placeholder=""> 
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12 no-pd text-right">
          <a class="cancel" href="#">Cancel</a>
          <a class="save" href="#">Save</a>
        </div>
      </div>
    </div>
</div>
