<div class="col-md-12 col-sm-12 col-xs-12 no-pd">
  <div class="row form-group form-group-lg no-pd middle-row">
    <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
      <span>First Name</span>
      <input type="text" class="floatlabel form-control first-name">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
      <span>Middle Name</span>
      <input type="text" class="floatlabel form-control middle-name">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
      <span>Last Name</span>
      <input type="text" class="floatlabel form-control last-name">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
      <span>Suffix</span>
      <input type="text" class="floatlabel form-control">
    </div>
  </div>
  <div class="row form-group form-group-lg no-pd middle-row">
    <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
      <span>BirthDate</span>
      <input type="text" class="floatlabel form-control">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
      <span>Social Security</span>
      <input type="text" class="floatlabel form-control">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
      <div class="radio">
        <label>
          <input type="radio" checked="" value="option1" name="optionsRadios">
          MALE
        </label>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
      <div class="radio">
        <label>
          <input type="radio" value="option1" name="optionsRadios">
          FEMALE
        </label>
      </div>
    </div>
  </div>
  <div class="row form-group form-group-lg no-pd middle-row">
    <div class="col-md-8 col-sm-7 col-xs-12 no-pd">
      <span>Relation</span>
      <input type="text" class="floatlabel form-control">
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12 no-pd text-right">
      <a href="#" class="cancel">Cancel</a>
      <a href="#" class="save">Save</a>
    </div>
  </div>
</div>
