<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 no-pd">
    <div class="row form-group form-group-lg no-pd middle-row">
      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
        <input class="floatlabel form-control first-name" type="text" placeholder="First Name">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
        <input class="floatlabel form-control middle-name" type="text" placeholder="Middle Name">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
        <input class="floatlabel form-control last-name" type="text" placeholder="Last Name">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
        <input class="floatlabel form-control" type="text" placeholder="Suffix">
      </div>
    </div>
    <div class="row form-group form-group-lg no-pd middle-row">
      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
        <input class="floatlabel form-control" type="text" placeholder="BirthDate">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
        <input class="floatlabel form-control" type="text" placeholder="Social Security">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" value="option1" checked="">
            MALE
          </label>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 no-pd">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" value="option1">
            FEMALE
          </label>
        </div>
      </div>
    </div>
    <div class="row form-group form-group-lg no-pd middle-row">
      <div class="col-md-8 col-sm-7 col-xs-12 no-pd">
        <input class="floatlabel form-control" type="text" placeholder="Relation">
      </div>
      <div class="col-md-4 col-sm-5 col-xs-12 no-pd text-right">
        <a class="cancel" href="#">Cancel</a>
        <a class="save" href="#">Save</a>
      </div>
    </div>
  </div>
</div>
