<div class="col-md-12 col-xs-12 col-sm-12">
  <h3>Open Access Plus Coverage Summmary</h3>
  <h4><b>Account Number:</b> 3209264</h4>
  <div class="coverage-table coverage-prevent-table">
    <h5 class="heading">Preventive Care</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Coverages</th>
            <th>In-Network</th>
            <th>Out-of-Network</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Well Child Care</td>
            <td>You pay 0%<br>Plan pays 100%</td>
            <td>You pay 20%<br>Plan pays 80%</td>
          </tr>
          <tr>
            <td>Adult Preventive Care</td>
            <td>You pay 0%<br>Plan pays 100%</td>
            <td>You pay 20%<br>Plan pays 80%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="coverage-table">
    <h5 class="heading">Doctor office visit</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Coverages</th>
            <th>In-Network</th>
            <th>Out-of-Network</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Primary Care Physician</td>
            <td>You pay $25</td>
            <td>You pay 20%<br>Plan pays 80%</td>
          </tr>
          <tr>
            <td>Speciallist</td>
            <td>You pay $40</td>
            <td>Does Not Apply</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="coverage-table">
    <h5 class="heading">outpatient hospital</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Coverages</th>
            <th>In-Network</th>
            <th>Out-of-Network</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Outpatient Hospital</td>
            <td>You pay $150<br>You pay 0%<br>Plan pays 100%</td>
            <td>You pay 20%<br>Plan pays 80%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="coverage-table">
    <h5 class="heading">intpatient hospital</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Coverages</th>
            <th>In-Network</th>
            <th>Out-of-Network</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Intpatient Hospital</td>
            <td>You pay $250<br>You pay 0%<br>Plan pays 100%</td>
            <td>You pay 20%<br>Plan pays 80%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="coverage-table">
    <h5 class="heading">Emergency and urgent care services</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Coverages</th>
            <th>In-Network</th>
            <th>Out-of-Network</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Emergency Room</td>
            <td>You pay $150</td>
            <td>You pay $150</td>
          </tr>
          <tr>
            <td>Urgent Care</td>
            <td>You pay $50</td>
            <td>You pay $50</td>
          </tr>
          <tr>
            <td>Ambulance</td>
            <td>You pay 0%<br>Plan pays 100%</td>
            <td>You pay 0%<br>Plan pays 100%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
</div>
