<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row new-employer-alert">
    <div class="col-md-8 col-sm-10 col-xs-12 no-pd">
      <p>This section contains information about your employer. If you have changed employers you can add a new employer here.</p>
    </div>
    <div class="col-md-4 col-sm-2 col-xs-12">
      <button class="btn btn-default employer_ok">Ok</button>
    </div>
  </div><br>
  
  <div class="row">
    <div class="personal-info-row focus_effect">
      <div class="col-md-12 no-pd col-sm-12 col-xs-12 first">
        <div class="row top-row">
          <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
            <input type="text" id="first-name" class="floatlabel form-control" placeholder="EMPLOYER NAME" value="<%= @employer_profile.legal_name %>">
            <a class="remove" href="#">
              <%=image_tag "delete.png"%>
            </a>
          </div>
        </div>
        <div class="row bottom-row">
          <div class="col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
            <input type="text" id="first-name" class="floatlabel form-control" placeholder="HIRE DATE" value="<%= @employee_roles.first.hired_on.strftime("%b %d, %Y") %>">  
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
            <input type="text" id="first-name" class="floatlabel form-control" placeholder="ELIGIBLE FOR COVERAGE" value="<%= @employee_roles.first.hired_on.strftime("%b %d, %Y") %>">  
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
      <button class="btn btn-primary">New Employer</button>
  </div>
</div>
