<div class="col-md-8 no-pd col-sm-12 col-xs-12">

  <div class="row new-employer-alert" style="display: block;">
    <div class="col-md-7 no-pd col-sm-10 col-xs-12">
      <p>This section contains information about your employer. If you have changed employers you can add a new employer here.</p>
    </div>
    <div class="col-md-5 no-pd col-sm-2 col-xs-12">
      <button class="btn btn-default ok-btn">Ok</button>
    </div>
  </div>

  <div class="row first">
    <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd middle-row">
      <a class="remove" href="#"><%=image_tag "landing-page-delete.png" %></a>
      <span>Employer Name</span>
      <input class="form-control" type="text" value="<%= @employer.legal_name %>">
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd middle-row">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
          <span>Hire Date</span>
          <input class="form-control" type="text" placeholder="March 30, 2013" value="<%= @employee.hired_on.strftime("%b %d, %Y") %>">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
          <span>Eligible For Coverage</span>
          <input class="form-control" type="text" placeholder="March 30, 2014" value="<%= @employee.hired_on.strftime("%b %d, %Y") %>">
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-default save-btn disabled">New Employer</button>
</div>
