<div class="col-md-8 no-pd col-sm-12 col-xs-12">
  <div class="row new-employer-alert" style="display: block;">
    <div class="col-md-7 no-pd col-sm-10 col-xs-12">
      <p>This section contains information about your employer. If you have changed employers you can add a new employer here.</p>
    </div>
    <div class="col-md-5 no-pd col-sm-2 col-xs-12">
      <button class="btn btn-default ok-btn employer_ok">Ok</button>
    </div>
  </div>
  
  <table class="table table-bordered search-table personal-table" style="border: 2px solid rgb(0, 163, 217) ! important;">
    <tbody>
      <tr>
        <td colspan="4">
          <span class="label_style">Employer Name</span>
          <span class="text_style"><%= @employer_profile.legal_name %></span>
        </td>
        
      </tr>
      <tr>
        <td colspan="2">
          <span class="label_style">Hire Date</span>
          <span class="text_style"><%= @employee_roles.first.hired_on.strftime("%b %d, %Y") %></span>
        </td>
        <td colspan="2">
          <span class="label_style">Eligible For Coverage</span>
          <span class="text_style"><%= @employee_roles.first.hired_on.strftime("%b %d, %Y") %></span>
        </td>
        
      </tr>
    </tbody>
  </table>
  
  <br/>
  <button class="btn btn-blue">New Employer</button>
</div>
