<% phones = @person.phones %>
<% home_phone = extract_phone_number(phones, 'home')%>
<% bussiness_phone = extract_phone_number(phones, 'work')%>
<% cell_phone = extract_phone_number(phones, 'mobile')%>
<% fax_phone = extract_phone_number(phones, 'fax')%>
<div class="phone col-md-8 col-sm-12 col-xs-12 no-pd first focus_none">
  <div class="row top-row">
    <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
      <div class="form-group form-group-lg">
        <input type="text" class="floatlabel form-control" value="<%= home_phone %>" placeholder="HOME">
      </div>  
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
      <div class="form-group form-group-lg">
        <input type="text" class="floatlabel form-control" value="<%= bussiness_phone %>" placeholder="BUSINESS">
      </div>  
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
      <div class="form-group form-group-lg">
        <input type="text" class="floatlabel form-control" value="<%= cell_phone %>" placeholder="CELL">
      </div>  
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
      <div class="form-group form-group-lg">
        <input type="text" class="floatlabel form-control" value="<%= fax_phone %>" placeholder="FAX">
      </div>  
    </div>
  </div>
</div>
  
  
