<% phones = @person.phones %>
<% home_phone = extract_phone_number(phones, 'home')%>
<% bussiness_phone = extract_phone_number(phones, 'work')%>
<% cell_phone = extract_phone_number(phones, 'mobile')%>
<% fax_phone = extract_phone_number(phones, 'fax')%>
<div class="phone col-md-8 col-sm-12 col-xs-12 no-pd first">
  <div class="row top-row">
    <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
      <div class="form-group form-group-lg">
        <input type="text" class="form-control" value="<%= home_phone %>">
        <span>HOME</span>
      </div>  
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
      <div class="form-group form-group-lg">
        <input type="text" class="form-control" value="<%= bussiness_phone %>">
        <span>BUSINESS</span>
      </div>  
    </div>
  </div>
  <div class="row bottom-row">
    <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
      <div class="form-group form-group-lg">
        <input type="text" class="form-control" value="<%= cell_phone %>">
        <span>CELL</span>
      </div>  
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
      <div class="form-group form-group-lg">
        <input type="text" class="form-control" value="<%= fax_phone %>">
        <span>FAX</span>
      </div>  
    </div>
  </div>
</div>
  
  
