<div role="tabpanel" id="ProfileTab">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
    <li role="presentation"><a href="#employer" aria-controls="employer" role="tab" data-toggle="tab">Employer</a></li>
    <li role="presentation"><a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="personal">Personal Info</div>
    <div role="tabpanel" class="tab-pane" id="employer">Employer Info</div>
    <div role="tabpanel" class="tab-pane" id="family">Family Info</div>
  </div>

</div>

<script>
$('#ProfileTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
