<% if @filter_criteria.empty? %>
  <div id="broker_agencies_panel">
  <%= render partial: 'index' %>
  </div>
<% else %>
  <div id="broker_agencies_listing">
  <%= render partial: 'broker_agencies_listing' %>
  </div>
<% end %>