<%- model_class = Person -%>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body left" id="new_person_wrapper">

      <section>
        <div class="col-md-12">
          <nav>
            <%= render 'shared/breadcrumb', crumbs: [
                link_to('People', people_path),
                @person.full_name
              ]
            %>
          </nav>
        </div>
      </section>

      <section id="show_form">
        <%= form_for(@person) do |f| %>
          <%= render 'form', f: f %>
        <% end %>
      </section>

    </div>
  </div>
</div>