<!-- FILEPATH: /Users/kristinmerbach/Projects/enroll/components/benefit_sponsors/app/views/layouts/benefit_sponsors/application.html.slim -->
<!DOCTYPE html>
<html>
  <head>
    <title>BenefitSponsors</title>
    <link rel="stylesheet" href="benefit_sponsors/application" media="all">
    <script src="benefit_sponsors/application"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <% if ::EnrollRegistry.feature_enabled?(:jquery_migrate) %>
      <% if ::EnrollRegistry[:jquery_migrate].setting(:show_warnings).item == true %>
        <script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script>
      <% else %>
        <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
      <% end %>
    <% end %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <meta name="csrf-token" content="">
  </head>
  <body>
    <%= render partial: './ui-components/v1/navs/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
