h5 Product Package

= form_for @product_package, as: :product_package, url: products_product_package_url(@product_package) do |f|
  = render partial: "form", locals: { f: f }
  
  = f.submit "Update", class: "btn btn-primary"
