<div class="row tab-row">
	<%= render 'menu', :active_tab => "home-tab" %>

	<div class="tab-content" id="myTabContent">
		<%= render "employers_and_plans" %>
	</div>
	<div class="clearfix"></div>
</div>
