<%= render "profile_submenu", :active_subtab => "personal-tab" %>

<div class="container">
	<div class="tab-content" id="myTabContent1">
		<div aria-labelledby="personal-tab" id="personal" class="tab-pane fade in active" role="tabpanel">
			<div id="personal_info" class="focus_effect personal-info-row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 no-pd">
					<%= render 'people/landing_pages/personal' %>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('input.floatlabel').floatlabel({
	    slideInput: false
	});
</script>