<%= render "profile_submenu", :active_subtab => "personal-tab" %>

<div class="container">
	<div class="tab-content" id="myTabContent1">
		<div aria-labelledby="personal-tab" id="personal" class="tab-pane fade in active" role="tabpanel">
			<div id="personal_info" class="focus_effect personal-info-row">
				<div class="col-md-8 no-pd col-sm-8 col-xs-12">
					<%= render 'people/landing_pages/personal' %>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="life-event-tip">
						<h4>Life Events Tip #3</h4>
						<p>
						There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('input.floatlabel').floatlabel({
	    slideInput: false
	});
</script>