<div class="row tab-row">
	<%#= render 'menu', :active_tab => "plans-tab" %>

	<div class="tab-content" id="myTabContent">
		<%= render "people/landing_pages/coverage_plans" %>
	</div>
	<div class="clearfix"></div>
</div>
