<div class="tab-row">
	<div class="tab-content" id="myTabContent">
    <% if @benefit_group_assignment.present? and @benefit_group_assignment.coverage_waived? %>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <%= render partial: "shared/waive", locals: {benefit_group_assignment: @benefit_group_assignment} %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render "people/landing_pages/coverage_plans" %>
    <% end %>
	</div>
</div>
