<div class="panel panel-default">
  <div class="panel-body"><br>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= image_tag 'icons/shop_for_plan.png' %>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 info-wrapper">
        <h3>Update Plan</h3>
        <small>Change benefits or coverage</small>
      </div>
    </div><br>
  </div>
</div>
