<%= form_for @broker_agency, {url: "/employers/employer_profiles/#{@employer_profile.id}/broker_agency", method: :post} do |f| %>
  <div class="row no-buffer top-pd">
    <h3 class="title-inline"><%= 'Select Broker' %></h3>
    <a class="remove return_to_employer_broker_agenices" href="javascript:void(0);"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span> Cancel</a>
    <!-- <a class="btn btn-danger return_to_employer_broker_agenices pull-right" href="#"><i class="fa fa-times"></i> Cancel</a> -->
  </div>

  <div class="row no-buffer">
    <%= hidden_field_tag(:broker_agency_id, @broker_agency.id) %>
    <%= render 'fields', broker_agency_profile: @broker_agency %>

    <button class="btn btn-primary" type="submit" onclick="return confirm('This will terminate your existing active broker effective immediatedly. Are you sure you want to select new broker?')">
      Select Broker
    </button>
  </div>
<% end %>