<div class="modal" id="plan-details-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= l10n("plan_details") %></h4>
      </div>
      <div class="container-fluid" id="plan-details-modal-body">
      </div>
    </div>
  </div>
</div>
