.modal.fade#plan-details-modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header style="border-bottom: none"
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true"
          | &times;
        h4.modal-title = l10n("plan_details")
      .container-fluid#plan-details-modal-body