[
 {rabbitmq_shovel,
   [{shovels, [
       {publish_local_events,
         [
           {sources,
             [{brokers, ["amqp://"]}]
           },
           {destinations,
             [{brokers, ["RABBITMQ_URL"]}]
           },
           {publish_fields, [ {exchange, <<"HBX_ID.ENV_NAME.e.fanout.events">>}]},
           {queue, <<"acapi.queue.events.local">>},
           {ack_mode, on_confirm}
         ]}
      ]}]}
].
