<fieldset class="pl-0" [formGroup]="achGroup">
    <h4>ACH Routing Information</h4>
    <div class="row">
      <div class="col-md-4{{errorClassFor(achGroup.controls.ach_account)}}">
          <label for="ach_account_field">Account Number*</label>
          <input id="ach_account_field" type="text" formControlName="ach_account" class="form-control" required minlength="1">
          <field-errors [errorControl]="achGroup.get('ach_account')"></field-errors>
      </div>
      <div class="col-md-4{{errorClassFor(achGroup.controls.ach_routing)}}">
          <label for="ach_routing_field">Routing Number*</label>
          <input id="ach_routing_field" type="text" formControlName="ach_routing" class="form-control" required minlength="1">
          <field-errors [errorControl]="achGroup.get('ach_routing')"></field-errors>
      </div>
      <div class="col-md-4{{errorClassFor(achGroup.controls.ach_routing_confirmation)}}">
          <label for="ach_routing_confirmation_field">Routing Number Confirmation*</label>
          <input id="ach_routing_confirmation_field" type="text" formControlName="ach_routing_confirmation" class="form-control" required minlength="1">
          <field-errors [errorControl]="achGroup.get('ach_routing_confirmation')"></field-errors>
      </div>
    </div>
  </fieldset>