<div class="col-md-6 col-sm-6 col-xs-12">
  <%= render 'shared/employer', employer: @employee_role.employer_profile, employee: @employee_role.census_employee, effective_on: @employee_role.effective_on %>
</div>
<div class="col-md-2 col-sm-2 col-xs-12">
	&nbsp;
</div>
<div class="col-md-4 col-sm-4 col-xs-12 text-right">
  <p>
    Not your employer? 
    <%= link_to 'Click Here', new_person_path %>
  </p>
</div>

<script>
  $(".change_personal_info").click(function(){
    $('.search-btn-row').removeClass('hidden');
    $('#employer-info').html("");
    $(".employer_info").html('');
  });

  $(".badge").on('click',function(){
    $('.badge').removeClass('badge-active');
    $(".person-search-form").removeClass('person-search-form-active');
    $(this).toggleClass('badge-active');
    $(this).closest(".person-search-form").addClass('person-search-form-active');
    url = $(".badge-active").attr("data-url");
    $('.search_continue').attr("href",url);
  });
</script>
