<div id="coverage_info" class="focus_effect row personal-info-row hidden" style="opacity: 0.5;">
  <div class="col-md-10 no-pd col-sm-9 col-xs-12 first">
    <div class="row" style="margin: 0;">
      <div id="main" class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
        <!-- <input type="text" class="floatlabel form-control border-bottom-none border-right-none" placeholder="DATE OF COVERAGE"> -->
        <input class="form-control" type="text" placeholder="DATE OF COVERAGE" />
      </div>
    </div>
    
    <div class="error">
      <div class="warning"><i class="fa fa-exclamation-triangle"></i>
        All fields Required</div>
    </div>
  </div>
  
  

  <div class="col-md-2 key col-sm-3 col-xs-12">
    <!-- <p class="top-pad">Use the drop down to create new addresses</p> -->
  </div>
</div>