<div class="mainmenu">
  <div class="container">
    <ul role="tablist" class="list-unstyled list-inline" id="myTab">
      <li class="active" role="presentation">
        <a aria-expanded="true" aria-controls="home" class="hidden-xs" data-toggle="tab" role="tab" id="home-tab" href="#home">
          <span class="glyphicon glyphicon-home" aria-hidden="true" title="Home"></span>
        </a>

        <a aria-expanded="true" aria-controls="home" class="visible-xs" data-toggle="tab" role="tab" id="home-tab" href="#home">
          <span class="glyphicon glyphicon-home" aria-hidden="true" title="Home"></span>
          <small>Home</small>
        </a>
      </li>

      <li role="presentation">
        <a aria-expanded="true" aria-controls="profile" data-toggle="tab" role="tab" id="profile-tab" href="#profile">
          <span class="visible-xs">
            <span class="glyphicon glyphicon-user" title="Profile"></span>
            <small>Profile</small>
          </span>

          <span class="hidden-xs">Profile</span>
        </a>
      </li>

      <li role="presentation">
        <a aria-controls="benefits" data-toggle="tab" id="benefits-tab" role="tab" href="#benefits">
          <span class="visible-xs">
            <span class="glyphicon glyphicon-list-alt" title="Benefits"></span>
            <small>Benefits</small>
          </span>

          <span class="hidden-xs">Benefits</span>
        </a>
      </li>
      <li role="presentation">
        <a aria-controls="employees" data-toggle="tab" id="employees-tab" role="tab" href="#employees">
          <span class="visible-xs">
            <span class="glyphicon glyphicon-duplicate" title="Employees"></span>
            <small>Employees</small>
          </span>

          <span class="hidden-xs">Employees</span>
        </a>
      </li>
      <li role="presentation">
        <a aria-controls="employees" data-toggle="tab" id="broker-agency-tab" role="tab" href="#broker_agency">
          <span class="visible-xs">
            <span class="glyphicon glyphicon-duplicate" title="Broker Agency"></span>
            <small>Broker Agency</small>
          </span>

          <span class="hidden-xs">Broker Agency</span>
        </a>
      </li>
      <li role="presentation">
        <a aria-controls="documents" data-toggle="tab" id="documents-tab" role="tab" href="#documents">
          <span class="visible-xs">
            <span class="glyphicon glyphicon-duplicate" title="Documents"></span>
            <small>Documents</small>
          </span>

          <span class="hidden-xs">Documents</span>
        </a>
      </li>
      <li role="presentation">
        <%= link_to(inbox_employers_employer_profiles_path(id: @employer_profile.id), :remote => true, class: 'hidden-xs', "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab", "data-toggle" => "tab", 'id'=>'inbox-tab' ) do  %>
          <span class="badge message-unread"><%= @employer_profile.inbox.unread_messages.try(:count) || 0 %></span>
          Inbox
        <% end %>

        <%= link_to(inbox_employers_employer_profiles_path(id: @employer_profile.id), :remote => true, class: 'visible-xs', "aria-expanded" => "true", "aria-controls" => "inbox", "role" => "tab" ) do  %>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          <small>Inbox</small>
        <% end %>
      </li>
     <li role="presentation">
        <a  id="override-tab">
          <span class="visible-xs">
            <span class="glyphicon glyphicon-duplicate" title="Override Backlink"></span>
            <small> <%=override_backlink%></small>
          </span>

        </a>
      </li>
    </ul>
  </div>
</div>
