<% if @census_employee_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@census_employee_import.errors.count, "error") %> prohibited this csv from being processed:</h2>

      <ul>
        <% @census_employee_import.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>