<!DOCTYPE html>
<html>
<head>
  <title>TransportGateway</title>
  <%= stylesheet_link_tag    "transport_gateway/application", media: "all" %>
  <%= javascript_include_tag "transport_gateway/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
