!!! XML
%individual{ :xmlns => "http://openhbx.org/api/terms/1.0", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance" }
  = render :partial => "events/v2/individuals/individual", :object => individual
