br
field.form-group
  = check_box_tag :all_marketplace_required_trainings, nil, false, class: "broker-attestation-field", onChange: "allowBrokerAgencyFormSubmission()"
  = sanitize_html(l10n("broker_attestation.required_trainings", trainings_link: 'https://coverme.inquisiqlms.com/', site_short_name: EnrollRegistry[:enroll_app].setting(:short_name).item))

br
field.form-group
  = check_box_tag :active_license_attestation, nil, false, class: "broker-attestation-field", onChange: "allowBrokerAgencyFormSubmission()"
  = "  #{l10n('broker_attestation.active_license', state_name: EnrollRegistry[:enroll_app].setting(:state_name).item)}"
br
field.form-group
  = check_box_tag :marketplace_broker_agreement, nil, false, class: "broker-attestation-field", onChange: "allowBrokerAgencyFormSubmission()"
  = sanitize_html(l10n("broker_attestation.broker_agreement", agreement_pdf_url: '/ohim_broker_agreement.pdf', site_short_name: EnrollRegistry[:enroll_app].setting(:short_name).item))


javascript:
  function allowBrokerAgencyFormSubmission() {
    console.log("hitting broker form submision method.")
    var broker_attestation_fields = document.getElementsByClassName("broker-attestation-field");
    var form_button = document.getElementById("broker-btn")
    if (Array.from(broker_attestation_fields).every(form_element => form_element.checked == true) == true) {
      form_button.disabled = false;
    } else {
      form_button.disabled = true;
    };
  }
