fieldset
  legend Personal Information

  .row
    .col-md-4.mb-2
        label for="inputFirstname"  First name *
        = f.text_field :first_name, placeholder:'First Name', required:'true', id:'inputFirstname', class:'form-control'
        .invalid-feedback
          |
            Please provide a first name.

    .col-md-4.mb-2
        label for="inputLastname"  Last name *
        = f.text_field :last_name, placeholder:'Last Name', required:'true', id:'inputLastname', class:'form-control'
        .invalid-feedback
          |
            Please provide a last name.

    .col-md-4.mb-2
        label for="inputDOB"  Date of Birth *
        = f.text_field :dob, placeholder:'MM/DD/YYYY', required:'true', id:'inputDOB', class:'form-control', onblur:'validDob(this)'
        .invalid-feedback
          |
            Please provide a date of birth.

    .col-md-4.mb-2
        label for="inputEmail"  Email *
        = f.email_field :email, placeholder:'Email', required:'true', id:'inputEmail', class:'form-control'
        .invalid-feedback
          |
            Please provide a email address.

    .col-md-4.mb-2
        label for="inputNPN"  NPN *
        = f.text_field :npn,
          placeholder: 'NPN',
          required: controller.action_name == 'new' ? 'true' : !EnrollRegistry.feature_enabled?(:allow_alphanumeric_npn),
          id: 'inputNPN',
          class: 'form-control',
          maxlength: '10',
          onkeypress: EnrollRegistry.feature_enabled?(:allow_alphanumeric_npn) ? 'return isAlphaNumeric(event);' : 'return isNumberKey(event);'
        .invalid-feedback
          |
            Please provide a NPN.

javascript:

	var cleave = new Cleave('#inputDOB', {
	    date: true,
	    datePattern: ['m', 'd', 'Y']
	});

	function validDob(element) {
		if (element.value && element.value.length < 10) {
			swal({
				title: "Invalid DOB Format",
				text: "DOB must be entered as MM/DD/YYYY",
				icon: "warning"
			}),
			element.value = ''
		}
	}
