<%
  @security_question_options = [
                          { question_id: '1', question_text: "What was your first pet's name?" }.with_indifferent_access,
                          { question_id: '2', question_text: "What model was your first car?" }.with_indifferent_access,
                          { question_id: '3', question_text: "What was your mother's maiden name?" }.with_indifferent_access,
                          { question_id: '4', question_text: "What elementary school did you attend?" }.with_indifferent_access
                        ]
%>
<div class="modal fade" id="securityQuestionModal" tabindex="-1" role="dialog" aria-labelledby="securityQuestionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Please helps us secure your account</h4>
      </div>
      <div class="modal-body">
        <p>Please take a moment to provide security responses for three choices from our available options</p>
        <p>These questions help us confirm your identity if you forget your password, or if your account behaves suspiciously and is locked.</p>
        <div class="modal-questions-container">
          <form>
            <% 3.times do |num| %>
              <select class="security-question-select" name="security_questions[]">
                <option name="question_id" value="">Please Select A Question</option>
                <% @security_question_options.each do |question| %>
                  <option name="question_id" value=<%= question[:question_id] %> data-question-number=<%= num %>><%= question[:question_text] %></option>
                <% end %>
              </select>

              <div class="input-wrapper">
                <input type='text' name="question_answer" />
              </div>
            <% end %>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit Answers</button>
      </div>
    </div>
  </div>
</div>

<% if current_user && current_user.needs_to_provide_security_questions? %>
  <script>
    $('#securityQuestionModal').modal({
      backdrop: 'static',
      keyboard: false
    });
    $('.modal-backdrop').css({height: '800px'});

    $('.security-question-select').on('change', function(){
      var questionId = $(this).val();
      var selectedQuestions = [];

      $.each($('.selectric-scroll li.selected'), function(propertyName, propertyValue){
        var elemIndex = $(this).data('index');
        if(elemIndex != 0) {
          selectedQuestions.push(elemIndex);
        }
      });

      $('.selectric-scroll li').show();
      selectedQuestions.forEach(function(index){
        $(".selectric-scroll li[data-index='" + index +"']").hide();
      });

      //[attribute!='value']
      $.each($('.security-question-select').not(this), function(propertyName, propertyValue){
        $(this).children("option").show();
        $(this).children("option[value='" + questionId + "']").hide();
      });

    });
  </script>
<% end %>
