- if @profile_type == "broker_agency"
  #broker_agency_form
    ul
      li
        a href="#broker_registration"  = l10n("broker")
      li
        a href="#broker_agency_staff"  = l10n("broker_agency_staff")
    #broker_registration
      = render :partial => "benefit_sponsors/profiles/registrations/broker_registration_form"
    #broker_agency_staff

- elsif @profile_type == "general_agency"
  #general_agency_form
    ul
      li
        a href="#general_agency_registration"  = l10n("general_agency")
      li
        a href="#general_agency_staff"  = l10n("general_agency_staff")
    #general_agency_registration
      = render :partial => "benefit_sponsors/profiles/registrations/general_agency_registration_form"
    #general_agency_staff

- else
  = form_for @agency, as: :agency, url: {action: "create"},  html: { class: "needs-validation s508", novalidate:true } do |f|
    = f.hidden_field :profile_type, value: params[:profile_type]
    = render 'benefit_sponsors/shared/error_messages', :object => @agency
    = render './ui-components/v1/forms/employer_registration/employer_profile_form', f: f

javascript:
  validateForm();

  $("#broker_agency_form").tabs({
    activate: function (event, ui) {
      if (ui.newPanel.attr('id') == "broker_agency_staff") {
        var url = "/benefit_sponsors/profiles/broker_agencies/broker_agency_staff_roles/new?profile_type"
        if(!$("#loaded").length) {
          $.ajax({
            url: url,
            type: "GET",
            data: {profile_type: "broker_agency_staff"},
            success: function (data) {
              $("#broker_agency_staff").html(data);
              setTimeout(function() {
              initDatepicker('inputStaffDOB', new Date("#{Date.today.beginning_of_month-90.years}"), new Date("#{Date.today.end_of_month-18.years}"));

              var cleave = new Cleave('#inputStaffDOB', {
            	    date: true,
            	    datePattern: ['m', 'd', 'Y']
            	});
              })
            }
          })
        }
      }
    }
  });

  $("#general_agency_form").tabs({
    activate: function (event, ui) {
      if (ui.newPanel.attr('id') == "general_agency_staff") {
        var url = "/benefit_sponsors/profiles/general_agencies/general_agency_staff_roles/new"
        if(!$("#loaded").length) {
          $.ajax({
            url: url,
            type: "GET",
            data: {profile_type: "general_agency_staff"},
            success: function (data) {
              $("#general_agency_staff").html(data)
                initDatepicker('inputStaffDOB', new Date("#{Date.today.beginning_of_month-90.years}"), new Date("#{Date.today.end_of_month-18.years}"));
            }
          })
        }
      }
    }
  });
