- if @profile_type == "broker_agency"
  .broker-registration-container.mt-4.pt-4.pl-3.pr-3.pb-3

    h1.enroll-lead Broker Registration
    
    = flash_messages
    
    = form_for @agency, as: :agency, url: {action: "create"}, html: { class: "needs-validation", id:'broker_registration_form', novalidate:true } do |f|
    
      = f.hidden_field :profile_type, value: params[:profile_type]
      
      = render 'shared/error_messages', :object => @agency
      
      = render partial: './ui-components/v1/forms/broker_registration/personal_information', locals: {f: f}
      
      = render partial: './ui-components/v1/forms/broker_registration/broker_agency_information', locals: {f: f}
      
      = render partial: './ui-components/v1/forms/office_locations/office_locations', locals: {f: f}

      = f.submit 'CREATE BROKER AGENCY', class:'btn btn-primary float-right'
- else
  = form_for @agency.organization, as: :agency, url: {action: "create"} do |f|
    = f.hidden_field :profile_type, value: params[:profile_type]
    = render 'benefit_sponsors/shared/error_messages', :object => @agency
    = render 'benefit_sponsors/profiles/employers/employer_profiles/employer_profile_form', f: f
    
javascript:
  validateForm()

