<div id="broker_applicants_list">
  <div class="container row">
    <div class="col-xs-12">
      <div id="edit_broker_applicant"></div>

      <div id="broker_applicants_roster">

        <div class="row">
          <h3 class="title-inline">Applicants</h3>
          <div class="form-inline button-group-wrapper">
            <div class="btn-group" role="group" aria-label="">
              <div class="btn-group" data-toggle="buttons" name="broker_applicants_tabs">
                <% if @broker_agency_profile %>
                <label class="btn btn-default active">
                  <input type="radio" name="options" autocomplete="off" value="broker_agency_pending" checked> Applicant
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="active"> Accepted
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="broker_agency_declined"> Declined
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="broker_agency_terminated"> Terminated
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="all"> All
                </label>
                <% else %>
                <label class="btn btn-default active">
                  <input type="radio" name="options" autocomplete="off" value="applicant" checked> Applicant
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="certified"> Certified
                </label>
                 <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="pending"> Pending
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="decertified"> Decertified
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="denied"> Denied
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off" value="all"> All
                </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <%= link_to("broker_agencies_path", broker_agencies_profile_applicants_path(@broker_agency_profile), id: "broker_agency_profile_id", class: "hidden") if @broker_agency_profile %>

        <div class="row">
          <div id="broker_applicants">
           <%= render "shared/brokers/applicants", url: url, index_url: index_url %>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
