<div class="table-border table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th>Applicant Name</th>
      <% if controller_name == 'applicants' %>
        <th>Application Type</th>
      <% end %>
      <th>Applicant NPN</th>
      <th>Agency Name</th>
      <th>Status</th>
      <% if date_col_name_for_broker_roaster.present? %>
        <th>
          <%= date_col_name_for_broker_roaster %>
        </th>
      <% end %>
      <% if @status != 'applicant' %>
        <th>
          Comments
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% if @broker_applicants.any? %>
        <%= render partial: "shared/brokers/applicant_row", :collection => @broker_applicants, :as => :applicant %>
      <% else %>
      <tr><td>No Applicants found.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
<div class="col-md-6">
  <% if params[:page].present? || (@people.count != @broker_applicants.count) %>
    <%= render 'shared/alph_paginate', url: url, full_index_url: index_url, alphs: @page_alphabets, remote: true, status: @status %>
    <%#= render 'shared/alph_paginate', url: employers_employer_profile_path(@employer_profile), alphs: @page_alphabets, remote: true, status: status, full_index_url: employers_employer_profile_path(@employer_profile, status: status, employee_name: params[:employee_name]) %>
  <% end %>
</div>

<div class="col-md-6 text-right">
  <h4><%= "#{@broker_applicants.count} out of #{@people.count}" %></h4>
</div>
</div>

<script>
$(function() {
  Freebies.popover();
});
</script>
