<div class="container" id="broker_applicants_list">
  <div id="edit_broker_applicant"></div>

  <div id="broker_applicants_roster">

    <div class="row">
      <h3 class="title-inline">Applicants</h3>
      <div class="form-inline button-group-wrapper">
      <div class="btn-group" role="group" aria-label="">
        <div class="btn-group" data-toggle="buttons" name="broker_applicants_tabs">
          <label class="btn btn-default active">
            <input type="radio" name="options" autocomplete="off" value="applicant" checked> Applicant
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off" value="certified"> Certified
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off" value="decertified"> Decertified
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off" value="denied"> Denied
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" autocomplete="off" value="all"> All
          </label>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <div id="broker_applicants">
         <%= render "shared/brokers/applicants", url: url %>
      </div>
    </div>
  </div>
</div>
