<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3/10/2017</td>
      <td>Invoice #345045</td>
      <td>$4903.33</td>
      <td>$4903.33</td>
    </tr>
    <tr data-toggle="collapse" data-target="#collapse">
      <td>3/12/2017</td>
      <td>Invoice #636045</td>
      <td>$9903.33</td>
      <td>$9903.33</td>
      <tr class="collapse" id="collapse">
        <td>3/12/2017</td>
        <td>Mike</td>
        <td>$1903.33</td>
        <td>$1903.33</td>
      </tr>
    </tr>
  </tbody>
  
</table>