<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Size</th>
      <th>Open/Save PDF</th>
    </tr>
  </thead>
  <tbody>
    <tr data-toggle="collapse" data-target="#collapse2">
      <td>2017</td>
      <td>14 Mb</td>
      <td>Open Me</td>
      <tr class="collapse" id="collapse2">
        <td>Jan 15</td>
        <td>4 pages</td>
        <td>Im a document Image</td>
        <tr>
        </tr>
      </tr>
    </tr>
    <tr>
      <td>2016</td>
      <td>14 Mb</td>
      <td>Open Me</td>
    </tr>
  </tbody>
</table>