| &nbsp; <a href="#<%= cell.support_text_key %>" data-toggle="modal" data-target="#<%= cell.support_text_key %>">Not sure?</a>

<!-- Modal -->
<div class="modal fade" id="<%= cell.support_text_key %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header support-header">
        <i class="fa fa-info-circle fa-lg text-success" aria-hidden="true"></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= l10n("support_texts.#{cell.support_text_key}", application_applicable_year: FinancialAssistanceRegistry[:enrollment_dates].setting(:application_year).item.constantize.new.call.value!.to_s) %>
      </div>
    </div>
  </div>
</div>