<div class="sidebar list-group text-center">
  <div id="family_sidebar">
    <a class="employer_info list-group-item name" href="#">Employee <br/>Information<div class="arrow-right"></div></a>
    <a class="address_info list-group-item address" href="#">Address<div class="arrow-right"></div></a>
    <a class="dependent_info list-group-item email sidebar-email-field" href="#">Dependent Information<div class="arrow-right"></div></a>
  </div>
</div>