
  <div class="documents-table">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <col width="150">
        <col width="150">
        <col width="100">
        <col width="200">
        <col width="170">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Uploaded documents</th>
          <th>Review documents</th>
        </tr>

        <% @unverified_persons.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.consumer_role.vlp_documents.all.count %></td>
          <th><%= link_to "Review documents", documents_review_documents_path(:person_id => person.id), class: "btn btn-default" %></th>
        </tr>
        <% end %>

      </table>

    </div>
  </div>
