%employer
  %business_entity_kind= "urn:openhbx:terms:v1:employers##{employer.entity_kind}"
  %employer_census_families
    = render :partial => "events/census_employee/employer_census_family", locals:{ census_employee: census_employee }