<p>You have three options to complete your application if you cannot or do not want to verify your identity online using Experian:</p>
<ul>
  <li>
    <b>Upload document(s) proving your identity:</b> DC Health Benefit Exchange Authority staff will need to review and approve what you upload before you can continue. This can take 3-5 business days.
  </li>
  <li>
    <b>Apply in person:</b> You can set up an appointment to complete an application in person at the DC Health Benefit Exchange Authority. Call (202) 715-7576 to set up an appointment.
  </li>
  <li>
    <b>Upload a paper application:</b> Complete a paper application and upload it. DC Health Benefit Exchange Authority staff will need to review your application. You will not be able to access your information online, unless you also provide documents proving your identity.
  </li>
</ul>
<p>
