<div>
  <h5><b>To verify your identity, you’ll need to provide a copy of one of the following types of picture IDs:</b></h5>
  <ul>
    <li> Driver’s license issued by state or territory</li>
    <li> School identification card</li>
    <li> U.S. military card or draft record</li>
    <li> Identification card issued by the federal, state, or local government, including a U.S. passport</li>
    <li> Military dependent’s identification card</li>
    <li> A tribal document issued by a federally-recognized Indian Tribe, which must:</li>
    <li> Native American Tribal document</li>
    <li> U.S. Coast Guard Merchant Mariner card</li>
  </ul>
  <h5><b>OR</b></h5>
  <h5><b>Two of the following (names must match):</b></h5>
  <ul>
    <li> Birth certificate</li>
    <li> Social Security card</li>
    <li> Marriage certificate</li>
    <li> Divorce decree</li>
    <li> Employer identification card</li>
    <li> High school or college diploma (including high school equivalency diplomas)</li>
    <li> Property deed or title (including for a vehicle)</li>
  </ul>
</div>
