.content
  .container
    .col-xs-9
      - if @step == 'start'
        %h4 To keep your data secure, we are required to verify your identity electronically using the credit reporting agency Experian. Unfortunately, Experian was unable to confirm your identity based on the information you provided. You have two options for completing your application:
        %br
        1. Complete your application at the DC Health Benefit Exchange Authority. Please call (202) 715-7576 to set up an appointment.
        %br
        %br
        2. Complete a paper application form, scan it, and email it to info@dchealthlink.com. Click here for the paper application form. Be sure to fill out all the required information so that we can process your application as soon as possible.
        %br
      - else
        %h4= t('insured.interactive_identity_verifications.failed_validation.contact_information', :ref_number => @verification_response.transaction_id)

      %p= link_to(t('insured.interactive_identity_verifications.failed_validation.override'), insured_interactive_identity_verification_path(:id => @verification_response.transaction_id), :method => :put, :class => "btn btn-primary  btn-small interaction-click-control-override-identity-verification" + pundit_class(Family, :updateable?))
      %br
      .btn.btn-default{"data-target" => "#help_with_plan_shopping", "data-toggle" => "modal"}
        Help me sign up
    %br
      = render partial: 'insured/plan_shoppings/help_with_plan'
