.content
  .container
    %h4= t('insured.interactive_identity_verifications.failed_validation.contact_information', :ref_number => @verification_response.transaction_id)

    %p= link_to(t('insured.interactive_identity_verifications.failed_validation.override'), insured_interactive_identity_verification_path(:id => @verification_response.transaction_id), :method => :put, :class => "btn btn-primary interaction-click-control-override-identity-verification")
    %br
    .btn.btn-transparent{"data-target" => "#help_with_plan_shopping", "data-toggle" => "modal"}
      Help me sign up
  %br
    = render partial: 'insured/plan_shoppings/help_with_plan' 
