h1.heading-text = @service.legal_name

div.col-12
  #subFilters
    .row.pl-1
      .col-md-2
        | By Year
      .col-md-2
        | By Market
      .col-md-2
        | By Coverage
  #subFilters
  table#products-ajax-dt.table.table-striped
    thead
      tr
        th
          input.all-product-chkbx type="checkbox" onclick="selectAllCheckboxes(this)"
        th Plan
        th Year
        th Market
        th Coverage
        th Doc Status
        th Doc Name
        th Size
        th Submitted at
        th Deleted
        th Actions
