<%
rerun = File.file?('rerun.txt') ? IO.read('rerun.txt') : ""
rerun_opts = rerun.to_s.strip.empty? ? "--format #{ENV['CUCUMBER_FORMAT'] || 'progress'} features" : "--format #{ENV['CUCUMBER_FORMAT'] || 'pretty'} #{rerun}"
std_opts = "--format #{ENV['CUCUMBER_FORMAT'] || 'pretty'} --strict --tags  'not @wip' --tags 'not @ma_only' --tags 'not @quoting_enabled' --tags 'not @edit_aptc' --tags  'not @more_than_sole_source'"
failure_opts = ""
if ENV['TEST_ENV_NUMBER'].nil?
  failure_opts = ""
else
  failure_opts = " --format summary --out cucumber#{ENV['TEST_ENV_NUMBER']}.summary --format rerun --out tmp/cucumber_failures#{ENV['TEST_ENV_NUMBER']}.log"
end
%>
default: <%= std_opts %><%= failure_opts %> -r features --profile semaphoreci
wip: --tags @wip:11 --wip features
first_rerun: --format pretty --format rerun --out tmp/cucumber_failures_2.log
second_rerun: --format pretty --format rerun --out tmp/cucumber_failures_3.log
screenshots: <%= std_opts %> -r features SCREENSHOTS=true
semaphoreci: --format json --out=/Users/markgoho/cucumber_report.json
