.container
  .col-xs-12.module#plan_year
    .row
      .col-xs-12.planyear-add-tab
        #choose-coverage
          - if @benefit_application_form.errors.any?
            .alert-plan-year.alert-error
              - if @just_a_warning == false
                h4 = pluralize(@benefit_application_form.errors.count, "error")
                | prohibited this benefit application from being saved:
                <ul>
                  - @benefit_application_form.errors.delete(:benefit_packages)
                  - @benefit_application_form.errors.full_messages.each do |msg|
                    li = msg
          = render "benefit_sponsors/benefit_applications/benefit_applications/shared/benefit_application_fields", f: f
          = f.submit "Continue", class:'btn btn-primary btn-lg pull-right'