<div class="col-xs-12 module" id='plan_year'>
    <div class="row">
      <div class="col-xs-12 planyear-add-tab">
        <div id="choose-coverage">
          <% if @benefit_application_form.errors.any? %>
            <div class="alert-plan-year alert-error">
              <% if @just_a_warning == false %>
              <h4><%= pluralize(@benefit_application_form.errors.count, "error") %> prohibited this benefit application from being saved:</h4>
              <% end %>
              <ul>
                <% @benefit_application_form.errors.delete(:benefit_packages) %>
                <% @benefit_application_form.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= render "benefit_sponsors/benefit_applications/benefit_applications/shared/benefit_application_fields", f: f %>
          <%= f.submit "Continue", class:'btn btn-default btn-lg' %>
        </div>
      </div>
    </div>
</div><br>
