<!DOCTYPE html>
<html>
<head>
  <title>TransportProfiles</title>
  <%= stylesheet_link_tag    "transport_profiles/application", media: "all" %>
  <%= javascript_include_tag "transport_profiles/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
