<div id="cobra_info" class="row module">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd">
        <div class="checkbox">
          <label>
            <%= f.check_box :existing_cobra, {onclick: 'EmployerProfile.viewCobraDateField()'}, true, false %> Check the box if this person is already in enrolled into COBRA/Continuation outside of DC Health Link
          </label>
        </div>
      </div>
    </div>
    
    <div class="<%= 'hidden' unless f.object.existing_cobra %>" id='cobra_begin_date_field'>
      <div class="row row-form-wrapper no-buffer">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd cobra-label">
          <label>COBRA Begin Date</label>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= datepicker_control f, :cobra_begin_date, {:class => "floatlabel form-control interaction-field-control-census-employee-cobra_begin_date", :placeholder => "mm/dd/yyyy", :'data-date-max' => "+0", :onchange => 'EmployerProfile.validateCobraBeginDate()'} %>
        </div>
      </div>
      <div class="row row-form-wrapper no-buffer">
      <label>Please enter the maximum number of months the enrollee is eligile for COBRA/continuation coverage,upto a maximum of 36 months you can end this coverage earlier,however coverage will automatically be terminated after this many months.</label>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd cobra-label">
            <label>Maximum COBRA Months</label>
          </div>
          <div class="input-group input-spinner">
          <!-- <input type="text"  value="1"> -->
          <%= f.text_field :cobra_max_months, value: "1", class: "form-control"%>
          <div class="input-group-btn-vertical"> 
            <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
            <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
