<% content_for :navigation do %>
  <%= render :partial => 'employers/employer_profiles/primary_nav', :locals => {:active_tab=>params[:tab], :employer_profile_id=>params[:employer_profile_id]} %>
<% end %>
<div class="container top-pd">
  <%= form_for @census_employee, url: employers_employer_profile_census_employee_path(employer_profile_id: @employer_profile.id, id: @census_employee.id), method: :put do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
