<% if @rehiring_date.present? %>
  // This is not being used in census employee rehire method. so commenting it out.
  // var notice = "<div class='alert alert-notice'>Successfully rehired Census Employee. Please update benefit group.</div>"
  // $('#add_employee_action').html(notice + "<%= escape_javascript(render "new") %>");
  // $('.employees-tab').hide();
  // applyJQDatePickers();
<% end %>
