<%= form_for @broker_applicant, url: {action: "update"} do |f| %>
<div class="container top-pd">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">

      <% broker_or_staff_role = @broker_applicant.broker_role.nil? ? @broker_applicant.broker_agency_staff_roles[0] : @broker_applicant.broker_role %>

      <%= render partial: "shared/brokers/broker_fields", :locals => {f: f, broker_or_staff_role: broker_or_staff_role} %>
    </div>
  </div>
</div>
<% end %>