<div id="name_info" class="focus_effect row personal-info-row" style="opacity: 0.5;">
  <div class="col-md-10 no-pd col-sm-9 col-xs-12 first">
    <div class="row top-row">
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :legal_name, class: "floatlabel form-control", required: true, placeholder: 'LEGAL NAME*' %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <%= f.text_field :dba, class: "floatlabel form-control", placeholder: 'DBA (OPTIONAL)' %>
      </div>
    </div>

    <div class="row middle-row form-group form-group-lg no-pd">
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <input type="text" class="floatlabel form-control" placeholder="ADDRESS LINE 1">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 form-group form-group-lg no-pd">
        <input type="text" class="floatlabel form-control" placeholder="ADDRESS LINE 2">
      </div>
    </div>

    <div class="row bottom-row">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <input type="text" class="floatlabel form-control" placeholder="CITY">  
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <input type="text" class="floatlabel form-control" placeholder="STATE">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <input type="text" class="floatlabel form-control" placeholder="COUNTRY">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <input type="text" class="floatlabel form-control" placeholder="ZIP">
        </div>
      </div>
      <div class="error">
        <div class="warning"><i class="fa fa-exclamation-triangle"></i>
          All fields Required</div>
      </div>
  </div>

  <div class="col-md-2 key col-sm-3 col-xs-12">
    <!-- <p class="top-pad">Use the drop down to create new addresses</p> -->
  </div>
</div>