<div class="col-xs-10 add-employee-tab">
<%= form_for @census_employee, url: plan_design_proposal_plan_design_census_employees_path(@plan_design_proposal) do |f| %>
  <%= render 'form', f: f %>
<% end %>
</div>
