- is_ivl_osse_filter_eligible = ivl_osse_filtering_enabled? && @hbx_enrollment.ivl_osse_eligible?
#filter-sidebar.col-lg-3.col-md-3.co-sm-3.col-xs-12.pl-0
  .checkbox-filter-wrapper-uc
    / TODO: These links will be deprecated for Maine. New feature checks will be added here to make them dissappear.
    / Maine will have a "Go To Plan Compare" link in more_plan_details.html.erb which opens the estimate your cost module
    - if EnrollRegistry.feature_enabled?(:find_my_doctor_options)
      h4 = find_my_doctor
      - if checkbook_integration_enabled?
        - if @market_kind == "individual" && @coverage_kind == "health"
          h4 = link_to l10n("estimate_your_cost"), "", data: {toggle: "modal", target: "#plan_match_redirection"}
        - if @market_kind == "individual" && @coverage_kind == "dental" && @hbx_enrollment.effective_on.year == Settings.checkbook_services.current_year
          h4 = link_to l10n("estimate_your_cost"), '',data: {toggle: "modal", target: "#plan_match_dental_redirection"}
          br
        h4 = estimate_your_costs

  #plan_match_redirection.modal.fade role="document" tabindex="-1"
    .modal-dialog
      .modal-content
        .modal-header style="height:50px"
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true"  &times;
        div style="margin-left:20px;"
          p style="margin-bottom:0px" = l10n("modal_onscreen")
          p style="margin-bottom:0px" = l10n("modal_onscreen1")
          p style="margin-bottom:0px" = l10n("modal_onscreen2")
        .modal-footer style="padding:10px"
          center
            button.btn.btn-default.btn-default data-dismiss="modal" type="button"  Cancel
            = link_to l10n("proceed") , @dc_individual_checkbook_url, class: "btn btn-primary checkbook_url"

  #plan_match_dental_redirection.modal.fade role="document" tabindex="-1"
    .modal-dialog
      .modal-content
        .modal-header style="height:50px"
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true" &times;
        div style="margin-left:20px;"
          p style="margin-bottom:0px" = l10n("modal_onscreen")
          p style="margin-bottom:0px" = l10n("modal_onscreen1")
          p style="margin-bottom:0px" = l10n("modal_onscreen2")
        .modal-footer style="padding:10px"
          center
            button.btn.btn-default.btn-default data-dismiss="modal" type="button"  Cancel
            = link_to l10n("proceed") , l10n("sadpi_url"), class: "btn btn-primary"

  #plan_match_family.modal.fade role="document" tabindex="-1"
    .modal-dialog
      .modal-content
        .modal-header style="height:50px"
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true" &times;
        div style="margin-left:20px;"
          p style="margin-bottom:0px" = l10n("modal_onscreen")
          p style="margin-bottom:0px" = l10n("modal_onscreen1")
          p style="margin-bottom:0px" = l10n("modal_onscreen2")
        .modal-footer style="padding:10px"
          center
            button.btn.btn-default.btn-default data-dismiss="modal" type="button"  Cancel
            = link_to l10n("proceed"), EnrollRegistry[:enroll_app].setting(:shop_find_your_doctor_url).item, class: "btn btn-primary  mtz", target: '_blank', rel: 'noopener noreferrer'

  #plan_match_doctor_shop.modal.fade role="document" tabindex="-1"
    .modal-dialog
      .modal-content
        .modal-header style="height:50px"
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true" &times;
        div style="margin-left:20px;"
          p style="margin-bottom:0px" = l10n("modal_onscreen")
          p style="margin-bottom:0px" = l10n("modal_onscreen1")
          p style="margin-bottom:0px" = l10n("modal_onscreen2")
        .modal-footer style="padding:10px"
          center
            button.btn.btn-default.btn-default data-dismiss="modal" type="button" Cancel
            = link_to l10n("proceed") , Rails.application.config.checkbook_services_base_url + l10n("dc_shop_nation_wide") , class: "btn btn-primary",target: '_blank', rel: 'noopener noreferrer'
  #plan_match_shop.modal.fade role="document" tabindex="-1"
    .modal-dialog
      .modal-content
        .modal-header style="height:50px"
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true" &times;
        div style="margin-left:20px;"
          p style="margin-bottom:0px" = l10n("modal_onscreen")
          p style="margin-bottom:0px" = l10n("modal_onscreen1")
          p style="margin-bottom:0px" = l10n("modal_onscreen2")
        .modal-footer style="padding:10px"
          center
            button.btn.btn-default.btn-default data-dismiss="modal" type="button" Cancel
            =link_to l10n("proceed"), @plan_comparison_checkbook_url , class: "btn btn-primary"
  #how_is_this_calculated.modal.fade role="document" tabindex="-1"
    .modal-dialog
      .modal-content
        .modal-header style="height:0;border-bottom:0;"
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true" &times;
        .modal-body style="margin-right:20px;"
          p style="margin-bottom:0px;font-weight:400;"
            strong = l10n("modal_how_is_this_calculated")
          p style="margin-bottom:0px;font-weight:400;" = l10n("modal_how_is_this_calculated1")
          p style="margin-bottom:0px;font-weight:400;" = l10n("modal_how_is_this_calculated2")
          p style="margin-bottom:0px;font-weight:400;" = l10n("modal_how_is_this_calculated3")
          ul
            li
              strong = l10n("modal_how_is_this_calculated4") + ": "
              span = l10n("modal_how_is_this_calculated5")
            li
              strong = l10n("modal_how_is_this_calculated6") + ": "
              span = l10n("modal_how_is_this_calculated7")
            li
              strong = l10n("modal_how_is_this_calculated8") + ": "
              span = l10n("modal_how_is_this_calculated9")


  h3.header-title Filter Results
  .checkbox-filter-wrapper style="border-bottom:0;"
    - if @market_kind == 'shop' || @market_kind == 'fehb'
      .form-inline.search-apply-wrapper.mt-1
        a.btn.btn-primary.mz href="javascript:void(0)" onclick="filterResults()" title="Apply all filters"
          = l10n("apply")
        a.btn.btn-default#reset-btn onclick="resetAllFilters()"
          = l10n("reset")
    - else
      .form-inline.search-apply-wrapper
        a.btn.btn-primary.apply-btn.mz href="javascript:void(0);" title="Apply all filters" = l10n("apply")
        a.btn.btn-default.reset-btn#reset-btn href="javascript:void(0);" = l10n("reset")
  - if @person.has_active_consumer_role? && @tax_household.present? && @market_kind == "individual"
    h5
      strong #{l10n('your_tax_credit')}
      - tooltip_text = is_ivl_osse_filter_eligible ? "#{l10n('your_tax_credit_for_hc4cc')}" : "#{l10n('your_tax_credit')}"
      a href="#" data-toggle="tooltip" data-placement="right" data-container="body" title=tooltip_text
        i.fas.fa-question-circle.fa-lg.pl-1 aria-hidden="true"
        br
        span.hide = l10n("open")
    .aptc.panel.panel-default
      .panel-body style="padding:10px;"
        .row style="margin:0;"
          .col-xs-6 style="padding:0;"
            p.text-left style="font-size:12px;" = l10n('available').to_s
          .col-xs-6 style="padding:0;"
            p.text-right style="font-size:12px;" = number_to_currency(@max_aptc, precision: 2)
        .row style="margin:0;"
          .col-xs-6 style="padding:0;"
            p.text-left style="line-height:16px; font-size:12px;" = l10n('apply_monthly')
          .col-xs-6 style="padding:0;"
            p
              input#elected_aptc onchange="setMinMax(this, #{@max_aptc})" type="text" value="#{number_with_precision(@elected_aptc, precision: 2)}" style="width:100%;" data-elected="#{number_with_precision(@elected_aptc, precision: 2)}"
              - pct = @max_aptc > 0 ? (@elected_aptc/@max_aptc).round(2) : 0
        = hidden_field_tag :max_aptc, @max_aptc
        = hidden_field_tag :market_kind, @market_kind
        = hidden_field_tag :coverage_kind, @coverage_kind
        = hidden_field_tag :set_elected_aptc_url, set_elected_aptc_insured_plan_shopping_path(id: @hbx_enrollment.try(:id)) if @hbx_enrollment.present?
        form oninput=("pct.value = (elected_pct.value*100).toFixed(0)") onsubmit=("return false")
          - min_aptc = is_ivl_osse_filter_eligible ? minimum_applied_aptc_pct_for_osse : 0
          - step = is_ivl_osse_filter_eligible ? 0.005 : 0.05
          input max="1" min="#{min_aptc}" name="elected_pct" step="#{step}" type="range" value= "#{pct}" style="padding:0;"
          span style="font-size:12px;" #{(min_aptc * 100).to_i}%
          span.pull-right
            output name="pct" style="font-size:12px;" = (pct * 100).to_i
            | %
        h6 style="font-weight:400; margin-top:0;" = link_to l10n("how_is_this_calculated") + "?", "", data: {toggle: "modal", target: "#how_is_this_calculated"}
  - if is_ivl_osse_filter_eligible
    .checkbox-filter-wrapper-uc
      h5
        strong HC4CC Eligible
        a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="#{l10n("insured.plan_shoppings.hc4cc_eligible_title_info")}"
          i.fas.fa-question-circle.fa-lg.pl-1 aria-hidden="true"
          br
          span.hide = l10n("open")
      ul.list-unstyled
        li
          .filter-input-block
            = select_tag :osse_eligibility, options_for_select(["Yes", "No"]), class: "plan-osse-eligibility-selection-filter form-control", include_blank: "All", onchange:"filterOSSEEligibility(this)"
  - if @market_kind == 'individual' || @market_kind == 'coverall' || @sponsored_benefit.try(:product_package_kind) == :single_issuer
    .checkbox-filter-wrapper-uc
      h5
        strong Metal Level
        a href="#" data-toggle="tooltip" data-placement="right" data-container="body" title="Plans use metal levels as an easy way to help indicate how generous they are in paying expenses. Metal levels only focus on what the plan is expected to pay, and do NOT reflect the quality of health care or service providers available through the health insurance plan."
          i.fas.fa-question-circle.fa-lg.pl-1 aria-hidden="true"
          br
          span.hide = l10n("open")
      ul.list-unstyled
        - for level in @metal_levels do
          li
            .filter-input-block style="text-align:left"
              checkbox
                label
                  input id="plan-metal-level-#{level}" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-#{level}" type="checkbox" onClick="filterMetalLevel(this)" data-plan-metal-level="#{level}" data-category="planMetalLevel"
                  label for="plan-metal-level-#{level}" class="checkbox-custom-label"
                    span data-toggle="tooltip" data-placement="right" data-container="body" title="#{l10n('insured.plan_shoppings.plan_filters_'"#{level}"'_title_info')}"
                    = l10n("#{level}")
  .checkbox-filter-wrapper-uc
    h5
      strong = l10n(".plan_type")
      a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="#{l10n("insured.plan_shoppings.plan_type_title_info")}"
        i.fas.fa-question-circle.fa-lg.pl-1 aria-hidden="true"
        br
        span.hide = l10n("open")
    ul.list-unstyled
      - @plan_types.each_with_index do |type, i|
        li
          .filter-input-block style="text-align:left"
            checkbox
              label
                input id="checkbox-#{10+i}" class="plan-type-selection-filter checkbox-custom" name="checkbox-#{10+i}" type="checkbox" data-plan-type="#{type}" onClick="filterPlanType(this)" data-category="planType"
                label for="checkbox-#{10+i}" class="checkbox-custom-label"
                  span data-toggle="tooltip" data-placement="right" data-container="body" title="#{l10n('insured.plan_shoppings.'"#{type}"'_title_info')}"
                  = l10n("#{type}")
  - if offers_nationwide_plans?
    .checkbox-filter-wrapper-uc
      h5
        strong = l10n("network")
        a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="#{l10n("insured.plan_shoppings.network_title_info")}"
          i.fas.fa-question-circle.fa-lg.pl-1 aria-hidden="true"
          br
          span.hide = l10n("open")
      ul.list-unstyled
        - if @market_kind == 'shop' || @market_kind == 'fehb'
          - @networks.each_with_index do |network, i|
            li
              .filter-input-block style="text-align:left"
                checkbox
                  label
                    input id="checkbox-#{15+i}" class="plan-metal-network-selection-filter checkbox-custom" name="checkbox-#{15+i}" type="checkbox" data-plan-network="#{network}" onClick="filterPlanNetwork(this)" data-category="planNetwork"
                    label for="checkbox-#{15+i}" class="checkbox-custom-label"
                      span data-toggle="tooltip" data-placement="right" data-container="body" title="#{l10n('insured.plan_shoppings.plan_shoppings_'"#{network}"'_title_info')}"
                      = l10n("#{network}")
        - else
          - @networks.each_with_index do |network, i|
            li
              .filter-input-block style="text-align:left"
                checkbox
                  label
                    input id="checkbox-#{15+i}" class="plan-metal-network-selection-filter checkbox-custom" name="checkbox-#{15+i}" type="checkbox" data-plan-network="#{network.gsub('-', ' ').downcase!}" onClick="filterPlanNetwork(this)" data-category="planNetwork"
                    label for="checkbox-#{15+i}" class="checkbox-custom-label"
                      span data-toggle="tooltip" data-placement="right" data-container="body" title="#{l10n('insured.plan_shoppings.plan_shoppings_' "#{network}" '_title_info')}"
                      = l10n("#{network}")
  .checkbox-filter-wrapper-uc
    h5
      strong = l10n("carrier")
      a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="#{l10n("filter_by_the_carrier")}"
        i.fas.fa-question-circle.fa-lg.pl-1 aria-hidden="true"
        br
        span.hide = l10n("open")
    ul.list-unstyled
      li
        .filter-input-block
          - issuer_names =  (@market_kind == 'shop' ||  @market_kind == 'fehb') ? @carrier_names : @carriers
          = select_tag :carrier, options_for_select(issuer_names), class: "plan-carrier-selection-filter form-control", include_blank: "All", onchange:"filterPlanCarriers(this)"
  .checkbox-filter-wrapper-uc
    h5
      strong = l10n('hsa_eligible')
      a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="#{l10n("insured.plan_shoppings.hsa_eligible_title_info")}"
        i.fas.fa-question-circle.fa-lg.pl-1 aria-hidden="true"
        br
        span.hide = l10n("open")
    ul.list-unstyled
      li
        .filter-input-block
          = select_tag :hsa_eligibility, options_for_select(["Yes", "No"]), class: "plan-hsa-eligibility-selection-filter form-control", include_blank: "All", onchange:"filterHSAEligibility(this)"
  .checkbox-filter-wrapper-uc
    h5
      strong = l10n("premium_amount")
      a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="#{l10n("insured.plan_shoppings.premium_amount_title_info")}"
        i.fas.fa-question-circle.fa-lg.pl-1 aria-hidden="true"
        br
        span.hide = l10n("open")
    .filter-input-block
      input.plan-metal-premium-from-selection-filter.form-control  type="text" placeholder="$0" value="0" onblur="premiumFromAmount(this)" maxlength="10" oninput="toCurrency(this)"
      small To
      input.plan-metal-premium-to-selection-filter.form-control.fr type="text" placeholder="$#{@max_total_employee_cost || 2000}" value="#{@max_total_employee_cost || 2000}" onblur="premiumToAmount(this)" maxlength="10" oninput="toCurrency(this)"
      = hidden_field_tag :max_total_employee_cost, (@max_total_employee_cost || 2000)
    h5
      strong = l10n("deductible_amount")
    .filter-input-block
      input.plan-metal-deductible-from-selection-filter.form-control type="text" placeholder="$0" value="0" onblur="deductibleFromAmount(this)" maxlength="10" oninput="toCurrency(this)"
      small To
      input.plan-metal-deductible-to-selection-filter.form-control type="text" placeholder="$#{@max_deductible || 5000}" onblur="deductibleToAmount(this)" maxlength="10" oninput="toCurrency(this)" value='#{@max_deductible || 5000}'
  .checkbox-filter-wrapper
    - if @market_kind == 'shop' || @market_kind == 'fehb'
      .form-inline.search-apply-wrapper.mt-1
        a.btn.btn-primary.mz href="javascript:void(0)" onclick="filterResults()" title="Apply all filters"
          = l10n("apply")
        a.btn.btn-default#reset-btn onclick="resetAllFilters()"
          = l10n("reset")
    - else
      .form-inline.search-apply-wrapper
        a.btn.btn-primary.apply-btn.mz href="javascript:void(0);" title="Apply all filters" = l10n("apply")
        a.btn.btn-default.reset-btn#reset-btn href="javascript:void(0);" = l10n("reset")


// Needed to fix for shop if user hits back button in browser
- if @market_kind == 'shop' || @market_kind == 'fehb' || @market_kind == 'individual'
  javascript:
    var promise1 = new Promise(function(resolve, reject) {
      setTimeout(function() {
        resolve('completed');
        $('select.plan-carrier-selection-filter').selectric('destroy');
        $('select.plan-hsa-eligibility-selection-filter').selectric('destroy');
        $('select.plan-osse-eligibility-selection-filter').selectric('destroy');
      }, 700);
    });

    var promise2 = new Promise(function(resolve, reject) {
      setTimeout(function() {
        resolve('promise 2 completed');
        resetAllFilters();
      }, 200);
    });

    (function() {
      promise1.then(function(value) {
        promise2;
      });
    })();
