<li class='<%= 'paginate_button previous' if @bs4 %>'>
  <%= link_to_unless current_page.first?, @bs4 ? l10n("previous") : raw(t 'views.pagination.previous'), url, :rel => 'prev', :remote => remote %>
</li>
