<div class="container" style="padding-top: 1px">
  <div class='row'>
    <div class='col-md-9'>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong>Manage Qualifying Life Events</strong>
        </div>
        <div class="panel-body">
          <form class="form">
            <div class="form-group">
              <div class="checkbox">
                  <label for="qle_wizard_new_qle_selected_radio">
                      <input id="qle_wizard_new_qle_selected_radio" name="qle_kind_wizard_action" type="radio" (change)="selectAction('new')">
                      Create a Custom QLE
                  </label>
              </div>
              <div class="checkbox">
                  <label for="qle_wizard_modify_qle_selected_radio">
                      <input id="qle_wizard_modify_qle_selected_radio" name="qle_kind_wizard_action" type="radio" (change)="selectAction('edit')">
                      Modify Existing QLE
                  </label>
              </div>
              <div class="checkbox">
                  <label for="qle_wizard_Create_qle_selected_radio">
                      <input id="qle_wizard_deactivate_qle_selected_radio" name="qle_kind_wizard_action" type="radio" (change)="selectAction('deactivate')">
                      Deactivate Active QLE
                  </label>
              </div>
            </div>
            <div class="form-group" *ngIf="showEdit()">
              <select #editSelection>
                 <option *ngFor="let editable of editableList" value="{{editable.value}}">{{editable.label}}</option>
              </select>
            </div>
            <div class="form-group" *ngIf="showDeactivate()">
                <select #deactivateSelection>
                    <option *ngFor="let deactivatable of deactivatableList" value="{{editable.value}}">{{editable.label}}</option>
                 </select>
            </div>
            <div class="form-group" *ngIf="showCreate()">
              <select #createSelection>
                  <option *ngFor="let create of creatableList" value="{{create.value}}">{{create.label}}</option>
               </select>
          </div>
            <div class="form-group">
              <button class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>