<div class='container'>
  <h1 class="heading-text" #headerRef>
    Deactivate an Existing Qualifying Life Event Kind
  </h1>
  <div *ngIf="submissionComplete" class="alert alert-success">
    {{submissionMessage}}
  </div>
  <form class="s508" [formGroup]="deactivateQleKindFOrm">
    <field-errors [errorControl]="deactivateQleKindFOrm" errorHeader="Unable to deactivate QLe due to the following errors:"></field-errors>
    <fieldset>
      <label for="end_on">Available From:*</label>
      <input placeholder="MM/DD/YYYY" id="start_on" type="text" formControlName="start_on" class="form-control uidatepicker" mask="M0/d0/0000" [dropSpecialCharacters]="false" [validation]="true" required>
      <field-errors [errorControl]="deactivateQleKindForm.get('start_on')"></field-errors>

      <label for="end_on">Available Until:*</label>
      <input placeholder="MM/DD/YYYY" id="end_on" type="text" formControlName="end_on" class="form-control uidatepicker" mask="M0/d0/0000" [dropSpecialCharacters]="false" [validation]="true" required>
      <field-errors [errorControl]="deactivateQleKindFOrm.get('end_on')"></field-errors>
    </fieldset>
    <button (click)="deactivateQualifyingLifeEventKind()" class="btn btn-default">Deactivate QLE Kind</button>
    <h5 class="heading-text" [innerHTML]="deactivateConfirmationMessage | trustedHtml"></h5>
  </fieldset>
  <button *ngIf="!submissionComplete" (click)="submitForm()">
  </form>
</div>

<script type="text/javascript" charset="utf-8">
  $(".uidatepicker").datepicker({maxDate: "-1D", changeMonth: true, changeYear: true, dateFormat: 'mm/dd/yy',  yearRange: (new Date).getFullYear()-110 + ":" + (new Date).getFullYear()});
</script>

