<div class='container'>
  <form *ngIf="hasResource()" [formGroup]="deactivationFormGroup" class='form'>
    <h1 class="heading-text" #headerRef>
      Deactivate an Existing Qualifying Life Event Kind
    </h1>
    <field-errors [errorControl]="deactivationFormGroup" errorHeader="Your QLE Kind could not be deactivated for the following reasons:"></field-errors>
    <hr>
    <div class="form-group col-md-4 mb-2{{errorClassFor(deactivationFormGroup.get('end_on'))}}">
      <input type="hidden" formControlName="id">
      <dl class="">
        <dt>
          Title:
        </dt>
        <dd class='capitalize-text'>
          {{qleKindToDeactivate.title}}
        </dd>
        <dt>
          Tool Tip: 
        </dt>
        <dd>
          {{qleKindToDeactivate.tool_tip}}
        </dd>
        <dt>
          Action Kind:
        </dt>
        <dd class='capitalize-text'>
          {{qleKindToDeactivate.action_kind}}
        </dd>
        <dt>
          Reason:
        </dt>
        <dd class='capitalize-text'>
          {{qleKindToDeactivate.reason}}
        </dd>
        <dt>
          Market Kind:
        </dt>
        <dd class='capitalize-text'>
          {{qleKindToDeactivate.market_kind}}
        </dd>
      </dl>
      <label for="qle_kind_deactivation_form_end_on"> QLE Kind Deactivation Date</label> <br>
      <input type='text' formControlName="end_on" id='qle_kind_deactivation_form_end_on' placeholder="MM/DD/YYYY" mask="M0/d0/0000" [dropSpecialCharacters]="false" [validation]="true" required> <br>
      <field-errors [errorControl]="deactivationFormGroup.get('end_on')"></field-errors>
      <br>
      <button class="btn btn-primary" (click)="submitDeactivation()">Deactivate QLE Kind</button>
    </div>
  </form>
</div>
