<div class='container'>
  <h1 class="heading-text">
    Deactivate an Existing Qualifying Life Event Kind
  </h1>
  <form class='form'>
    <div class='form-group'>
      <label for="start_on">Available From:*</label>
      <input placeholder="MM/DD/YYYY" id="start_on" type="text" formControlName="start_on" class="form-control" mask="M0/d0/0000">

      <label for="end_on">Available Until:*</label>
      <input placeholder="MM/DD/YYYY" id="end_on" type="text" formControlName="end_on" class="form-control" mask="M0/d0/0000">
    </div>

    <div class="form-group">
      <button class="btn btn-primary" (click)="submitDeactivation()">Deactivate QLE Kind<</button>
    </div>
  </form>
</div>
