- id = (resource.public_send(resource_method) rescue resource.object_id)
= check_box_tag 'bulk_actions_resources[]', id, false, autocomplete: 'off', id: "bulk_actions_resource_#{id}", class:"individual_checkbox", data: { role: 'bulk-actions-resource', status:eligibility_criteria(resource.employer_profile) }, onClick: 'event.stopPropagation();'
