.row
  .col-md-12.col-sm-12.col-xs-12
    .fail-search.notification-error-wrapper
      .col-md-1.col-sm-1.col-xs-12.no-pd
        %span.notice
          %i.fa.fa-exclamation-triangle

      .col-md-10.col-sm-10.col-xs-10.no-pd.error-text
        %strong No Person found.
        = "Check your personal information and try again OR contact #{contact_center_name}: #{contact_center_phone_number}."

      .col-md-1.col-sm-1.col-xs-2.no-pd
        = link_to image_tag('member-close.png'), '#', class: 'close-fail'
