<div class="container-fluid no-pd-left">
  <div class="panel panel-default">
    <div class="panel-body left" id="new_employer_wrapper">
      <%= render 'remote_search_form' %>
    </div>
  </div>
</div>