<div class="autofill-cloud autofill-initial hidden">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag 'autofill-cloud.png' %>
      <span class="close"></span>
    </div>
    <p>
      We may be able to auto-fill your information with data from our records.
    </p>
    <a href="#" class="btn btn-ok autofill_yes">Yes</a>
    <div class="clearfix"></div>
    <a href="#" class="btn btn-cancel autofill_no">No Thanks</a>
  </div>
</div>
<div class="autofill-cloud autofill-failed hidden">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag 'autofill-cloud-failed.png' %>
      <span class="close"></span>
    </div>
    <p>
      We were not able to find your information. Double check your social security number and Date of Birth
    </p>
    <a href="#" class="btn btn-try-again btn-primary">Try Again</a>
  </div>
</div>
<div class="less-opacity hidden">
  <%= image_tag 'autofill-cloud.png' %>
  <p>Autofill</p>
</div>