<%- model_class = Person -%>

<div class="container">
	<div class="panel panel-default">
  		<div class="panel-body left" id="new_person_wrapper">
			<%= form_for(@person) do |f| %>
			  <%= render 'form', f: f %>
			<% end %>
		</div>
	</div>
</div>
