<div class="modal" id="sessionExpirationWarningModal" tabindex="-1" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>
          Your session will expire in
          <strong>
            <%= @time_left %>
          </strong>
          seconds. If you would like to remain logged in click "Stay Logged In" below.
        </p>
        <ul class="application-warnings"></ul>
      </div>
      <div class="modal-footer">
        <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "btn btn-default btn-small" %>
        <span id="stay-logged-in" class="btn btn-primary  mtz btn-small" data-dismiss="modal">Stay Logged In</span>
      </div>
    </div>
  </div>
</div>
