  <p><h5>Please specify the acceptable boundary dates for this question</h5></p>
  <td><%= text_field_tag :date_answer_from, nil, class: " form-control-custom-qle uidatepicker", placeholder: 'from', autocomplete: :off %></td>
  <td><%= text_field_tag :date_answer_until, nil, class: " form-control-custom-qle uidatepicker", placeholder: 'until', autocomplete: :off %></tr>
