<% if @bs4 %>
  <%= render partial: 'shared/family_side_nav' %>
  <div id="plan-summary">
    <%= render partial: "ui-components/v1/cards/summary", locals: {qhp: @qhp, plan: @plan} %>
  </div>
<% else %>
  <div id="plan-summary" style="margin-top: 30px;">
    <%= render partial: "ui-components/v1/cards/summary", locals: {qhp: @qhp} %>
  </div>
<% end %>
