<% @dental_carrier_names.each do |carrier| %>
<div class="col-xs-3 carriers">
  <div class="col-xs-12 row">
    <%= link_to employers_employer_profile_plan_year_dental_reference_plans_path(@employer_profile, @plan_year_id, carrier_for_elected_plan: "#{carrier.legal_name}", carrier_id: "#{carrier.id}", dental_plan_option_kind: "single_carrier", location_id: @location_id ), remote: true do %>
    <div class="col-xs-3">
      <%= radio_button_tag :carrier_for_elected_dental_plan, "#{carrier.id}" %>
      <%= label_tag "carrier_for_elected_dental_plan_#{carrier.id}" do %>
      <i class="fa fa-circle-o"></i>
      <i class="fa fa-dot-circle-o"></i>
      <% end %>
    </div>
    <% end %>
    <div class="col-xs-9">
      <div class="panel">
        <div class="panel-heading">
          <h3><%= carrier.legal_name %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
