<div class="modal" id="publishPlanYear" tabindex="-1" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Publish Plan Year</h4>
      </div>
      <div class="modal-body">
        <p>
          As submitted, this application is ineligible for coverage under the <%= Settings.site.short_name %> exchange for reasons identified below. Click Cancel to go back and correct inaccurate information. If the information provided is accurate, you may click Publish to proceed. However, if you choose to proceed and the eligibility determination is deemed correct by <%= Settings.site.short_name %> officials, this organization may not again apply for coverage for 90 days, or until the reason for ineligibility changes, whichever is later.
        </p>
        <ul class="application-warnings"></ul>
      </div>
      <div class="modal-footer">
        <%= link_to 'Force Publish', employers_employer_profile_plan_year_force_publish_path(@employer_profile,plan_year), method: :post, :class => 'btn btn-danger' %>
        <%= link_to 'Cancel', edit_employers_employer_profile_plan_year_path(@employer_profile,plan_year), method: :get, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
