<% if @plan.present? and @premiums.present? %>
  <h5><%= @plan.name %></h5>
  <table class="table table-bordered">
    <tr>
      <th>age</th>
      <th>cost</th>
    </tr>
    <% @premiums.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= "#{v.min.round(2)} ~ #{v.max.round(2)}" %></td>
      </tr>
    <% end %>
  </table>
<% end  %>
