<% if @plan.premium_tables.present? %>
  <h5><%= @plan.name %></h5>
  <div class='row'>
    <% num = (@premium_tables.count + 3) / 4  %>
    <% @premium_tables.each_slice(num).with_index do |premiums, index| %>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <table class="table table-bordered">
          <tr>
            <th>age</th>
            <th>cost</th>
          </tr>
          <% premiums.each do |premium| %>
            <tr>
              <td><%= premium.age %></td>
              <td><%= premium.cost.try(:round, 2) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
<% end  %>
