<div class="container" >
  <h3>PY Cost Impact</h3>
  <ul class="nav nav-tabs">
    <% @plan_year.benefit_groups.each do |benefit_group| %>
    <li id="<%= benefit_group.id %>" class=<%= @plan_year.benefit_groups.index(benefit_group).zero? ? "active" : "" %>>
      <%= link_to benefit_group.title, employers_employer_profile_plan_year_cost_analysis_path(@employer_profile,@plan_year,benefit_group_id: benefit_group.id), data: { toggle: "tab", remote: true}  %>
    </li>
    <% end %>
  </ul>

  <div id="benefit_group_costs" class="top-pd">
    <%= render partial: "benefit_group" %>
  </div>
</div>

<script>
$(function() {
  $.each($('.nav-tabs li'), function(i, ele){
    $(ele).click(function(){
      $(this).siblings().removeClass('active');
      $(this).addClass('active');
    })
  })
});
</script>
