$("fieldset#<%= @location_id %> .reference_plan_info .content").html("<%= escape_javascript(render "reference_plan_info") %>");
$("fieldset#<%= @location_id %> .reference_plan_info h4").html("Premiums <span style='float: right;'><i class='fa fa-sort-desc'></i></span>");