<%= render partial: "ui-components/v1/navs/primary_nav" %>

<div class="container" data-controller="bulk-notice">

  <h4>New Seed</h4>
  <p>Add a download for the template here</p>


  <%= form_for(@seed, url: exchanges_seeds_path, html: { multipart: true }) do |f| %>
    <div class='form-group'>
      <%= file_field_tag :file, accept: 'image/png,image/jpeg,application/pdf', class: "doc-upload-file"%></td>
      <%= f.submit "Submit", class: 'btn btn-alt-blue col-2 offset-10' %>
    </div>
  <% end %>
</div>