<div class="sidebar emp-sidebar text-center">
  <a href="#" class="info welcome_msg">
    Welcome<div class="arrow-right"></div>
  </a>
  <a href="#" class="info credential_info" style="display:none;">
    Credentials<div class="arrow-right"></div>
  </a>
  <a href="#" class="info name_info" style="display:none;">
    Name<br>Address<div class="arrow-right"></div>
  </a>
  <a href="#" class="info tax_info" style="display:none;">
    Tax Information<div class="arrow-right"></div>
  </a>

  <a href="#" class="info emp_contact_info hidden">
    Employer Contact<div class="arrow-right" style=""></div>
  </a>
  <a href="#" class="info coverage_info hidden">
    Coverage<br>Effective Date<div class="arrow-right"></div>
  </a>
  <a href="#" class="info plan_selection_info hidden">
    Plan Selection<div class="arrow-right"></div>
  </a>

  <a href="#" class="info emp_contributions_info hidden">
    Employer<br>Contributions<div class="arrow-right" style=""></div>
  </a>
  <a href="#" class="info eligibility_rules_info hidden">
    Eligibility Rules<div class="arrow-right"></div>
  </a>
  <a href="#" class="info broker-info hidden">
    Broker<br>Information<div class="arrow-right"></div>
  </a>
</div>


<%# if page == 'new' %>
  <!-- <a style="padding-top: 65px;" class="personal_info list-group-item name style_s_link" href="#">
    Company Name <br> DBA <br>FEIN <br>Entity Type <br> <div class="arrow-right"></div>
  </a>
  <a class="address_info list-group-item address" href="#">
    Address <div class="arrow-right"></div>
  </a>
  <a class="phone_info list-group-item phone" href="#">
    Phone <div style="top: 52px;" class="arrow-right"></div>
  </a>
  <a class="email_info list-group-item email sidebar-email-field" href="#">
    Email <div style="top: 20px;" class="arrow-right"></div>
  </a>
<%# elsif page == 'search' %>
  <a href="#" class="list-group-item back">
    <i class="fa fa-angle-left"></i>
    Back
  </a>
  <a href="#" class="list-group-item active search style_s_link results_link">
    <span class="span-one searching_span">Searching</span>
    <!--<span class="span-two search_span" style="display:none;">Search</span>-->
    <!-- <div class="arrow-right arrow-search search_arrow"></div>
  </a>
  <a href="#" class="list-group-item results">
    Results
    <div class="arrow-right arrow-search results_arrow" style="top: -7px;"></div>
  </a> -->
<%#end %>