<div class="content landing">
  <%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %>
  <div class="home">
    <div class="tab-row">
      <div class="tab-content" id="myTabContent"></div>
      <div class="container top-pd">
        <div class="row">
          <div aria-labelledby="inbox-tab" id="inbox" class="tab-pane-hbx" role="tabpanel">
            <div class="col-md-10 col-sm-12">
              <div class="top-pd row" id="inbox_provider_form">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h3 class="title-inline">New Question</h3>
                  <div class="form-inline button-group-wrapper">
                    <div class="col-xs-12 search-wp">
                      <%= link_to 'Back', exchanges_security_questions_path, class: 'btn btn-default' %>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <%= render 'form' %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
