<div class="modal fade" id="<%= key %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header support-header">
        <i class="fa fa-info-circle fa-lg text-success" aria-hidden="true"></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= support_texts(key) %>
      </div>
    </div>
  </div>
</div>
