<div class="modal fade" id="backModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times fa-lg"></i></button>
        <h3 class="modal-title darkblue">Are you sure you want to leave this page?</h3>
        <br />
        <br />
        <p class="md-text">You must <strong>Answer all questions for each member</strong> of your household.  You can come back and do it later, but <strong>you can't submit your application until you complete all required info.</strong></p>
        <p class="md-text">To visit each page and complete the info, use the menu on the left, or select CONTINUE on each page.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">STAY ON THIS PAGE</button>
        <button type="button" class="btn btn-primary" onclick="backToHouseHolds()">BACK TO ALL HOUSEHOLD MEMBERS</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
