<div class="container content-bottom">
  <div class="col-md-4 col-sm-4 col-xs-12 form-group form-group-lg no-pd">
    <% types = ScheduledEvent::EVENT_TYPES; types = types.rotate %>
    <%= f.select :type, options_for_select(types.map {|a| [a.to_s.humanize, a.to_s]}, f.object.type), {include_blank: "SELECT EVENT TYPE"}, required: true, id: 'selected_scheduled_event_type', onchange: "getEvents(this.value)" %>
  </div>

  <div id="scheduled_event" class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">   
    <% @events = [] %>
    <%= f.select :event_name, options_for_select(@events), selected: f.object.try(:event_name), include_blank: "SELECT EVENT", required: true %>
   </div>
</div>
