<div class='container'>
	<div class="row">
		<h3 class="title-inline">Calender</h3>
	</div>		
</div>

<div>
  <%= link_to 'Create Event' , new_exchanges_scheduled_event_path , class: "btn btn-trans" , remote: true  %> 
</div>