<ul>
  <% scheduled_events.all.each do |event| %>
     <li>
       <%= link_to event.event_name, edit_exchanges_scheduled_event_path(id: event.id), class: 'btn btn-normal'%>
      </li>
  <% end %>
</ul> 
