<ul>
  <% scheduled_events.each do |event| %>
    <% if event.type != 'federal holiday' %>
      <li>
        <%= link_to event.event_name, edit_exchanges_scheduled_event_path(id: event.id), class: 'btn btn-normal'%>
       </li>
    <% end %>
  <% end %>
</ul> 
