<div class="content landing">
	<%= render "exchanges/scheduled_events/primary_nav", :active_tab => "home-tab" %>
	
	<div class="home">
		<%= render 'shared/tab_panel' %>
	</div>
</div>
<%= form_for @scheduled_event, as: :scheduled_event, url: exchanges_scheduled_event_path(@scheduled_event), html: { method: :put } do |f| %>
  <%= render "event_form", f: f  %>
<% end %>
