<h1>Events</h1>
<p>
  <strong>Name:</strong>
  <%= @scheduled_event.event_name %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @time %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @scheduled_event.recurring_rules %>
</p>

<%= link_to 'Back', exchanges_scheduled_events_path %>