<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Congress Dashboard</title>
    
<script type="text/javascript">
    $(function () {
        Highcharts.setOptions({ lang: { thousandsSep: ',' }});
        $('#barYr1').highcharts({
        chart: {
           chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            marginLeft: 70,
            height: 190,
            width: 1000
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Covered Lives'
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            showInLegend: false,
            name: 'Covered Lives',
            data: [4559, 2645, 3049, 2722, 2561, 6811, 4640, 4336, 5143, 4288, 1621, 3]
            }]
        });
    });
</script>

</head>
<body>

<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="module">
<div class="container-fluid ivl_dashboards" style="margin: 5px;"> 

<ul class="nav nav-pills">
  <li><a href="https://enroll-dashboard.dchbx.org/ivl/covered">IVL Covered Lives</a></li>
  <li><a href="https://enroll-dashboard.dchbx.org/ivl/policy">IVL Policies</a></li>
   <li class="active"><a href="https://enroll-dashboard.dchbx.org/host/shop">SHOP</a></li>
  <li><a href="https://enroll-dashboard.dchbx.org/host/congress">Congress</a></li>
</ul>

<div class="row row-content">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <div class="panel panel-default">
    <div class="panel-body"><b>4,076 Active Employers</b></div>
  </div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-default">
  <div class="panel-body"><b>25,979 Total Employees</b></div>
</div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-default">
  <div class="panel-body"><b>77% Employees Enrolled</b></div>
</div>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-body"><b>42,378 Total Covered</b></div>
    </div>
  </div>    
</div>

  <div class="row row-content">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="box-shadow: 0px 0px 5px gray;">

    <table class="table table-hover table-condensed" style="margin-top: 10px;">
    
    <thead>
      <tr class="tabSpc1">
        <th class="texLef" colspan="4">Employer <a href="shop_next1.htm">More Information</a></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th class="texLef"># of Employees</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">1 - 9</td>
        <td>2,895</td>
        <td>71%</td>
      </tr>
      <tr>
        <td class="texLef">10 - 24</td>
        <td>878</td>
        <td>22%</td>
      </tr>
      <tr>
        <td class="texLef">25 - 50</td>
        <td>298</td>
        <td>7%</td>
      </tr>
      <tr>
        <td class="texLef">51 - 100</td>
        <td>3</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">100+</td>
        <td>2</td>
        <td>0%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th class="texLef">Broker</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Yes</td>
        <td>3,385</td>
        <td>90%</td>
      </tr>
      <tr>
        <td class="texLef">No</td>
        <td>391</td>
        <td>2%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th class="texLef">Choice</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">1-Plan</td>
        <td>1,852</td>
        <td>45%</td>
      </tr>
      <tr>
        <td class="texLef">1-Carrier</td>
        <td>1,942</td>
        <td>48%</td>
      </tr>
      <tr>
        <td class="texLef">1-Metal</td>
        <td>282</td>
        <td>7%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th class="texLef">Employer Contribution</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">100%</td>
        <td>1,925</td>
        <td>47%</td>
      </tr>
      <tr>
        <td class="texLef">51-99%</td>
        <td>1.075</td>
        <td>26%</td>
      </tr>
      <tr>
        <td class="texLef">50%</td>
        <td>1,076</td>
        <td>26%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th class="texLef">New Hire Benefits</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Date of Hire</td>
        <td>5</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">1st of Month</td>
        <td>3,214</td>
        <td>79%</td>
      </tr>
      <tr>
        <td class="texLef">1st After 30 Days</td>
        <td>352</td>
        <td>9%</td>
      </tr>
      <tr>
        <td class="texLef">1st After 60 Days</td>
        <td>505</td>
        <td>12%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    <thead>
      <tr class="tabSpc1">
        <th class="texLef" colspan="4">Employee</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th class="texLef">Census</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Enrolled</td>
        <td>32,938</td>
        <td>62%</td>
      </tr>
      <tr>
        <td class="texLef">Not-Enrolled</td>
        <td>10,062</td>
        <td>38%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    </table>
    </div>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">   

<h6>SHOP Active Covered Lives by Start Month</h6>

<div id="barYr1" style="min-width: 310px; height: 185px; margin: 0 auto"></div>

  <table class="table table-hover table-condensed">   
    <thead>
      <tr>
        <th class="texLef"></th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Covered Lives</td>
        <td>4,559</td>
        <td>2,645</td>
        <td>3,049</td>
        <td>2,722</td>
        <td>2,561</td>
        <td>6,811</td>
        <td>4,640</td>
        <td>4,336</td>
        <td>5,143</td>
        <td>4,288</td>
        <td>1,621</td>
        <td>3</td>
      </tr>
      <tr>
        <td class="texLef">% Covered Lives</td>
        <td>11%</td>
        <td>6%</td>
        <td>7%</td>
        <td>6%</td>
        <td>6%</td>
        <td>16%</td>
        <td>11%</td>
        <td>10%</td>
        <td>12%</td>
        <td>10%</td>
        <td>4%</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">Employers</td>
        <td>84</td>
        <td>77</td>
        <td>76</td>
        <td>302</td>
        <td>290</td>
        <td>332</td>
        <td>336</td>
        <td>335</td>
        <td>1,259</td>
        <td>402</td>
        <td>274</td>
        <td>309</td>
      </tr>
      <tr>
        <td class="texLef">% Employers</td>
        <td>2%</td>
        <td>2%</td>
        <td>2%</td>
        <td>7%</td>
        <td>7%</td>
        <td>8%</td>
        <td>8%</td>
        <td>8%</td>
        <td>31%</td>
        <td>10%</td>
        <td>7%</td>
        <td>8%</td>
      </tr>
      
    </tbody>
    </table>


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="box-shadow: 0px 0px 5px gray;">

    <table class="table table-hover table-condensed">
    <thead>
      <tr class="tabSpc1">
        <th class="texLef" colspan="4">Employee <a href="ivl_enroll.htm">More Information</a></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th class="texLef">Status</th>
        <th>#</th>
        <th>%</th>
      </tr>
    <thead>
    <tbody>
      <tr>
        <td class="texLef">Employee</td>
        <td>25,979</td>
        <td>61%</td>
      </tr>
      <tr>
        <td class="texLef">Dependent</td>
        <td>16,397</td>
        <td>39%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th class="texLef">Family Size</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">1-Member</td>
        <td>18,086</td>
        <td>70%</td>
      </tr>
      <tr>
        <td class="texLef">2-Members</td>
        <td>3,290</td>
        <td>13%</td>
      </tr>
      <tr>
        <td class="texLef">3-Members</td>
        <td>1,883</td>
        <td>7%</td>
      </tr>
      <tr>
        <td class="texLef">4-Members</td>
        <td>1,864</td>
        <td>7%</td>
      </tr>
      <tr>
        <td class="texLef">5-Members</td>
        <td>623</td>
        <td>2%</td>
      </tr>
      <tr>
        <td class="texLef">6-Members</td>
        <td>177</td>
        <td>1%</td>
      </tr>
      <tr>
        <td class="texLef">7+ Members</td>
        <td>56</td>
        <td>0%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    </table>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"  style="box-shadow: 0px 0px 5px gray;">
    <table class="table table-hover table-condensed">

    <thead>
      <tr class="tabSpc1">
        <th class="texLef" colspan="4">Covered Lives Demographic <a href="ivl_enroll.htm">More Information</a></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th class="texLef">Age Group</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">< 1</td>
        <td>506</td>
        <td>1%</td>
      </tr>
      <tr>
        <td class="texLef">1-17</td>
        <td>6,773</td>
        <td>16%</td>
      </tr>
      <tr>
        <td class="texLef">18-25</td>
        <td>4,273</td>
        <td>10%</td>
      </tr>
      <tr>
        <td class="texLef">26-34</td>
        <td>10,383</td>
        <td>25%</td>
      </tr>
      <tr>
        <td class="texLef">35-44</td>
        <td>7,863</td>
        <td>19%</td>
      </tr>
      <tr>
        <td class="texLef">45-54</td>
        <td>6,257</td>
        <td>15%</td>
      </tr>
      <tr>
        <td class="texLef">55-64</td>
        <td>4,559</td>
        <td>11%</td>
      </tr>
      <tr>
        <td class="texLef">65+</td>
        <td>1,282</td>
        <td>3%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th class="texLef">Gender</th>
        <th>#</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="texLef">Male</td>
        <td>19,542</td>
        <td>46%</td>
      </tr>
      <tr>
        <td class="texLef">Female</td>
        <td>22,834</td>
        <td>54%</td>
      </tr>
    </tbody>

    </table>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"  style="box-shadow: 0px 0px 5px gray;">
    <table class="table table-hover table-condensed">

    <tbody>

      <tr class="tabSpc1">
        <th class="texLef" colspan="4">Covered Lives Coverage <a href="ivl_enroll.htm">More Information</a></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <th class="texLef">Carrier</th>
        <th>#</th>
        <th>%</th>
      </tr>
      <tr>
        <td class="texLef">Aetna</td>
        <td>525</td>
        <td>1%</td>
      </tr>
      <tr>
        <td class="texLef">CareFirst</td>
        <td>33,376</td>
        <td>79%</td>
      </tr>
      <tr>
        <td class="texLef">Kaiser</td>
        <td>2,171</td>
        <td>5%</td>
      </tr>
      <tr>
        <td class="texLef">United</td>
        <td>6,306</td>
        <td>15%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">Metal</th>
        <th>#</th>
        <th>%</th>
      </tr>
      <tr>
        <td class="texLef">Platinum</td>
        <td>21,104</td>
        <td>50%</td>
      </tr>
      <tr>
        <td class="texLef">Gold</td>
        <td>12,269</td>
        <td>29%</td>
      </tr>
      <tr>
        <td class="texLef">Silver</td>
        <td>7,779</td>
        <td>18%</td>
      </tr>
      <tr>
        <td class="texLef">Bronze</td>
        <td>1,226</td>
        <td>3%</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>

  </body>
</html>

