<div class="row health">
    <div class="col-xs-12"
    <span class="starter" style="display: inline-block;">
      <h1><%= @benefit_package_form.new_record? ? 'Health – Set Up Benefit Package' : 'Health - Edit Benefit Package' %></h1>
      <div class="col-xs-9" style="padding-left:0px !important">
      <h4>Let's start by creating a benefit package. As you complete the fields below, you can scroll up or down to change your choices at any time to see how it impacts your costs.</h4>
      </div>
    </span>
    <%= f.hidden_field :id, value: f.object.id if f.object.id.present? %>
    <% unless @benefit_package_form.new_record? %>
    <div class="col-xs-3">
    <span class="pull-right">
      <div id="edit_employer_cost_info_btn" style="padding-top:12px">
        <div class="btn btn-default">
          Employee Detail Costs
        </div>
        <%#= link_to "Employee Costs", employee_costs_employers_employer_profile_plan_years_path(@employer_profile), id: "edit_employee_costs_link", class: "hidden" %>
      </div>
    </span>
    </div>
    <% end %>
    </div>
    <br class="clear"/>
    <br/>

    <div class="col-md-12 col-sm-12 col-xs-12 top-pd">
      <div class="reference_plan_info" style='clear: both;'>
        <h4></h4>
        <div class="content"></div>
      </div>
    </div>

    <%= render "product_choices", f: f %>
</div>