<div id="immigration_i_571_fields_container">
  <%= c.hidden_field :vlp_subject, value: "I-571 (Refugee Travel Document)" %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/alien_number", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/expiration_date", locals: {v: c, name: "I-571"} %>
</div>