<div id="immigration_i_94_fields_container">
  <%= c.hidden_field :vlp_subject, value: "I-94 (Arrival/Departure Record)" %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/i_94_number", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/servis_id", locals: {v: c} %>
  <%= render :partial => "financial_assistance/applicants/docs_shared/expiration_date", locals: {v: c, name: "Passport"} %>
</div>
