var plan_year_selection_loader;

ready = function() {

  // match health with dental offering selections
  $('.health .offerings input[type=checkbox]').on('change', function() {
    var checkedValue = $(this).closest('label').find('span').find('p').text();
    if ( $(this).is(':checked') ) {
      $(this).closest('.benefit-group-fields').find('.dental-benefits-fields').find('label span p:contains('+checkedValue+')').closest('label').find('input[type=checkbox]').removeProp('disabled', false);
      $(this).closest('.benefit-group-fields').find('.dental-benefits-fields').find('label span p:contains('+checkedValue+')').closest('label').find('input[type=checkbox]').trigger('click');
      $(this).closest('.benefit-group-fields').find('.dental-benefits-fields').find('label span p:contains('+checkedValue+')').closest('label').find('input[type=checkbox]').prop('disabled');




    } else {
      $(this).closest('.benefit-group-fields').find('.dental-benefits-fields').find('label span p:contains('+checkedValue+')').closest('label').find('input[type=checkbox]').removeProp('checked');

    }
  });

  $(".plan-year-setup .benefits-fields .slider").on("slideStop", function(slideEvt) {

    $(this).closest('.form-group').find('.hidden-param').val(slideEvt.value).attr('value', slideEvt.value);
    $(this).closest('.form-group').find('.slide-label').text(slideEvt.value + "%");

    if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
      EmployerProfile.validateEditPlanYear();
    } else {
      EmployerProfile.validatePlanYear();
    }

  });

  //hide border bottom
  $('input[value="child_under_26"]').closest('.row-form-wrapper').attr('style','border-bottom: none;');
  $(".package-offering tr:contains('Child under 26')").closest('tr').attr('style','border-bottom: none;');
  // move start date to url for plan options
  $("#plan_year_start_on").on('change', function() {
    start_on = $(this).val().substr(0,4);
    $('.plan-options a').each(function() {
      var url = $(this).attr('href');
      $(this).attr('href', url+"&start_on="+start_on);
    });
    $('.view-summary').each(function() {
      var url = $(this).attr('href');
      $(this).attr('href', url+"&start_on="+start_on);
    });

  });

  //add start on date to end of summary link in reference plan options

    $('.plan-options > * input, .reference-plans > * input').prop('checked', false);

    $(document).on('change', '.offerings .fte:first input, .offerings .pte:first input, .offerings .msp:first input', function() {
      var change = $(this).val();
      $('#plan_year_fte_count').val(change);
    });

    // MAKE SLIDER AND ADJACENT INPUT FIELD MIRROR EACHOTHER
    $(document).on('change', '.plan-year-setup input.premium-storage-input', function() {
      if ( $(this).hasClass('slider') ) {
        $(this).on("slideStop", function(slideEvt) {
          var data = $(this).val();

          $(this).closest('.form-group').find('input').val(data);
          $(this).closest('.form-group').find('.slide-label').text(data + "%");
          if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
            EmployerProfile.validateEditPlanYear();
          } else {
            EmployerProfile.validatePlanYear();
          }
          if ( $(this).closest('.health').length > 0 ) {
          } else {
            var coverage_type = '.dental';
            var location_id = $(this).parents('.benefit-group-fields').attr('id');
            calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id, coverage_type);
          }


        });
      } else if ( $(this).hasClass('hidden-param') )  {
        var hidden = parseInt($(this).val());
        if (hidden < 0) {
          hidden = 0;
        } else if (hidden > 100) {
          hidden = 100;
        }
        var mySlider = $(this).closest('.form-group').find('input.slider');
        mySlider.bootstrapSlider('setValue', hidden);
        $(this).closest('.form-group').find('input.slider').attr('value', hidden).attr('data-slider-value', hidden);
        $(this).closest('.form-group').find('.slide-label').text(hidden + "%");
        $(this).val(hidden);
        if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
          EmployerProfile.validateEditPlanYear();
        } else {
          EmployerProfile.validatePlanYear();
        }
      }
    });

    $(document).on('click', '.nav-tabs li label', function() {
      if ( $(this).closest('.nav').parent().hasClass('health') ) {
        nav = '.health';
        $(this).closest('.benefit-group-fields').find('.reference-plans').hide();
        $(this).closest('.benefit-group-fields').find('.health.select-reference').remove();
        $(this).closest('.benefit-group-fields').find('.health.selected-plan, .health .referenceplan').hide();
      } else {
        nav = '.dental';
        $(this).closest('.benefit-group-fields').find('.dental-reference-plans').hide();
        $(this).closest('.benefit-group-fields').find('.dental.select-reference').remove();
        $(this).closest('.benefit-group-fields').find('.dental.selected-plan, .dental.referenceplan').hide();
        if ( $(this).is(':contains("By carrier")') ) {
          $(this).closest('.reference-steps').find('.elected-plans-continue').hide();
        }
      }
      $(this).closest('.benefit-group-fields').find(nav+' .nav-tabs li').removeClass('active');
      $(this).closest('.benefit-group-fields').find(nav+' .plan-options > * input, '+nav+' .reference-plans > * input').prop('checked', false);
      $(this).closest('li').addClass('active');
      $(this).closest('.benefit-group-fields').find(nav+' .nav-tabs li.active label').attr('style', '');
      $(this).closest('.benefit-group-fields').find(nav+' .nav-tabs li:not(.active) label').css({borderBottom: "none", borderBottomLeftRadius: "0", borderBottomRightRadius: "0" });

      if ($(this).find('input[type=radio]').is(':checked')) {
      } else {
        $(this).closest('.benefit-group-fields').find(nav+' .plan-options > *').hide();
        $(this).closest('.benefit-group-fields').find(nav+' .plan-options > * input, '+nav+' .reference-plans > * input').prop('checked', 0);
        $(this).closest('.benefit-group-fields').find('.loading-container').html("<div class=\'col-xs-12 loading\'><i class=\'fa fa-spinner fa-spin fa-2x\'></i></div>");
        $(this).find('input[type=radio]').prop('checked', true ).trigger('change');
      }
      var nav_tabs = $('.nav-tabs li input');

      if (nav_tabs.first().val() == 'sole_source') {
        nav_tabs.first().trigger('change');
      }

      });

    var showCarrierOptions = function() {
      if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
        EmployerProfile.validateEditPlanYear();

      } else {
        EmployerProfile.validatePlanYear();
      }
      if ( $(this).closest('.nav').parent().hasClass('health') ) {
        nav = '.health';
      } else {
        nav = '.dental';
      }
      if ($(this).attr('value') == "single_carrier") {
        $(this).closest('.benefit-group-fields').find(nav+' .carriers-tab').show();
        $(this).closest('.benefit-group-fields').find(nav+' .plan-options').slideDown();

      }
      else if ($(this).attr('value') == "metal_level") {
        $(this).closest('.benefit-group-fields').find(nav+' .metals-tab').show();
        $(this).closest('.benefit-group-fields').find(nav+' .plan-options').slideDown();
      }
      else if ($(this).attr('value') == "single_plan") {
        if ( nav == '.health' ) {
          $(this).closest('.benefit-group-fields').find(nav+' .single-plan-tab').show();
          $(this).closest('.benefit-group-fields').find(nav+' .plan-options').slideDown();
        } else {
          $(this).closest('.benefit-group-fields').find(nav+' .single-plan-tab').show();
        }
      }
      else if ($(this).attr('value') == 'sole_source') {
        if ( nav == '.health' ) {
          $(this).closest('.benefit-group-fields').find(nav+' .sole-source-plan-tab').show();
          $(this).closest('.benefit-group-fields').find(nav+' .plan-options').slideDown();
        } else {
          $(this).closest('.benefit-group-fields').find(nav+' .sole-source-plan-tab').show();

        }
      }
    }

    $(document).on('change', '.health .nav-tabs li input', showCarrierOptions);
    $(document).on('change', '.dental .nav-tabs li input', showCarrierOptions);

    //toggle plan options checkbox through parent anchor
    var togglePlanOptions = function() {
      if ( $(this).closest('.elected-plans-tab').length == 0 ) {
        if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
          EmployerProfile.validateEditPlanYear();

        } else {
          EmployerProfile.validatePlanYear();
        }
        if ( $(this).closest('.plan-options').parent().hasClass('health') ) {
          nav = '.health';
          $(this).closest('.benefit-group-fields').find('.health.select-reference').remove();
          $(this).closest('.benefit-group-fields').find('.health.selected-plan, .health .referenceplan').fadeOut();
          $(this).closest('.benefit-group-fields').find('.reference-plans').css({ "height": "auto", "y-overflow": "default" })
          $(this).closest('.benefit-group-fields').find(nav+' .plan-options input[type=radio]').attr('checked', 0);
        } else {
          nav = '.dental';
          $(this).closest('.benefit-group-fields').find('.dental .nav-tabs, .dental .plan-options, .dental .dental-plan-offering').hide();
          $(this).closest('.benefit-group-fields').find('.dental.select-reference').remove();
          $(this).closest('.benefit-group-fields').find('.dental.selected-plan, .dental.referenceplan').fadeOut();
          $(this).closest('.benefit-group-fields').find('.dental-reference-plans').css({ "height": "auto", "y-overflow": "default" })
          $(this).closest('.benefit-group-fields').find(nav+' .plan-options input[type=radio]').attr('checked', 0);
        }

        if ($(this).find('input[type=radio]').is(':checked')) {
        } else {
          if ( nav == '.health' ) {
            $(this).closest('.benefit-group-fields').find('.reference-plans').html("<div class=\'col-xs-12 loading\'><i class=\'fa fa-spinner fa-spin fa-2x\'></i><h5>Loading plans...</h5></div>");
            $(this).closest('.benefit-group-fields').find(".reference-plans").show();
          } else {
            $(this).closest('.benefit-group-fields').find('.dental-reference-plans').html("<div class=\'col-xs-12 loading\'><i class=\'fa fa-spinner fa-spin fa-2x\'></i><h5>Loading plans...</h5></div>");
            $(this).closest('.benefit-group-fields').find(".dental-reference-plans").show();
          }
          $(this).find('input[type=radio]').prop('checked', true );

          if ($(this).parents('.carriers-tab').length > 0 ) {
            $(this).closest('.benefit-group-fields').find(nav+' .metals-tab input[type=radio]').prop('checked', 0 );
          }
          else if ($(this).parents('.metals-tab').length > 0 ) {
            $(this).closest('.benefit-group-fields').find(nav+' .carriers-tab input[type=radio]').prop('checked', 0 );
          } else {
            $(this).closest('.benefit-group-fields').find(nav+' .metals-tab input[type=radio],' +nav+' .carriers-tab input[type=radio]').prop('checked', 0 );
          }

        }
      }
    }
    $(document).on('click', '.health .plan-options a', togglePlanOptions);
    $(document).on('click', '.dental .plan-options a', togglePlanOptions);



// set reference_plan_id
$(document).on('click', '.reference-plan input[type=radio] + label', function() {
  // if ( $(this).closest('#dental-reference-plans-options-modal').length > 0 ) {
  //
  //   var reference_plan_id = $(this).closest('.reference-plan').find('input').attr('value');
  //   $(this).closest('.reference-plan').find('input').attr('checked', 1)
  //   var location_id = $(this).parents('fieldset').attr('id')
  //   $(this).parents('fieldset').find('.dental-ref-plan').val(reference_plan_id);
  //   $('body').removeClass('modal-open');
  // } else {
  //
  //   var reference_plan_id = $(this).closest('.reference-plan').find('input').attr('value');
  //   var location_id = $(this).parents('fieldset').attr('id')
  //
  //
  // }
  if ( $(this).closest('.dental').length > 0 ) {
    var coverage_type = '.dental';
    var reference_plan_id = $(this).closest('.dental .reference-plan').find('input').attr('value');
  } else {
    var coverage_type = '.health';
    var reference_plan_id = $(this).closest('.health .reference-plan').find('input').attr('value');
    $(this).closest('.benefit-group-fields').find(coverage_type+'.selected-plan').html("<br/><br/><div class=\'col-xs-12\'><i class=\'fa fa-spinner fa-spin fa-2x\'></i><h4 style='text-align: center;'>Loading your reference plan preview...</h4></div>");

  }
  var location_id = $(this).parents('fieldset').attr('id');
  if (reference_plan_id != "" && reference_plan_id != undefined){
    var start_date = $("#plan_year_start_on").val();
    if (start_date == "") {
      return
    }
    $('#'+location_id+' '+coverage_type+'.selected-plan').show();

    calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id, coverage_type);
  };

});


  $('.contribution_handler').each(function() {
    $(this).change(function(){
      if ( $(this).closest('.health').length > 0 ) {
        var coverage_type = '.health';
      } else {
        var coverage_type = '.dental';
      }
      var location_id = $(this).parents('.benefit-group-fields').attr('id');
      calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id, coverage_type);
    });
  });

  $('.contribution_slide_handler').each(function() {
    $(this).on("slideStop", function(slideEvt) {
      if ( $(this).closest('.health').length > 0 ) {
        var coverage_type = '.health';
      } else {
        var coverage_type = '.dental';

      }
      var location_id = $(this).parents('.benefit-group-fields').attr('id');
      calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id, coverage_type);
    });
  });

$(document).on("click", ".reference_plan_info h4 span", function() {
  $(this).parents(".reference_plan_info").find('.content').toggle();
});
};



function calcEmployerContributions(url, location, coverage_type) {
  var coverage_type = coverage_type;

  var plan_option_kind = $("#"+location+" "+ coverage_type +" .nav-tabs input[type=radio]:checked").val();
  var location_id = location;
  var benefit_group_index = $("#"+location).data('benefit-group-index');
  if ( coverage_type == '.dental' ) {
    var elected_dental_plans = $("#"+location+" .elected-plans-tab input[type=checkbox]:checked");
    var elected_plan_ids = []
    elected_dental_plans.each(function() {
      elected_plan_ids.push($(this).val());
    });
  }


  if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1 ) {

    if ( coverage_type == '.dental' ) {
      var reference_plan_id = $('#'+location+' '+ coverage_type +' .dental-ref-plan').val();
      var premium_pcts = $('#'+location+' '+ coverage_type +' .dental-benefits-fields input.hidden-param').map(function() {
        return $(this).val();
      }).get();
      var is_offered = $('#'+location+' '+ coverage_type +' .dental-benefits-fields .checkbox label > input[type=checkbox]').map(function() {
        return $(this).is(":checked");
      }).get();
    } else {

      var reference_plan_id = $('#'+location+' '+ coverage_type +' .ref-plan').val();
      var premium_pcts = $('#'+location+' '+ coverage_type +' .enabled .benefits-fields input.hidden-param').map(function() {
        var input_val = parseInt($(this).val());
        var not_greater_than_one_hundred = Math.min(100,input_val);
        var not_less_than_zero = Math.max(0,not_greater_than_one_hundred);
        return not_less_than_zero;
      }).get();
      var is_offered = $('#'+location+' '+ coverage_type +' .enabled .benefits-fields .checkbox label > input[type=checkbox]').map(function() {
        return $(this).is(":checked");
      }).get();
    }
  } else {
    // not on edit page?
    if ( coverage_type == '.dental' ) {
      var reference_plan_id = $('#'+location+' '+ coverage_type +' .dental-ref-plan').val();
      var premium_pcts = $('#'+location+' '+ coverage_type +' .dental-benefits-fields input.hidden-param').map(function() {
        return $(this).val();
      }).get();
      var is_offered = $('#'+location+' '+ coverage_type +' .dental-benefits-fields .checkbox label > input[type=checkbox]').map(function() {
        return $(this).is(":checked");
      }).get();
    } else {
      var reference_plan_id = $('#'+location+' '+ coverage_type +' .reference-plan input[type=radio]:checked').val();
      var premium_pcts = $('#'+location+' '+ coverage_type +' .enabled .benefits-fields input.hidden-param').map(function() {
        return $(this).val();
      }).get();
      var is_offered = $('#'+location+' '+ coverage_type +' .enabled .benefits-fields .checkbox label > input[type=checkbox]').map(function() {
        return $(this).is(":checked");
      }).get();
    }
  }

  if (reference_plan_id == "" || reference_plan_id == undefined) {
    return
  }

  var start_date = $("#plan_year_start_on").val();
  if (start_date == "") {
    return
  }

  var composite_rating_tier_types = [ 'employee_only', 'family', 'employee_and_spouse', 'employee_and_one_or_more_dependents']
  var relationship_benefit_types = [ 'employee', 'spouse', 'domestic_partner', 'child_under_26', 'child_26_and_over']
  relation_benefits = {};

  if (plan_option_kind === 'sole_source') {
    premium_pcts.push(premium_pcts[premium_pcts.length - 1]);
    premium_pcts.push(premium_pcts[premium_pcts.length - 1]);

    composite_rating_tier_types.forEach(function(compositeTierType, index, composite_tier_types) {
      relation_benefits[index] = {
        "composite_rating_tier": compositeTierType,
        "employer_contribution_percent": premium_pcts[index],
        "offered":  is_offered[index]
      }
    });
  } else {
    relationship_benefit_types.forEach(function(relationshipType, index, relationships) {
      relation_benefits[index] = {
        "relationship": relationshipType,
        "premium_pct": premium_pcts[index],
        "offered":  is_offered[index]
      }
    });
  }

  var data = {
    "start_on": $("#plan_year_start_on").val(),
    "reference_plan_id": reference_plan_id,
    "plan_option_kind": plan_option_kind,
    "location_id": location_id,
    "coverage_type": coverage_type,
    "benefit_group_index": benefit_group_index,
    "elected_plan_ids": elected_plan_ids
  }

  if (coverage_type == '.dental') {
    data["dental_relation_benefits"] = relation_benefits;
  }else if(coverage_type == '.sole_source') {
    data["composite_tier_contributions"] = relation_benefits;
  } else {
    data["relation_benefits"] = relation_benefits;
  }

    // runs on slider change
  $.ajax({
    type: "GET",
    url: url,
    dataType: 'script',
    data: data
  }).done(function() {
  });

  $('#new_plan_year, #edit_plan_year').on('submit', function() {
    $('.interaction-click-control-create-plan-year').prop('disabled', true)
    $('.dental-benefits-fields .col-xs-6.form-group.form-group-lg label > input').removeProp('disabled');
  });
}

function attachEmployerHealthContributionShowHide() {
	$(document).on("click", "div.health li:has(label.elected_plan)", function() {
		var offering_id = $(this).attr("data-offering-id");
		var option_kind = $(this).attr("data-offering-kind");
		if (option_kind == "sole_source") {
			$("div[data-offering-target='" + offering_id + "']").hide();
      $("div[data-offering-target='" + offering_id + "']").removeClass('enabled');

			$("div[data-offering-target='composite_" + offering_id + "']").removeClass("hidden");
      $("div[data-offering-target='composite_" + offering_id + "']").addClass("enabled");

			$("div[data-offering-target='composite_" + offering_id + "']").show();
		} else {

			$("div[data-offering-target='composite_" + offering_id + "']").hide();
      $("div[data-offering-target='composite_" + offering_id + "']").removeClass("enabled");
			$("div[data-offering-target='" + offering_id + "']").removeClass("hidden");
      $("div[data-offering-target='" + offering_id + "']").addClass("enabled");

			$("div[data-offering-target='" + offering_id + "']").show();
		}
	});
}

function confirmActivePlanYear() {
  var planYear = $('#plan_year_start_on').val() || "0000"
  planYear = planYear.substr(0,4);

  if($.inArray(planYear, <%= Settings.aca.dental_plan_years_available %>) !== -1){
    $(".show-dental-plans").show();
  }else{
    $(".show-dental-plans").hide();
  }
}

function loadCarrierNames() {
  var start_on = $("#plan_year_start_on").val().substr(0,4);
  var selected_carrier_level = $(this).siblings('input').val();
  var employer_profile_id = $('#employerProfileId').data('value');
  var benefit_group_id = $('#benefitGroupId').data('value');
  var location_id = $(this).closest('fieldset').attr('id');
  var panel_id = $(this).closest('fieldset').attr('data-benefit-group');
  $.ajax({
    type: "GET",
    data:{
      start_on: start_on,
      selected_carrier_level: selected_carrier_level,
      benefit_group: benefit_group_id,
      location_id: location_id,
      panel_id: panel_id
    },
    url: "/employers/employer_profiles/" + employer_profile_id + "/plan_years/generate_health_carriers_and_plans"
  });
}

function onlyShowEnabledCarrierChoices() {
  var enabledYearsForSoleSource = <%= Settings.aca.plan_option_years.sole_source_carriers_available || [TimeKeeper.date_of_record.year.to_s] %>;
  var enabledYearsForMetalLevel = <%= Settings.aca.plan_option_years.metal_level_carriers_available || [TimeKeeper.date_of_record.year.to_s] %>;
  var enabledYearsForSingleCarrier = <%= Settings.aca.plan_option_years.single_carriers_available || [TimeKeeper.date_of_record.year.to_s] %>;
  var startOnYear = parseInt($("#plan_year_start_on").val()).toString();
  <% if Rails.env == 'test' %>
    var soleSourceEnabled = true;
    var singleCarrierEnabled = true;
    var metalLevelEnabled = true;
  <% else %>
    var soleSourceEnabled = (enabledYearsForSoleSource.indexOf(startOnYear) != -1);
    var singleCarrierEnabled = (enabledYearsForSingleCarrier.indexOf(startOnYear) != -1);
    var metalLevelEnabled = (enabledYearsForMetalLevel.indexOf(startOnYear) != -1);
  <% end %>

  if (soleSourceEnabled) {
    $('li.sole-source-tab').removeClass('hidden');
  } else {
    $('li.sole-source-tab').addClass('hidden');
  }

  if (metalLevelEnabled) {
    $('li.metal-level-tab').removeClass('hidden');
  } else {
    $('li.metal-level-tab').addClass('hidden');
  }

  if (singleCarrierEnabled) {
    $('li.single-carrier-tab').removeClass('hidden');
  } else {
    $('li.single-carrier-tab').addClass('hidden');
  }

}

$(document).ready(ready);
$(document).on('page:load', plan_year_selection_loader);
$(document).on('ready', attachEmployerHealthContributionShowHide);
$(document).on('ready', confirmActivePlanYear);
$(document).on('click','.health .nav-tabs label', loadCarrierNames);
$(document).on('change','#plan_year_start_on', onlyShowEnabledCarrierChoices);
