var plan_year_selection_loader;
ready = function() {
  // js that runs on edit view
  if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {

    //alert('edit');
    //$('.add_fields').remove();
    $('.reference-steps').hide();
    $('.planyear-add-tab .controls:last').show();

    $('.change-plan').on('click', function() {
      $('.interaction-click-control-save-plan-year').addClass('disabled');
      $(this).closest('.benefit-group-fields').find('.reference-steps input').prop('checked', false);
      $(this).closest('.edit-offering').hide();
      $(this).closest('.benefit-group-fields').find('.reference-steps').show();
      original_ref = $(this).closest('.benefit-group-fields').find('.ref-plan').val();
    });
    $('.cancel-plan-change').on('click', function() {
      validateEditPlanYear();
      $(this).closest('.benefit-group-fields').find('.nav-tabs li label').css({borderBottom: "solid 3px #003260", borderBottomLeftRadius: "6px", borderBottomRightRadius: "6px" });
      $(this).closest('.benefit-group-fields').find('.edit-offering').show();
      $(this).closest('.benefit-group-fields').find('.reference-steps input').prop('checked', false);
      $(this).closest('.benefit-group-fields').find('.selected-plan').hide();
      $(this).closest('.benefit-group-fields').find('.plan-options').hide();
      $(this).closest('.benefit-group-fields').find('.nav-tabs li').removeClass('active');
      $(this).closest('.benefit-group-fields').find('.ref-plan').val(original_ref);
      $(this).closest('.benefit-group-fields').find('.select-reference').hide();
      $(this).closest('.benefit-group-fields').find('.reference-plans').hide();
      $(this).closest('.reference-steps').hide();

    });
      start_on = $("#plan_year_start_on").val().substr(0,4);
      $('.plan-options a').each(function() {
        var url = $(this).attr('href');
        $(this).attr('href', url+"&start_on="+start_on);
      });
      $("#plan_year_start_on").on('change', function() {
        start_on = $(this).val().substr(0,4);
        $('.plan-options a').each(function() {
          var url = $(this).attr('href');
          $(this).attr('href', url+"&start_on="+start_on);
        });

      });

      function calcOfferedPlanContributions(url, location) {
        var reference_plan_id = $('#'+location+' .ref-plan').val();
        // console.log(reference_plan_id);
        var plan_option_kind = $("#"+location+" .nav-tabs input[type=radio]:checked").val();
        // console.log(plan_option_kind);
        var location_id = location;

        if (reference_plan_id == "" || reference_plan_id == undefined) {
          return
        }

        var start_date = $("#plan_year_start_on").val();
        if (start_date == "") {
          return
        }

        var premium_pcts = $('#'+location+' .benefits-fields input.hidden-param').map(function() {
          return $(this).val();
        }).get();

        var is_offered = $('#'+location+' .benefits-fields .checkbox label > input[type=checkbox]').map(function() {
          return $(this).is(":checked");
        }).get();

        var relation_benefits = {
          "0": {
            "relationship": "employee",
            "premium_pct": premium_pcts[0],
            "offered": is_offered[0]
          },
          "1": {
            "relationship": "spouse",
            "premium_pct": premium_pcts[1],
            "offered": is_offered[1]
          },
          "2": {
            "relationship": "domestic_partner",
            "premium_pct": premium_pcts[2],
            "offered": is_offered[2]
          },
          "3": {
            "relationship": "child_under_26",
            "premium_pct": premium_pcts[3],
            "offered": is_offered[3]
          },
          "4": {
            "relationship": "child_26_and_over",
            "premium_pct": 0,
            "offered": false
          }
        }

        $.ajax({
          type: "GET",
          url: url,
          dataType: 'script',
          data: {
            "start_on": $("#plan_year_start_on").val(),
            "reference_plan_id": reference_plan_id,
            "plan_option_kind": plan_option_kind,
            "relation_benefits": relation_benefits,
            "location_id": location_id

          }
        }).done(function() {
        });
      }
      $('.benefit-group-fields').each(function() {
        calcOfferedPlanContributions($('a#calc_offered_plan_contributions_link').data('href'), $(this).attr('id'));
      });
  } else {
      $('.nav-tabs li input[type=radio]').prop('checked', false);
      $('#choose-coverage > * select').val("");
  }

  // give slider a starting place based on persisted form
  var slider_starting_values = $('.benefits-fields input.hidden-param').each(function() {
    $(this).closest('.form-group').find('.slider').attr('data-slider-value', $(this).val());
    $(this).closest('.form-group').find('.slide-label').html($(this).val()+"%");
  });

  // init slider
  $('.benefits-fields .slider').bootstrapSlider({
    formatter: function(value) {
      return 'Contribution Percentage: ' + value + '%';
    }



  });

  $(".benefits-fields .slider").on("slide", function(slideEvt) {
    $(this).closest('.form-group').find('.hidden-param').val(slideEvt.value).attr('value', slideEvt.value);
    $(this).closest('.form-group').find('.slide-label').text(slideEvt.value + "%");

    if (window.location.href.indexOf("edit") > -1 && window.location.href.indexOf("plan_years") > -1) {
      validateEditPlanYear();

    } else {
      validatePlanYear();

    }

  });

  //hide border bottom
  $('input[value="child_under_26"]').closest('.row-form-wrapper').attr('style','border-bottom: none;');
  $(".package-offering tr:contains('Child under 26')").closest('tr').attr('style','border-bottom: none;');
  // move start date to url for plan options
  $("#plan_year_start_on").on('change', function() {
    start_on = $(this).val().substr(0,4);
    $('.plan-options a').each(function() {
      var url = $(this).attr('href');
      $(this).attr('href', url+"&start_on="+start_on);
    });

  });

    $('.plan-options > * input, .reference-plans > * input').prop('checked', false);

    $(document).on('change', '.offerings .fte:first input, .offerings .pte:first input, .offerings .msp:first input', function() {
      var change = $(this).val();
      $('#plan_year_fte_count').val(change);
    });
    // MAKE SLIDER AND ADJACENT INPUT FIELD MIRROR EACHOTHER
    $(document).on('change', 'input.premium-storage-input', function() {
      if ( $(this).hasClass('slider') ) {
        var data = $(this).val();
        $(this).closest('.form-group').find('input').val(data);
        $(this).closest('.form-group').find('.slide-label').text(data + "%");
      } else if ( $(this).hasClass('hidden-param') )  {
        var hidden = parseInt($(this).val());
        var mySlider = $(this).closest('.form-group').find('input.slider');
        mySlider.bootstrapSlider('setValue', hidden);
        $(this).closest('.form-group').find('input.slider').attr('value', hidden).attr('data-slider-value', hidden);
        $(this).closest('.form-group').find('.slide-label').text(hidden + "%");

      }
    });


    $(document).on('click', '.nav-tabs li label', function() {
      $(this).closest('.benefit-group-fields').find('.select-reference').remove();
      $(this).closest('.benefit-group-fields').find('.selected-plan, .referenceplan').hide();
      $(this).closest('.benefit-group-fields').find('.nav-tabs li').removeClass('active');
      $(this).closest('.benefit-group-fields').find('.plan-options > * input, .reference-plans > * input').prop('checked', false);
      $(this).closest('.benefit-group-fields').find('.reference-plans').hide();
      $(this).closest('li').addClass('active');
      $(this).closest('.benefit-group-fields').find('.nav-tabs li.active label').attr('style', '');
      $(this).closest('.benefit-group-fields').find('.nav-tabs li:not(.active) label').css({borderBottom: "none", borderBottomLeftRadius: "0", borderBottomRightRadius: "0" });

      if ($(this).find('input[type=radio]').is(':checked')) {
      } else {
        $(this).find('input[type=radio]').prop('checked', true );
        $(this).closest('.benefit-group-fields').find('.plan-options > *').hide();
        $(this).closest('.benefit-group-fields').find('.plan-options > * input, .reference-plans > * input').prop('checked', 0);
        $(this).closest('.benefit-group-fields').find('.loading-container').html("<div class=\'col-xs-12 loading\'><i class=\'fa fa-refresh fa-spin fa-2x\'></i></div>");

      }

      });

    $(document).on('change', '.nav-tabs li input', function() {
      if ($(this).attr('value') == "single_carrier") {
        $(this).closest('.benefit-group-fields').find('.plan-options, .carriers-tab').show();

      }
      else if ($(this).attr('value') == "metal_level") {

        $(this).closest('.benefit-group-fields').find('.plan-options, .metals-tab').show();
      }
      else if ($(this).attr('value') == "single_plan") {

        $(this).closest('.benefit-group-fields').find('.plan-options, .single-plan-tab').show();
      }
    });




    //toggle plan options checkbox through parent anchor

    $(document).on('click', '.plan-options a', function() {
      $(this).closest('.benefit-group-fields').find('.select-reference').remove();
      $(this).closest('.benefit-group-fields').find('.selected-plan, .referenceplan').hide();
      $(this).closest('.benefit-group-fields').find('.reference-plans').css({ "height": "auto", "y-overflow": "default" })
      $(this).closest('.benefit-group-fields').find('.plan-options input[type=radio]').attr('checked', 0);
      if ($(this).find('input[type=radio]').is(':checked')) {
      } else {
        $(this).closest('.benefit-group-fields').find('.reference-plans').html("<div class=\'col-xs-12 loading\'><i class=\'fa fa-refresh fa-spin fa-2x\'></i><h5>Loading plans...</h5></div>");
        $(this).closest('.benefit-group-fields').find(".reference-plans").show();
        $(this).find('input[type=radio]').prop('checked', true );

        if ($(this).parents('.carriers-tab').length > 0 ) {
          $(this).closest('.benefit-group-fields').find('.metals-tab input[type=radio]').prop('checked', 0 );
        }
        else if ($(this).parents('.metals-tab').length > 0 ) {
          $(this).closest('.benefit-group-fields').find('.carriers-tab input[type=radio]').prop('checked', 0 );
        } else {
          $(this).closest('.benefit-group-fields').find('.metals-tab input[type=radio], .carriers-tab input[type=radio]').prop('checked', 0 );
        }

      }

    });


// set reference_plan_id
$(document).on('click', '.reference-plan input + label', function() {
  var reference_plan_id = $(this).closest('.reference-plan').find('input').attr('value');
  var location_id = $(this).parents('fieldset').attr('id')

  if (reference_plan_id != "" && reference_plan_id != undefined){
    var start_date = $("#plan_year_start_on").val();
    if (start_date == "") {
      return
    }
    $(this).closest('.benefit-group-fields').find('.selected-plan').html("<div class=\'col-xs-12\'><i class=\'fa fa-refresh fa-spin fa-2x\'></i><h4 style='text-align: center;'>Loading your reference plan preview...</h4></div>");
    $('.selected-plan').show();

    calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id);
  };
});


  $('.contribution_handler').each(function() {
    $(this).change(function(){
      var location_id = $(this).parents('.benefit-group-fields').attr('id');
      calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id);
    });
  });

  $('.contribution_slide_handler').each(function() {
    $(this).on("slideStop", function(slideEvt) {
      var location_id = $(this).parents('.benefit-group-fields').attr('id');
      calcEmployerContributions($('a#calc_employer_contributions_link').data('href'), location_id);
    });
  });

$(document).on("click", ".reference_plan_info h4 span", function() {
  $(this).parents(".reference_plan_info").find('.content').toggle();
});
};


function calcEmployerContributions(url, location) {

    var reference_plan_id = $('#'+location+' .reference-plan input[type=radio]:checked').val();
    var plan_option_kind = $("#"+location+" .nav-tabs input[type=radio]:checked").val();
    var location_id = location;

    if (reference_plan_id == "" || reference_plan_id == undefined) {
      return
    }

    var start_date = $("#plan_year_start_on").val();
    if (start_date == "") {
      return
    }

    var premium_pcts = $('#'+location+' .benefits-fields input.hidden-param').map(function() {
      return $(this).val();
    }).get();

    var is_offered = $('#'+location+' .benefits-fields .checkbox label > input[type=checkbox]').map(function() {
      return $(this).is(":checked");
    }).get();

    var relation_benefits = {
      "0": {
        "relationship": "employee",
        "premium_pct": premium_pcts[0],
        "offered": is_offered[0]
      },
      "1": {
        "relationship": "spouse",
        "premium_pct": premium_pcts[1],
        "offered": is_offered[1]
      },
      "2": {
        "relationship": "domestic_partner",
        "premium_pct": premium_pcts[2],
        "offered": is_offered[2]
      },
      "3": {
        "relationship": "child_under_26",
        "premium_pct": premium_pcts[3],
        "offered": is_offered[3]
      },
      "4": {
        "relationship": "child_26_and_over",
        "premium_pct": 0,
        "offered": false
      }
    }


    $.ajax({
      type: "GET",
      url: url,
      dataType: 'script',
      data: {
        "start_on": $("#plan_year_start_on").val(),
        "reference_plan_id": reference_plan_id,
        "plan_option_kind": plan_option_kind,
        "relation_benefits": relation_benefits,
        "location_id": location_id

      }
    }).done(function() {
    });
}


$(document).ready(ready);
$(document).on('page:load', plan_year_selection_loader);
