<% if @applicant.has_job_income%>
  <div class="row row-form-wrapper no-buffer row-height">
    <div class="col-md-7"> Does this person have income from an employer (wages, tips, bonuses, etc) in 2017?</div>
    <div class="col-md-5"> YES</div>
  </div>
<% end %>
<br/>

<% if @applicant.has_self_employment_income%>
  <div class="row row-form-wrapper no-buffer row-height">
    <div class="col-md-7"> Is this person self employed ?</div>
    <div class="col-md-5"> YES</div>
  </div>
  <br/>
<% end %>
<% if @applicant.has_other_income%>
  <div class="row row-form-wrapper no-buffer row-height">
    <div class="col-md-7"> Does this person expect to have other types of income in 2017 ?</div>
    <div class="col-md-5"> YES</div>
  </div>
  <br/>
<% end %>
