  <!-- <ul class="nav nav-tabs" role="tablist" name="broker_signup_primary_tabs">
    <li role="presentation" class="<%= 'active' if @filter == 'broker' %>">
      <a data-toggle="tab" role="tab" data-value="broker" aria-controls="home" href="#" onclick="return false;" aria-expanded="true">BROKER</a>
    </li>
    <li role="presentation" class="<%= 'active' if @filter == 'staff' %>">
      <a data-toggle="tab" role="tab" data-value="staff" aria-controls="profile" href="#" onclick="return false;" aria-expanded="false">BROKER AGENCY STAFF</a>
    </li>
  </ul> -->
