<div id="broker_confimation_panel">
  <div class="tab-content-pd container">
      <div class="col-sm-12">
				<h2 class="text-center"><i class="fa fa-check-circle-o fa-lg dc-green"></i> We Received Your Broker Application</h2>
			</div>
			<div class="col-sm-12">
				<h3>Complete the following requirements to become a DC Health Link Registered Broker.</h3>
			</div>
			<div class="col-sm-12 more-info">
				<div class="col-sm-1">
					<i class="fa fa-circle-thin fa-2x dc-green" aria-hidden="true"></i>
				</div>
				<div class="col-sm-11">
					<p><strong>Secure Carrier Appointments:</strong><br />
					To become a DC Health Link Registered Broker, you must obtain appointments with each carrier's licensed entities in D.C. for the market in which you intend to sell.  This resolution was made by the DC Health Benefit Exchange Authority's Producer Advisory Committee. The <a href="#">Producer Advisory Committee's resolution</a> provides additional context on the requirements.
					</p>
					<br />
					<a href="#"><i class="fa fa-chevron-down" aria-hidden="true"></i> See More</a>
				</div>
			</div>
			<div class="col-sm-12">
				<hr>
				<div class="col-sm-1">
					<i class="fa fa-circle-thin fa-2x dc-green" aria-hidden="true"></i>
				</div>
				<div class="col-sm-11">
					<p><strong>Complete the DC Health Link Broker Policy Training Course:</strong><br/>
						<ul>
							<li>Go to the <a href="#">DC Health Link training</a> administered by NAHU</li>
							<li>Create a login</li>
							<li>Complete the six hour training course, policy and web components</li>
						</ul>
					</p>
					<br />
					<a href="#"><i class="fa fa-chevron-down" aria-hidden="true"></i> See More</a>
				</div>
				<div class="col-sm-12">
					<hr>
					<div class="col-sm-2">
						<%= image_tag("new_broker_registration.jpg", class:'photo')%>
					</div>
					<div class="col-sm-10">
						<p>Links to appointments and DC Health Link training can be found in our <a href="https://dchealthlink.com/sites/default/files/v2/forms/new_broker_registration.pdf" target="_blank">Broker Registration Guide.</a></p>
						<%= link_to "Download", '/new_broker_registration.pdf', download:'Broker Registration Form', class:'btn btn-primary' %>
					</div>
				</div>
				<div class="col-sm-12 more-info">
					<hr>
					<strong>Need this information again?</strong>
					<p>Search "Broker Tools" on <a href="https://dchealthlink.com/" target="_blank">dchealthlink.com</a> or enter your name and email address below and we'll email this page to you.</p>
				</div>
  </div>
</div>