<div id="broker_registration_panel">
  <div class="container top-pd">
    <div class="tab-wrapper">
      <%= render "broker_agencies/broker_roles/primary_nav" %>
      <div id="broker_signup_container" class="tab-content-pd bottom-pd">
       <div id="broker_and_staff_form">
        <% if @filter == 'broker' %>
        <%= render "broker_signup" %>
        <% else %>
        <%= render "existing_broker_agency_form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>