// all buttons should be styled with the following mixins
@mixin solid-button(
  $button-color: var(--button-primary-color),
  $color: var(--grey-000),
  $hover: var(--button-primary-hover-color),
  $active: var(--button-primary-active-color)
) {
  background-color: $button-color;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
  color: $color;
  border-radius: 4px;
  border: 2px solid $button-color;
  &:visited {
    color: $color;
  }
  &:hover {
    background-color: $hover;
    color: $color;
  }
  &:active, &.active {
    background-color: var(--button-default-active-color);
    color: $color;
  }
  &:focus {
    background-color: $hover;
    outline: 2px solid var(--grey-190);
    outline-offset: 2px;
    color: $color;
  }
  &:disabled,
  &.disabled {
    background-color: var(--grey-040);
    border-color: var(--grey-040);
    color: var(--grey-090);
    pointer-events: none;
  }
}

@mixin ghost-button(
  $button-color: var(--button-primary-color),
  $hover: var(--button-primary-hover-color),
  $active: var(--button-primary-active-color)
) {
  background-color: transparent;
  font-weight: 600;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
  color: $button-color;
  border-radius: 4px;
  border: 2px solid $button-color;
  &:visited {
    color: $button-color;
    border-color: $button-color;
  }
  &:hover {
    color: $hover;
    border-color: $hover;
    background-color: transparent;
  }
  &:active {
    color: var(--button-default-active-color);
    border-color: var(--button-default-active-color);
  }
  &:focus {
    border-color: $hover;
    outline: 2px solid var(--grey-190);
    outline-offset: 2px;
    color: $hover;
  }
  &:disabled,
  &.disabled {
    background-color: var(--grey-040);
    border-color: var(--grey-040);
    color: var(--grey-090);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.button,
button,
.button-primary,
.btn,
.btn-primary {
  @include solid-button;
}

button.secondary,
.button.secondary,
.btn.secondary,
.btn-secondary {
  @include solid-button(
    var(--button-secondary-color),
    var(--grey-000),
    var(--button-secondary-hover-color),
    var(--button-secondary-active-color)
  );
}

button.tertiary,
.button.tertiary,
.btn.tertiary,
.btn-tertiary {
  @include solid-button(
    var(--button-tertiary-color),
    var(--grey-000),
    var(--button-tertiary-hover-color),
    var(--button-tertiary-active-color)
  );
}

button.error,
.button.error,
.btn.error,
.btn-error {
  @include solid-button(
    var(--button-error-color),
    var(--grey-000),
    var(--button-error-hover-color),
    var(--button-error-active-color)
  );
}

.button.outline,
button.outline,
.button-primary.outline,
.btn.outline,
.btn-primary.outline {
  @include ghost-button;
}

.button-error.outline,
.btn-error.outline,
.button.outline.error {
  @include ghost-button(
    var(--button-error-color),
    var(--button-error-hover-color),
    var(--button-error-active-color)
  );
}

.button.secondary.outline, button.secondary.outline, .btn.secondary.outline, .btn-secondary.outline {
  color: var(--secondary-color);
  border-color: var(--secondary-color);

  &:hover {
    color: var(--secondary-color-dark);
    border-color: var(--secondary-color);
    background-color: var(--button-outline-hover-bg);
  }

  &:active {
    color: var(--secondary-color-darker);
    border-color: var(--secondary-color-darker);
    background-color: var(--button-outline-active-bg);
  }

  &:focus {
    color: var(--secondary-color-dark);
    border-color: var(--secondary-color-dark);
    background-color: var(--button-outline-hover-bg);
  }
}

a.button {
  text-decoration: none;
  cursor: pointer;
}

button.unstyled,
button.close {
  background-color: transparent;
  border: none;
  color: var(--button-primary-color);
  cursor: pointer;
  padding: 0;
  &:hover {
    background-color: transparent;
  }
  &:active {
    color: var(--button-primary-active-color);
  }
}

button.short,
.button.short,
.btn.short {
  padding: 6px 12px;
}

button.accordion-action {
  background: inherit;
  border: none;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  line-height: 27px;
  width: 100%;
  position: relative;

  &:after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5L5.29289 1.20711C5.68342 0.816583 6.31658 0.816582 6.70711 1.20711L11 5.5' stroke='%23323130' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    right: 16px;
  }

  &[aria-expanded='true']:after {
    display: inline-block;
    translate: 0px -2px;
    rotate: 0deg;
  }

  &[aria-expanded='false']:after {
    display: inline-block;
    translate: 0px 4px;
    rotate: 180deg;
  }

  &:hover,
  &:focus {
    color: inherit;
    background: inherit;
  }
}

.all-enroll-button {
  margin-top: 1rem;
  translate: 0.25rem 0;
}

button.text-button {
  background-color: transparent;
  border: none;
  color: var(--button-primary-color);
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  padding: 0;
  &:hover {
    background-color: transparent;
    color: var(--button-primary-active-color);
  }
  &:active {
    color: var(--button-primary-active-color);
  }
}
