@mixin solid-button($button-color: var(--button-primary-color), $color: var(--grey-000), $hover: var(--button-primary-hover-color), $active: var(--button-primary-active-color)) {
  background-color: $button-color;
  font-weight: 600;
  line-height: 20px;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
  color: $color;
  border-radius: 4px;
  border: 2px solid $button-color;
  &:visited {
    color: $color;
  }
  &:hover {
    background-color: $hover;
    color: $color;
  }
  &:active {
    background-color: var(--button-default-active-color);
    color: $color;
  }
  &:focus {
    background-color: $hover;
    outline: 2px solid var(--grey-190);
    outline-offset: 2px;
    color: $color;
  }
  &:disabled, &.disabled {
    background-color: var(--grey-040);
    border-color: var(--grey-040);
    color: var(--grey-090);
    pointer-events: none;
  }
}

@mixin ghost-button($button-color: var(--button-primary-color), $hover: var(--button-primary-hover-color), $active: var(--button-primary-active-color)) {
  background-color: transparent;
  font-weight: 600;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
  color: $button-color;
  border-radius: 4px;
  border: 2px solid $button-color;
  &:visited {
    color: $button-color;
    border-color: $button-color;
  }
  &:hover {
    color: $hover;
    border-color: $hover;
  }
  &:active {
    color: var(--button-default-active-color);
    border-color: var(--button-default-active-color);
  }
  &:focus {
    border-color: $hover;
    outline: 2px solid var(--grey-190);
    outline-offset: 2px;
    color: $hover;
  }
  &:disabled, &.disabled {
    background-color: var(--grey-040);
    border-color: var(--grey-040);
    color: var(--grey-090);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.button, button, .button-primary, .btn, .btn-primary {
  @include solid-button;
}

button.secondary, .button.secondary, .btn.secondary, .btn-secondary {
  @include solid-button(var(--button-secondary-color), var(--grey-000), var(--button-secondary-hover-color), var(--button-secondary-active-color));
}

button.tertiary, .button.tertiary, .btn.tertiary, .btn-tertiary {
  @include solid-button(var(--button-tertiary-color), var(--grey-000), var(--button-tertiary-hover-color), var(--button-tertiary-active-color));
}

button.error, .button.error, .btn.error, .btn-error {
  @include solid-button(var(--button-error-color), var(--grey-000), var(--button-error-hover-color), var(--button-error-active-color));
}

.button.outline, button.outline, .button-primary.outline, .btn.outline, .btn-primary.outline {
  @include ghost-button;
}

.button-error.outline, .btn-error.outline, .button.outline.error {
  @include ghost-button(var(--button-error-color), var(--button-error-hover-color), var(--button-error-active-color));
}

a.button:hover {
  text-decoration: none;
  cursor: pointer;
}

button.unstyled, button.close {
  background-color: transparent;
  border: none;
  color: var(--button-primary-color);
  cursor: pointer;
  padding: 0;
  &:hover {
    background-color: transparent;
  }
  &:active {
    color: var(--button-primary-active-color);
  }
}
