:root {
  --header-border-color: var(--theme-primary-100);
}

.navbar {
  padding: 0;

  margin-bottom: 0;
  background-color: var(--white);
  border-bottom: solid 3px var(--theme-primary-100);
  .navbar-header {
    .navbar-brand {
      border-right: solid 1px var(--grey-050);
      min-height: 70px;
      img {
        max-height: 40px;
      }
    }
  }
  .navbar-collapse {
    .header-text {
      color: var(--grey-100, grey);
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .navbar-nav:first-of-type {
      a.portal {
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        padding: 23px 15px;
        font-weight: 600;
        color: var(--theme-primary-100, black);
        &:hover {
          // background-color: $background-hover;
          text-decoration: none;
        }
      }
    }
    .navbar-right {
      li:last-of-type {
        text-align: right;
      }
      a.call-customer-service {
        span:last-of-type {
          .fa {
            color: var(--theme-primary-100, black);
          }
          strong {
            line-height: 0;
            font-size: 16px;
            color: var(--grey-130, black);
          }
        }
      }
      .my-portal-links {
        min-height: 70px;
        padding: 15px 15px;
        display: block;
        border-left: solid 1px #d7d7d7;
        .users-name {
          color: var(--grey-130, black);
        }
      }
    }
  }
}

.navbar-main {
  background-color: var(--white);
  border-bottom: solid 3px var(--header-border-color);
  .navbar-brand {
    border-right: solid 1px var(--grey-050);
    img {
      max-height: 40px;
    }
  }
  .portal {
    font-weight: 600;
    color: var(--grey-100) !important;
    font-size: 18px;
  }
  .header-text {
    color: var(--grey-060);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .list-group-item {
    border: none;
  }
  .fa-phone {
    color: var(--theme-primary-100);
  }
  .cc-number {
    color: var(--grey-100);
  }
}

.admin-nav {
  background: var(--theme-primary-100, black);
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  > ul {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 14px;
    margin: 0;
    width: Min(100%, var(--content-width));
  }

  .dropdown-menu.show {
    margin: 20px 0;
    text-align: left;
    padding: 0;

    a {
      white-space: nowrap;
      color: var(--grey-130);
      display: block;
      padding: 3px 20px;
      margin-bottom: 5px;
    }
  }

  .dropdown-toggle:after {
    content: '';
    display: none;
  }

  ul li a {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    // color: $orange;
    color: purple;
  }

  a:visited {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
  .fa-caret-down {
    color: var(--white);
  }

  ul.dropdown-menu li a {
    color: var(--gray-130);
    padding: 3px 20px;
    margin-bottom: 5px;
  }

  ul.dropdown-menu li a:hover {
    // color: $orange;
    color: chartreuse;
    transition: all 0.3s ease 0s;
  }

  .badge {
    background-color: var(--primary-orange, black);
  }

  .list-inline > li {
    display: inline-block;
  }
}

.navbar-main.navbar {
  // outline: 2px solid orange;
  font-size: 14px;
  color: var(--grey-130);
  .my-portal-links {
    text-align: right;
  }
}

.fa-trash {
  color: var(--theme-primary-100);
}

.fa-trash:hover {
  cursor: pointer;
}

#uic-families-right-menu,
#uic-employers-right-menu {
  background-color: var(--theme-primary-100, black);
  padding: 20px 0;
  list-style-type: none;

  li {
    padding: 8px 0;
    padding-right: 15px;
  }
  li a {
    color: #cbe6ff;
    text-align: left;
    padding-left: 15px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 100%;
  }
  li a:hover {
    background-color: transparent;
  }
  .badge {
    background-color: var(--primary-orange, black);
  }
  .panel {
    border-radius: 0;
    background-image: none;
    border-bottom: none;
    padding: 0 20px;
    font-size: 14px;
    margin-top: 0;
    padding: 0 10px;
  }
}
