// historical styles for the admin navbar
// this is for pre-bs4 work, do not add to this file for now
#uic-primary-nav {
  background: var(--theme-primary-blue, #007bc4);

  ul {
    padding: 20px 0;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }

  ul.dropdown-menu.show {
    margin: 20px 0;
    text-align: left;
    padding: 0;

    a {
      white-space: nowrap;
      color: var(--grey-130);
      display: block;
      padding: 3px 20px;
      margin-bottom: 5px;
    }
  }

  ul li a.dropdown-toggle:after {
    content: '';
    display: none;
  }

  ul li a {
    color: var(--grey-000);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }
  ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--orange);
  }

  a:visited {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
  .fa-caret-down {
    color: var(--grey-000);
  }

  ul.dropdown-menu li a {
    color: var(--grey-130);
    padding: 3px 20px;
    margin-bottom: 5px;
  }

  ul.dropdown-menu li a:hover {
    color: var(--orange);
    transition: all 0.3s ease 0s;
  }

  .badge {
    background-color: var(--gray-130);
  }

  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

#admin-nav {
  background: var(--subnav-bg);
  padding: ($spacer / 2) 0;
  ul {
    padding: 0;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    li {
      padding: ($spacer / 2);
      font-size: 16px;
      line-height: 24px;
    }
    li:first-of-type {
      padding-left: 0;
    }
  }

  ul.dropdown-menu.show {
    margin: 20px 0;
    text-align: left;
    padding: 0;
    li {
      padding: 0;
    }
    a {
      white-space: nowrap;
      color: var(--grey-130);
      display: block;
      padding: 3px 20px;
      margin-bottom: 5px;
      text-decoration: none;
    }
  }

  ul li a.dropdown-toggle:after {
    content: '';
    display: none;
  }

  ul li a, button.unstyled {
    color: var(--default-font-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
  }
  ul li a:hover, button.unstyled:hover {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--theme-primary-blue);
  }

  a:visited {
    text-decoration: none;
  }

  a:active {
    font-weight: bold;
  }

  ul.dropdown-menu li a {
    color: var(--grey-130);
    // padding: 3px 20px;
    margin-bottom: 5px;
  }

  ul.dropdown-menu li a:hover, ul.dropdown-menu li a:focus {
    background-color: var(--complete-tint);
    font-weight: 600;
    transition: all 0.3s ease 0s;
  }

  .message-unread {
    padding: ($spacer / 3) ($spacer / 2);
    background: var(--enrollment-status-yellow);
    color: var(--default-font-color);
    margin-left: $spacer / 3;
  }

  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.navbar-main.navbar {
  font-size: 14px;
  color: var(--grey-130);
  .my-portal-links {
    text-align: right;
  }
}
