#uic-primary-nav {
  background:$dark-blue;

  ul {
    padding: 20px 0;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }

  ul.dropdown-menu.show {
    margin: 20px 0;
    text-align: left;
    padding: 0;

    a {
      white-space: nowrap;
      color: #5C5C5C;
      display: block;
      padding: 3px 20px;
      margin-bottom: 5px;
    }
  }

  ul li a.dropdown-toggle:after {
    content: '';
    display: none;
  }

  ul li a {
    color:$primary-white;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }
  ul li a:hover {
    text-decoration:none;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color:$orange;
  }

  a:visited {
    text-decoration:none;
  }

  a:active {
    text-decoration:none;
  }
  .fa-caret-down {
    color:$primary-white;
  }

  ul.dropdown-menu li a {
    color:$primary-black;
    padding: 3px 20px;
    margin-bottom:5px;
  }

  ul.dropdown-menu li a:hover {
    color:$orange;
    transition: all 0.3s ease 0s;
  }

  .badge {
    background-color: $primary-orange;
  }

  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.navbar-main.navbar {
  font-size: 14px;
  color: #5C5C5C;
  .my-portal-links {
    text-align: right;
  }
}