.flash {
  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    & > .row {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .alert-alert {
    color: var(--error-shade);
    background-color: var(--error-tint);
    border-color: var(--error-tint);
  }

  .alert-notice {
    color: var(--info-color);
    background-color: var(--info-tint);
    border-color: var(--info-tint);
  }

  .alert-message {
    background-color: var(--error-tint);
    border-color: var(--error-tint);
    color: var(--grey-160);
    text-align: left;
  }

  a.close {
    text-decoration: none;
  }
}

.alert {
  padding: 0.25em;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;

  &.alert-error {
    background-color: var(--error-tint);
    border-color: var(--error-color);
    color: var(--error-shade);
  }

  &.alert-warning {
    background-color: var(--warning-tint);
    border-color: var(--warning-color);
    color: var(--grey-190);
  }

  &.alert-success {
    background-color: var(--success-tint);
    border-color: var(--success-color);
    color: var(--grey-190);
  }

  &.alert-info {
    background-color: var(--info-tint);
    border-color: var(--info-color);
    color: var(--grey-190);
  }

  &.alert-sm {
    height: 36px;
    padding-left: $spacer * 0.75;
    padding-right: $spacer;
  }
}

//notice is just an alert without a border
.notice {
  padding: 0.25em;
  border-radius: 6px;

  &.notice-error {
    background-color: var(--error-tint);
    border-color: var(--error-color);
    color: var(--error-shade);
  }

  &.notice-warning {
    background-color: var(--warning-tint);
    border-color: var(--warning-color);
    color: var(--grey-190);
  }

  &.notice-success {
    background-color: var(--success-tint);
    border-color: var(--success-color);
    color: var(--grey-190);
  }

  &.notice-info {
    background-color: var(--info-tint);
    border-color: var(--info-color);
    color: var(--grey-190);
  }
}

.flash .icon,
.alert .icon,
.notice .icon,
.modal .icon {
  width: 1em;
  margin-right: 0.25em;
  height: 24px;
  width: 24px;
  color: transparent !important;
  font-size: 27px !important;

  &.icon-sm {
    width: 16px;
  }
}

.error-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23A21E1F'/%3E%3Cline x1='8.46451' y1='8.46448' x2='15.5356' y2='15.5355' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='15.5356' y1='8.46451' x2='8.46458' y2='15.5356' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.warning-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.49845 2.29672C10.5292 0.234426 13.4708 0.234426 14.5016 2.29672L22.9501 19.2003C23.8802 21.0612 22.5273 23.25 20.4485 23.25H3.55146C1.47273 23.25 0.11977 21.0612 1.0499 19.2003L9.49845 2.29672Z' fill='%23FFD600' stroke='%233B3A39' stroke-width='1.5'/%3E%3Cpath d='M13.0089 15.8215H11.0074L10.589 7.80707H13.4273L13.0089 15.8215ZM10.5562 18.627C10.5562 18.1676 10.6793 17.8203 10.9254 17.5852C11.1714 17.35 11.5297 17.2325 12 17.2325C12.4539 17.2325 12.8039 17.3528 13.05 17.5934C13.3015 17.834 13.4273 18.1786 13.4273 18.627C13.4273 19.059 13.3015 19.4008 13.05 19.6524C12.7984 19.8985 12.4484 20.0215 12 20.0215C11.5406 20.0215 11.1851 19.9012 10.9336 19.6606C10.682 19.4145 10.5562 19.07 10.5562 18.627Z' fill='%233B3A39'/%3E%3C/svg%3E");
}

.success-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 8L10.3846 16L7 12.4444' stroke='hsl(130, 97%25, 23%25)' stroke-width='2.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.info-icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23005689'/%3E%3Cpath d='M11.9993 5.20199C11.9993 5.40631 11.9636 5.58968 11.8921 5.75209C11.8207 5.9145 11.7231 6.05595 11.5993 6.17645C11.4802 6.29171 11.3374 6.38077 11.1707 6.44364C11.0088 6.50651 10.8326 6.53794 10.6421 6.53794C10.4612 6.53794 10.2921 6.50913 10.135 6.4515C9.9826 6.38863 9.84927 6.30481 9.73498 6.20003C9.62546 6.09001 9.53736 5.96165 9.4707 5.81496C9.40879 5.66826 9.37784 5.50847 9.37784 5.33559C9.37784 5.13126 9.41117 4.9479 9.47784 4.78549C9.54927 4.62308 9.64451 4.48424 9.76355 4.36899C9.88736 4.24849 10.0326 4.1568 10.1993 4.09394C10.3659 4.03107 10.5469 3.99963 10.7421 3.99963C10.9231 3.99963 11.0897 4.03107 11.2421 4.09394C11.3945 4.15157 11.5255 4.23539 11.635 4.34541C11.7493 4.45019 11.8374 4.57593 11.8993 4.72262C11.9659 4.86931 11.9993 5.0291 11.9993 5.20199ZM11.2564 15.7717C11.1707 15.7979 11.0707 15.8241 10.9564 15.8503C10.8469 15.8765 10.7278 15.9001 10.5993 15.921C10.4755 15.9472 10.3445 15.9656 10.2064 15.9761C10.0731 15.9918 9.93974 15.9996 9.80641 15.9996C9.48736 15.9996 9.21355 15.9525 8.98498 15.8582C8.76117 15.7691 8.57546 15.6434 8.42784 15.481C8.28022 15.3133 8.1707 15.1169 8.09927 14.8916C8.0326 14.6611 7.99927 14.4096 7.99927 14.1372C7.99927 14.0219 8.00403 13.8935 8.01355 13.7521C8.02784 13.6106 8.04451 13.4639 8.06355 13.312C8.0826 13.1548 8.10403 12.9977 8.12784 12.8405C8.15641 12.6781 8.18498 12.5235 8.21355 12.3768C8.2326 12.2878 8.26355 12.1254 8.30641 11.8896C8.35403 11.6486 8.40641 11.3736 8.46355 11.0645C8.52546 10.7554 8.58974 10.4305 8.65641 10.09C8.72308 9.74423 8.78498 9.41679 8.84212 9.10769C8.90403 8.79859 8.95641 8.52616 8.99927 8.2904C9.04689 8.0494 9.08022 7.88437 9.09927 7.79531H11.385L10.5136 12.3218C10.4755 12.5052 10.435 12.7121 10.3921 12.9427C10.3493 13.1679 10.3278 13.3644 10.3278 13.532C10.3278 13.7311 10.385 13.87 10.4993 13.9486C10.6136 14.0271 10.7445 14.0664 10.8921 14.0664C11.0159 14.0664 11.1397 14.0533 11.2636 14.0271C11.3921 13.9957 11.5088 13.9564 11.6136 13.9093C11.5516 14.2236 11.4921 14.5353 11.435 14.8444C11.3778 15.1483 11.3183 15.4574 11.2564 15.7717Z' fill='white'/%3E%3C/svg%3E%0A");
}

.close-icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 18px;
  width: 18px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z' fill='gray' /%3E%3C/svg%3E");
}
