.flash {
  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
  }
  .alert-alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .alert-notice {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  .alert-message {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #333;
    text-align: left;
  }
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
