.flash {
  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    &>.row {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .alert-alert {
    color: var(--error-shade);
    background-color: var(--error-tint);
    border-color: var(--error-tint);
  }
  .alert-notice {
    color: var(--info-color);
    background-color: var(--info-tint);
    border-color: var(--info-tint);
  }
  .alert-message {
    background-color: var(--error-tint);
    border-color: var(--error-tint);
    color: var(--grey-160);
    text-align: left;
  }
}

.alert-error {
  color: var(--error-shade);
  background-color: var(--error-tint);
  border-color: var(--error-tint);
}
