:root {
  // Generic greys
  --grey-000: hsl(0, 0%, 100%);
  --grey-005: hsl(0, 0%, 98%);
  --grey-010: hsl(30, 20%, 98%);
  --grey-020: hsl(30, 8%, 95%);
  --grey-030: hsl(30, 10%, 92%);
  --grey-040: hsl(30, 6%, 87%);
  --grey-050: hsl(30, 4%, 82%);
  --grey-060: hsl(30, 4%, 78%);
  --grey-090: hsl(30, 2%, 62%);
  --grey-100: hsl(30, 2%, 52%);
  --grey-120: hsl(30, 2%, 43%);
  --grey-130: hsl(30, 2%, 37%);
  --grey-150: hsl(40, 3%, 23%);
  --grey-160: hsl(30, 2%, 19%);
  --grey-190: hsl(30, 3%, 12%);

  // Generic colors
  --info-color: hsl(202, 100%, 27%);
  --info-tint: #cde5f3;
  --success-color: hsl(130, 97%, 23%);
  --success-tint: hsl(130, 61%, 86%);
  --warning-color: hsl(44, 100%, 45%);
  --warning-tint: hsla(51, 100%, 94%, 1);
  --danger-status-tint: hsl(0, 100%, 91%);
  --success-status-tint: hsl(129, 100%, 97%);
  --warning-status-tint: hsl(51, 100%, 94%);
  --warning-border: hsl(50, 100%, 50%);
  --error-shade: hsl(0, 68%, 32%);
  --error-color: hsl(0, 69%, 38%);
  --error-tint: hsl(0, 80%, 86%);

  // May be unique colors, but used by all clients
  --bright-green: hsl(65, 100%, 42%);
  --orange: hsl(359, 80%, 54%);

}

[data-theme="me"] {
  --default-font-color: #323130;
  --text-secondary: hsla(30, 2%, 37%, 1);

  //palette
  --primary-color: #3D5D6F;
  --primary-color-dark: #314A59;
  --primary-color-darker: #253843;
  --default-font-color: #323130;
  --placeholder-color: #676767;
  --placeholder-font-weight: 400;
  --floatlabel-color: #767676;
  --floatlabel-onclick-color:#676767;
  --input-text-color: #454545;
  --form-element-text-color: #454545;
  --default-font-color: #323130;
  --placeholder-color: #676767;
  --floatlabel-color: #767676;
  --floatlabel-onclick-color:#676767;
  --input-text-color: #454545;
  --form-element-text-color: #454545;

  --secondary-color: #3B6B90;
  --secondary-color-dark: #2E5470;
  --secondary-color-darker: #213C50;

  --tertiary-color: #5A7334;
  --tertiary-color-dark: #465929;
  --tertiary-color-darker: #32401D;

  //fundamentals
  --primary-hover-color: var(--primary-color-dark);
  --primary-active-color: var(--primary-color-darker);
  --primary-focus-color: var(--primary-color-dark);

  --secondary-hover-color: var(--secondary-color-dark);
  --secondary-active-color: var(--secondary-color-darker);
  --secondary-focus-color: var(--secondary-color-dark);

  --tertiary-hover-color: var(--tertiary-color-dark);
  --tertiary-active-color: var(--tertiary-color-darker);
  --tertiary-focus-color: var(--tertiary-color-dark);

  //semantic
  --body-color: var(--grey-005);
  --placeholder-color: #676767;
  --placeholder-font-weight: 400;
  --floatlabel-color: #767676;
  --floatlabel-onclick-color:#676767;
  --input-text-color: #454545;
  --form-element-text-color: #454545;

  --button-default-color: var(--primary-color);
  --button-default-hover-color: var(--primary-hover-color);
  --button-default-active-color: var(--primary-color-darker);

  --enrollment-status-red: #A21E1F;
  --enrollment-status-green: #027314;
  --enrollment-status-yellow: #E5A900;
  --enrollment-status-blue: #003260;
  --enrollment-status-grey: #3B3A39;

  --button-primary-color: #3D5D6F;
  --button-primary-hover-color: #314A59;
  --button-primary-active-color: #253843;

  --button-secondary-color: #3B6B90;
  --button-secondary-hover-color: #345F80;
  --button-secondary-active-color: #274760;

  --button-tertiary-color: #647F3A;
  --button-tertiary-hover-color: #50662E;
  --button-tertiary-active-color: #3C4C23;

  --button-error-color: var(--status-red);
  --button-error-hover-color: var(--status-red-hover);
  --button-error-active-color: var(--status-red-active);
}

[data-theme="dc"] {
  --default-font-color: #323130;

  --body-color: #FAFAFA;

  --placeholder-color: #676767;
  --floatlabel-color: #767676;
  --floatlabel-onclick-color:#676767;
  --input-text-color: #454545;
  --form-element-text-color: #454545;

  --button-default-color: #4A7EA6;
  --button-default-hover-color: #345F80;
  --button-default-active-color: #274760;

  --enrollment-status-red: #A21E1F;
  --enrollment-status-green: #027314;
  --enrollment-status-yellow: #E5A900;
  --enrollment-status-blue: #003260;
  --enrollment-status-grey: #3B3A39;

  //buttons
  --button-primary-color: #007BC4;
  --button-primary-hover-color: #00629D;
  --button-primary-active-color: #004A76;

  --button-secondary-color: #003260;
  --button-secondary-hover-color: #00284D;
  --button-secondary-active-color: #001E3A;

  --button-tertiary-color: #9D6E00;
  --button-tertiary-hover-color: #7E5800;
  --button-tertiary-active-color: #5E4200;

  --button-error-color: #A21E1F;
  --button-error-hover-color: #85191A;
  --button-error-active-color: #671314;
}


[data-contrast="true"] {
  --secondary-font-color: #676C72; //secondary text gray
  --bold-font-color: #323130; //bold text
  --theme-primary-blue: #3B6B90; //primary blue
  --theme-secondary: #425C6E; //secondary dark blue
  --primary-red: #D42537; //primary red
  --background-light-red: #F9F1F1; //error notice background color
  --primary-green: #5A7334; //green continue buttons
  --secondary-green: #738C4A; //green for continue button hover
  --success-green-background: #E3F9E6; //green for success pill

  --primary-yellow: #FFD600;
  --soft-yellow: #FFFADF;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --alert-notice-green: #62703E; //success notice green
  --soft-blue: #D6EBFF; //home page right nav text color

  --status-red: #A21E1F; //status danger
  --status-red-hover: #85191A; //status danger
  --status-red-active: #671314; //status danger
  --status-blue: #003260; //status pending
  --status-yellow: #E5A900; //status needs info
  --status-green: #027314; //status complete
  --light-gray: #A19F9D;

  --default-font-color: #323130;

  --placeholder-color: #676767;
  --floatlabel-color: #767676;
  --floatlabel-onclick-color:#676767;
  --input-text-color: #454545;
  --form-element-text-color: #454545;

  --button-default-color: #3D5D6F;
  --button-default-hover-color: #314A59;
  --button-default-active-color: #253843;

  --button-primary-color: #3D5D6F;
  --button-primary-hover-color: #314A59;
  --button-primary-active-color: #253843;

  --button-secondary-color: #3B6B90;
  --button-secondary-hover-color: #345F80;
  --button-secondary-active-color: #274760;

  --button-tertiary-color: #647F3A;
  --button-tertiary-hover-color: #50662E;
  --button-tertiary-active-color: #3C4C23;

  --button-error-color: var(--status-red);
  --button-error-hover-color: var(--status-red-hover);
  --button-error-active-color: var(--status-red-active);

  --enrollment-status-red: #A21E1F;
  --enrollment-status-green: #027314;
  --enrollment-status-yellow: #E5A900;
  --enrollment-status-blue: #003260;
  --enrollment-status-grey: #3B3A39;
}

[data-theme="me"] {
    --default-font-color: #323130;
    --placeholder-color: #676767;
    --placeholder-font-weight: 400;
    --floatlabel-color: #767676;
    --floatlabel-onclick-color:#676767;
    --input-text-color: #454545;
    --form-element-text-color: #454545;

    --button-default-color: #4A7EA6;
    --button-default-hover-color: #345F80;
    --button-default-active-color: #274760;

    --enrollment-status-red: #A21E1F;
    --enrollment-status-green: #027314;
    --enrollment-status-yellow: #E5A900;
    --enrollment-status-blue: #003260;
    --enrollment-status-grey: #3B3A39;
}

[data-theme="dc"] {
  --default-font-color: #323130;

  --placeholder-color: #676767;
  --placeholder-font-weight: 400;
  --floatlabel-color: #767676;
  --floatlabel-onclick-color:#676767;
  --input-text-color: #454545;
  --form-element-text-color: #454545;

  --button-default-color: #4A7EA6;
  --button-default-hover-color: #345F80;
  --button-default-active-color: #274760;

  --enrollment-status-red: #A21E1F;
  --enrollment-status-green: #027314;
  --enrollment-status-yellow: #E5A900;
  --enrollment-status-blue: #003260;
  --enrollment-status-grey: #3B3A39;
}


[data-contrast="true"] {
  --secondary-font-color: #676C72; //secondary text gray
  --bold-font-color: #323130; //bold text
  --theme-primary-blue: #3B6B90; //primary blue
  --theme-secondary: #425C6E; //secondary dark blue
  --primary-red: #D42537; //primary red
  --background-light-red: #F9F1F1; //error notice background color
  --primary-green: #5A7334; //green continue buttons
  --secondary-green: #738C4A; //green for continue button hover
  --success-green-background: #E3F9E6; //green for success pill

  --primary-yellow: #FFD600;
  --soft-yellow: #FFFADF;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --alert-notice-green: #62703E; //success notice green
  --soft-blue: #D6EBFF; //home page right nav text color

  --status-red: #A21E1F; //status danger
  --status-red-hover: #85191A; //status danger
  --status-red-active: #671314; //status danger
  --status-blue: #003260; //status pending
  --status-yellow: #E5A900; //status needs info
  --status-green: #027314; //status complete
  --light-gray: #A19F9D;

  --default-font-color: #323130;

  --placeholder-color: #676767;
  --placeholder-font-weight: 400;
  --floatlabel-color: #767676;
  --floatlabel-onclick-color:#676767;
  --input-text-color: #454545;
  --form-element-text-color: #454545;

  --button-default-color: #3D5D6F;
  --button-default-hover-color: #314A59;
  --button-default-active-color: #253843;

  --button-primary-color: #3D5D6F;
  --button-primary-hover-color: #314A59;
  --button-primary-active-color: #253843;

  --button-secondary-color: #4A7EA6;
  --button-secondary-hover-color: #345F80;
  --button-secondary-active-color: #274760;

  --button-tertiary-color: #647F3A;
  --button-tertiary-hover-color: #50662E;
  --button-tertiary-active-color: #3C4C23;

  --button-error-color: var(--status-red);
  --button-error-hover-color: var(--status-red-hover);
  --button-error-active-color: var(--status-red-active);

  --enrollment-status-red: #A21E1F;
  --enrollment-status-green: #027314;
  --enrollment-status-yellow: #E5A900;
  --enrollment-status-blue: #003260;
  --enrollment-status-grey: #3B3A39;
}
