:root {
    --font: Barlow, sans-serif;
    --default-font-color: #323130;
  
    --placeholder-color: #676767;
    --placeholder-font-weight: 400;
    --floatlabel-color: #767676;
    --floatlabel-onclick-color:#676767;
    --input-text-color: #454545;
    --form-element-text-color: #454545;
  
    --button-default-color: #4A7EA6;
    --button-default-hover-color: #345F80;
    --button-default-active-color: #274760;
  
    --enrollment-status-red: #A21E1F;
    --enrollment-status-green: #027314;
    --enrollment-status-yellow: #E5A900;
    --enrollment-status-blue: #003260;
    --enrollment-status-grey: #3B3A39;
}
