#uic-families-right-menu, #uic-employers-right-menu {
  background-color: #007bc4;
  padding: 20px 0;
  list-style-type: none;

  li {
    padding: 8px 0;
    padding-right: 15px;
  }
  li a {
    color: #cbe6ff;
    text-align: left;
    padding-left: 15px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 100%;
  }
  li a:hover {
    background-color: transparent;
  }
  .badge {
    background-color: $primary-orange;
  }
  .panel {
    border-radius: 0;
    background-image: none;
    border-bottom: none;
    padding: 0 20px;
    font-size: 14px;
    margin-top:0;
    padding: 0 10px;
  }
}

.fa-user-circle {
  color: #23527c;
}

.menu-list {
  li {
    text-align: right !important;
  }
}

.personal-info-container {
  max-width: 1000px;
}

.personal-info-hr {
  border: 1px solid #ddd;
}

.red-star {
  color: red;
}

.personal-info-label {
  font-size: 11px;
  font-weight: bold;
  color: rgb(131, 135, 128)
}

.personal-info-heading {
  font-size: 16px;
  font-weight: bold;
  color: rgb(131, 135, 128)
}

.dropdown-toggle:after { content: none }

.no-pd{padding: 0;}

.svg-inline--fa {
  color: $primary-blue;
  cursor: pointer;
  &.pull-right {
    margin: 6px 10px 0 0;

    &:last-of-type {
      margin: 6px 10px 0 0;
      position: absolute;
      right: 5px;
    }
  }
}

.pull-right {
  float: right !important;
}

.flex-shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,.25)
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.portal-label {
  margin-left: 5px;
  font-size: 14px
}

.fade.in {
  opacity: 1;
}
