:root {
  --font: 'Open Sans', sans-serif;

  // DC Primary Colors
  --theme-primary-050: #7fbde1;
  --theme-primary-060: #66b0dc;
  --theme-primary-070: #4ca2d6;
  --theme-primary-080: hsl(203, 63%, 51%);
  --theme-primary-090: hsl(202, 78%, 45%);
  --theme-primary-100: #007bc4;
  --theme-primary-110: #006fb1;
  --theme-primary-120: #00629d;
  --theme-primary-130: #00568a;
  --theme-primary-140: #004a76;
  --theme-primary-150: #003e62;

  // DC Secondary Colors
  --theme-secondary-050: #7f98af;
  --theme-secondary-060: #6684a0;
  --theme-secondary-070: #4c6f8f;
  --theme-secondary-080: #335b80;
  --theme-secondary-090: #194670;
  --theme-secondary-100: #003260;
  --theme-secondary-110: #002d57;
  --theme-secondary-120: #00284d;
  --theme-secondary-130: #001835;
  --theme-secondary-140: #00142e;
  --theme-secondary-150: #001126;

  // DC Tertiary Colors
  --theme-tertiary-050: #ceb67f;
  --theme-tertiary-060: #c4a866;
  --theme-tertiary-070: #ba994c;
  --theme-tertiary-080: #b18b33;
  --theme-tertiary-090: #a77c19;
  --theme-tertiary-100: #9d6e00;
  --theme-tertiary-110: #8e6300;
  --theme-tertiary-120: #7e5800;
  --theme-tertiary-130: #6e4d00;
  --theme-tertiary-140: #5e4200;
  --theme-tertiary-150: #4f3700;

  // Theme overrides
  --placeholder-color: var(--grey-100);
  --placeholder-font-weight: 300;
  --floatlabel-color: var(--grey-100);
  --floatlabel-onclick-color: var(--theme-primary-080);

  --input-text-color: var(--theme-primary-100);
  --form-element-text-color: var(--grey-160);
}
