:root {
  --font: 'Open Sans', sans-serif;
  --placeholder-color: #838780;
  --placeholder-font-weight: 300;
  --floatlabel-color: #838780;
  --floatlabel-onclick-color: #2996cc;
  --input-text-color: #007bc3;
  --form-element-text-color: #333;
}