
:root {
    .plan-tile {
      font-size: medium;

      .plan-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        background: #FAF9F8;

        .plan-year {
          margin: 0;
          padding-left: 12px;
          flex-grow: 1;
          line-height: 0;
          font-size: medium;
        }

        .plan-status-container {
          display: flex;
          min-height: 36px;
          align-items: stretch;

          .label {
            display: flex;
            height: 100%;
            border-radius: 0 .25rem 0 0;
            align-items: center;
            color: white;

            &.label-red {
              background-color: var(--enrollment-status-red);
            }

            &.label-green {
              background-color: var(--enrollment-status-green);
            }

            &.label-yellow {
              background-color: var(--enrollment-status-yellow);
              color: var(--default-font-color);
            }

            &.label-blue {
              background-color: var(--enrollment-status-blue);
            }

            &.label-grey {
              background-color: var(--enrollment-status-grey);
            }
          }
        }


      }

      .plan-details-container {
        padding: 0 12px 12px 12px;

        .plan-title {
          display: flex;
          flex-direction: column;

          img {
              flex: 0;
              object-fit: scale-down;
              height: 70px;
              width: 100px;
          }

          .plan-logo-and-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            h3 {
              margin: 0;
              justify-self: left;
              padding: 8px 0;
              flex-basis: 100%;

              a {
                color: var(--default-font-color);
                font-size: 18px;
                font-weight: 700;
                line-height: 1.5;
                display: block;
              }

            }
          }
        }

        .plan-details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            color: var(--default-font-color);

            div[class$='-column'] {
                flex: 1;

                &>div {
                    display: flex;
                    flex-direction: row;
                }
            }

            label {
                font-weight: 600;
                flex-basis: 45%;
                white-space: nowrap;
                margin-bottom: 0px !important;
            }
        }

        .plan-covered {
            padding: 8px 0 0 0;
            color: var(--default-font-color);

            label {
                font-weight: 600;
                margin-right: 12px;
            }
        }

        .plan-button-group {
            display: flex;
            flex-direction: row;
            font-size: 16px;
            justify-content: space-between;
            flex-wrap: wrap;

            .enrollment-actions-ddl {
                flex-basis: 85px;
                text-align: right;

                .btn {
                  color: var(--theme-primary-blue, --button-default-color);
                  border-color: var(--theme-primary-blue, --button-default-color);
                }
            }

            &>.btn {
                height: 34px;
                padding-right: 0;
                color: var(--theme-primary-blue, --button-default-color);
                border-color: var(--theme-primary-blue, --button-default-color);

                &:hover {
                    color: var(--theme-primary-blue, --button-default-hover-color);
                    border-color: var(--theme-primary-blue, --button-default-hover-color);
                }

                a {
                    color: inherit;

                    &:hover {
                        text-decoration: none;
                    }

                    i {
                        font-size: 1.2em;
                        color: inherit;
                    }
                }
            }
        }
      }
    }

    .enrollment-details{
      dl {
        display: grid;
        grid-template-columns: 25% auto;

        dt {
          grid-column: 1;
        }

        dd {
          grid-column: 2;
        }
      }

      table{
        th{
          width: 33%;
        }

        th:first-child, td:first-child {
          background-color: var(--grey-030);
        }
      }
    }
}
