:root {
    .plan-tile {
      font-size: medium;

      .plan-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        background: #FAF9F8;

        .plan-year {
          margin: 0;
          padding-left: 12px;
          flex-grow: 1;
          line-height: 0;
          font-size: medium;
        }

        .plan-status-container {
          display: flex;
          min-height: 36px;
          align-items: stretch;
        }

        .label {
          display: flex;
          height: 100%;
          border-radius: 0 .25rem 0 0;
          align-items: center;
        }
      }

      .plan-details-container {
        padding: 12px;
      }

      .plan-title {
        display: flex;
        flex-direction: column;

        img {
            flex: 0;
            object-fit: scale-down;
            height: 100px;
        }

        .plan-logo-and-name {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;

          h3 {
            margin: 0;
            justify-self: left;
            padding: 8px 0;
            flex-basis: 100%;

            a {
              color: black !important;
              font-size: 18px;
              font-weight: 700;
              line-height: 1.5;
              display: block;
            }

          }
        }
      }

        .plan-details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            color: var(--grey-130);

            div[class$='-column'] {
                flex: 1;

                &>div {
                    display: flex;
                    flex-direction: row;
                }
            }

            label {
                font-weight: 600;
                flex-basis: 45%;
                white-space: nowrap;
                margin-bottom: 0px !important;
            }
        }

        .plan-covered {
            padding: 8px 0 0 0;
            color: var(--grey-130);

            label {
                font-weight: 600;
                margin-right: 12px;
            }
        }

        .plan-button-group {
            display: flex;
            flex-direction: row;
            font-size: 16px;
            justify-content: space-between;
            flex-wrap: wrap;

            .enrollment-actions-ddl {
                flex-basis: 85px;
                text-align: right;
            }

            .btn {
                height: 34px;
                color: var(--button-default-color);
                border-color: var(--button-default-color);

                &:hover {
                    color: var(--button-default-hover-color);
                    border-color: var(--button-default-hover-color);
                }

                a {
                    color: inherit;

                    &:hover {
                        text-decoration: none;
                    }

                    i {
                        font-size: 1.2em;
                        color: inherit;
                    }
                }
            }
        }
    }
}
