#new_user {
  #pass_strength,
  #pass_match {
    font-size: 12px;
  }
  span#complexity {
    padding: 3px 0;
    height: 5px;
    color: var(--grey-190);
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
  .strong {
    background-color: var(--warning-color);
    width: 40px;
  }
  .weak {
    background-color: var(--primary-red, var(--error-color));
    width: 20px;
  }
  .stronger {
    background-color: var(--info-tint);
    width: 60px;
  }
  .strongest {
    background-color: var(--info-color);
    width: 70px;
  }
  .fa-check {
    color: var(--bright-green);
  }
  .fa-times {
    color: var(--primary-red, var(--error-color));
  }
}
