#new_user {
  #pass_strength, #pass_match {
    font-size: 12px;
  }
  span#complexity {
    padding: 3px 0;
    height: 5px;
    color: #000;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
  .strong {
    background-color: #FAD054;
    width: 40px;
  }
  .weak {
    background-color: #e72b2d;
    width: 20px;
  }
  .stronger {
    background-color: #93C9F4;
    width: 60px;
  }
  .strongest {
    background-color: #005fd6;
    width: 70px;
  }
  .fa-check {
    color: $dc-lime-green;
  }
  .fa-times {
    color: $dc-red;
  }
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.s508 {
  label{
    display:block;
    margin-bottom: 10px;
    font-weight: lighter;
  }
  label > span{
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
  }
  fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    background: #eaeaea;
  }
  fieldset legend{
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: $primary-blue;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 20px;
  }

  h4 {
    font-weight: 300;
    line-height: 1.6em;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: inherit;

  }
}

.was-validated .form-control:invalid {
  border-color: #dc3545;
  background-image: none !important;
}

.was-validated .form-control:valid {
  border-color: #28a745;
}

.was-validated .form-control:invalid~.invalid-feedback {
  display: block;
}

.was-validated .form-control:valid~.valid-feedback {
  display: block;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #28a745;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
  font-weight: normal !important;
}

.hidden {
  display : none !important;
}

.agency-selected {
  border: 2px solid $mhc-href;
}


