@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  background-color: $medium-gray;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

.nm-content {
  height: calc(100vh - 175px);
  overflow-y: auto;
}

footer {
  font-size: 14px;
  color: $white;
  background-color: $dc-dark-blue;
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  a, a:hover {
    color: $white;
    text-decoration: none;
  }
}

.welcome-text {
  margin-top: 70px;
}
