.special-cover-header,
#special-cover-header {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--info-tint);
}

body {
  background-color: var(--grey-020);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.25rem;
}

.manage_sep_types .mb-4,
.my-4 {
  margin-bottom: 0.5rem !important;
}

.nm-content {
  height: calc(100vh - 175px);
  overflow-y: auto;
}

.bulk_notices {
  padding-bottom: 45px;
}

footer {
  font-size: 14px;
  color: var(--grey-000);
  background-color: var(--theme-primary-blue, #007bc4);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  a,
  a:hover {
    color: var(--grey-000);
    text-decoration: none;
  }
}

.welcome-text {
  margin-top: $spacer * 2;
}

#sort_notification_msg {
  display: none;
  opacity: 1;
  border-color: var(--success-tint);
  max-width: 466px;
  margin-left: 295px;
}

#sort_notification_msg.success {
  background-color: var(--success-tint);
}

#sort_notification_msg .success {
  background-color: var(--success-tint);
}

#sort_notification_msg.error {
  background-color: var(--error-tint);
}

#sort_notification_msg .error {
  background-color: var(--error-tint);
}

.hide, .hidden {
  @extend .sr-only;
}

.nav-stacked li {
  padding: $spacer;
  margin-bottom: ($spacer * .25);
  width: 100%;
  background: var(--grey-010);
  color: var(--info-color);
  a {
    color: var(--info-color);
  }
  &.activer {
    background: var(--info-color);
    color: var(--grey-000);
    a {
      color: var(--grey-000);
    }
  }
  &.active {
    @extend .font-weight-bold;
  }
}