:root {
  --font: Barlow, sans-serif;
  --placeholder-color: #676767;
  --placeholder-font-weight: 400;
  --floatlabel-color: #767676;
  --floatlabel-onclick-color:#676767;
  --input-text-color: #454545;
  --form-element-text-color: #454545;
}
