// styles related to the bulk messages admin feature. as this hasn't been redone to match new styles, leave separate and don't use these classes anywhere new.
table.table-bg-white {
  background-color: var(--grey-000);
}
table.table-bg-white tr td,
table.table-bg-white tr th {
  padding: 8px 18px;
  vertical-align: middle;
}
table.table-bg-white tr td {
  font-weight: 300;
}
table.table-bg-white tr th {
  font-weight: 400;
}
td.brd-r {
  border-left: 1px solid var(--grey-040);
}
table.table.table-message-wrapper {
  background: var(--grey-000) none repeat scroll 0 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
table.table.table-message-wrapper tr th {
  color: var(--grey-150);
  font-size: 12px;
  font-weight: 400;
  padding-left: 20px !important;
  text-transform: uppercase;
  width: 20%;
}
table.table.table-message-wrapper tr td a {
  color: var(--grey-150);
  font-size: 12px;
  font-weight: 400;
}
table.table.table-message-wrapper tr td,
table.table.table-message-wrapper tr th {
  padding: 15px 5px;
  vertical-align: middle;
}
table.table.table-message-wrapper tr:first-child td,
table.table.table-message-wrapper tr:first-child th {
  border-top: medium none;
}
table.table.table-message-wrapper tr td input,
table.table.table-message-wrapper tr td textarea {
  border: medium none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  width: 100%;
}
table.table.table-message-wrapper tr th.vtop {
  vertical-align: top;
}
.input-no-pd .form-group {
  margin-bottom: 15px;
}
.input-no-pd .form-control {
  padding: 0 10px !important;
}
.input-no-pd .form-control:focus {
  background-color: var(--grey-000);
  border-color: var(--info-color);
}

.input-no-pd input[placeholder] {
  font-size: 14px !important;
  color: var(--grey-130);
}
.input-no-pd .form-control::-webkit-input-placeholder {
  font-size: 14px !important;
  color: var(--grey-130);
}
.input-no-pd .form-control:-moz-placeholder {
  font-size: 14px !important;
  color: var(--grey-130);
}
.row input.form-control.message_subject {
  padding-top: 5px !important;
}

#sent_messages {
  font-size: 12px;
  line-height: 16px;
}

#recipient-list.collapsed {
  max-height: 30px;
  overflow-y: hidden;
  max-width: 90%;
}
