// print styles
@media screen {
  #printSection {
    display: block !important;
  }
}

@media print {
  html,
  body {
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  body {
    background: none !important;
  }

  body * {
    visibility: hidden;
  }

  #printSection,
  #printSection * {
    visibility: visible;
  }

  #printSection {
    position: static !important;
    page-break-inside: avoid;
    overflow: visible;
    left: 0;
    top: 0;
  }

  #printArea {
    display: none !important;
  }
  #printSection #printArea {
    display: block !important;
  }
  .btn-print,
  nav,
  header,
  footer,
  .progress-nav-container {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }
}
