@media screen {
  #printSection {
    display: none !important;
  }
}
@media print {
  html, body {
    height:100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  body {
    background: none !important;
  }
  body * {
    visibility: hidden;
  }
  #printSection, #printSection * {
    visibility: visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
  #printArea {
    display: none !important;
  }
  #printSection #printArea {
    display: block !important;
  }
  #btnPrint, nav, header, footer, .progress-nav-container  {
    display: none  !important;
  }
}
