table {
  font-size: 1em;
  width: 100%;
  margin-bottom: 2ch;

  thead {
    th {
      padding: 0.75rem;
      border: none;
      border-bottom: 1px solid var(--grey-060);
      text-align: left;
      vertical-align: top;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;

      &.w-256px {
        width: 256px;
      }
    }
  }

  tbody {
    tr:hover {
      background: var(--grey-000);
    }

    td {
      border: none;
      border-bottom: 1px solid var(--grey-030);
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      padding: 0.75rem;

      &:first-of-type {
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
      }
    }

    form {
      font-size: 16px;
    }
  }

  td,
  th {
    &.numeric {
      text-align: right;
    }
  }

  caption {
    text-align: left;
    margin: 1em 0;
  }
}

#plan-details-modal {
  .modal-footer {
    border-top-width: 0;
  }
}

.compare-table.table {
  /* Remove the default table properties */

  border-collapse: collapse; /* Merge table borders */
  border-spacing: 0; /* Remove spacing between cells */
  width: 100%; /* Optional: Make table full-width */

  /* Remove padding and margin from table cells */
  th,
  td {
    padding: 12px;
    margin: 0;
    border: none; /* Optional: Remove default border */
    text-align: left; /* Optional: Left-align text */
    font-size: 1rem;
  }

  /* Optional: Reset table header styles */
  th {
    font-weight: normal;
    background-color: transparent; /* Remove background color */
    color: inherit; /* Inherit text color */
  }

  /* Optional: Set consistent border and background for table rows */
  tr {
    border: none; /* Remove default border */
    background-color: transparent; /* Remove background color */
  }

  th {
    background-color: var(--grey-010);
  }

  .bold {
    font-weight: bold;
  }

  .logo {
    vertical-align: bottom;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 200px;
      min-width: 150px;
    }
  }

  .rb1 {
    border-right: 1px solid var(--grey-030);
  }

  .rb2 {
    border-right: 1px solid var(--grey-050);

    &:last-child {
      border-right: none;
    }
  }

  .select-area {
    vertical-align: middle;

    a,
    h5 {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    a {
      max-width: 260px;
    }
  }

  .spacer {
    height: 48px;
  }
}
