// all table related styles are in this file, including datatables
table {
  font-size: 1em;
  width: 100%;
  margin-bottom: 2ch;

  thead {
    th {
      padding: 0.75rem;
      border: none;
      border-bottom: 1px solid var(--grey-060);
      text-align: left;
      vertical-align: top;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      &.w-100px {
        width: 100px;
      }
      &.w-256px {
        width: 256px;
      }
    }
  }

  tbody {
    tr:hover {
      background: var(--grey-000);
    }

    td {
      border: none;
      border-bottom: 1px solid var(--grey-030);
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      padding: 0.75rem;

      &:first-of-type:not(.standard) {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }

      button, .btn, .button {
        font-size: 16px;
      }
    }

    form {
      font-size: 16px;
    }
  }

  td,
  th {
    &.numeric {
      text-align: right;
    }
  }

  caption {
    text-align: left;
    margin: 1em 0;
    color: var(--text-secondary);
  }
}

#plan-details-modal {
  .modal-footer {
    border-top-width: 0;
  }
}

.compare-table.table {
  /* Remove the default table properties */

  border-collapse: collapse; /* Merge table borders */
  border-spacing: 0; /* Remove spacing between cells */
  width: 100%; /* Optional: Make table full-width */

  /* Remove padding and margin from table cells */
  th,
  td {
    padding: 12px;
    margin: 0;
    border: none; /* Optional: Remove default border */
    text-align: left; /* Optional: Left-align text */
    font-size: 1rem;
  }

  /* Optional: Reset table header styles */
  th {
    font-weight: normal;
    background-color: transparent; /* Remove background color */
    color: inherit; /* Inherit text color */
  }

  /* Optional: Set consistent border and background for table rows */
  tr {
    border: none; /* Remove default border */
    background-color: transparent; /* Remove background color */
  }

  th {
    background-color: var(--grey-010);
  }

  .bold {
    font-weight: bold;
  }

  .logo {
    vertical-align: bottom;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 200px;
      min-width: 150px;
    }
  }

  .rb1 {
    border-right: 1px solid var(--grey-030);
  }

  .rb2 {
    border-right: 1px solid var(--grey-050);

    &:last-child {
      border-right: none;
    }
  }

  .select-area {
    vertical-align: middle;

    a,
    h5 {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    a {
      max-width: 260px;
    }
  }

  .spacer {
    height: 48px;
  }
}

#Broker-Family-dataTable_wrapper {
  width: 100% !important;
  table {
    width: 100% !important;
  }
}

 // all of these classes were originally inline
 #broker_agency_staff {
  .table-responsive {
    table.broker-staff {
      width: 100%;
      border-collapse: collapse;

      thead {
        height: 40px;

        tr {
          color: var(--text-secondary);
          border-bottom: 1px solid var(--silver-border);
          border-radius: 1px 0 0 1px;
        }
      }

      tbody.staff-select-broker {
        &.agency-selected {
          border: 2px solid var(--button-tertiary-color);

          tr {
            background-color: var(--tertiary-tint);
          }
        }

        tr {
          border-bottom: 1px solid var(--silver-border);

          td {
            .select-broker-agency {
              color: var(--primary-white);
            }
          }
        }
      }
    }
  }
}

// these styles are all for tha datatables, which is why they live in this file.
.custom_filter {
  .custom_level_1, .custom_level_2 {
    margin-left: 0;
    padding-left: 0;
  }
}

.dataTables_length {
  margin-left: $spacer / 2;
  label {font-weight: 400}
}

.container:has(#effective_datatable_wrapper) {
  padding: 0
}

#effective_datatable_wrapper {
  margin-top: $spacer;
  .container {
    padding: 0;
  }
  .row {
    margin: 0
  }
  input[type="search"] {
    margin-left: $spacer / 2;
  }
}

.border-top-0 {
  th,
  td {
    border-top: 0;
  }
}
