.btn-outline-primary {
  color: var(--theme-primary-100, #007bc4);
  border-color: var(--theme-primary-100, #007bc4);
  font-weight: 600;
  text-transform: capitalize;

  &:hover {
    background-color: var(--grey-000);
    color: var(--theme-primary-100, #007bc4);
  }

  &:not(:disabled):not(:disabled):active {
    background-color: var(--grey-000);
    color: var(--theme-primary-100, #007bc4);
  }
}

.invalid-feedback {
  color: var(--primary-red, var(--error-color, #dc3545));
}

.btn-primary {
  text-transform: uppercase;
  font-weight: 600;
  border-color: var(--primary-green, var(--error-color, #e72b2d));
  border-bottom-width: medium;
  color: var(--grey-000);
  background-color: var(--primary-green, var(--error-color, #e72b2d));

  &:hover:not(:disabled) {
    background-color: var(--error-shade);
    border-color: var(--primary-green, var(--error-color));
  }

  &:not(:disabled):not(:disabled):active {
    background-color: var(--primary-green, var(--error-color));
    border-color: var(--primary-green, var(--error-color));
    box-shadow: 0 0 0 0.2rem var(--error-tint);
  }

  &:focus {
    background-color: var(--primary-green, var(--error-color));
    box-shadow: 0 0 0 0.2rem var(--error-tint);
    border-color: var(--primary-green, var(--error-color));
  }

  &:disabled {
    opacity: 0.8;
    background-color: var(--error-shade);
    border-color: var(--error-shade);
  }
}

.text-muted {
  color: var(--secondary-font-color, #6c757d) !important;
}

.btn-link {
  color: var(--theme-primary-100, #007bc4) !important;
}

.swal2-styled.swal2-confirm {
  background-color: var(--theme-primary-100, #3085D6) !important;
}

.heading-text {
  font-weight: 400;
  color: var(--theme-primary-100, #007bc4);
}

.invalid-feedback {
  font-weight: bold;
}

.login-options {
  border-left: solid 1px var(--grey-050);
  min-height: 72px;
}

.navbar-main {
  background-color: var(--grey-000);
  border-bottom: solid 3px var(--theme-primary-100, #007bc4);
  .navbar-brand {
    border-right: solid 1px var(--grey-050);
    img {
      max-height: 40px;
    }
  }
  .portal {
    font-weight: 600;
    color: var(--grey-120) !important;
    font-size: 18px;
  }
  .header-text {
    color: var(--secondary-font-color, --grey-060);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .list-group-item {
    border: none;
  }
  .fa-phone {
    color: var(--theme-primary-100, #007bc4);
  }
  .cc-number {
    color: var(--grey-120);
  }
}

.sub-text {
  font-weight: 200;
  color: var(--theme-primary-100, #007bc4);
}

// This is for conditional styles used only in
// preprod environment
.pre_prod_nav_color {
  color: var(--grey-000) !important;
  background-color: var(--info-color) !important;

  .call-customer-service {
    color: var(--grey-000) !important;
  }

  span a {
    color: var(--grey-000) !important;
  }

  .header-text {
    color: var(--grey-000) !important;
  }

  span strong {
    color: var(--grey-000) !important;
  }

  a.portal {
    color: var(--grey-000) !important;
  }
}
