.btn-outline-primary {
  @include button-outline-variant($dc-alt-blue, $dc-alt-blue, lighten($white, 5%), $dc-alt-blue);
  font-weight: 600;
  text-transform: capitalize;
}

.btn-primary {
  @include button-variant($dc-red, $dc-red, darken($dc-red, 10%), $dc-red);
  text-transform: uppercase;
  font-weight: 600;
  border-color: $dc-dark-red;
  border-bottom-width: medium;
}

.heading-text {
  font-weight: 400;
  color: $dc-dark-blue;
}

.invalid-feedback {
  font-weight: bold;
}

.login-options {
  border-left: solid 1px $dc-alt-gray;
  min-height: 72px;
}

.navbar-main {
  background-color: $white;
  border-bottom: solid 3px $dc-alt-blue;
  .navbar-brand {
    border-right: solid 1px $dc-alt-gray;
    img {
      max-height: 40px;
    }
  }
  .portal {
    font-weight: 600;
    color: $dc-dark-gray !important;
    font-size: 18px;
  }
  .header-text {
    color: $dc-alt-gray-2;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .list-group-item {
    border: none;
  }
  .fa-phone {
    color: $dc-alt-blue;
  }
  .cc-number {
    color: $dc-dark-gray;
  }
}

.sub-text {
  font-weight: 200;
  color: $dc-dark-blue;
}

// This is for conditional styles used only in
// preprod environment
.pre_prod_nav_color {
  color: white !important;
  background-color: #003260 !important;

   .call-customer-service {
    color: white !important;
  }

   span a {
    color: white !important;
  }

   .header-text {
    color: white !important;
  }

   span strong {
    color: white !important;
  }

   a.portal {
    color: white !important;
  }
}
