.btn-outline-primary {
    @include button-outline-variant($dc-alt-blue, $dc-alt-blue, lighten($white, 5%), $dc-alt-blue);
    font-weight: 600;
    text-transform: capitalize;
}

.navbar-main {
  background-color: $white;
  border-bottom: solid 3px $dc-alt-blue;
  .navbar-brand {
    border-right: solid 1px $dc-alt-gray;
    img {
      max-height: 40px;
    }
  }
  .portal {
    font-weight: 600;
    color: $dc-dark-gray !important;
    font-size: 18px;
  }
  .header-text {
    color: $dc-alt-gray-2;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .list-group-item {
    border: none;
  }
  .fa-phone {
    color: $dc-alt-blue;
  }
  .cc-number {
    color: $dc-dark-gray;
  }
}
