// contains only styling for tooltips
.tooltip > .tooltip-inner {
  background-color: var( --primary-white, var(--theme-primary-blue, #007bc4));
  color: var( --primary-black, var(--grey-000));
}

.tooltip-inner {
  min-width: 340px;
  padding: 15px;
  text-align: left;
  font-size: 0.875em;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: var(--theme-primary-blue, #007bc4);
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: var(--theme-primary-blue, #007bc4);
}

.tooltip .tooltip-inner {
  border-style: solid;
  border-width: 2px;
  border-color: var(--theme-primary-blue, #007bc4);
}

.pwHelper {
  li {
    list-style-type: none;
  }
  .fa-check {
    color: var(--bright-green);
  }
  .fa-times {
    color: var(--primary-red, var(--error-color));
  }
}
