.tooltip > .tooltip-inner {
  background-color: var(--theme-primary-100, #007bc4);
  color: var(--grey-000);
}

.tooltip-inner {
  min-width: 340px;
  padding: 15px;
  text-align: left;
  font-size: 0.875em;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: var(--theme-primary-100, #007bc4);
}

.pwHelper {
  li {
    list-style-type: none;
  }
  .fa-check {
    color: var(--bright-green);
  }
  .fa-times {
    color: var(--error-color);
  }
}
