// Primary colors
$dc-primary-blue: #005EB8;
$dc-red: #D22630;
$white: #ffffff;
// Secondary Colors
$dc-organge: #EAA000;
$dc-dark-blue: #003260;
$dc-dark-gray: #5C5C5C;
$dc-gray: #949A90;
$dc-lime-green: #C4D600;
$dc-khaki-brown: #CEB888;
$dc-secondary-blue: #0086BF;
$dc-alt-blue: #007BC4;
$dc-alt-gray: #d7d7d7;
$dc-alt-gray-2: #b7b7b7;
$medium-gray: #f2f2f2;
