// Primary colors
$primary-blue: #005EB8;
$red: #D22630;
$white: #ffffff;
// Secondary Colors
$organge: #EAA000;
$dark-blue: #003260;
$dark-gray: #5C5C5C;
$dark-red: #b7191b;
$gray: #949A90;
$lime-green: #C4D600;
$khaki-brown: #CEB888;
$secondary-blue: #0086BF;
$alt-blue: #007BC4;
$alt-gray: #d7d7d7;
$alt-gray-2: #b7b7b7;
$medium-gray: #f2f2f2;

$dark-blue:#007bc4;
$blue: #007bc4;
$darker-blue: #007bc4;
$dark-gray: #706f6d;
$gray: #b7b7b7;
$orange: #e72b2d;
$red: #e72b2d;
$href:#337ab7;
$light-gray:#007bc4;
$heading-gray:#007bc4;
$primary-orange: #333333;
$primary-color: #007bc4;
$primary-notification: #333333;
$primary-panel: #69A30D;
$primary-button: #e72b2d;
$primary-button-color: #286090;
$alternate-header-color: #333333;
$primary-icon_color: #333333;
$primary-red: #e72b2d;
$primary-button-disabled: #337ab7;
$primary-button-border-disabled: #2e6da4;
$qle-header-color: #333333;
$primary-white: #ffffff;
$primary-table-heading: #9b9b9b;
$primary-button-border: #b7191b;
$primary-blue: $blue;
$primary-white: #ffffff;
$primary-button-text: #ffffff;
$primary-green: #69A30D;
$primary-black: #5C5C5C;
$primay-active-button-text-color: #ffffff;
$primary-bold: 600;
$primary-light: 300;
$primary-gray: $gray;
$primary-light-gray: #f2f2f2;
$primary-dark-gray: #7b7b7b;
$primary-button-text-casing: uppercase;
$primary-border-radius: .5rem;
$primary-input-border: 1px solid #b7b7b7;
$primary-botton-border-bottom:#003260;
$new-style-gray-border: 1px solid #ddd;
