// Primary colors
$primary-blue: #005eb8;
$red: #d22630;
$white: #ffffff;
// Secondary Colors
$organge: #eaa000;
// $dark-red: #b7191b;
$gray: #949a90;
$lime-green: #c4d600;
$khaki-brown: #ceb888;
$secondary-blue: #0086bf;

$dark-blue: #007bc4;
$blue: #007bc4;
$darker-blue: #007bc4;
$gray: #b7b7b7;
$orange: #e72b2d;
$red: #e72b2d;
$href: #337ab7;
$light-gray: #007bc4;
$heading-gray: #007bc4;

$primary-color: #007bc4;
$primary-notification: #333333;
$primary-panel: #69a30d;
$primary-button: #e72b2d;
$primary-button-color: #286090;
$alternate-header-color: #333333;
$primary-icon_color: #333333;
$primary-red: #e72b2d;
$primary-button-disabled: #337ab7;
$primary-button-border-disabled: #2e6da4;
$qle-header-color: #333333;
$primary-white: #ffffff;
$primary-table-heading: #9b9b9b;
$primary-button-border: #b7191b;
$primary-blue: $blue;
$primary-white: #ffffff;
$primary-green: #69a30d;
$primay-active-button-text-color: #ffffff;
$primary-bold: 600;
$primary-light: 300;
$primary-light-gray: #f2f2f2;
$primary-dark-gray: #7b7b7b;
$primary-button-text-casing: uppercase;
$primary-border-radius: 0.5rem;
$primary-input-border: 1px solid #b7b7b7;
$primary-botton-border-bottom: #003260;
$new-style-gray-border: 1px solid #ddd;
