<div class="alert alert-error show" role="alert">
  <%= l10n("general_agencies.general_agency_staff_role_success")  + @result %>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
