<div class="container">
  <div class="row">
    <div id= 'message_form'></div>
    <div class="top-pd" id="inbox_provider_form">
      <span class="flash_message"></span>
    </div>
    <div class='hide' id='collection_scope'><%= @broker_agency_profile._id %> </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-9">
        <%= link_to "Create Prospective Employer", new_organizations_profile_path(profile_id: params[:profile_id]), class:"btn btn-primary prospective-employer"  %>
      </div>
    </div>
    <br>
    <%= render_datatable(@datatable) %>
  </div>
</div>
<script>
  initializeDataTables();
</script>