<div class="container">
  <div id="new_person_wrapper">
    <div class="row">
      <input type='hidden' name='exit_after_method' value='false' id='exit_after_method'>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
        <% if current_user.has_hbx_staff_role? %>
          <div class="row row-form-wrapper no-buffer">
            <div class="col-lg-4 col-md-4 form-group form-group-lg no-pd top-buffer" >
              <div style="margin-left: 10px">
                <span> <b> Application Type :</b></span>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group form-group-lg no-pd">
                <%= f.fields_for :family do |f| %>
                <div class="selectric-labeled">
                <%= f.select :application_type, [ 'Phone', 'In Person', 'Paper', 'Curam', 'Mobile' ], :include_blank => 'choose', class: "floatlabel form-control", autocomplete: :off %>
                </div>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
