<div class="container privacy">
  <%= render "insured/consumer_roles/#{EnrollRegistry[:enroll_app].setting(:state_abbreviation).item.downcase}/state_based_privacy_statement" %>
  <div>
    <%= link_to 'CONTINUE', search_insured_consumer_role_index_path(@search_path), :class => "btn btn-lg btn-primary  interaction-click-control-continue" %>
  </div>
  <br><br>
</div>
