<div class="container privacy <%= 'mt-3' if @bs4 %>">
  <div class="col-10 mb-4 pl-0 pr-0">
    <h1><%= l10n("your_information") %></h1>
    <p class="starter">
      <%= l10n("privacy_statement") %></p>
    <div class="mb-5">
      <%= sanitize(link_to l10n("continue_next"), search_insured_consumer_role_index_path(@search_path), :class => "btn interaction-click-control-continue") %>
    </div>
  </div>
</div>
