/* right section */
      /* == FOLDED CORNERS */

.note {
  position:relative;
  width:480px;
  padding:1em 1.5em;
  margin:2em auto;
  color:#fff;
  background:#97C02F;
  overflow:hidden;
  background-clip:padding-box;
}

.note:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  /*border-width:0 16px 16px 0;*/
  border-width:0 18px 18px 0; /* This trick side-steps a webkit bug */
  border-style:solid;
  border-color:#fff #fff #658E15 #658E15; /* A bit more verbose to work with .rounded too */
  background:#658E15; /* For when also applying a border-radius */
  display:block; width:0; /* Only for Firefox 3.0 damage limitation */
  /* Optional: shadow */
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /*-webkit-box-shadow:0 1px 0 #007bc4, -1px 1px 0 #007bc4;
  -moz-box-shadow:0 1px 0 #007bc4, -1px 1px 0 #007bc4;
  box-shadow: 0 1px 0 #007bc4, -1px 1px 0 #007bc4;*/
}

.whitebox {
  position:relative;
  padding:1em 1.5em;
  margin: 0 auto 1.5em;
  color:#414141;
  background:#fff;
  overflow:hidden;
  background-clip:padding-box;
  border: 1px solid var(--light-gray,#EAAA00);
}

.note.purple {
  background:#ffffff; color: #414141; margin-top: -1px; margin-bottom: 0px; padding: 9px;
  width: 9px; position: absolute; z-index: 1;
  margin-left: 189px;
  border: 0px;
}
.note.purple:before {
  border-color:var(--light-gray, #fff) var(--light-gray, #eee) var(--light-gray, #EAAA00) var(--light-gray, #EAAA00); background:transparent;
}
.note.white {
  background:#ffffff; color: #414141; border: 1px solid red;
}
.note.white:before {
  border-color:var(--light-gray, #fff) var(--light-gray, #eee) var(--light-gray, #EAAA00) var(--light-gray, #EAAA00); background: var(--light-gray, #EAAA00);
}

.note p {
  margin:0;
}
.note p + p {
  margin:1.5em 0 0;
}

/*ready for review*/
.ready-4-review .whitebox {
  border-color: var( --light-gray, #69A30D);
}
.ready-4-review .note.purple::before {
  border-color:var(--light-gray, #fff) var(--light-gray, #eee) var( --light-gray, #69A30D) var( --light-gray, #69A30D);
}
.whitebox {
  padding: 0;
}
.whitebox .info-needed {
  border-top: 1px solid var(--status-yellow, #EAAA00);
  border-bottom: 1px solid var(--status-yellow, #EAAA00);
  color: var(--primary-black, #ffffff);
  font-size: 16px;
  background-color: var(--status-yellow, #EAAA00);
}
.whitebox .info-needed .fa {
  font-size: 22px;
  margin-right: 5px;
  color: #ffffff;
}
.whitebox .info-needed span {
  font-weight: 600;
  color: var(--primary-white, #ffffff);
}
.whitebox .sub-desc {
  font-size: 12px;
}
.whitebox p {
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 0;
}
.whitebox p:first-child {
  padding-top: .7em;
  padding-bottom: .7em;
}
.whitebox p:nth-child(n+2) {
  padding-top: .7em;
  padding-bottom: .7em;
}
.whitebox p:last-child {
  padding: .7em 1.5em 1em;
}
.ready-4-review .whitebox .info-needed {
  border-top: 1px solid var( --status-green, #69A30D);
  border-bottom: 1px solid var( --status-green, #69A30D);
  background-color: var( --status-green, #69A30D);
}

.app-year-header {
  color: #5C5C5C;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  .app-year-column {
    border-right: 1px solid #5C5C5C;
    padding-right: 5px;
    .row {
      font-size: 25px;
      line-height: 20px;
    }
  }

  .app-year-title {
    font-size: 16px;
    line-height: 20px;
  }
}
