.benefit-delete > i, .benefit-edit > i {
	vertical-align: middle;
  padding-top: 12px;
 }
 .benefit-kind > .row {
    padding: 10px 0px;
}

.checklist-title {
	font-size: 16px;
	padding: 10px 15px;
}

.checklist-title-header {
	padding: 10px 15px;
}

#health-coverage-page
{
	.benefit-kinds, .driver-question {
		margin-bottom: 2rem;
	}
	.benefit-kinds .benefit-kind:last-child {
		padding-bottom: 0px;
	}
}
