.aside-text {
  font-size:12px;
  letter-spacing:0.04px;
}
.darkblue {
  color:#003260;
}
.content {
  padding:1%;
}
.fa-adjustment {
  margin-top:10px;
}
.form-spacer {
  margin-top:9px;
  width:auto;
}
.row-form-adjustment {
  margin-top:10px;
}
input {
  border:none;
}
input.interaction-click-control-finish {

}
input[type="radio"] {
  color:#f2f2f2;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

.job_income {
  .col-md-3, input {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .col-md-3 .btn-danger {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.knowmore {
  background-color:#fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
}

.fa, .knowmore h4 {
  color: var(--theme-primary-blue, #007BC4);
}

#backModal {
  .modal-footer {
    border-top: 0px;
  }
  .modal-title {
    font-weight: 200;
  }
}

.btn .fa{
  margin-right: 10px;
}

.right {
  text-align: right;
}

.btn-default:hover{
  text-decoration: underline;
}

.btn.btn-default.add {
  background-color: #eeeeee;
}

.knowmore .fa-arrow-down.adjustments {
    position: relative;
    left: 20px;
    top: 20px;
}

.knowmore .fa-info-circle.adjustments {
    font-size: 0.65em;
    top: 3px;
}

.nav-stacked > li + li {
  margin-top: 0px;
  margin-left: 0;
}

.md-text {
  color: var(--primary-black, #858585);
}

.incomes-table, .deductions-table, .benefits-table {
  tr {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }

  td {
    vertical-align: middle !important;
  }
}

.nav-align {
  margin-right:10px;
  margin-top:25px;
}

span.span-text {
  color:#C3C3C3;
}

.grey-font
{
  color: #C3C3C3;
}

.main-heading
{
  font-size:25px;
  color: #C3C3C3;
  color: #525252;
}

.form-heading
{
  font-weight: bold;
  color: var(--secondary-font-color, #909090);
}
.form-content
{
  font-size:13px;
  color: #333;
}
.ptb
{
  padding-top:8px;
  padding-bottom:8px;
}

.blue-icon
{
  color: #30749C;
}
.mb0
{
  margin-bottom:0px;
}
.table-border-line
{
  color: #333;
}

.form-bottom-border
{
  border-bottom: 3px solid #ddd;
}
.form-top-border
{
  border-top: 3px solid #ddd;
}
.complete-icon{
  color: var( --status-green, #69A30D);
  font-weight: bold;
}
.complete-icon-text{
  color: var( --primary-black, #69A30D);
  font-weight: bold;
}
.in-progress{
  color: var(--primary-black, #EAAA00);
  font-weight: 600;
}
.in-progress-icon{
  color: var(--status-yellow, #EAAA00);
}
.app-status{
  padding: 10px;
}
input.radio-yml {
  display: block !important;
  float: left;
  clear: none;
  margin: 5px 10px 0 10px;
}
.title-text {
  margin-bottom: 0px;
  margin-top: 20px;
  color: #007BC4;
}
.fa-text-color {
  font-weight: lighter;
}

.disabled-container {
  pointer-events: none;
  opacity: 0.4;
}
.subtext {
  font-weight:400;
  font-size:14px;
  letter-spacing:0.04px;
}

.support-header {
  background-color: #dff0d8;
}
.text-success {
  color: #69a30d !important;
}

div#add-more-link {
	padding: 12px !important;
}

.no-bottom-border
{
  border-bottom:0 !important;
}
.table-grey-border
{
  border: 1px #DDDDDD;
}
.ml10
{
  margin-left: 10px;
}

.select-box .selectric-wrapper
{
  background-color: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200,200);
  border-image: initial;
  border-top: 2px solid rgb(120, 120, 120);
}

.select-box
{
  .selectric
  {
    max-width:100%;
    .button {
      height: 20px !important;
      width: 22px;
      background: rgb(220, 220, 220);
    }
  }
}

.select-box .selectric .button:after {
    border-top-color: grey;
}
.help-to-decide {
  display: inline-block;
  border-left: 1px solid #007bc4;
  padding-left: 12px;
  margin-left: 10px;
}
.icon-mtb {
  margin-left: 16px;
}
.left-seprator{
  border-left:  1px solid #aaa;
}
.mt10{
  margin-top: 30px;
}

.yml-row
{
  input.radio-yml
  {
    margin-top: 16px;
  }
  label.radio-yml, .col-md-3
  {
    margin-top: 12px;
  }
  .selectric-wrapper
  {
    margin-top:-35px;
  }
}
.yml-row:not(:nth-child(3))
{
  span.tax-yml-text
  {
      position:relative;
  }
}
.title-icon .ques-icon {
  font-size: 2.5em;
  line-height: 37px;
}

/*ready for review*/
.ready-4-review .whitebox {
  border-color: var( --light-gray, #69A30D);
}
.ready-4-review .note.purple::before { border-color:var(--light-gray, #fff) var(--light-gray, #eee) var(--light-gray, #69A30D) var( --light-gray, #69A30D); }

.margin-bottom-adjustment {
  margin-bottom:-25px;
}
.edit-pr {
	padding-right: 10px;
}
.plus-mr {
	margin-right: 6px;
	font-size: 12px;
}
.checkbox-mr {
	margin-right: -22px
}

.form-top-border
{
  border-top: 3px solid #ddd;
}

.border_bottom {
  border-bottom: 1px solid #ddd;
}

.border-sides {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
}

.row-benefit-form-wrapper {
  border: 1px solid #ddd;
  border-top: none;
  padding: 3px;
  background-color: rgba(206, 184, 136, 0.25);
}

.text-bold {
  font-weight: bold;
}

.fa-align-elements {
  display: flex;
  align-items: center
}

.verti-line-trans {
  background: linear-gradient(to right,
    transparent calc(50% - 0.4px),
    #ddd calc(50% - 0.4px),
    #ddd calc(50% + 0.4px),
    transparent calc(50% + 0.4px));
}

.verti-line {
  background: linear-gradient(to right,
    rgba(245, 236, 213, 0.5) calc(50% - 0.4px),
    #ddd calc(50% - 0.4px),
    #ddd calc(50% + 0.4px),
    rgba(245, 236, 213, 0.5) calc(50% + 0.4px));
}

.margin-tb-10{
  margin: 10px 0;
}

.mt-label{
  margin-top: -19px;
}
.mt-auto {
  margin-top: auto;
}
.mt18 {
  margin-top: 18px;
}

.label-max-width-renew{
  max-width: 90%;
}

.annual-income-row {
  padding-left: 4px;
}

#immigration-checkbox {
  padding-left: 25px;
  span {
    color: #545454;
  }
}

.tribal-state {
  padding-top: 15px;
}

.tribal-name {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow-hidden {
  overflow: hidden;
}