<div class="page-header">
  <h4>Coverage Waived</h4>
</div>
<p>Waiver Reason: <%= benefit_group_assignment.try(:hbx_enrollment).try(:waiver_reason) %></p>
<p>Waiver on: <%= benefit_group_assignment.try(:hbx_enrollment).try(:updated_at).try(:strftime, "%m/%d/%Y") %></p>
