<div class="container">
  <%= render 'shared/engines/horizontal_status', step:1 %>
  <%= form_for @plan_design_proposal, url: {action: "update"}, method: :put do |f| %>
     <%= render 'form', f: f %>
  <% end %>
</div>