<div class="container" id="myTabContent">
  <div class="row">
    <div class="col-md-12">
      <h3> View Published Quote </h3>
      <%= render :partial => "sponsored_benefits/organizations/plan_design_proposals/shared/proposal_info_readonly" %>
      <%= render :partial => "sponsored_benefits/organizations/plan_design_proposals/shared/employee_roster" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="pull-right">
      <%#= link_to "Select Health Benefits", new_organizations_plan_design_proposal_plan_selection_path(@plan_design_proposal.proposal.id), class:'btn btn-primary' %>
    </div>
  </div>
</div>
