<div id="broker_agency_type" class="row no-buffer">
  <div class="col-lg-6 col-md-9 col-xs-12 form-group form-group-lg">
    <div class="btn-group" role="group" aria-label="">
      <div class="btn-group" data-toggle="buttons" name="broker_agency_tabs">
        <label class="btn btn-default active">
          <input type="radio" name="options" id="existing_broker_agency" autocomplete="off" value="existing" checked> EXISTING BROKER AGENCY
        </label>
        <label class="btn btn-default">
          <input type="radio" name="options" id="new_broker_agency" autocomplete="off" value="new"> NEW BROKER AGENCY
        </label>
      </div>
    </div>
  </div>
</div>

<div id="broker_agency_fields_container" class="container top-pd">
  <div id="new_and_existing_broker_form">
    <%= render 'existing_broker_agency_form' %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    applyBrokerTabClickHandlers();
  });
</script>