<div class="modal fade" id="help_with_plan_shopping" role="dialog"  role="document">
  <div class="modal-dialog" style='min-height: 600px; width: 720px'>
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>
       <div class='modal-body'  style='height: 650px; overflow-y: scroll'>
        <div id='help_list'  style='font-size: 140%; margin: 140px 100px 0px'>
           <b>Help me Sign Up Options</b><br/><br/>
          <ul>
            <li>  <%=link_to 'Help from a Broker',
                  staff_index_broker_agencies_profiles_path, remote: true %></li>
            <li>   <%=link_to 'Help from an In-Person Assister',
               assister_index_exchanges_hbx_profiles_path, remote: true%></li>
            <li class='name_search_only' id='CSR'> <a href= '#'>   Help from a Customer Service Representative </a></li>
            <li class='name_search_only' id='CAC'> <a href= '#'> Help from a Certified Applicant Counselor (CAC) </a></li>
          </ul>
        </div>
           <div id='help_search' class='help_reset'>
           <h4> Search by Name </h4>
                First name:<br>
                <input type="text" id="help_first_name">
                <br>
                Last name:<br>
                <input type="text" id="help_last_name">
                <div class='btn btn-primary' id='search_for_plan_shopping_help'> Search for Help</div>
                 <br/>
                <h4 id='help_status'></h4>
                <div class= 'hide' id='help_requestor'><%= @person.try(:id)%></div>
                <div class= 'hide' id='help_requestor_email'><%= current_user.oim_id%></div>
                <div class='hide' id='help_type'> </div>
          </div>
        <div id='inbox' class='help_reset'><div class='col-md-10 col-md-12 col-lg-12'></div>
      </div>
      <div class='col-md-3'>
        <div class='col-md-8 btn btn-default hide' id='back_to_help'> Back </div>
      </div>
    </div>
  </div>
</div>
