.container#printArea
  .employee-welocome
    .col-lg-9.col-md-9.col-sm-10.col-xs-12
      .col-md-12.col-sm-12.no-pd.col-xs-12
        h3 Waiver confirmation
        p You have successfully waived the coverage at
          = @hbx_enrollment.updated_at
          = l10n("insured.plan_shoppings.print_waiver.print_waiver_html", updated_at: @hbx_enrollment.updated_at, waiver_reason: @hbx_enrollment.waiver_reason)
        p Please print this page for your records.
          = link_to l10n('print'), '#', id: 'btnPrint', class: "btn btn-default interaction-click-control-print-waiver-confirmation", style: "float:left;"
    .col-lg-3.col-md-3.col-sm-3.col-xs-12.right-section.waiver_receipt
      = render  partial: 'shared/signup_progress', locals: {step: '7'}
