<a href= "https://enroll.mhc.hbxshop.org/" target="_blank" rel="noopener noreferrer">
  <%= image_tag "#{Rails.root}/app/assets/images/logo.png", style: "height: auto; vertical-align: right;", width: "150"  %>
</a>
