<a href= "https://enroll.mhc.hbxshop.org/" target="_blank">
  <%= image_tag "#{Rails.root}/app/assets/images/health_connector.png", style: "height: auto; vertical-align: right;", width: "150"  %>
</a>