.panel-heading {
  /*
  color:$mhc-orange !important;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  */
}
.plan-year-heading, .benefit-group-heading {
  color:$primary-table-heading;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.plan-year-status {
  color:$primary-green;
  font-weight: bold;
  font-size: 14px;
}
.borderless td, .borderless th {
  border: none !important;
}
.broker-icon {
  color:$mhc-dark-blue;
}
.offered {
  color:$primary-green;
}

.my-account-widget {
  .panel {
    border-radius: 0;
    background-image: none;
    border-bottom: none;
    font-size: 14px;
    margin: 0;
  }
  .panel-default {
    border-color: #ddd;
  }
  .panel-heading {
    background-color: $primary-white;
    background-image: none;
    border-bottom: none;
    padding: 0;
    font-size: 12px;
    text-align: center;
      
    h4 {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 0;
      max-width: 155px;
      color:$mhc-orange;
    }
  }
  .panel-body {
    font-size: 14px;
    text-align: center;
    padding-top:0;
  }
  .ttc {
    text-transform: capitalize;
  }
  .ttu {
      text-transform: uppercase;
  }
  .dg {
    color: #414141;
  }
  .lg {
      color: $primary-dark-gray;
  }
}

#shop-for-plans-widget {
  .image-area {
    float: left;
    margin-right: 20px;
  }
}

.qles-panel {
  .panel-heading {
      background-image: none;
      padding-bottom: 0;
      border-bottom: 0;
      background-color: transparent;
      color: #333;
  }
  img {
      vertical-align: middle;
  }
  h4 {
      margin: 0;
      line-height: 1.4em;
      color: #c56c24;
      font-size: 18px;
          font-weight: 600;
  }
  #qle-header {
    .panel-heading small  {
        padding-top: 5px !important;
        line-height: 135% !important;
        display: block !important;
    }
  }
  
}

#application-dates {
  margin-left:5px;
  .panel {
    padding-bottom: 15px;
    background-color: transparent;
  }
  .panel:first-of-type {
    margin-right: 1.25%;
    width: 48.75% !important;
  }
  .panel:last-of-type {
    margin-left: 1.25%;
    width: 48.75% !important;
  }
  .panel-heading {
    background-color: transparent;
    
    h3 {
      font-weight: bold;
      color: #333333;
      font-size: 18px;
      margin: 0;
    }
  }
  .fa-calendar {
    color:$primary-green;
  }
  #calendar-stack {
    position: relative;
    display: inline-block;
    width: (13em / 14);
    height: 1em;
    
    .fa-calendar,
    #benefit_application_latest_submitted_on_day, #benefit_application_latest_submitted_on_month, #binder_payment_deadline_day, #binder_payment_deadline_month {
      position: absolute;
    }
    
    #benefit_application_latest_submitted_on_day, #binder_payment_deadline_day {
      top:42px;
      left: (4em / 8);
      width: (11em / 8);
      height: (6em / 8);
      font-family: sans-serif;
      font-size: (8em / 22);
      font-weight: 700;
      line-height: (8em / 14);
      text-align: center;
      color:$mhc-orange;
    }
    
    #benefit_application_latest_submitted_on_month, #binder_payment_deadline_month {
      top:70px;
      left: (18em / 8);
      width: (11em / 8);
      height: (6em / 8);
      font-family: sans-serif;
      font-size: (8em / 60);
      font-weight: 700;
      line-height: (8em / 14);
      text-align: center;
      color:$primary-black;
    }
  }
}

.reference-steps {
  /*
  ul.nav.nav-tabs li label {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
    background-color: $mhc-blue;
    border-bottom: solid 3px $primary-botton-border-bottom;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    color: $primay-active-button-text-color;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .plan-options {
    background-color:$primary-white;
    
    h3 {
      font-size: 16px;
      padding-top: 2px;
      font-weight: bold;
      text-transform: capitalize;
      color:$mhc-orange;
      line-height: 1.6em;
    }
  }
  input[type=radio] {
    display:none;
  }*/
}

#metal-level-select {
  .fa-circle {
    color:$mhc-light-gray;
  }
  .fa-dot-circle {
    color:$primary-green;
  }
  .nav-tabs {
    border-bottom:none;
  }
  .nav-tabs > li > a {
    background-color:$mhc-blue;
    border-bottom: solid 3px $primary-botton-border-bottom;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    color:$primary-white;
    text-transform: uppercase;
  }
  .nav-tabs > li > a:hover {
    background-color:$mhc-dark-blue;
  }
  .tab-pane#carrier {
    background-color:$primary-white;
    padding:20px;
    min-height:370px;
  }
  .tab-pane#level {
    background-color:$primary-white;
    padding:20px;
    min-height:220px;
  }
  .tab-pane#plan {
    background-color:$primary-white;
    padding:20px;
    min-height:370px;
  }
  h5 {
    font-weight: bold;
  }
  #refencePlans {
   background-color:$primary-white;
   padding:0px 20px 20px 20px;
  }
  p.reference-plan-title {
    font-size:12px;
  }
  .rp-info {
    min-height:140px;
  }
  #yourPlans {
    padding-top:10px;
    width:100%;
    height:310px;
    background-color:$primary-white;
    overflow-y: scroll;
  }
}

#sponsorContributions {
  background-color:$primary-white;
  height:300px;
  p {
    width:190px;
    font-size: 14px;
    color:$mhc-heading-gray;
  }
  .offered-heading {
    border-bottom: solid 1px #d5d5d5;
    padding: 15px 0 25px;
    font-size: 14px;
    color:$mhc-heading-gray;
  }
  .ac-row {
    padding: 15px 0;
  }
  .fa-check-square {
    color:$primary-green;
  }
  hr {
    border-top:1px solid $mhc-light-gray;
    height:2px;
  }
  input {
    border: 1px solid #b7b7b7;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    font-weight: bold;
    line-height: normal;
    width:40px;
    height:40px;
    margin-top:10px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .slider {
    width: 100%; /* Full-width */
    background: #d3d3d3; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
}

.reference-plans {
  min-height:170px;
  .panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    padding: 0 0 5px 0;
    color: #333333;
    background-color: transparent;
    
    h3 {
      font-size: 12px;
      margin-bottom: 0;
      color:$mhc-orange;
      font-weight: 300;
      line-height: 1.6em;
    }
  }
  .plan-label {
    color: #b7b7b7;
    font-size: 10px;
    text-transform: uppercase;
  }
}
#employee-enrollments, #employer-plan-year, #employer-benefit-groups {
  .panel-heading {
    font-weight: 600;
    text-transform: uppercase;
    font-size:18px;
    color:$mhc-orange;
  }
}

.employer-broker-widget {
  .panel-heading {
    background-color:transparent;
    font-size: 16px;
    color:$mhc-dark-blue;
  }
}
