@import "./_variables";

.s508 {
  label{
    display:block;
    margin-bottom: 10px;
  }
  label > span{
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
  }
  fieldset{
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      margin: 0px 0px 10px 0px;
      padding: 20px;
      background: #eaeaea;
  }
  fieldset legend{
      color: #fff;
      border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
      background: $mhc-dark-blue;
      padding: 0px 8px 3px 8px;
      box-shadow: -0px -1px 2px #F1F1F1;
      -moz-box-shadow:-0px -1px 2px #F1F1F1;
      -webkit-box-shadow:-0px -1px 2px #F1F1F1;
      font-weight: normal;
      font-size: 20px;
  }
}

.was-validated .form-control:invalid {
    border-color: #dc3545;
}

.was-validated .form-control:valid {
    border-color: #28a745;
}

.was-validated .form-control:invalid~.invalid-feedback {
  display: block;
}

.was-validated .form-control:valid~.valid-feedback {
  display: block;
}

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #28a745;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}