@import "./_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

a {
  color: #007BC4;
  transition: all 0.3s ease 0s;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}

body {
  background-color: #f2f2f2;
  min-height: 100%;
  position: relative;
  padding-bottom: 70px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  color: $primary-orange;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.6em;
}

#header-uic {
  .fa-phone {
    color:$mhc-dark-blue;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .navbar {
    margin-bottom: 0;
    background-color: $primary-button-text;
    border-bottom: solid 3px $brand-primary;
    .navbar-header {
      .navbar-brand {
        border-right: solid 1px #d7d7d7;
        min-height: 70px;
        img {
          max-height: 40px;
        }
      }
    }
    .navbar-collapse {
      .header-text {
        color: $primary-gray;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: $primary-bold;
      }
      .navbar-nav:first-of-type {
        a.portal {
          text-align: center;
          vertical-align: middle;
          line-height: 50px;
          padding: 23px 15px;
          font-weight: 600;
          color: $primary-black;
          &:hover {
            background-color: $background-hover;
            text-decoration: none;
          }
        }
      }
      .navbar-right {
        li:last-of-type {
          text-align: right;
        }
        a.call-customer-service {
          span:first-of-type {}
          span:last-of-type {
            .fa {
              color: $brand-primary;
            }
            strong {
              line-height: 0;
              font-size: 16px;
              color: $primary-black;
            }
          }
        }
        .my-portal-links {
          min-height: 70px;
          padding: 15px 15px;
          display: block;
          border-left: solid 1px #d7d7d7;
          .users-name {
            color: $primary-black;
          }
        }
      }
    }
  }
}

.btn {
  margin: 3px 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: $primary-white;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-default {
  color: $secondary-button-text;
  background-color: $secondary-button-background;
  border-color: $secondary-button-border;
  text-transform: $secondary-button-text-casing;
  font-weight: $primary-bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: $secondary-button-text;
  background-color: $primary-white;
  border-color: $secondary-button-border;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: $secondary-button-background;
  border-color: $secondary-button-border;
}
.btn-default .badge {
  color: #337ab7;
  background-color: $secondary-button-background;
}
