#filter-sidebar {
  .checkbox-filter-wrapper-uc {
      border-bottom: 1px solid #cacaca;
      display: inline-block;
      margin-bottom: 10px;
      padding-bottom: 10px;
      width: 100%;
  }
  .checkbox-custom-label-uc {
      color: #414141;
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
  }
}