.fl {
  float:left;
}
.fr {
  float:right;
}
.p0 {
  padding:0;
}
.pb-1 {
  padding-bottom:10px;
}
.p1 {
  padding:10%;
}
.pl-0 {
  padding-left:0px !important;
}
.pr-0 {
  padding-right:0px !important;
}
.pl-1 {
  padding-left:10px !important
}
.pr-1 {
 padding-right:10px !important 
}
.mb-0 {
  margin-bottom:0px !important;
}
.mb-1 {
  margin-bottom:10px !important;
}
.mb-2 {
  margin-bottom:20px !important;
}
.ml-half {
  margin-left:5px !important;
}
.ml-1 {
  margin-left:10px !important;
}
.ml-2 {
  margin-left:20px !important;
}
.ml-3 {
  margin-left:30px !important;
}
.ml-4 {
  margin-left:40px !important;
}
.mr-1 {
  margin-right:10px !important;
}
.mr-2 {
  margin-right:20px !important;
}
.mr-3 {
  margin-right:30px !important;
}
.mr-4 {
  margin-right:40px !important;
}
.mt-0 {
  margin-top:0px !important;
}
.mt-1 {
  margin-top:10px !important;
}
.mt-2 {
  margin-top:20px !important;
}
.mt-3 {
  margin-top:30px !important;
}