<div class="employee-upload">
  <i class="fa fa-times fa-3x pull-right modal-close"></i>
  <h4> <strong> Unrecognized Employee Census spreadsheet format.</strong> </h4>
  <%= link_to(document_download_path(env_bucket_name("templates"), "b4c0e3e6-cf9b-4b00-8194-403b110b4e01") + "?contenttype=application/vnd.ms-excel&filename=DCHL Employee Census.xlsx", class: "download") do %>
      <h4>Need the new template? <i class="fa fa-arrow-circle-o-down fa-lg"></i>
            Download it now.
      <% end %>
  </h4>
  <h4> <strong> If you are still having Issues Contact <%= Settings.site.short_name %> </strong> </h4>
  <%= link_to "Back To Employee Roster", "/benefit_sponsors/profiles/employers/employer_profiles/#{@employer_profile.id}?tab=employees", class: 'btn btn-primary fa fa-chevron-left' %>
</div>
