<div class="employee-upload">
  <i class="fa fa-times fa-3x pull-right modal-close"></i>
  <h4> <strong> Unrecognized Employee Census spreadsheet format.</strong> </h4>
  <h4><%= sanitize link_to(l10n("documents.need_employee_template"), main_app.document_employees_template_download_path(content_type: 'application/vnd.ms-excel', filename: "DCHL Employee Census.xlsx"), class: "download") %></h4 >
  <h4> <strong> If you are still having Issues Contact <%= BenefitSponsorsRegistry[:enroll_app].settings(:short_name).item %> </strong> </h4>
  <%= link_to "Back To Employee Roster", "/benefit_sponsors/profiles/employers/employer_profiles/#{@employer_profile.id}?tab=employees", class: 'btn btn-primary fa fa-chevron-left' %>
</div>
