<form [formGroup]="creationFormGroup" class='form form-horizontal container-fluid'>
  <h1>
    Create a QLE
  </h1>
  <field-errors [errorControl]="creationFormGroup" errorHeader="Your QLE Kind could not be Created for the following reasons:">   
  </field-errors>
  <div class='row'>
    <div class='col-md-6 capitalize-text'>
      <strong>Market:</strong>&nbsp;&nbsp;
      <span id="qle_kind_creation_form_market_kind" *ngFor="let marketKind of marketKindsList">
      <input type='radio' class=''formControlName="market_kind" id='qle_kind_creation_form_market_kind' value='{{marketKind}}' required> {{marketKind}}
      &nbsp;&nbsp;
      </span>
    </div>
    <div class='col-md-4'>
      <strong>Visible to Customer:</strong>&nbsp;&nbsp;
      <input type='radio' class='' formControlName="visible_to_customer" id='qle_kind_creation_form_visible_to_customer' value="Yes" required> Yes
      &nbsp;&nbsp;
      <input type='radio' class='' formControlName="visible_to_customer" id='qle_kind_creation_form_visible_to_customer' value="No" required> No
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-4'>
      <strong>Title:</strong>
      <input type='text' formControlName="title" id='qle_kind_creation_form_title' class='form-control' required>
      <field-errors [errorControl]="creationFormGroup.get('title')"></field-errors>
    </div>
    <div class='col-md-4'>
      <strong>Visible to Customer from:</strong>
      <input type='text' formControlName="start_on" id='qle_kind_creation_form_start_on' class='form-control' placeholder="MM/DD/YYYY" mask="M0/d0/0000" [dropSpecialCharacters]="false" [validation]="true" required>
    </div>
    <div class='col-md-4'>
      <strong>Visible to Customer until:</strong>
      <input type='text' formControlName="end_on" id='qle_kind_creation_form_end_on' class='form-control' placeholder="MM/DD/YYYY" mask="M0/d0/0000" [dropSpecialCharacters]="false" [validation]="true" required> <br>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-md-4'>
      <strong>Tool Tip:</strong>
      <input
        type='text'
        formControlName="tool_tip"
        id='qle_kind_creation_form_tool_tip'
        class='form-control' required>
    </div>
    <div class="col-md-3">
      <strong>Reason:</strong>
      <br>
      <select formControlName="reason" id="qle_kind_creation_form_reason">
      <option *ngFor="let reason of reasonList" [ngValue]="reason.code">
      {{reason.name}}
      </option>
      </select>
    </div>
    <div class='col-md-5'>
      <strong>Self-Attestion Option:</strong>
      <br>
      <label class="control-label">
      <input type='radio' class='' formControlName="is_self_attested" id='qle_kind_creation_form_is_self_attested' value = "Yes" required> User Self Service
      </label>
      &nbsp;&nbsp;
      <label class=" control-label">
      <input type='radio' class='' formControlName="is_self_attested" id='qle_kind_creation_form_is_self_attested' value = "No" required> Admin Only
      </label>
    </div>
  </div>
  <!-- TODO: Only allow a maximum of two questions to created, and specify on the UI that this will be the first question the user will see, and the second -->
  <div class='row'>
    <div class='col-md-9'>
      <strong>Questions:</strong>
      <br>
      <button (click)="addQuestion()" class='btn btn-default'>
      Create a New Question
      </button>
      <div *ngIf="showQuestions()">
        <qle-question-form
        *ngFor="let question of questionControls(); let i = index"
        [questionFormGroup]="question"
        [questionIndex]="i"
        [questionComponentParent]="this">
        </qle-question-form>
      </div>
    </div>
  </div>
  <br>
  <div class='row'>
    <div class='col-md-4'>
      <strong>Effective on Options:</strong>
      <div formArrayName="effective_on_kinds" *ngFor="let option of getOptions(); let i = index">
        <label class='control-label'>
        <input type="checkbox" [formControlName]='i' value="{{option.code}}">&nbsp;{{option.name}}
        </label>
      </div>
    </div>
    <div class='col-md-4'>
      <strong>Pre-event Sep/Qle Eligibility up to:</strong>
      <br>
      <input type='number'formControlName="pre_event_sep_in_days" id='qle_kind_creation_form_pre_event_sep_eligibility'/>
      <br>
      <strong>days post event</strong>
    </div>
    <div class="col-md-4">
      <strong>Post-event Sep/Qle Eligibility up to:</strong>
      <br>
      <input type='number'formControlName="post_event_sep_in_days" id='qle_kind_creation_form_post_event_sep_eligibility'/>
      <br>
      <strong>days prior to event</strong>
    </div>
  </div>
  <br>
  <div class="form-group col-md-12 mb-2{{errorClassFor(creationFormGroup.get('title'))}}">
    <button class="btn btn-primary" (click)="submitCreation()">Create QLE Kind</button>
  </div>
</form>