<div [formGroup]="questionFormGroup">
  <div class="from-group-question">
    <span class="col-sm-2 control-label">Question</span>
    <div class="col-sm-8">
      <input 
        id="qle_kind_question_{{questionIndex}}_title"
        type="text"
        formControlName="question_title"
        class="form-control col-md-2"
        (focusout)="startQuestion()">
      <div class="btn-group" role="group" aria-label="Question Actions">
        <button
          (click)="submitQuestion()"
          class='btn btn-secondary btn-success margin-right-10px'>
          Submit
        </button>
        <button
          (click)="removeQuestion()"
          class='btn btn-secondary btn-primary'>
          Delete
        </button>
      </div>
      <div *ngIf="showResponseForm">
        <qle-question-response-form
          *ngFor="let response of responseControls(); let i = index"
          [responseFormGroup]="response"
          [responseIndex]="i"
          [responseComponentParent]="this">    
        </qle-question-response-form>
      </div>
    </div>
  </div>
</div>