<div [formGroup]="responseFormGroup">
  <div class="from-group-response">
    <span class="col-sm-2 control-label">Response</span>
    <div class="col-sm-10">
      <input
        id="qle_kind_response_response_{{responseIndex}}_title"
        type="text"
        formControlName="response_title"
        id="response-title col-md-2"
        class='form-control'>
      <div class="btn-group" role="group" aria-label="Response Actions">
        <button
          (click)="addNewResponse(responseComponentParent, responseIndex)"
          class='btn btn-secondary btn-success margin-right-10px'>
          Add Another Response
        </button>
        <button
          (click)="removeResponse(responseIndex)"
          class='btn btn-secondary btn-primary margin-right-10px'>
          Remove Response
        </button>
        <label for="qle_kind_response_response_{{responseIndex}}_accepted" class='margin-right-10px'>
          Valid?
        </label> <br>
        <input id="qle_kind_response_response_{{responseIndex}}_accepted" type="checkbox" formControlName="response_accepted">
      </div>
    </div>
  </div>
</div>
