.row
  = f.fields_for :address, errors: {} do |f|
    = f.hidden_field :id, value: f.object.id if f.object.id
    .col-md-9.mb-3
      label for="inputAddress" Address
      = f.text_field :address_1, placeholder:'1234 Main St', required:'true', id:'inputAddress', class:'form-control'
      .invalid-feedback
        |
          Please provide a valid address.
    
    .col-md-3.mb-3
      label for="inputAddressKind" Kind
      - kinds = Address::OFFICE_KINDS; kinds = kinds.rotate if params[:child_index]
      = f.select(:kind, options_for_select(kinds.map {|a| [a.to_s.humanize, a.to_s]}), {include_blank: "SELECT KIND"}, class:'form-control', id:'inputAddressKind', required: true)
      .invalid-feedback
        |
          Please select a Address kind.
    
    .col-md-12.mb-3.mt-2
      label for="inputAddress2" Address 2
      = f.text_field :address_2, id:'inputAddress2', class:'form-control'

      .mt-2
        .col-md-6.pl-0
          label for="inputCity" City
          = f.text_field :city, required:'true', id:'inputCity', class:'form-control'
          .invalid-feedback
            |
              Please provide a valid city.
  
        .col-md-3.pl-0
          label for="inputState" State
          = f.select(:state, options_for_select(State::NAME_IDS.map(&:last).sort_by {|c| c }), {include_blank: "SELECT STATE"}, class:'form-control', id:'inputState', required: true)
          .invalid-feedback
            |
              Please provide a valid state.
        
        .col-md-3.pl-0.pr-0
          label for="inputZip" Zip
          = f.text_field :zip, required:'true', id:'inputZip', class:'form-control', maxlength:'5', onkeypress:'return isNumberKey(event)'
          .invalid-feedback
            |
              Please provide a valid zip.

h3.mb-2 Phone

= f.fields_for :phone, errors: {} do |f|
  = f.hidden_field :id, value: f.object.id if f.object.id
  .row
    = f.hidden_field :kind, value:'phone main'
    .col-md-2.mb-3
      label for="inputAreacode" Area Code *
      = f.text_field :area_code, placeholder:'202', required:'true', id:'inputAreacode', class:'form-control', maxlength:'3', onkeypress:'return isNumberKey(event)'
      .invalid-feedback
        |
          Please provide a valid area code.
   
    .col-md-2.mb-3
      label for="inputNumber" Number *
      = f.text_field :number, placeholder:'1112222', required:'true', id:'inputNumber', class:'form-control', maxlength:'7', onkeypress:'return isNumberKey(event)'
      .invalid-feedback
        |
          Please provide a valid number.

    .col-md-2.mb-3
      label for="inputExtension" Extension
      = f.text_field :extension, id:'inputExtension', class:'form-control', maxlength:'10'
