<div class="row">
  <div class="col-md-12 mb-3">
    <label for="inputAddress">Address</label>
    <%= f.text_field :address_1, placeholder:'1234 Main St', required:'true', id:'inputAddress', class:'form-control' %>
  </div>
  <div class="col-md-12 mb-3">
    <label for="inputAddress2">Address 2</label>
    <%= f.text_field :address_2, required:'true', id:'inputAddress', class:'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-6">
    <label for="inputCity">City</label>
    <%= f.text_field :city, required:'true', id:'inputCity', class:'form-control' %>
  </div>
  <div class="form-group col-md-4">
    <label for="inputState">State</label>
    <select id="inputState" class="form-control">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="form-group col-md-2">
    <label for="inputZip">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
</div>