<div class="row">
  <%= f.hidden_field :kind, value:'main' %>
  <div class="col-md-2 mb-3">
    <label for="inputAreacode">Area Code *</label>
    <%= f.text_field :area_code, placeholder:'202', required:'true', id:'inputAreacode', class:'form-control', maxlength:'3', onkeypress:'return isNumberKey(event)' %>
    <div class="invalid-feedback">
      Please provide a valid area code.
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <label for="inputNumber">Number *</label>
    <%= f.text_field :number, placeholder:'1112222', required:'true', id:'inputNumber', class:'form-control', maxlength:'7', onkeypress:'return isNumberKey(event)' %>
    <div class="invalid-feedback">
      Please provide a valid number.
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <label for="inputExtension">Extension</label>
    <%= f.text_field :extension, id:'inputExtension', class:'form-control', maxlength:'10' %>
  </div>
</div>