/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	/*background: #e74c3c;*/
	min-height: 100%;
}

.md-close {
	float: right;
	display: inline-block;
	cursor: pointer;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 700px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

*::-moz-placeholder {
	font-size: 16px;
}
.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1031;
	opacity: 0;
	background: rgba(255,255,255,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #777;
	background: #fff;
	position: relative;
	border-radius: 3px;
  box-shadow: 0 0 6px #777;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 20px;
	text-align: left;
	color: #3d3c3c;
  font-size: 18px;
	opacity: 0.8;
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 0px 20px 20px;
	margin: 0;
	font-size: 14px;
}

.md-content > div input[type="text"] {
	font-size: 16px !important;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 85%;

}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}
.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

/* Effect 3: Slide from the bottom */
.md-effect-3 .md-content {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-3 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.modal-links {
	padding: 0;
	margin: 0 auto;
	width: 300px;
}
.modal-links li {
	float: left;
	padding: 10px;
	opacity: 0.5;
	list-style: none;
}
.modal-links li.active {
	opacity: 1;
}
.modal-links li a {
	color: #007bc3;
	display: block;
	font-size: 16px;
}
.event-accordion .panel {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #007bc3 #007bc3 inactiveborder !important;
	border-radius: 0;
	box-shadow: none;
	margin: 0 !important;
	opacity: 0.25;
}
.event-accordion .panel:last-child {
	border-bottom: 1px solid #007bc3 !important;
}
.event-accordion .panel .panel-heading {
	border-radius: 0;
	border: none; 
	color: #007bc3;
	padding: 0;
}
.event-accordion .panel .panel-heading a {
	padding: 10px 15px;
	display: block;
}
.event-accordion .panel .panel-heading a span {
	display: inline-block;
}
.event-accordion .panel .panel-heading a span:nth-child(2) {
	float: right;
	font-style: italic;
	font-size: 13px;
}
.event-accordion .panel {
	color: #007bc3;
}
.event-accordion .panel .panel-body {
	border-top: none !important;
}
.event-accordion .panel.active {
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #666667 !important;
	opacity: 1;
	color: #666667;
}
.event-accordion .panel.active .panel-heading {
	color: #666667;
}
.event-accordion .panel.active .panel-heading a span:nth-child(2) {
	font-style: normal;
	font-weight: bold;
	color: #333;
}

@media (min-width: 300px) and (max-width: 767px) {
	.md-modal {
		width: 90%;
		position: absolute;
	}
	.md-content > div input[type="text"], .modal-links, .modal-links li {
		width: 100%;
	}
	.event-accordion .panel .panel-heading a span {
		display: block;
	}
	.event-accordion .panel .panel-heading a span:nth-child(2) {
		padding-top: 10px;
	}
}

.ineligible_row {
  background-color: #ececec;	
}
