@media(max-width: 767px){
  #address_info .new-address-flow{padding-top: 40%;}
  #key-section {display: none;}
  #email_info .email:first-child > .first {border-bottom: none !important;}
  #email_info .email:nth-of-type(2) > .first {border-top: none !important;}
}
@media(min-width: 501px) and (max-width: 767px){
  #address_info .new-address-flow{
    padding-top: 20%;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  
  .radio label, .checkbox label {
    padding-left: 20px;
  }
  .check .col-md-4:last-child .radio label {
    padding-left: 13px;
  }
  .check .col-md-4:last-child .radio label input {
    margin-left: -14px;
  }
  .welcome-msg p {
    margin: 0 0 40px 20px;
  }
  .key {
    padding-left: 0 !important;
  }
  .key p {
    min-height: 32px;
  }
  .disable-btn, .disable-btn:hover, .disable-btn:focus {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .panel-body.left {
    margin-right: 0;
    padding-left: 15px !important;
  }
  .welcome-msg .btn-continue {
    margin-left: 20px;
  }
  .bg-color {
    height: 0 !important;
  }
  .less-opacity {
    display: none;
  }
  p.information {
    margin-bottom: 27px;
  }
  .tab-row #myTabContent .submenu {
    padding: 0;
  }
  .tab-row #myTabContent #myTabContent1 {
    padding: 0 5px 20px;
  }
  .tab-row #myTabContent .submenu ul li a {
    padding: 20px 0;
    font-size: 14px;
  }
  .tab-row #myTabContent .submenu ul li:nth-child(1) a, .tab-row #myTabContent .submenu ul li:nth-child(3) a {
    border-right: 1px solid #bbb !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .welcome-msg p {
    letter-spacing: 0;
  }
  .key p {
    font-size: 11px;
    width: 197px;
    margin-top: 23px;
  }
  .key span:first-child {
    width: 175px;
  }
  .disable-btn, .disable-btn:hover, .disable-btn:focus {
    margin-top: 16px;
  }
  #email_info {
    margin-bottom: 15px !important;
  }
}

.overlay-in {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .autofill-cloud {
    display: none;
  } 
}

@media (min-width: 1201px) and (max-width: 1556px) {
  .autofill-cloud.autofill-initial, .autofill-cloud.autofill-failed {
    width: 232px;
  }
  .autofill-cloud.autofill-initial .btn-cancel {
    width: 72%;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .adderess-select-box + .dropdown-menu {
    left: 0;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .adderess-select-box + .dropdown-menu {
    left: 29%;
  }

  #key-section {
    margin: 0;
  }
}

/* RESPONSIVE CODE */

@media (max-width: 320px) { 
    .input-lg, .form-group-lg .form-control {
        border-bottom: 1px solid #ccc;
    }
    .welcome-msg p {
        margin: 0 0 0 20px;
    }
    .welcome-msg .btn-continue {
        width: 100%;
    }
    .btn-save.blue, .member-continue-btn {
        width: 100%;
    }
    .tab-pane .landing-row .right-side .list-group .list-group-item h4 {
        text-align: center;
    }
    .right-side ul.list-group li.list-group-item .text-right {
        text-align: center;
    }
    #personal_info .save-btn {
        width: 100%;
        padding: 10px 25px;
    }
    #personal_info .ok-btn, #employer .emp-info .ok-btn {
        margin-bottom: 15px;
    }
    #employer .emp-info .save-btn {
        width: 100%;
    }
    #family .list-group .list-group-item h4 {
        text-align: left;
        font-size: 15px;
    }
    #family a.cancel, #family a.save {
        width: 25%;
        margin-bottom: 10px;
    }
    #add-new-member .text-right {
        text-align: center;
    }
    .head-title .btn-wrapper a {
      float: left;
      width: 100%;
    }
    .btn-group-vertical>.btn, .btn-group>.btn {
        width: 50%;
    }
    .btn-group, .btn-group-vertical {
        width: 100%;
        margin-top: 20px;
    }
    .title-dropdown {
        width: 100%;
    }
}

@media (max-width: 480px) { 
    #family .right-side .btn.new-member {
        width: 100%;
    }
    .input-lg, .form-group-lg .form-control {
        border-bottom: 0px solid #ccc;
    }
    .welcome-msg .btn-continue {
        width: 100%;
    }
    .btn-save.blue, .member-continue-btn {
        width: 100%;
    }
    .tab-pane .landing-row .right-side .list-group .list-group-item h4 {
        text-align: center;
    }
    .right-side ul.list-group li.list-group-item .text-right {
        text-align: center;
    }
    #personal_info .save-btn {
        width: 100%;
        padding: 10px 25px;
        margin-bottom: 15px;
    }
    #personal_info .ok-btn, #employer .emp-info .ok-btn {
        margin-bottom: 15px;
    }
    #employer .emp-info .save-btn {
        width: 100%;
    }
    #family .list-group .list-group-item h4 {
        text-align: left;
        font-size: 15px;
    }
    #family a.cancel, #family a.save {
        width: 25%;
        margin-bottom: 10px;
    }
    #add-new-member .text-right {
        text-align: center;
    }
    .head-title .btn-wrapper a {
      float: left;
      width: 100%;
    }
    .btn-group-vertical>.btn, .btn-group>.btn {
        width: 100%;
    }
    .btn-group, .btn-group-vertical {
        width: 100%;
        margin-top: 20px;
    }
    .title-dropdown {
        width: 100%;
    }
}
@media (min-width: 768px) {
    #family .right-side .btn.new-member {
        padding: 10px 0px;
    }
    #family a.save {
        padding: 5px 30px;
    }
    #family a.cancel, #family a.save {
        margin: 0 20px;
    }
    .input-lg, .form-group-lg .form-control {
        border-bottom: 0px solid #ccc;
    }
    .welcome-msg .btn-continue {
        width: auto;
    }
    .btn-save.blue, .member-continue-btn {
        width: auto;
    }
    .tab-pane .landing-row .right-side .list-group .list-group-item h4 {
        text-align: left;
    }
    .right-side ul.list-group li.list-group-item .text-right {
        text-align: right;
    }
    #personal_info .save-btn {
        width: auto;
        padding: 6px 25px;
        margin-bottom: 15px;
    }
    #personal_info .ok-btn, #employer .emp-info .ok-btn {
        margin-bottom: 0px;
    }
    #employer .emp-info .save-btn {
        width: auto;
    }
    #family .list-group .list-group-item h4 {
        text-align: left;
        font-size: 18px;
    }
    #family a.cancel, #family a.save {
        width: auto;
        margin-bottom: 0px;
    }
    #add-new-member .text-right {
        text-align: right;
    }
    .btn-group-vertical>.btn, .btn-group>.btn {
        width: auto;
    }
    .btn-group, .btn-group-vertical {
        width: auto;
        margin-top: 0px;
    }
    .title-dropdown {
        width: 50%;
    }

    #email_info .email:first-child > .first {border-right: none !important;}
    #email_info .email:nth-of-type(2) > .first {border-left: none !important;}
}
@media (min-width: 992px) {
    #family .right-side .btn.new-member {
      padding: 10px 0px;
    }
    #family a.save {
        padding: 5px 15px;
    }
    #family a.cancel, #family a.save {
        margin: 0 5px;
    }
    .input-lg, .form-group-lg .form-control {
        border-bottom: 0px solid #ccc;
    }
    .welcome-msg .btn-continue {
        width: auto;
    }
    .btn-save.blue, .member-continue-btn {
        width: auto;
    }
    .tab-pane .landing-row .right-side .list-group .list-group-item h4 {
        text-align: left;
    }
    .right-side ul.list-group li.list-group-item .text-right {
        text-align: right;
    }
    #personal_info .save-btn {
        width: auto;
        padding: 6px 25px;
        margin-bottom: 0px;
    }
    #personal_info .ok-btn, #employer .emp-info .ok-btn {
        margin-bottom: 0px;
    }
    #employer .emp-info .save-btn {
        width: auto;
    }
    #family .list-group .list-group-item h4 {
        text-align: left;
        font-size: 18px;
    }
    #family a.cancel, #family a.save {
        width: auto;
        margin-bottom: 0px;
    }
    #add-new-member .text-right {
        text-align: right;
    }
    .head-title .btn-wrapper a {
        float: none;
        width: auto;
    }
    .btn-group-vertical>.btn, .btn-group>.btn {
        width: auto;
    }
    .btn-group, .btn-group-vertical {
        width: auto;
        margin-top: 0px;
    }
    .title-dropdown {
        width: 40%;
    }
}
@media (min-width: 1200px) {
    #family .right-side .btn.new-member {
        padding: 10px 0px;
    }
    #family a.save {
        padding: 5px 30px;
    }
    #family a.cancel, #family a.save {
        margin: 0 20px;
    }
    .input-lg, .form-group-lg .form-control {
        border-bottom: 0px solid #ccc;
    }
    .welcome-msg .btn-continue {
        width: auto;
    }
    .btn-save.blue, .member-continue-btn {
        width: auto;
    }
    .tab-pane .landing-row .right-side .list-group .list-group-item h4 {
        text-align: left;
    }
    .right-side ul.list-group li.list-group-item .text-right {
        text-align: right;
    }
    #personal_info .save-btn {
        width: auto;
        padding: 6px 25px;
        margin-bottom: 0px;
    }
    #personal_info .ok-btn, #employer .emp-info .ok-btn {
        margin-bottom: 0px;
    }
    #employer .emp-info .save-btn {
        width: auto;
    }
    #family .list-group .list-group-item h4 {
        text-align: left;
        font-size: 18px;
    }
    #family a.cancel, #family a.save {
        width: auto;
        margin-bottom: 0px;
    }
    #add-new-member .text-right {
        text-align: right;
    }
    .btn-group-vertical>.btn, .btn-group>.btn {
        width: auto;
    }
    .btn-group, .btn-group-vertical {
        width: auto;
        margin-top: 0px;
    }
    .title-dropdown {
        width: 40%;
    }
}
