#personal_info label, #personal_info input {
    color: #007bc3 !important;
}

.landing.people #personal_info .employee-info .employee-info {
    border: 1px solid #005fd6;
    opacity: 0.5;
}


#personal_info .disabled.save-btn {
    background: none repeat scroll 0 0 #bbb !important;
    opacity: 1 !important;
}
#personal_info .save-btn {
    margin-bottom: 0;
    padding: 6px 25px;
    width: auto;
}
#personal_info .save-btn {
    margin-bottom: 0;
    padding: 6px 25px;
    width: auto;
}
#personal_info .save-btn {
    margin-bottom: 15px;
    padding: 6px 25px;
    width: auto;
}
#personal_info .save-btn {
    background: none repeat scroll 0 0 #238c00;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    margin-top: 20px;
    padding: 6px 25px;
}

#contact.landing_contact_information #dropdownMenu1 {
   text-align: center;
   color: #007bc3 !important;
   font-weight: bold !important;
}

#contact.landing_contact_information input[type="text"] {
    height: 46px !important;
    color: #007bc3 !important;
}

#contact.landing_contact_information label {
    color: #007bc3 !important;
}

a.new-address-btn {
    color: #bbb;
    display: inline-block;
    font-family: "lato","AvenirLTStd-Light";
    font-size: 12px;
    padding: 15px 0;
    text-transform: uppercase;
}

#contact .add_focus {
  border: 2px solid rgb(0, 163, 217) !important;
  opacity: 1 !important;
}

#contact .focus_none {
  opacity: 0.5 !important;
}

#family li.family_members_list input[type="text"] {
    padding-top: 10px;
    color: #007bc3 !important;
}
#family li.family_members_list label {
    color: #007bc3 !important;
}

.list-group-item.family_members_list.edit.add_border {border: 2px solid rgb(0, 163, 217) !important;}

.flash_message p {
  font-size: 17px;
  text-align: center;
  text-transform: none;
}
