ul.nav-stacked ul.nav-stacked {
  margin-top: 1px;
  margin-bottom: 0;
}
ul.nav-stacked ul.nav-stacked > li > a {
  padding-left: 1em;
}
ul.nav-stacked ul.nav-stacked > li:first-child > a {
  border-radius: 0;
  border-top: 0;
}
ul.nav-stacked ul.nav-stacked > li:last-child:visible > a {
  border-radius: 0;
  border-bottom: 0;
}
.nav-stacked > .active > a,
.nav-stacked > .active > a:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
