%office_location
  %id
    %id= office_location.id
  %primary= office_location.is_primary?
  - if office_location.address.present?
    = render :partial => "events/v2/addresses/address", :object => office_location.address
  - if office_location.phone.present?
    = render partial: "events/v2/phones/phone", object: office_location.phone