%office_location
  %id
    %id= office_location.id
  %primary= office_location.is_primary?
  - if office_location.address.present? && (['mailing', 'work', 'primary'].include? office_location.address.kind)
    = render :partial => "events/v2/addresses/address", :object => office_location.address
  - if office_location.phone.present? && (['work', 'home', 'main'].include? office_location.phone.kind)
    = render partial: "events/v2/phones/phone", object: office_location.phone