<div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
  <%= v.text_field :alien_number, :placeholder => l10n("insured.consumer_roles.docs_shared.alien_number"), :pattern => "\\d{9}", class: "doc_fields",
  :title => l10n("insured.consumer_roles.docs_shared.alien_number_title") %><br>
  • When entering an Alien Number, only include the numbers. Do not enter the 'A' or any other characters or letters. For example: If your Alien Number is 'A123456789' then please enter '123456789'.
  • You must enter exactly 9 digits into the Alien Number field. For Alien Numbers with fewer than 9 digits, add one zero (0) to the beginning of an 8-digit Alien Number and two zeroes (00) to the beginning of a 7-digit Alien Number. For example: If your Alien Number is 'A1234567' then please enter '001234567'.
  • Pre-1956 certificates do not contain an Alien Number. In this case, enter “999999999” for the Alien Number. (check for 9 digit numbers).<br>
</div>
