<div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
  <%= v.text_field :citizenship_number, :placeholder => l10n(".insured.consumer_roles.docs_shared.citizenship_number"), :pattern => "[a-zA-Z0-9]{6,12}", class: "doc_fields",
  :title => l10n("insured.consumer_roles.docs_shared.citizenship_number_title") %><br>
  • The Certification number entered must have between 6 and 12 characters.
  How to find Citizenship Certification Number: The Certificate of Citizenship certification number is most often in the upper right hand corner of the Certificate.
  The Certificate of Citizenship certification number is printed in red on all US Certificates of Citizenship issued since September 27, 1906." %><br>
</div>
