<div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
  <%= v.text_field :citizenship_number, :placeholder => "Citizenship Number", :pattern => "[a-zA-Z0-9]{7,12}",
  :title => "Pleae, enter correct Citizenship number. Citizenship number entered must have between 6 and 12 numbers and letters." %>
</div>
