<div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd doc_fields select_tag">
  <%= v.select :country_of_citizenship, options_for_select(::VlpDocument::COUNTRIES_LIST, @country||="Country of Citizenship"), prompt: "Country of Citizenship", class: "select_tag" %><br>
</div>
