<% if @bs4 %>
  <div class="mt-4 mb-4">
    <%= label_tag :country_of_citizenship, l10n("insured.consumer_roles.docs_shared.country_of_citizenship") %>
    <%= v.select :country_of_citizenship, options_for_select(::VlpDocument::COUNTRIES_LIST, @country||=l10n("insured.consumer_roles.docs_shared.country_of_citizenship")), prompt: l10n("insured.consumer_roles.docs_shared.country_of_citizenship"), class: "select_tag" %>
  </div>
<% else %>
<div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd doc_fields select_tag">
  <%= v.select :country_of_citizenship, options_for_select(::VlpDocument::COUNTRIES_LIST, @country||=l10n("insured.consumer_roles.docs_shared.country_of_citizenship")), prompt: l10n("insured.consumer_roles.docs_shared.country_of_citizenship"), class: "select_tag" %><br>
</div>
<% end %>
