<div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
  <%= v.text_field :sevis_id, :placeholder => l10n("insured.consumer_roles.docs_shared.sevis_id"), :pattern => "\\d{10}", class: "doc_fields" %>
  <div>
    <ul>
      <% l10n("insured.consumer_roles.docs_shared.sevis_id_req").split("-li-").each do |li| %>
        <li><%= li.gsub('-li-', "") %></li>
      <% end %>
    </ul>
  </div>
</div>
