<div class="col-md-4 col-sm-4 col-xs-6 form-group form-group-lg no-pd">
  <%= v.text_field :sevis_id, :placeholder => l10n("insured.consumer_roles.docs_shared.sevis_id"), class: "doc_fields",
  :title => l10n("insured.consumer_roles.docs_shared.sevis_id_title") %><br>
</div>
