<div class="container">

  <h2>Messages</h2><br>

  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
      <br><br><br>
      <ul class="list-group">
      <li class="list-group-item"><a href='#'>Inbox <span class="badge message-badge pull-right">2</span></a></li>
      <li class="list-group-item"><a href='#'>Sent</a></li>
      <li class="list-group-item"><a href='#'>Deleted</a></li>
      </ul>
    </div>

    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Sent by</th>
              <th>Subject</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%- if provider.try(:inbox).try(:messages) %>
              <% provider.inbox.messages.each do |message| %>
                <tr>
                  <td> <%= message.sender_name.humanize %> </td>
                  <td> <%= message.try(:subject) %> </td>
                  <td><a href="#" class="btn btn-tranparent btn-sm">Delete</a> <a href="#" class="btn btn-primary">Show</a></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
