<%- if message.present? %>
<div class="col-xs-12 content-bottom">
  <ul class="list-group">
    <li class="list-group-item">
      Sent By:
      <%= "System Admin" %>
      <br></li>
    <li class="list-group-item">
      Subject:
      <%= message.try(:subject).html_safe %>
      <br></li>
    <li class="list-group-item">
      <%= message.try(:body).html_safe %>
      <br></li>
  </ul>
  <a class="btn btn-trans msg_cancel_btn" href="#">
    <i aria-hidden="true" class="fa fa-caret-left"></i>
    &nbsp;Back</a>
</div>
<% end %>
