<%- if message.present? %>
<div class="col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      Sent By:
      <%= "System Admin" %>
      <br></li>
    <li class="list-group-item">
      Subject:
      <%= message.try(:subject).html_safe %>
      <br></li>
    <li class="list-group-item">
      <%= message.try(:body).html_safe %>
      <br></li>
  </ul>
  <br class="clear"/>
  <%= link_to "<i aria-hidden='true' class='fa fa-caret-left'></i>&nbsp;Back</a>".html_safe, :back, class: 'btn btn-default' %>
</div>
<% end %>
