<h2>EDIT SITE</h2>

<%= form_for @site, url: site_path, html: { data: { controller: "site" }, class: "needs-validation", id:'broker_registration_form', novalidate:true } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <div class="row">
    <%= f.submit 'Update', class:'btn btn-primary' %>

    <%= link_to 'Back', sites_path, class:'btn btn-default' %>
  </div>
<% end %>
