<h2>NEW SITE</h2>

<%= form_for @site, as: :site, url: sites_path, html: { data: { controller: "site" }, class: "needs-validation", novalidate: true } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <div class="row">
    <%= f.submit 'Save', class:'btn btn-primary' %>

    <%= link_to 'Back', sites_path, class:'btn btn-default' %>
  </div>
<% end %>
