.col-md-12.col-sm-12.col-xs-12.no-pd
  .alert.alert-success.alert-dismissible
    Thank you. Next, we need to verify if you or you and your family are eligible to enroll in coverage through #{site_short_name}. Please select CONTINUE.
