var containing_row = $("#<%= @element_to_replace_id %>").closest('TR');
var $parent_row = containing_row;

//var $parent_row = $(".table:first > tbody > tr:not(tr.child-row)").eq(<%= @row %>);
if ( $('tr.child-row:visible').length > 0 ) {
  $('tr.child-row:visible').remove();
  $("li>a:contains('Collapse Form')").addClass('disabled');
}

if ( $parent_row.next().hasClass('child-row') ) {
//
} 
else {
  $parent_row.after('<tr class="child-row"><td colspan="100"><%= j render "shared/inboxes/form", 
  f: @family, formats: [:html] %></td></tr>');
  $('.dropdown.pull-right').removeClass('open');
  $("li>a:contains('Collapse Form')").eq(containing_row.index()).removeClass('disabled');
}

// $('#inbox_provider_form').hide();
// $('#message_form').show();
// $(".form-inline").hide()
// $('#message_form').html("<%= escape_javascript(render "shared/inboxes/form") %>");
// $(".btn-danger").click(function(){
//   $('#message_form').hide();
//   $('#inbox_provider_form').show();
// });
