
<% if presenter&.obscured_ssn&.size %>
  <div data-controller='person' id='admin-ssn-input-field' class='admin-ssn-block d-flex align-items-center justify-content-start'>
    <% if include_label %>
      <h5 class='mr-1'><b><%= l10n('ssn') %>: </b></h5>
    <% end %>
    <span class="hidden ssn-input ssn-input-<%= presenter.person_id %>"></span>
    <span class="ssn-facade ssn-facade-<%= presenter.person_id %> font-weight-bold">• • • • • • • • •</span>
    <%= render partial: 'shared/person/ssn/show_hide_ssn_buttons', locals: { presenter: presenter } %>
  </div>
<% elsif include_label %>
  <h5><b>SSN:</b></h5>
<% end %>