<%= form_for(@exchanges_hbx_staff_role) do |f| %>
  <% if @exchanges_hbx_staff_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exchanges_hbx_staff_role.errors.count, "error") %> prohibited this exchanges_hbx_staff_role from being saved:</h2>

      <ul>
      <% @exchanges_hbx_staff_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
