nav.navbar.navbar-default.navbar-static-top.p-0
  .container
    .navbar-header
      a.navbar-brand = image_tag('logo.png', size:'160x40', class:'mt-2')
    .navbar-text.pt-4.ml-3.navbar-interaction
      h5
        a
          strong
            |
              Welcome to the District's Health Insurance Marketplace
    .navbar-menu-item.float-right.mt-2
      span.header-text
        CALL CUSTOMER SERVICE
      br
      span.float-right
        i.fas.fa-phone data-fa-transform="rotate-90"
        strong 1-855-532-5465