<div class="alert alert-notice">
  <a href="#" data-dismiss="alert" class="close interaction-click-control-×">×</a>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <strong>Your request for a special enrollment period has been approved. Please don't forget to select a plan by <%= @sep.end_on %>
      </strong>
    </div>
  </div>
</div>

