<div class="module shop-for-plans-widget">
  <div class="panel panel-default" id='shop-for-plans-widget'>
  <% if @person.consumer_role.blank? %>
    <div class="panel-body">
        <div class="row flex">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 <%=pundit_class Family, :updateable?%>">
          <strong>Enroll in health or dental coverage on the District of Columbia's individual market</strong>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class='image-area'></div>
          <%= link_to 'Enroll', build_insured_consumer_role_index_path, method: :post, class: "btn btn-default pull-right" %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="panel-body">
      <div class="row flex">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 <%=pundit_class Family, :updateable?%>">
        <strong>Apply, renew, read notices or find out what documents are needed for Medicaid or tax credit assisted coverage</strong>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class='image-area'></div>
          <%= link_to 'Medicaid & Tax Credits', navigate_to_assistance_saml_index_path, class: "btn btn-default pull-right" %>
      </div>
    </div>
  </div>
  </div>
</div>
