<div class="panel panel-default" id='shop-for-plans-widget'>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <%= link_to 'Apply', navigate_to_assistance_saml_index_path, class: "btn btn-default btn-block" %>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class='image-area'>
        </div>
        <strong>Apply for Medicaid or for Tax Credit Assisted Coverage</strong>
      </div>
    </div>
  </div>
</div>
