<div class="documents-table">
 <div class="table-responsive">
   <% unless @person.has_consumer_role? %>
       <h4>No results found</h4>
   <% else %>
     <% @family_members.each do |member|%>
       <h3> <%= member.person.first_name %>. Verification status: <%= show_consumer_role_state(member.person.consumer_role) %></h3>
         <% if member.person.consumer_role.aasm_state == "fully_verified" %>
           <%= render partial: "verified_documents", locals: { member: member} %>
         <% else %>
           <%= render partial: "unverified_documents", locals: { member: member}%>
         <% end %>
     <% end %>
   <% end %>
 </div>
</div>
