<div class="row module verification-dashboard doc_upload">
  <div class="col-lg-3 text-center">
    <%= select_tag :verification_type, options_for_select(["SSN", "Citizenship", "Immigration status"]), prompt: "Verification type" %>
  </div>
  <div class="col-lg-3 text-center">
    <div class="dropdown" id="immigration_fields_container">
      <%= select_tag :document, options_for_select(::VlpDocument::VLP_DOCUMENT_KINDS), prompt: "Document type" %>
    </div>
  </div>
  <div class="col-lg-3 text-center">
    <%= file_field_tag :file %>
  </div>
  <div class="col-lg-3 text-center">
    <%= link_to "Upload", "#", class: "btn btn-danger" %>
  </div>
</div>