<!-- Documents Table -->
<div class="col-md-12">
  <!-- Docs Uploading menu -->
    <%= render "docs_uploading_menu" %>
  <!-- >>>>>> docs uploading menu -->

  <!-- Documents Table HEADER -->
  <div class="row module verification-dashboard header_doc_table">
    <div class="col-md-6 text-center">
      <h5><strong>Document</strong></h5>
    </div>
    <div class="col-md-1 text-center">
      <h5><strong>Download</strong></h5>
    </div>
    <div class="col-md-2 text-center">
      <h5><strong>Verification status</strong></h5>
    </div>
    <div class="col-md-2 text-center">
      <h5><strong>Data submitted</strong></h5>
    </div>
    <div class="col-md-1 text-center">
      <h5><strong>Delete</strong></h5>
    </div>
  </div>
  <!-- >>>> documents table header -->

  <!-- Documents Table BODY -->
  <% member.person.consumer_role.vlp_documents.each do |vlp_doc| %>
      <div class="row module documents-dashboard">
        <div class="col-md-6">
          <%= vlp_doc.subject %>
        </div>
        <div class="col-md-1 text-center">
          <% if vlp_doc.identifier.present? %>
              <% key = vlp_doc.identifier.split('#').last %>
              <%= link_to("/insured/verification_documents/download/#{key}", class: "download") do %>
                  <i class="fa fa-download"></i>
              <% end %>
          <% end %>
        </div>
        <div class="col-md-2 text-center">
          <h5>Verification status</h5>
        </div>
        <div class="col-md-2 text-center">
          <h5>Data submitted</h5>
        </div>
        <div class="col-md-1 text-center">
          <h5>Delete</h5>
        </div>
      </div>
      <!-- >>>>> documents table body -->
  <% end %>
</div>
<!-- >>>> documents table -->