<% if @qle.effective_on_kinds.count > 1 %>
  <div class="alert alert-danger" id='qle_effective_on_kind_alert' role="alert" style='display:none'><%= l10n(".please_select_effective_date") %></div>
  <div style='margin: 0 auto;max-width:250px;'>
    <%= select_tag 'effective_on_kind', options_for_select(generate_options_for_effective_on_kinds(@qle, @qle_event_date)), include_blank: "#{l10n('.select_effective_date').to_s.upcase} *" %>
  </div>
<% else %>
  <%= hidden_field_tag 'effective_on_kind', @qle.effective_on_kinds.first %>
<% end %>

<script type="text/javascript">
  $('select').selectric();
</script>