<% if @qle.effective_on_kinds.count > 1 %>
  <div class="alert alert-danger" id='qle_effective_on_kind_alert' role="alert" style='display:none'>Please Select effective on kind</div>
  <div style='margin: 0 auto;max-width:250px;'>
    <% if @qle.title == "I've had a baby" %>
      <%= select_tag 'effective_on_kind', options_for_select(generate_options_for_effective_on_kinds(@qle.effective_on_kinds, @qle_date)), include_blank: 'SELECT EFFECTIVE ON KIND *' %>
    <% else %>
      <%= select_tag 'effective_on_kind', options_for_select(@qle.effective_on_kinds.map{|k| [k.humanize, k]}), include_blank: 'SELECT EFFECTIVE ON KIND' %>
    <% end %>
  </div>
<% else %>
  <%= hidden_field_tag 'effective_on_kind', @qle.effective_on_kinds.first %>
<% end %>

<% if @effective_on_options.present? and @effective_on_options.is_a?(Array) %>
  <div style='margin: 0 auto;max-width:250px;'>
    <%= select_tag 'effective_on_date', options_for_select(@effective_on_options.map(&:to_s)), include_blank: 'SELECT EFFECTIVE ON DATE' %>
  </div>
<% end %>
