<h3>Employers</h3>
<div class="n-radio-group">
  <% @person.active_census_employees.each do |census_employee| %>
    <div class="n-radio-row">
      <span class="n-radio"><%= census_employee.employer_profile.legal_name.capitalize %></span>
    </div>
  <% end %>
</div>
<hr />