<div class="panel panel-default module broker employee-broker">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= title.present? ? title : "Your Broker" %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="vertically-aligned-row">
      <div>
        <strong>
          Broker Name:
        </strong>
        <span>
          <%= @employee_role.employer_profile.broker_agency_profile.legal_name.capitalize %>
        </span>
      </div>
    </div>
    <div class="vertically-aligned-row">
      <% if @employee_role.employer_profile.active_broker_agency_account.writing_agent.phone.present? %>
        <div>
          <strong>
            Phone Number:
          </strong>
          <span>
            <%= @employee_role.employer_profile.active_broker_agency_account.writing_agent.phone %>
          </span>
        </div>
      <% end %>
      <% if @employee_role.employer_profile.active_broker_agency_account.writing_agent.email.address.present? %>
        <div>
          <strong>
            Email Address:
          </strong>
          <span>
            <%= @employee_role.employer_profile.active_broker_agency_account.writing_agent.email.address %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
