<div class="employer-panel panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" data-toggle="modal" data-target="#choose_flow"><%= "Your Employer is: #{@employee_role.employer_profile.legal_name}. Click here to shop for Employer-Sponsored coverage." %></a>
      </div>
    </div>
  </div>
</div>
