<div id='faa_flow_info'>
  <div class='coverage-table'>
    <div class='initial-info notification-error-wrapper'>
      <div class='row no-buffer'>
        <div class='col-md-8'>
          <center><strong><%= l10n('insured.families.financial_assistance_add_or_remove_family_member') %></strong></center>
        </div>
        <div class='col-md-4'>
          <%= link_to 'Continue', financial_assistance.applications_path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>
