<aside class="panel panel-default help-signup <%= pundit_class Family, :updateable? %>">
  <section class="row">
    <article class="col-xs-12">
      <div class="col-xs-12">
        <h4>
          Need Help Signing Up?
        </h4>
        <small>
          Click "Help Me Sign Up" to be connected to a trained expert.
        </small>
        <br/>
        <span class="btn btn-default btn-block" data-target="#help_with_plan_shopping" data-toggle="modal">
          Help Me Sign Up
        </span>
        <br/>
      </div>
    </article>
  </section>
</aside>
