<div class="module shop-for-plans-widget">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row flex">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <strong>
            <%= "#{display_text}" %>
          </strong>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <%= link_to 'Medicaid & Tax Credits', navigate_to_assistance_saml_index_path , class: "btn btn-default pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>
