You have no Employer Sponsored Insurance. If you wish to purchase insurance, please enroll in the Individual Market.

<div id="shop-for-plans-widget">
  <%= link_to 'Enroll', build_insured_consumer_role_index_path, method: :post, class: "btn btn-default pull-right" %>
</div>