<% if @person.primary_family.has_checkbook_url?  %>
	<div class="row">
  	<div class="col-md-8">
			<div class="pull-right">
				<%= link_to "Out of pocket Calculator","#", class: "btn btn-default" %>
 			</div>
 		</div>
  </div>
<%end%>
