<div class="row">
	<div class="col-md-8">
		<div class="pull-right">
			<%= link_to "Out of pocket Estimator",Settings.checkbook_services.url,:target => "_blank", class: "btn btn-default" %>
		</div>
	</div>
</div>

