<div class="row">
	<div class="col-md-8">
		<div class="pull-right">
			<%= link_to "Out of pocket Calculator",generate_out_of_pocket_url_insured_family_path(@person),:target => "_blank", class: "btn btn-default" %>
		</div>
	</div>
</div>

