<div class="qles-panel panel panel-default">
  <div class="panel-heading">
    <div class="row" id='qle-header'>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= image_tag 'icons/life-event.png', style: 'width: 100%' %>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 info-wrapper">
        <h4>Have life changes?</h4>
        <small>
          See how it may affect your health insurance.
        </small>
      </div>
    </div>
    <hr>
  </div>
  <div class="panel-body">
    <div id="qle-menu">
      <div class="row">
        <%= render 'qles_carousel' %>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      $('.carousel').carousel({
        interval: false
      })
    });
  </script>
</div>