<div id="qle-menu">
  <div class="page-header center">
    <h4><%= l10n("insured.top_life_changes").to_s.upcase %></h4>
  </div>
  <div class="row">
    <% if @qualifying_life_events %>
      <% slice_count = (@qualifying_life_events.count / 3.0).ceil %>
      <% slice_count = slice_count > 0 ? slice_count : 1 %>
      <% @qualifying_life_events.each_slice(slice_count) do |qles| %>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <ul class="list-unstyled list-inline list-qle">
            <% qles.each_with_index do |qle, index| %>
              <li>
                <%= qle_link_generator(qle, index) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'qle_detail' %>
