<div>
  <%= render 'qles_panel' %>
  <% if @employer_profile.present? || @person.has_active_employee_role? %>
    <div class="brokers-widget">
      <%= render 'brokers_widget' %>
    </div>
  <% end %>
</div>
