<div class="panel panel-default myplanyear col-xs-12">
  <div class="panel-heading">
    <h5>Health Coverage - Waived</h5>
  </div>
  <table>
    <tr>
      <td>
        <h4>You have selected to waive your employer coverage.</h4>
      </td>
      <td>
        <h3>
          Status
        </h3>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
          Waived
      </td>
    </tr>
  </table>
</div>
