<% content_for :navigation do %>
  <%= render 'navigation' %>
<% end %>

<div class="row">
  <div class="my-broker col-md-12">
    <h1>Your Brokers</h1>
    <div class="panel benefitgroup col-xs-12">
      <section class="col-xs-6">
        <header class="row">
          <h5 class="bg-title">Benefit Package: <span >name</span></h5>
        </header>
      </section>
      <section class="col-xs-6">
        <header class="row">
          <a class="details" onclick="$(this).closest('.benefitgroup').next().slideToggle();">View Details <i class="fa fa-chevron-down fa-lg"></i></a>
        </header>
      </section>
      <table>
        <tr>
          <td>
            <header>Eligibility</header>
          </td>
          <td>
            <p>
              qweqewqewqewq
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <header>Plans By</header>
          </td>
          <td>
            <p>

            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="col-md-10 col-sm-12">
asdas
  </div>
</div>
