<% content_for :navigation do %>
  <%= render 'navigation' %>
<% end %>

<div class="row">
  <div class="my-account-page col-md-12">
    <h1>Your Brokers</h1>
  </div>


  <div class="col-md-10 col-sm-12">
asdas
  </div>
</div>
