<% content_for :navigation do %>
  <%= render partial: 'ui-components/v1/navs/families_navigation' %>
<% end %>
<div class="module">
  <h1 class="darkblue no-buffer"><%= l10n("osse_subsidy_title") %></h1>
  <h4><%=l10n('osse_ivl_description')%></h4>
  <%= render partial: 'healthcare_for_childcare_program_form', :locals => { person: @person } %>
</div>