<% content_for :navigation do %>
  <%= render 'navigation' %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render partial: "enrollment", :collection => @hbx_enrollments, :as => :hbx_enrollment %>
  </div>
  <div class="col-md-4">
    <%= render 'right_column' %>
  </div>
</div>
