<% content_for :navigation do %>
  <%= render 'navigation' %>
<% end %>

<div style="margin-top: 32px;">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default min-h">
            <div class="panel-body">
              <%= render partial: "enrollment", :collection => @hbx_enrollments, :as => :hbx_enrollment %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'right_panel' %>
    </div>
  </div>
</div>
