<% content_for :navigation do %>
<%= render 'navigation' %>
<% end %>
<div class="col-md-12">
  <h1 class="darkblue no-buffer">Messages</h1>
</div>
<%= render 'inbox', provider: current_user.person %>
