<%- model_class = Family -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">

  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <%= render 'shared/search', url: people_path, q: @q, placeholder: "Name, HBX ID, SSN" %>
    </div>
  </div>
</div>

<%= render "insured/families/families_table", families: @families %>

<div class="row">
  <div class="col-md-8">
    <%#= paginate @families, :remote => true, :param_name => "families_page" %>
  </div>

  <div class="rol-md-4">
    <p><%= "#{number_with_delimiter(@families.count)} / #{number_with_delimiter(Family.count)} " %><small>(families selected / total)</small></p>
  </div>
</div>
