<% content_for :navigation do %>
<%= render 'navigation' %>
<% end %>

<div class="my-account-page">
  <h1><%= l10n("manage_family") %></h1>
</div>

<div class="content-bottom">
  <%= render "profile_submenu", :active_subtab => "personal-tab" %>
  <div id="profile-content">
    <%= render 'personal' %>
  </div>
</div>
