<% content_for :navigation do %>
<%= render 'navigation' %>
<% end %>

<div class="my-account-page col-md-12">
  <h1>Manage Family</h1>
</div>

<div class="col-md-10 col-sm-12 content-bottom">
  <%= render "profile_submenu", :active_subtab => "personal-tab" %>
  <div id="profile-content">
    <%= render 'personal' %>
  </div>
</div>
