var containing_row = $("#<%= @row_id %>").closest('TR');
var $parent_row = containing_row;
if ( $('tr.child-row:visible').length > 0 ) {
  $('tr.child-row:visible').remove();
  $("li>a:contains('Collapse Form')").addClass('disabled');
}
if ( $parent_row.next().hasClass('child-row') ) {} 
else {
  $parent_row.after('<tr class="child-row"><%= j render "insured/families/transition_family_members_form", f: @family, formats: [:html] %></td></tr>');
  $("li>a:contains('Collapse Form')").eq(containing_row.index()).removeClass('disabled');
  $('.dropdown.pull-right').removeClass('open');
}