<% content_for :navigation do %>
    <%= render 'navigation' %>
<% end %>
<h1 class="darkblue no-buffer">Paper Application Upload</h1>
<div class="documents-tab">
  <% if @person && @person.resident_role %>
      <h4 class="starter">Please upload the paper application you received to complete the online enrollment
        application for CoverAll.</h4>

        <%= render 'insured/families/coverall/coverall' %>
  <% end %>
</div>
