<% content_for :navigation do %>
    <%= render 'navigation' %>
<% end %>
<h1 class="no-buffer"><%= l10n("paper_application_upload") %></h1>
<div class="documents-tab">
  <% if @person && @family_members.present? %>
      <h4 class="starter"><%= l10n(".upload_paper_application_to_complete") %></h4>
        application for CoverAll.</h4>

        <%= render 'insured/families/coverall/coverall' %>
  <% end %>
</div>
