<% content_for :navigation do %>
    <%= render 'navigation' %>
<% end %>
<div class="module">
<div class="vertically-aligned-row">
	<h1 class="darkblue no-buffer">Documents</h1>
	<span class='text-right'>
    <%= link_to "Download Tax Documents", download_tax_documents_form_insured_families_path(), class: "btn btn-primary" if show_download_tax_documents_button_on_documents_page? %>
	</span>
</div>
<div class="documents-tab">
  <% if @person && @person.consumer_role %>
      <h4 class="starter">We verify the information you give us using electronic data sources.
        If the data sources do not match the information you gave us, we need you to provide documents to prove what you told us.</h4>

      <%= render 'insured/families/verification/verification' %>
  <% end %>
</div>