<% if @year_display != hbx_enrollment.effective_on.year && EnrollRegistry.feature_enabled?(:home_tiles_group_by_year) %>
    <% @year_display = hbx_enrollment.effective_on.year %>
    <div class="module year-group-title">
      <h3 class="text-left"><%= l10n("insured.year_title", year: @year_display) %></h3>
    </div>
<% end %>
<%= yield %>