<div class="col-md-3">
    <nav class=" smartscroll-nav" id="mainnav">
      <ul class="nav nav-stacked affix" id="leftNavigation">
        <li id="accountRegistration" class="list-box">
          <a  href="#" >Account Registration</a>
        </li>
        <li id="personalInformation" class="list-box">
          <a class="scroll" href="#">Tell us about Yourself</a>
        </li>
        <li id="householdInfo" class="list-box">
          <a class="" href="#">Household info</a>
        </li>
        <li id="ReviewSubmit" class="list-box">
          <a class="" href="#">Review & submit</a>
        </li>
        <li id="SpecialEnrollmentPeriod" class="list-box">
          <a class="" href="#">Special Enrollment Period</a>
        </li>
        <li id="EnrollInPlan" class="list-box">
          <a class="" href="#">Enroll in Plan</a>
        </li>
        <li id="ConfirmPlan" class="list-box">
          <a class="" href="#">Confirm Plan</a>
      </ul>
    </nav>
  </div>