<div class="container">
        <div class="col-xs-12 horizontal-status">
  <div>
    <div class="col-xs-4 step-one step">
      <div class="row">
        <div class="col-xs-2">
          <img src="/assets/ui/profilegreen_37-5ae8afdb364c873434d6dc21d4fb98aa.png" alt="Profilegreen 37">
        </div>
        <div class="col-xs-10">
          <span class="ttu dg twelve">
            STEP 1
          </span>
          <br>
          <span class="dg fourteen">
            <strong>
              Tell us about yourself
            </strong>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 arrow">
          <div class="row">
          <img src="/assets/ui/darkgreenarrow_354-54bfca10c5197ca11c55b96848dc2ce9.png" alt="Darkgreenarrow 354">
        </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 step-two step">
      <div class="row">
        <div class="col-xs-2">
          <img src="/assets/ui/cartgreen_40-a179fa7aab1dda9aef5d9b6d7b663e32.png" alt="Cartgreen 40">
        </div>
        <div class="col-xs-10">
          <span class="ttu dg twelve">
            STEP 2
          </span>
          <br>
          <span class="dg fourteen">
              Compare plans and choose
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 arrow">
          <div class="row">
              <img src="/assets/ui/lightgreenarrow_354-ce0b2aa6c6532392dc649f7eaf1eb06e.png" alt="Lightgreenarrow 354">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 step-three step">
      <div class="row">
        <div class="col-xs-2">
          <img src="/assets/ui/pointergreen_42-f4916e811f2f29d50d664319bfd7d2ca.png" alt="Pointergreen 42">
        </div>
        <div class="col-xs-10">
          <span class="ttu dg twelve">
            STEP 3
          </span>
          <br>
          <span class="dg fourteen">
              Enroll
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 arrow">
          <div class="row">
              <img src="/assets/ui/lightgreenarrow_354-ce0b2aa6c6532392dc649f7eaf1eb06e.png" alt="Lightgreenarrow 354">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


      </div>