// = render partial: './ui-components/v1/sliders/slider', locals: {id:'myID',min:0,max:100,step:5, defaultValue:50}
.slidecontainer
  input.slider  id="#{id}" max="#{max}" min="#{min}" type="range" value="#{defaultValue}" step="#{step}"
