<div class="focus_effect_module">
  <div class="row row-form-wrapper no-buffer row-height">
    <div class="col-md-3">
      <label class="static_label label-floatlabel">AMOUNT *</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= deduction.amount %></span>
    </div>
    <div class="col-md-3">
      <label class="static_label label-floatlabel">HOW OFTEN *</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= deduction.frequency_kind %></span>
    </div>
    <div class="col-md-3">
      <label class="static_label label-floatlabel">START *</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= deduction.start_on %></span>
    </div>
    <div class="col-md-3">
      <label class="static_label label-floatlabel">END</label>
      <span class="field_value floatlabel form-control active-floatlabel" id="name"><%= deduction.end_on %></span>
    </div>
  </div>
</div>