<% if @applicant.has_deductions%>
<div class="row row-form-wrapper no-buffer row-height">
  <div class="col-md-7"> Does this person expect to have adjustments to income in 2017 ?</div>
  <div class="col-md-5"> YES</div>
</div>
<% end %>