name: Build Image and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - 'trunk'
      - 'release_*'
      - 'automatic-deployment-via-argocd'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'trunk'

concurrency:
  group: docker-${{ github.ref }}
  cancel-in-progress: true

env:
  RABBITMQ_DEFAULT_USER: 'guest'
  RABBITMQ_DEFAULT_PASS: 'guest'
  SHOULD_DEPLOY: ${{ github.event_name != 'pull_request' }}

jobs:
  prep:
    runs-on: ubuntu-latest
    outputs:
      alphaImage: ${{ steps.prep.outputs.alpha_image }}
      taggedImage: ${{ steps.prep.outputs.tagged_image }}
      tag: ${{ steps.prep.outputs.tag }}
      registry: ${{ steps.prep.outputs.registry }}
      shortSha: ${{ steps.prep.outputs.short_sha}}
      imageName: ${{ steps.prep.outputs.image_name }}
    steps:
      - name: Git branch name
        id: git-branch-name
        uses: EthanSK/git-branch-name-action@v1
      - name: Prepare info
        id: prep
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | head -c7)
          TAG=$(echo $GITHUB_SHA | head -c7)
          IMAGE="public.ecr.aws/ideacrew/enroll"
          echo ::set-output name=image_name::${IMAGE}
          echo ::set-output name=tagged_image::${IMAGE}:${TAG}
          echo ::set-output name=tag::${TAG}
          echo ::set-output name=registry::public.ecr.aws
          echo ::set-output name=alpha_image::${IMAGE}:${TAG}-alpha
          echo ::set-output name=short_sha::$SHORT_SHA

  write-to-repo:
    needs: [prep]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ideacrew/cme_k8s
          token: ${{ secrets.GH_PAT }}

      # - name: Set up git config
      #   run: |
      #     git config --global user.email "markgoho@gmail.com"
      #     git config --global user.name "Mark Goho"

      - uses: imranismail/setup-kustomize@v1

      - run: |
          cd environments/pvt-3/enroll/web
          kustomize edit set image ${{ needs.prep.outputs.imageName}}=${{ needs.prep.outputs.taggedImage }}
          cat kustomization.yaml

  # Uses buildx to build and push the image
  # build-and-upload-image:
  #   needs: [prep]
  #   runs-on: ubuntu-latest
  #   services:
  #     rabbitmq:
  #       image: rabbitmq:latest
  #       ports:
  #         - 5672:5672
  #         - 15672:15672
  #       options: >-
  #         --name "rabbitmq"
  #         --health-cmd "rabbitmqctl node_health_check"
  #         --health-interval 10s
  #         --health-timeout 5s
  #         --health-retries 5
  #     mongo:
  #       image: mongo:4.2
  #       ports:
  #         - 27017:27017
  #       options: >-
  #         --name "mongo"
  #         --health-cmd mongo
  #         --health-interval 10s
  #         --health-timeout 5s
  #         --health-retries 5
  #   steps:
  #     # Check out repository
  #     - uses: actions/checkout@v2

  #     - name: Add git HEAD info to docker image
  #       run: git show --quiet HEAD > release.txt

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v1
  #       with:
  #         install: true

  #     - name: Cache Docker layers
  #       uses: actions/cache@v2
  #       with:
  #         path: /tmp/.buildx-cache
  #         # Key is named differently to avoid collision
  #         key: ${{ runner.os }}-multi-buildx-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-multi-buildx

  #     # Add vhosts to RabbitMQ
  #     - run: |
  #         docker exec rabbitmq rabbitmqctl add_vhost /
  #         docker exec rabbitmq rabbitmqctl add_vhost event_source
  #         docker exec rabbitmq rabbitmqctl set_permissions -p event_source guest ".*" ".*" ".*"

  #     # Provide credentials for AWS
  #     - name: Configure AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v1
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: us-east-1

  #     # Must use docker login in order to specify public registry
  #     - name: Login to Public ECR
  #       uses: docker/login-action@v1
  #       with:
  #         registry: ${{ needs.prep.outputs.registry }}
  #         username: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  #     - name: Build Image
  #       uses: docker/build-push-action@v2
  #       with:
  #         context: .
  #         builder: ${{ steps.buildx.outputs.name }}
  #         file: .docker/production/Dockerfile.gha
  #         # Set the desired build target here
  #         target: deploy
  #         # needed to access mongo and rabbit on GHA machine
  #         network: host
  #         # send to public registry
  #         push: ${{ env.SHOULD_DEPLOY }}
  #         # create local image (for scanning)
  #         load: false

  #         ### Adding -alpha to the image tag while this is in testing ###
  #         tags: ${{ needs.prep.outputs.taggedImage }}

  #         cache-from: type=local,src=/tmp/.buildx-cache
  #         # Note the mode=max here
  #         # More: https://github.com/moby/buildkit#--export-cache-options
  #         # And: https://github.com/docker/buildx#--cache-tonametypetypekeyvalue
  #         cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new
  #         build-args: |
  #           ENROLL_DB_HOST_DEFAULT=172.17.0.1
  #           RABBITMQ_URL_DEFAULT=amqp://172.17.0.1:5672
  #           RABBITMQ_HOST_DEFAULT=amqp://172.17.0.1

  #     - name: Scan Docker image
  #       if: github.event_name != 'pull_request'
  #       id: scan
  #       uses: anchore/scan-action@main
  #       with:
  #         image: ${{ needs.prep.outputs.alphaImage }}
  #         acs-report-enable: true
  #         fail-build: false
  #         severity-cutoff: critical

  #     - name: upload Anchore scan SARIF report
  #       if: github.event_name != 'pull_request'
  #       uses: github/codeql-action/upload-sarif@v1
  #       with:
  #         sarif_file: ${{ steps.scan.outputs.sarif }}

  #     - name: Move cache
  #       run: |
  #         rm -rf /tmp/.buildx-cache
  #         mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  # notify-slack:
  #   if: github.event_name != 'pull_request'
  #   needs: [prep, build-and-upload-image]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Post to a Slack channel
  #       id: slack
  #       uses: slackapi/slack-github-action@v1.16.0
  #       with:
  #         channel-id: 'docker-images'
  #         slack-message: 'New image pushed: ${{ needs.prep.outputs.taggedImage }} built from <https://github.com/ideacrew/enroll/commit/${{ needs.prep.outputs.shortSha }}|${{ needs.prep.outputs.shortSha }}>'
  #       env:
  #         SLACK_BOT_TOKEN: ${{ secrets.YELLR_BOT_TOKEN }}
