name: CodeSweep Checks
on:
  push:
    branches:
      - 'trunk'
      - 'clean-bootstrap-4-upgrade'
  pull_request:
    branches:
      - trunk

concurrency:
  group: cs-${{ github.ref }}
  cancel-in-progress: true

jobs:
  codesweep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run AppScan CodeSweep
        uses: HCL-TECH-SOFTWARE/appscan-codesweep-action@v1
        with:
          asoc_key: ${{secrets.ASOC_KEY}}
          asoc_secret: ${{secrets.ASOC_SECRET}}
          status: failure
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
