name: Rspec and Cucumbers
on: push

env: # https://stackoverflow.com/questions/59867124/how-can-i-access-github-action-environment-variables-within-a-bash-script-run-by
  STATUS: failing
  SHA: ${{ github.sha }}
  BRANCH: ${{ github.ref }}
  YELLR_KEY: ${{ secrets.YELLR_KEY }}
  YELLR_URL: ${{ secrets.YELLR_URL }}

jobs:
  brakeman:
    runs-on: ubuntu-18.04
    steps:
    - name: Brakeman
      uses: devmasx/brakeman-linter-action@v1.0.0
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  rspec-1-of-4:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04] #ubuntu-16.04
        node: [10]
        mongodb-version: ["3.6"]

    steps:
    - name: Launch MongoDB
      uses: wbari/start-mongoDB@v0.2
      with:
        mongoDBVersion: ${{ matrix.mongodb-version }}
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.1
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 10.16.3
    - name: bundle install, yarn install
      run: |
        gem update --system
        gem install bundler -v '2.0.1'
        bundle install --jobs 4 --retry 3
        gem install semaphore_test_boosters
        yarn install
        ./bin/webpack
    - name: rspec
      run: rspec_booster --job 1/4
    - name: cat order
      if: failure()
      run: for log in order*.log; do echo $log; cat $log; done
      continue-on-error: true
    - name: Notify Yellr of failure
      id: extract_branch
      if: failure()
      run: 'curl -H "Content-Type: application/json" -H "X-API-Key: ${{ env.YELLR_KEY }}" -X POST ${{ env.YELLR_URL }} -d "{\"project\":\"enroll_dc\",\"branch\":\"${GITHUB_REF#refs/heads/}\",\"sha\":\"${{ env.SHA }}\",\"status\":\"failing\"}"'
  rspec-2-of-4:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04] #ubuntu-16.04
        node: [10]
        mongodb-version: ["3.6"]

    steps:
    - name: Launch MongoDB
      uses: wbari/start-mongoDB@v0.2
      with:
        mongoDBVersion: ${{ matrix.mongodb-version }}
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.1
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 10.16.3
    - name: bundle install, yarn install
      run: |
        gem update --system
        gem install bundler -v '2.0.1'
        bundle install --jobs 4 --retry 3
        gem install semaphore_test_boosters
        yarn install
        ./bin/webpack
    - name: rspec
      run: rspec_booster --job 2/4
    - name: cat order
      if: failure()
      run: for log in order*.log; do echo $log; cat $log; done
      continue-on-error: true
    - name: Notify Yellr of failure
      id: extract_branch
      if: failure()
      run: 'curl -H "Content-Type: application/json" -H "X-API-Key: ${{ env.YELLR_KEY }}" -X POST ${{ env.YELLR_URL }} -d "{\"project\":\"enroll_dc\",\"branch\":\"${GITHUB_REF#refs/heads/}\",\"sha\":\"${{ env.SHA }}\",\"status\":\"failing\"}"'
  rspec-3-of-4:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04] #ubuntu-16.04
        node: [10]
        mongodb-version: ["3.6"]

    steps:
    - name: Launch MongoDB
      uses: wbari/start-mongoDB@v0.2
      with:
        mongoDBVersion: ${{ matrix.mongodb-version }}
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.1
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 10.16.3
    - name: bundle install, yarn install
      run: |
        gem update --system
        gem install bundler -v '2.0.1'
        bundle install --jobs 4 --retry 3
        gem install semaphore_test_boosters
        yarn install
        ./bin/webpack
    - name: rspec
      run: rspec_booster --job 3/4
    - name: cat order
      if: failure()
      run: for log in order*.log; do echo $log; cat $log; done
      continue-on-error: true
    - name: Notify Yellr of failure
      id: extract_branch
      if: failure()
      run: 'curl -H "Content-Type: application/json" -H "X-API-Key: ${{ env.YELLR_KEY }}" -X POST ${{ env.YELLR_URL }} -d "{\"project\":\"enroll_dc\",\"branch\":\"${GITHUB_REF#refs/heads/}\",\"sha\":\"${{ env.SHA }}\",\"status\":\"failing\"}"'
  rspec-4-of-4:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04] #ubuntu-16.04
        node: [10]
        mongodb-version: ["3.6"]

    steps:
    - name: Launch MongoDB
      uses: wbari/start-mongoDB@v0.2
      with:
        mongoDBVersion: ${{ matrix.mongodb-version }}
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.1
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 10.16.3
    - name: bundle install, yarn install
      run: |
        gem update --system
        gem install bundler -v '2.0.1'
        bundle install --jobs 4 --retry 3
        gem install semaphore_test_boosters
        yarn install
        ./bin/webpack
    - name: rspec
      run: rspec_booster --job 4/4
    - name: cat order
      if: failure()
      run: for log in order*.log; do echo $log; cat $log; done
      continue-on-error: true
    - name: Notify Yellr of failure
      id: extract_branch
      if: failure()
      run: 'curl -H "Content-Type: application/json" -H "X-API-Key: ${{ env.YELLR_KEY }}" -X POST ${{ env.YELLR_URL }} -d "{\"project\":\"enroll_dc\",\"branch\":\"${GITHUB_REF#refs/heads/}\",\"sha\":\"${{ env.SHA }}\",\"status\":\"failing\"}"'
  engines-rspecs:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04] #ubuntu-16.04
        node: [10]
        mongodb-version: ["3.6"]

    steps:
    - name: Launch MongoDB
      uses: wbari/start-mongoDB@v0.2
      with:
        mongoDBVersion: ${{ matrix.mongodb-version }}
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.1
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 10.16.3
    - name: bundle install, yarn install
      run: |
        gem update --system
        gem install bundler
        bundle install --jobs 4 --retry 3
        yarn install
        RAILS_ENV=test NODE_ENV=test rake webpacker:compile
    - name: cd components/engine, rspec
      run: |
        root=`pwd -P`
        for test_dir in `ls -1 $root/components/ | grep -v old_sponsored_benefits`; do
          echo $root/components/$test_dir
          cd $root/components/$test_dir
          bundle install
          bundle exec rspec --fail-fast
          if [ $? -ne 0 ]; then
            echo "ENGINE FAILED"
            exit $?
          fi
        done
    - name: Notify Yellr of failure
      id: extract_branch
      if: failure()
      run: 'curl -H "Content-Type: application/json" -H "X-API-Key: ${{ env.YELLR_KEY }}" -X POST ${{ env.YELLR_URL }} -d "{\"project\":\"enroll_dc\",\"branch\":\"${GITHUB_REF#refs/heads/}\",\"sha\":\"${{ env.SHA }}\",\"status\":\"failing\"}"'
  cucumber-1-of-2:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04] #ubuntu-16.04
        node: [10]
        mongodb-version: ["3.6"]

    steps:
    - name: Launch MongoDB
      uses: wbari/start-mongoDB@v0.2
      with:
        mongoDBVersion: ${{ matrix.mongodb-version }}
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.1
    - name: Set up Node.js for use with actions
      uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 10.16.3
    - name: Set up Chromedriver
      uses: nanasess/setup-chromedriver@master
      with:
        # Optional: do not specify to match Chrome's version
        chromedriver-version: '77.0.3865.40'
    - name: bundle install, yarn install
      run: |
        gem update --system
        gem install bundler
        bundle install --jobs 4 --retry 3
        gem install semaphore_test_boosters
        yarn install
        RAILS_ENV=test NODE_ENV=test rake webpacker:compile
    - name: cucumber-1-of-2
      run: |
        export DISPLAY=:99
        if cucumber_booster --job 1/2 features
        then
          echo "Cucumber passed the first time!"
          exit 0
        else
          echo "Give cucumber one more try"
          if bundle exec cucumber @tmp/cucumber_failures.log --format summary --out cucumber_2.summary --format rerun --out tmp/cucumber_failures_2.log
          then
            echo "Cucumber worked on retry"
            exit 0
          else
            echo "Give cucumber yet another try"
            bundle exec cucumber @tmp/cucumber_failures_2.log --format summary --out cucumber_3.summary --format rerun --out tmp/cucumber_failures_3.log
          fi
        fi
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: cucumber-screenshots
        path: tmp/capybara
    - name: Notify Yellr of failure
      id: extract_branch
      if: failure()
      run: 'curl -H "Content-Type: application/json" -H "X-API-Key: ${{ env.YELLR_KEY }}" -X POST ${{ env.YELLR_URL }} -d "{\"project\":\"enroll_dc\",\"branch\":\"${GITHUB_REF#refs/heads/}\",\"sha\":\"${{ env.SHA }}\",\"status\":\"failing\"}"'
  cucumber-2-of-2:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04] #ubuntu-16.04
        node: [10]
        mongodb-version: ["3.6"]

    steps:
    - name: Launch MongoDB
      uses: wbari/start-mongoDB@v0.2
      with:
        mongoDBVersion: ${{ matrix.mongodb-version }}
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.5.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.1
    - name: Set up Node.js for use with actions
      uses: actions/setup-node@v1.1.0
      with:
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0, lts
        version: 10.16.3
    - name: Set up Chromedriver
      uses: nanasess/setup-chromedriver@master
      with:
        # Optional: do not specify to match Chrome's version
        chromedriver-version: '77.0.3865.40'
    - name: bundle install, yarn install
      run: |
        gem update --system
        gem install bundler
        bundle install --jobs 4 --retry 3
        gem install semaphore_test_boosters
        yarn install
        RAILS_ENV=test NODE_ENV=test rake webpacker:compile
    - name: cucumber-2-of-2
      run: |
        export DISPLAY=:99
        if cucumber_booster --job 2/2
        then
          echo "Cucumber passed the first time!"
          exit 0
        else
          echo "Give cucumber one more try"
          if bundle exec cucumber @tmp/cucumber_failures.log --format summary --out cucumber_2.summary --format rerun --out tmp/cucumber_failures_2.log
          then
            echo "Cucumber worked on retry"
            exit 0
          else
            echo "Give cucumber yet another try"
            bundle exec cucumber @tmp/cucumber_failures_2.log --format summary --out cucumber_3.summary --format rerun --out tmp/cucumber_failures_3.log
          fi
        fi
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: cucumber-screenshots
        path: tmp/capybara
    - name: Notify Yellr of failure
      id: extract_branch
      if: failure()
      run: 'curl -H "Content-Type: application/json" -H "X-API-Key: ${{ env.YELLR_KEY }}" -X POST ${{ env.YELLR_URL }} -d "{\"project\":\"enroll_dc\",\"branch\":\"${GITHUB_REF#refs/heads/}\",\"sha\":\"${{ env.SHA }}\",\"status\":\"failing\"}"'
  notify-of-success:
    runs-on: ubuntu-latest
    needs: [rspec-1-of-4, rspec-2-of-4, rspec-3-of-4, rspec-4-of-4, engines-rspecs, cucumber-1-of-2, cucumber-2-of-2]
    steps:
    - name: Notify Yellr of success
      run: 'curl -H "Content-Type: application/json" -H "X-API-Key: ${{ env.YELLR_KEY }}" -X POST ${{ env.YELLR_URL }} -d "{\"project\":\"enroll_dc\",\"branch\":\"${GITHUB_REF#refs/heads/}\",\"sha\":\"${{ env.SHA }}\",\"status\":\"passing\"}"'
