<h1 class="heading-text">Issuers</h1>

<div class="<%= @bs4 ? 'w-100' : 'col-12' %>">
  <table id="issuers-ajax-dt" class="table table-striped">
    <thead>
      <tr>
        <th>Carrier Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Working Hours</th>
      </tr>
    </thead>
  </table>
</div>
