set_tab_content("<%= escape_javascript render "index"%>")

var table = $('#issuers-ajax-dt').DataTable( {
  "ajax": {
    "url": "/exchanges/issuers",
    "dataSrc": "data"
  },
  "type": "get",
  "ordering": false,
  "deferRender": true,
  // Call back event when table renders
  "drawCallback": function() {
  },
  // Creates a custom toolbar
  "dom": '<"toolbar">frtip',
  "columns": [
    { "data": "attributes.product_url",
      "render": function ( data, type, row, meta ) {
        return '<a href="' + row['attributes']['products_url'] + '" data-remote="true">' + row['attributes']['legal_name'] + '</a>';
      }
    },
    { "data": "attributes.phone" },
    { "data": "attributes.email" },
    { "data": "attributes.working_hours" },
    // Builds Actions Menu
    { "data": null,
      "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
        $(nTd).html(buildDropDownMenu(sData));
      }
    }
  ]
});

// Actions Menu List Items
function buildDropDownMenu(sData) {
  var product_id = sData['id'];
  return `<div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" onclick="toAction(this)" data-product-id-id='${product_id}'>Edit Contacts</a></li>
              <li><a href="javascript:void(0)" onclick="toAction(this)" data-product-id-id='${product_id}'>Edit SBC</a></li>
            </ul>
          </div>`
}
