<% if current_user.blank? || current_user.person_id.blank? %>
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="row no-buffer row-form-wrapper" style="border-top: 0;">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group-lg no-pd">
          <%= f.text_field :email, class: "floatlabel form-control interaction-field-control-person-email", required: true, placeholder: 'EMAIL' %>
        </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group-lg no-pd">
            <%= f.text_field :area_code, class: "floatlabel form-control interaction-field-control-person-area-code area_code", required: true, placeholder: 'AREA CODE' %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group-lg no-pd">
            <%= f.text_field :number, class: "floatlabel form-control interaction-field-control-person-number phone_number7", required: true, placeholder: 'NUMBER' %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 form-group-lg no-pd">
            <%= f.text_field :extension, class: "floatlabel form-control interaction-field-control-person-extension", placeholder: 'EXTENSION' %>
          </div>
      </div>
    </div>
  </div>
<% end %>
