<h1 class="heading-text" #headerRef>Broker Registration</h1>
<div *ngIf="submissionComplete" class="alert alert-success">
  {{submissionMessage}}
</div>
<form class="s508" [formGroup]="profileForm">
  <field-errors [errorControl]="profileForm" errorHeader="Your application could not be processed for the following reasons:"></field-errors>
  <fieldset>
    <legend>Personal Information</legend>
    <div class="row">
      <div class="col-md-4 mb-2{{errorClassFor(profileForm.controls.first_name)}}">
        <label for="first_name_field">First Name *</label>
        <input id="first_name_field" type="text" formControlName="first_name" class="form-control" required minlength="1">
        <field-errors [errorControl]="profileForm.get('first_name')"></field-errors>
      </div>
      <div class="col-md-4 mb-2{{errorClassFor(profileForm.controls.last_name)}}">
          <label for="last_name_field">Last Name *</label>
          <input id="last_name_field" type="text" formControlName="last_name" class="form-control"  required minlength="1">
          <field-errors [errorControl]="profileForm.get('last_name')"></field-errors>
      </div>
      <div class="col-md-4 mb-2{{errorClassFor(profileForm.controls.dob)}}">
          <label for="dob_field">Date of Birth *</label>
          <input placeholder="MM/DD/YYYY" id="dob_field" type="text" formControlName="dob" class="form-control" mask="M0/d0/0000" [dropSpecialCharacters]="false" [validation]="true" required>
          <field-errors [errorControl]="profileForm.get('dob')"></field-errors>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-2{{errorClassFor(profileForm.controls.email)}}">
          <label for="email_field">Email *</label>
          <input id="email_field" type="text" formControlName="email" class="form-control" required minlength="1">
          <field-errors [errorControl]="profileForm.get('email')"></field-errors>
      </div>
      <div class="col-md-4 mb-2{{errorClassFor(profileForm.controls.npn)}}">
          <label for="npn_field">NPN *</label>
          <input id="npn_field" type="text" formControlName="npn" class="form-control" required minlength="1">
          <field-errors [errorControl]="profileForm.get('npn')"></field-errors>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Broker Agency Information</legend>
    <h4 class="mb-2">NOTE: If you are not associated with a broker agency, please enter your personal information. Do not enter a General Agency or Third Party Administrator‘s Information.</h4>
    <div class="row">
        <div class="col-md-8 mb-2{{errorClassFor(profileForm.controls.legal_name)}}">
            <label for="legal_name_field">Legal Name *</label>
            <input id="legal_name_field" type="text" formControlName="legal_name" class="form-control" required>
            <field-errors [errorControl]="profileForm.get('legal_name')"></field-errors>
        </div>
        <div class="col-md-4 mb-2">
            <label for="dba_field">DBA</label>
            <input id="dba_field" type="text" formControlName="dba" class="form-control">
            <field-errors [errorControl]="profileForm.get('dba')"></field-errors>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-2{{errorClassFor(profileForm.controls.practice_area)}}">
            <label for="practice_area_field">Practice Area*</label>
            <select id="practice_area_field" formControlName="practice_area" class="form-control">
                <option *ngFor="let pa of practiceAreaList" [value]="pa.code">{{pa.label}}</option>
            </select>
            <field-errors [errorControl]="profileForm.get('practice_area')"></field-errors>
        </div>
        <div class="col-md-3 mb-2{{errorClassFor(profileForm.controls.languages)}}">
            <label for="languages_field">Select Language(s)</label>
            <select id="languages_field" formControlName="languages" class="form-control mb-3" multiple>
              <option *ngFor="let lang of languageList" [value]="lang.code">{{lang.common_name}}</option>
            </select>
            <small class="form-text text-muted" id="emailHelp">Hold Ctrl or Command (mac) to select multiple</small>
            <field-errors [errorControl]="profileForm.get('languages')"></field-errors>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 mb-2 mt-2">
                <label for="has_weekend_hours_field">
                  <input id="has_weekend_hours_field" type="checkbox" formControlName="evening_weekend_hours">
                  EVENING/WEEKEND HOURS?
                </label>
            </div>
            <div class="col-md-12 mb-2 mt-2">
                <label for="new_clients_field">
                  <input id="new_clients_field" type="checkbox" formControlName="accepts_new_clients">
                  ACCEPT NEW CLIENTS?
                </label>
            </div>
        </div>
    </div>
    <ach-information
      [parentForm]="profileForm">
    </ach-information>
    <office-location
      [parentForm]="profileForm"
      [stateList]="stateList"
      [officeLocation]="profileForm"
    ></office-location>
    <div formArrayName="office_locations"
    *ngFor="let office_location of officeLocations().controls; let i = index;">
    <office-location
      [parentForm]="profileForm"
      [officeLocation]="office_location"
      [index]="i"
      [formGroupName]="i"
      [parentComponent]="this"
      [stateList]="stateList"
      >
   </office-location>
   </div>
   <button (click)="addOfficeLocation()" class="btn btn-default">Add Office Location</button>
    <h5 class="heading-text" [innerHTML]="brokerAgreementMessage | trustedHtml"></h5>
  </fieldset>
  <button *ngIf="!submissionComplete" (click)="submitForm()" class="btn btn-primary float-right">CREATE BROKER AGENCY</button>
</form>