<div class="row flash module">
  <div class="alert alert-<%= type %>">
    <div class="row">
      <div class="col-xs-12">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <%= raw message %>
      </div>
    </div>
  </div>
</div>
