<footer class="footer-wrapper">
    <div class="container">
        <p class="pull-left">© 2015 DC Health Link. All Rights Reserved.</p>
        <ul class="list-unstylesd list-inline pull-right">
            <li>
                <a href="#"><%= image_tag 'icons/phone.png' %> &nbsp;(855) 532-5465</a>
            </li>
            <li>
                <a href="#"><%= image_tag 'icons/mail.png' %> &nbsp;info@dchealthlink.com</a>
            </li>
            <li>
                <a href="#"><%= image_tag 'icons/message.png' %> &nbsp;FAQs</a>
            </li>
        </ul>
    </div>
</footer>