- if current_user
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      %span.visible-sm.visible-xs
        Settings
        %span.fui-gear
        %b.caret
      %span.visible-md.visible-lg
        %span.fui-gear
        #{current_user.oim_id}
        %b.caret
      %span.dropdown-arrow
    %ul.dropdown-menu
      %li
        = link_to "Sign out", destroy_user_session_path, :method => "delete"
      %li
        = link_to "Change Password", edit_user_registration_path
