<div id="wrapper" class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= render_flash use_bs4: @bs4 %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 side-nav">
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
</div>
