<html>
  <head>
    <title>DCHealthLink Confirmation</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="telephone=no" name="format-detection" />
    <style type="text/css">
      #outlook a {
        padding:0
      }

      body {
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        margin:0;
        padding:0;
        mso-line-height-rule:exactly
        font-size:14px;
        color:rgb(0,0,0);
        font-family: "Times New Roman", Times, serif;
        padding-left: 15px;
        padding-right: 15px;
      }
      table td {
        border-collapse:collapse;
        font-size:14px;
        font-family: "Times New Roman", Times, serif;
        line-height: 1.4em;
      }
      h3, h4 {
        margin:15px 0;
      }
      img {
        outline:none;
        text-decoration:none;
        -ms-interpolation-mode:bicubic
      }
      a img {
        border:none
      }
      a {
        text-decoration:underline;
      }
      ul li {
        padding:3px 0;
      }
      .underline {
        text-decoration: underline;
      }
      .addrs td {
        display:block;
        margin-bottom:2px;
        font-size:14px;
      }
      .fssize {
        font-size:14px;
        float:left;
      }
      .fssizeuser {
        font-size:15px;
        float:left;
      }
      .fssizeuser td {
        padding-right:5px;
      }
      .fssize td {
        padding-right:20px;
      }
      .mar20 {
        margin-top:10px;
        display:block;
      }
      .fssize1 {
        font-size:14px;
      }
      .fssize1 td {
        display:block;
      }
      .total_table {
        width:100%;
      }
      .list1 {
        margin:20px 0;
        padding:0 15px;
        font-size:15px;
      }
      .list1 li {
        margin-bottom:10px;
        font-size:14x;
      }
      .wid50 {
        width:100%;
      }
      .wid50 td {
        width:50%;
        font-size:14px;
      }
      .wid100 td {
        width:100%;
      }
      h3 {
        font-size:16px;
        font-weight:bold;
      }
      .widn {
        width:100%;
        display:block;
        float:left;
        margin-top:20px;
      }
      .col-red {
        color:rgb(255,0,0);
      }
      .mar10 {
        margin-top:10px;
      }
      .tableformat {
        float:left;
        border:1px solid #000;
      }
      .tableNew tr td {
        padding:3px 10px;
      }
      .para td {
        width:40%;
        float:left;
        padding-bottom:5px;
        padding-right:4%;
      }
      .para td p {
        margin:0 0 2px 0;
        font-size:12px;
      }
      .page-break-before {
        display: block;
        clear: both;
        page-break-before: always;
      }
    </style>
  </head>

  <body>
    <%= render partial: "notices/ivl/languages", locals: { notice: notice } %>
    <%= render partial: "notices/ivl/blank_sheet" %>
    <%= yield %>
    <%= render partial: "notices/ivl/appeal_rights" %>
  </body>
</html>
