<div class="col-md-6 confirmation hidden" id="change-tax-credit-form">
  <h3>
    <%= l10n("change_tax_credit") %>    
  </h3>
  <div id="calendar-div" class="hidden">
    <%= form_tag edit_aptc_insured_group_selections_path(hbx_enrollment_id: locals[:hbx_enrollment][:id]), :method => :post do %>
      <div id="date-confirm" class="col-xs-3">
        <%# Placeholder %>
        <%= Date.today.to_s %>
      </div>
      <div id="applied-aptc-text" class="col-xs-3 hidden">
        <h5>Maximum tax credit available: 100.00</h5>
        <h5>Tax credit applied (%)</h5>
        <span align= "center">
          <output id="aptc_applied_pct_1_percent" name="aptc_applied_pct">88%</output>
        </span>
        <input id="applied_pct_1" name='applied_pct_1' type="range" min="0" max="1" step="0.01" value=".88" style = "padding: 0px;">
        <h5>Tax credit value ($)</h5>
        <input type="text" name="aptc_applied_5cf6c9ec9ee4f43836000020" id="aptc_applied_5cf6c9ec9ee4f43836000020" value="87.50" placeholder="APTC Applied" class="form-control" size="8px">
        <h5><strong>Your new premium:</strong></h5>
        <span>$<span id="new-premium">290</span>/month</span>
      </div>
      <div class="col-xs-3" style="float:right;">
        <br>
        <%= submit_tag l10n("change_tax_credit"), class: 'button btn btn-lg btn-primary btn-block interaction-click-control-action-confirm', id: 'btn-aptc', :disabled => true %>
      </div>
    <% end %>
  </div>
</div>