<table class="table table-wrapper table-condensed group-selection-tbl">
  <tbody>
    <% @coverage_household.coverage_household_members.map(&:family_member).each_with_index do |family_member, index| %>
        <%
        is_primary = false
        if @market_kind == 'coverall'
          #TEMPORARY CODE DO NOT COPY   TODO
          role = family_member.person.resident_role
          family = family_member.family
          rule = InsuredEligibleForBenefitRule.new(role, @benefit, family: family)
          is_coverage, errors = rule.satisfied?
          @show_residency_alert = !rule.is_residency_status_satisfied? if @show_residency_alert == false
          errors = [incarceration_cannot_purchase(family_member)] if index==0 && errors && errors.flatten.detect{|err| err.match(/incarceration/)}
        end
        #TEMPORARY CODE DO NOT COPY  TODO
        %>

        <tr class="<%='ineligible_row' unless is_coverage%>">
          <td width="20">
            <%= check_box_tag("family_member_ids[#{index}]", family_member.id, is_coverage, disabled: !is_coverage, readonly: is_primary, onclick: "return #{!is_primary};") %>
          </td>
          <td><%= label_tag("family_member_ids[#{index}]", "#{family_member.full_name} (Age : #{pluralize(calculate_age_by_dob(family_member.dob), 'year')})") %></td>
          <td><%= raw(errors.join(', ')) if errors.present? %></td>
        </tr>
    <% end %>
  </tbody>
</table>
