<% content_for :horizontal_status do %>
  <%= render :partial => 'insured/families/horizontal_status.html.erb', locals: {step: 1} %>
<% end %>
<div class="container group-selection" id="group-selection-form">
  <%= render 'form' %>
</div>
