<div class="container">
  <div class="row">
    <div class="col-md-2">
      <br>
      <%= link_to l10n("back_to_my_account"),  family_account_path, class: 'button btn btn-md btn-default' %>
    </div>
    <div class="col-md-8">
      <h1>Plans</h1>
      <%= render partial: "enrollment", :collection => @hbx_enrollments, :as => :hbx_enrollment %>
    </div>
</div>
