<div class="modal fade" id="WarningOnIndianSelection" tabindex="-1" role="dialog" aria-labelledby="indianModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="indianModalLabel">Test title</h4>
      </div>
      <div class="modal-body">
        Lorem Ipsum...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-cancel-button" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>