<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>IVL Policies Dashboard</title>

    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dashStyle.css"> -->
    
<script type="text/javascript">
    $(function () {
    Highcharts.setOptions({ lang: { thousandsSep: ',' }});
        $('#barYr1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'column',
            marginLeft: 70,
            height: 185,
            width: 1000
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                offset: 50,
                text: 'Enrollment'
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:,.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                enabled: true
            }
            }
        },
        series: [{
            showInLegend: false,
            name: '2017',
            data: [0, 0, 0, 16963, 0, 0, 0, 0, 0, 0, 0, 0]

            }]
        });
    });
</script>
 
<script type="text/javascript">
    $(function () {
    $('#lineT1').highcharts({
        chart: {
            borderColor: '#000000',
            borderWidth: 0,
            type: 'line',
            marginLeft: 70,
            height: 195,
            width: 1000
        },
        title: {
            text: ''
        },
        legend: {
        align: 'center',
        verticalAlign: 'center',
        itemDistance: 50
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Cancel',
            data: [750, 855, 464, 14, 0, 0, 0, 0, 0, 0, 0, 0]
        }, {
            name: 'Term',
            data: [981, 1042, 890, 201, 0, 0, 0, 0, 0, 0, 0, 0]
        }, {
            name: 'Reinstate',
            data: [24, 13, 28, 0, 0, 0, 0, 0, 0, 0, 0, 0]
            }]
        });
    });
</script>

</head>
<body>

<script src="https://code.highcharts.com/highcharts.js"></script>

    <div class="module">
    <div class="container-fluid ivl_dashboards" style="margin: 5px;"> 

    <ul class="nav nav-pills">
      <li><a href="https://enroll-dashboard.dchbx.org/ivl/covered">IVL Covered Lives</a></li>
      <li class="active"><a href="https://enroll-dashboard.dchbx.org/ivl/policy">IVL Policies</a></li>
      <li><a href="https://enroll-dashboard.dchbx.org/host/shop">SHOP</a></li>
      <li><a href="https://enroll-dashboard.dchbx.org/host/congress">Congress</a></li>
    </ul>

   <div class="row row-content">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body"><b>16,963 Total Policies </b></div>
            </div>
         </div>
     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body"><b>0 New Policies YTD </b></div>
         </div>
     </div>

     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body"><b>2,668 Terminations YTD </b></div>
         </div>
     </div>

     <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body"><b>4,481 Cancellations YTD </b></div>
        </div>
     </div>

   </div>

    <div class="row row-content">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"  style="box-shadow: 0px 0px 5px gray;">

    <table class="table table-hover table-condensed" style="margin-top: 10px;">
    <tbody>
    <tr class="tabSpc1">
        <td class="texLef" colspan="4">Policies <a href="ivl_enroll.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">Enrollment</th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">Auto Renewals</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">Active Renewals</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">New Customers</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">SEP</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="tabSpc1">
        <td class="texLef" colspan="4">Coverage <a href="ivl_enroll.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">Carrier</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">CareFirst</td>
        <td>16,585</td>
        <td>13,381</td>
        <td>12,491</td>
        <td>81%</td>
      </tr>
      <tr>
        <td class="texLef">Kaiser</td>
        <td>4,020</td>
        <td>3,322</td>
        <td>2,889</td>
        <td>19%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">Metal</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Platinum</td>
        <td>2,981</td>
        <td>2,604</td>
        <td>2,406</td>
        <td>16%</td>
      </tr>
      <tr>
        <td class="texLef">Gold</td>
        <td>3,444</td>
        <td>2,917</td>
        <td>2,681</td>
        <td>17%</td>
      </tr>
      <tr>
        <td class="texLef">Silver</td>
        <td>6,213</td>
        <td>5,095</td>
        <td>4,700</td>
        <td>31%</td>
      </tr>
      <tr>
        <td class="texLef">Bronze</td>
        <td>6,620</td>
        <td>5,136</td>
        <td>4,739</td>
        <td>31%</td>
      </tr>
      <tr>
        <td class="texLef">Catastrophic</td>
        <td>1,347</td>
        <td>951</td>
        <td>854</td>
        <td>6%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="tabSpc1">
        <td class="texLef" colspan="4">Demographic <a href="ivl_enroll.htm">More Information</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <th class="texLef">APTC</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">Yes</td>
        <td>959</td>
        <td>800</td>
        <td>775</td>
        <td>5%</td>
      </tr>
      <tr>
        <td class="texLef">No</td>
        <td>19,646</td>
        <td>15,903</td>
        <td>14,605</td>
        <td>95%</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">CSR</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">100%</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">94%</td>
        <td>47</td>
        <td>39</td>
        <td>34</td>
        <td>16%</td>
      </tr>
      <tr>
        <td class="texLef">87%</td>
        <td>57</td>
        <td>44</td>
        <td>43</td>
        <td>20%</td>
      </tr>
      <tr>
        <td class="texLef">73%</td>
        <td>174</td>
        <td>133</td>
        <td>125</td>
        <td>57%</td>
      </tr>
      <tr>
        <td class="texLef">Limited</td>
        <td>26</td>
        <td>21</td>
        <td>15</td>
        <td>7%</td>
      </tr>
 
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th class="texLef">Family Size</th>
        <th>Select</th>
        <th>Effectuate</th>
        <th>Paying</th>
        <th>Pay %</th>
      </tr>
      <tr>
        <td class="texLef">1-Member</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">2-Members</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">3-Members</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">4-Members</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">5-Members</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">6-Members</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="texLef">7+ Members</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0%</td>
      </tr>
 
    </tbody>
    </table>

    </div>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">   

<h6><b>Active Policies</b></h6>
<div id="barYr1" style="min-width: 310px; height: 185px; margin: 0 auto"></div>

<h6><b>Policies by Effective Month</b></h6>
    <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="texLef">Enrollment</th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Aug</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
      <tr>
        <td class="texLef">Selected</td>
        <td>16,552</td>
        <td>1,538</td>
        <td>2,057</td>
        <td>430</td>
        <td>327</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td> </td>
      </tr>
      <tr>
        <td class="texLef">Effectuated</td> 
        <td>13,697</td>
        <td>1,327</td>
        <td>1,537</td>
        <td>137</td>
        <td>5</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td class="texLef">Effectuation %</td>
        <td>83%</td>
        <td>86%</td>
        <td>75%</td>
        <td>32%</td>
        <td>2%</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td class="texLef">Paying</td>
        <td>12,493</td>
        <td>1,256</td>
        <td>1,498</td>
        <td>129</td>
        <td>4</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td class="texLef">Terminated</td>
        <td>2,353</td>
        <td>149</td>
        <td>139</td>
        <td>25</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td></td>
      </tr>
      <tr>
        <td class="texLef">Canceled</td>
        <td>3,743</td>
        <td>355</td>
        <td>348</td>
        <td>35</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td></td>
      </tr>
    </tbody>
    </table>

 <h6><b>Discontinued or Reinstated Policies by Transaction Date</b></h6>
 <div id="lineT1" style="min-width: 310px; height: 205px; margin: 0 auto"></div>

    </div>
    </div>


    </body>
</html>

